Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[VLM] Update compatibility with transformers 4.49
  docs/source/models/supported_models.md
  examples/template_pixtral_hf.jinja
  tests/entrypoints/test_chat_utils.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/embedding/vision_language/test_llava_next.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/minicpmv.py
  vllm/multimodal/inputs.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

[ROCM][AMD][TRITON] Halving warps number for fw_prefill to reduce spilling (#12713)
  vllm/attention/ops/prefix_prefill.py
Owners: none

[Misc] Add BNB quantization for Whisper (#12381)
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/model_loader/utils.py
  vllm/model_executor/models/whisper.py
Owners: none

[Model] Add Deepseek V3 fp8_w8a8 configs for B200 (#12707)
  vllm/model_executor/layers/quantization/utils/configs/N=24576,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=3072,K=1536,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=3072,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=32768,K=512,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=4096,K=512,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=4608,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=512,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=576,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=16384,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=18432,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=2048,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=2304,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=256,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128, 128].json
Owners: none

Add Bamba Model (#10909)
  tests/kernels/test_mamba_mixer2.py
  tests/kernels/test_mamba_ssm_ssd.py
  tests/models/decoder_only/language/test_hybrid.py
  tests/models/registry.py
  vllm/attention/backends/placeholder_attn.py
  vllm/model_executor/layers/mamba/mamba_mixer2.py
  vllm/model_executor/layers/mamba/ops/mamba_ssm.py
  vllm/model_executor/layers/mamba/ops/ssd_bmm.py
  vllm/model_executor/layers/mamba/ops/ssd_chunk_scan.py
  vllm/model_executor/layers/mamba/ops/ssd_chunk_state.py
  vllm/model_executor/layers/mamba/ops/ssd_combined.py
  vllm/model_executor/layers/mamba/ops/ssd_state_passing.py
  vllm/model_executor/models/bamba.py
  vllm/model_executor/models/mamba.py
  vllm/model_executor/models/mamba_cache.py
  vllm/model_executor/models/registry.py
Owners: @tlrmchlsmth, @WoosukKwon, @DarkLight1337, @ywang96

[V1][Minor] Move cascade attn logic outside _prepare_inputs (#12943)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Build] update requirements of no-device for plugin usage (#12630)
  setup.py
Owners: none

Add: Support for Sparse24Bitmask Compressed Models
  .buildkite/lm-eval-harness/configs/SparseLlama3.1_2of4_fp8_compressed.yaml
  tests/quantization/test_compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/schemes/compressed_tensors_24.py
Owners: @mgoin, @simon-mo, @robertgshaw2-redhat

[Doc] double quote cmake package in build.inc.md (#12840)
  docs/source/getting_started/installation/cpu/build.inc.md
Owners: none

[torch.compile] PyTorch 2.6 and nightly compatibility (#12393)
  tests/compile/piecewise/test_simple.py
  tests/compile/piecewise/test_toy_llama.py
  vllm/compilation/backends.py
  vllm/compilation/compiler_interface.py
  vllm/compilation/counter.py
  vllm/compilation/inductor_pass.py
  vllm/compilation/pass_manager.py
  vllm/config.py
Owners: none

[Misc] Log time consumption on weight downloading (#12926)
  vllm/model_executor/model_loader/weight_utils.py
Owners: none

[ci/build] fix gh200 test (#12681)
  .buildkite/check-wheel-size.py
  .buildkite/run-gh200-test.sh
  Dockerfile
Owners: none

[Misc] Remove unnecessary decode call (#12833)
  vllm/inputs/preprocess.py
Owners: none

[Hardware][Intel-Gaudi] Enable long-contexts + LoRA support for Intel Gaudi (#12812)
  vllm/lora/punica_wrapper/punica_hpu.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/worker/hpu_model_runner.py
Owners: none

[Kernel] port sgl moe_align_block_size kernels (#12574)
  csrc/moe/moe_align_sum_kernels.cu
  csrc/moe/moe_ops.h
  csrc/moe/torch_bindings.cpp
  vllm/_custom_ops.py
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none

Support Pixtral-Large HF by using llava multimodal_projector_bias config (#12710)
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
Owners: none

[V1][Metrics] Add request_success_total counter, labelled with finish reason (#12579)
  tests/entrypoints/openai/test_metrics.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/detokenizer.py
  vllm/v1/engine/output_processor.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
  vllm/v1/request.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix 'ModuleNotFoundError: No module named 'intel_extension_for_pytorch'' for --tensor-parallel-size more than 1 (#12546)
  vllm/distributed/parallel_state.py
Owners: none

[Bugfix] Fix OpenVINO model runner (#12750)
  vllm/attention/backends/openvino.py
  vllm/model_executor/model_loader/openvino.py
  vllm/worker/openvino_model_runner.py
Owners: none

PR #12718 (#12718)
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/models/llama.py
Owners: none

[Misc] Add offline test for disaggregated prefill (#12418)
  examples/offline_inference/disaggregated_prefill.py
Owners: none

[Doc] Replace ibm-fms with ibm-ai-platform (#12709)
  docs/source/features/spec_decode.md
  examples/offline_inference/mlpspeculator.py
  tests/models/registry.py
  tests/spec_decode/e2e/test_mlp_correctness.py
  vllm/model_executor/models/mlp_speculator.py
Owners: @DarkLight1337, @ywang96, @njhill, @LiuXiaoxuanPKU

[Bugfix] Missing quant_config in deepseek embedding layer (#12836)
  vllm/model_executor/models/deepseek_v2.py
Owners: none

[V1] Remove scheduling constraint on partial requests (#12674)
  tests/v1/core/test_scheduler.py
  vllm/v1/core/scheduler.py
  vllm/v1/worker/block_table.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] Update PR Reminder with link to Developer Slack (#12748)
  .github/workflows/reminder_comment.yml
Owners: none

Improve `TransformersModel` UX (#12785)
  vllm/model_executor/models/transformers.py
Owners: none

[CI] Resolve transformers-neuronx version conflict (#12925)
  .buildkite/run-neuron-test.sh
  Dockerfile.neuron
  requirements-neuron.txt
  setup.py
Owners: none

[core][distributed] exact ray placement control (#12732)
  .buildkite/test-pipeline.yaml
  examples/offline_inference/ray_placement.py
  vllm/envs.py
  vllm/executor/ray_distributed_executor.py
  vllm/platforms/cuda.py
  vllm/platforms/interface.py
Owners: none

[Bugfix] Fix loading of fine-tuned models based on Phi-3-Small (#12689)
  vllm/model_executor/models/phi3_small.py
Owners: none

[misc] Revert # 12833 (#12857)
  vllm/inputs/preprocess.py
Owners: none

[Bugfix] Fix the test_ultravox.py's license (#12806)
  tests/lora/test_ultravox.py
Owners: none

[V1][Misc] Shorten `FinishReason` enum and use constant strings (#12760)
  vllm/v1/engine/__init__.py
  vllm/v1/engine/detokenizer.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
  vllm/v1/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] FA2 illegal memory access (#12848)
  CMakeLists.txt
Owners: @tlrmchlsmth

[Core] add and implement `VLLM_LOGITS_PROCESSOR_THREADS` (#12368)
  vllm/envs.py
  vllm/model_executor/layers/logits_processor.py
Owners: none

[Bugfix] Fix CI failures for InternVL and Mantis models (#12728)
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/registry.py
  tests/multimodal/test_processing.py
  tests/multimodal/test_processor_kwargs.py
Owners: @DarkLight1337, @ywang96

[ROCm][Kernel] Using the correct warp_size value
  csrc/moe/moe_align_sum_kernels.cu
Owners: none

[Kernel] Make rotary_embedding ops more flexible with input shape (#12777)
  csrc/pos_encoding_kernels.cu
  tests/kernels/test_pos_encoding.py
  vllm/attention/backends/mla/utils.py
  vllm/model_executor/models/deepseek_v2.py
Owners: @tlrmchlsmth, @WoosukKwon

[Model] LoRA Support for Ultravox model (#11253)
  docs/source/models/supported_models.md
  tests/conftest.py
  tests/lora/test_ultravox.py
  vllm/model_executor/models/ultravox.py
Owners: none

[V1] Cache `uses_mrope` in GPUModelRunner (#12969)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Metrics] Add several request timing histograms (#12644)
  tests/entrypoints/openai/test_metrics.py
  tests/v1/core/test_scheduler.py
  tests/v1/engine/test_engine_core.py
  tests/v1/engine/test_engine_core_client.py
  tests/v1/engine/test_output_processor.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/scheduler.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/engine/output_processor.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
  vllm/v1/request.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
