Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[Model] Add support for GraniteMoeShared models (#13313)
  docs/source/models/supported_models.md
  tests/models/registry.py
  vllm/model_executor/models/granitemoeshared.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[V1][Bugfix] Do not reset prefix caching metrics (#14235)
  vllm/v1/metrics/loggers.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCm] Disable a few more kernel tests that are broken on ROCm (#14145)
  .buildkite/run-amd-test.sh
Owners: none

Add benchmark for DeepGEMM and vLLM Block FP8 Dense GEMM (#13917)
  benchmarks/kernels/deepgemm/README.md
  benchmarks/kernels/deepgemm/benchmark_fp8_block_dense_gemm.py
Owners: none

[Security] Serialize using safetensors instead of pickle in Mooncake Pipe (#14228)
  vllm/distributed/kv_transfer/kv_pipe/mooncake_pipe.py
Owners: none

[core] moe fp8 block quant tuning support (#14068)
  benchmarks/kernels/benchmark_moe.py
  vllm/model_executor/layers/fused_moe/configs/E=256,N=256,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
Owners: none

[V0][Metrics] Deprecate some KV/prefix cache metrics (#14136)
  vllm/engine/metrics.py
Owners: none

[Build] Make sure local main branch is synced when VLLM_USE_PRECOMPILED=1 (#13921)
  setup.py
  tests/standalone_tests/python_only_compile.sh
  vllm/envs.py
Owners: none

[Bugfix] Fix broken vision language example (#14292)
  examples/offline_inference/vision_language.py
Owners: none

[Bugfix][Structured Output] Support outlines engine with reasoning outputs for DeepSeek R1 (#14114)
  docs/source/features/reasoning_outputs.md
  examples/online_serving/openai_chat_completion_structured_outputs_with_reasoning.py
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/outlines_logits_processors.py
  vllm/model_executor/guided_decoding/reasoner/__init__.py
  vllm/model_executor/guided_decoding/reasoner/deepseek_reasoner.py
  vllm/model_executor/guided_decoding/reasoner/reasoner.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
Owners: none

Use math.prod instead of np.prod for trivial ops (#14142)
  vllm/worker/cache_engine.py
Owners: none

[V0][Metrics] Deprecate some questionable request time metrics (#14135)
  vllm/engine/metrics.py
Owners: none

[V1] LoRA - Enable more V1 tests (#14315)
  tests/lora/test_chatglm3_tp.py
  tests/lora/test_mixtral.py
  tests/lora/test_qwen2vl.py
  tests/lora/test_ultravox.py
  tests/lora/test_worker.py
Owners: none

Temporarily disable test_awq_gemm_opcheck (#14251)
  tests/kernels/test_awq.py
Owners: @tlrmchlsmth, @WoosukKwon

[Misc] Add Qwen2MoeForCausalLM moe tuning support (#14276)
  benchmarks/kernels/benchmark_moe.py
Owners: none

[Model] New model support for Phi-4-multimodal-instruct (#14119)
  docs/source/models/supported_models.md
  requirements-common.txt
  tests/models/registry.py
  vllm/config.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/phi4mm.py
  vllm/model_executor/models/phi4mm_audio.py
  vllm/model_executor/models/phi4mm_utils.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/vision_siglip_navit.py
Owners: @DarkLight1337, @ywang96

[V1][BugFix] Fix for mixed top_k batch (#14301)
  vllm/v1/worker/gpu_input_batch.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCm] Faster Custom Paged Attention kernels (#12348)
  .buildkite/run-amd-test.sh
  benchmarks/kernels/benchmark_paged_attention.py
  csrc/rocm/attention.cu
  requirements-rocm.txt
  tests/kernels/test_attention.py
  vllm/attention/backends/rocm_flash_attn.py
Owners: @tlrmchlsmth, @WoosukKwon

add cutlass support for blackwell fp8 gemm (#13798)
  CMakeLists.txt
  csrc/cutlass_extensions/epilogue/scaled_mm_epilogues_c3x.hpp
  csrc/quantization/cutlass_w8a8/c3x/cutlass_gemm_caller.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_kernels.hpp
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_sm100_fp8.cu
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_sm100_fp8_dispatch.cuh
  csrc/quantization/cutlass_w8a8/scaled_mm_c3x.cu
  csrc/quantization/cutlass_w8a8/scaled_mm_entry.cu
  csrc/quantization/machete/machete_mm_kernel.cuh
  csrc/sparse/cutlass/sparse_scaled_mm_c3x.cuh
Owners: @tlrmchlsmth

Fix `head_dim` not existing in all model configs (Transformers backend) (#14141)
  vllm/model_executor/models/transformers.py
Owners: none

[CI/Build] Use spawn multiprocessing mode for V1 test pipeline (#14243)
  .buildkite/test-pipeline.yaml
Owners: none

[V1][Frontend] Add Testing For V1 Runtime Parameters (#14159)
  tests/v1/sample/test_sampling_params_e2e.py
  vllm/v1/engine/processor.py
  vllm/v1/worker/gpu_input_batch.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Molmo] Fix get_multimodal_embeddings() in molmo.py (#14161)
  examples/offline_inference/vision_language.py
  vllm/model_executor/models/aria.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/glm4v.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/interfaces.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen_vl.py
  vllm/model_executor/models/ultravox.py
  vllm/model_executor/models/whisper.py
Owners: none

[Docs] Update Dockerfile dependency image (#14215)
  docs/source/assets/contributing/dockerfile-stages-dependency.png
Owners: none

[LoRA] Remove linear hack outside transformers backend (#14177)
  vllm/lora/layers.py
  vllm/lora/utils.py
  vllm/model_executor/layers/linear.py
  vllm/model_executor/models/transformers.py
Owners: none

[Doc] Update nginx guide: remove privileged from vllm container run and add target GPU ID (#14217)
  docs/source/deployment/nginx.md
Owners: none

Clean up unused padding_idx variables across many model definitions (#13240)
  vllm/model_executor/models/arctic.py
  vllm/model_executor/models/baichuan.py
  vllm/model_executor/models/bart.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek.py
  vllm/model_executor/models/deepseek_v2.py
  vllm/model_executor/models/exaone.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/granite.py
  vllm/model_executor/models/granitemoe.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/internlm2.py
  vllm/model_executor/models/jamba.py
  vllm/model_executor/models/llama.py
  vllm/model_executor/models/mamba.py
  vllm/model_executor/models/minicpm.py
  vllm/model_executor/models/mixtral.py
  vllm/model_executor/models/mixtral_quant.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/nemotron.py
  vllm/model_executor/models/olmoe.py
  vllm/model_executor/models/opt.py
  vllm/model_executor/models/orion.py
  vllm/model_executor/models/phimoe.py
  vllm/model_executor/models/qwen2.py
  vllm/model_executor/models/qwen2_moe.py
  vllm/model_executor/models/solar.py
  vllm/model_executor/models/starcoder2.py
  vllm/model_executor/models/whisper.py
Owners: none

[Frontend] Allow return_tokens_as_token_ids to be passed as a request param (#14066)
  tests/entrypoints/openai/test_return_tokens_as_ids.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_chat.py
  vllm/entrypoints/openai/serving_completion.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1][Minor] Remove obsolete FIXME comment (#14304)
  vllm/v1/worker/gpu_input_batch.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[v1][Metrics] Add design doc (#12745)
  docs/source/assets/design/v1/metrics/intervals-1.png
  docs/source/assets/design/v1/metrics/intervals-2.png
  docs/source/assets/design/v1/metrics/intervals-3.png
  docs/source/design/v1/metrics.md
  docs/source/index.md
Owners: none

Improve the docs for `TransformersModel` (#14147)
  docs/source/models/supported_models.md
Owners: none

[Misc][V1] Avoid using `envs.VLLM_USE_V1` in mm processing (#14256)
  vllm/inputs/preprocess.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/prithvi_geospatial_mae.py
  vllm/multimodal/processing.py
  vllm/v1/engine/processor.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[v1] Add comments to the new ragged paged attention Pallas kernel (#14155)
  vllm/v1/attention/backends/pallas.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[platform] add debug logging during inferring the device type (#14195)
  vllm/platforms/__init__.py
Owners: none

[Bugfix] Explicitly include "omp.h" for MacOS to avoid installation failure (#14051)
  csrc/cpu/cpu_types_arm.hpp
Owners: none

[V1][BugFix] Fix remaining sync engine client shutdown errors/hangs (#13869)
  tests/v1/engine/test_llm_engine.py
  vllm/utils.py
  vllm/v1/engine/core_client.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[misc] Add FlashMLA as a new option of VLLM_ATTENTION_BACKEND env (#14267)
  vllm/envs.py
Owners: none

[Misc] duplicate code in deepseek_v2 (#14106)
  vllm/model_executor/models/deepseek_v2.py
Owners: none

[BugFix] MLA + V1, illegal memory access and accuracy issues (#14253)
  tests/v1/worker/test_gpu_input_batch.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/attention/backends/mla/common.py
  vllm/v1/attention/backends/mla/flashmla.py
  vllm/v1/attention/backends/mla/triton_mla.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[WIP][[V1][Metrics] Implement max_num_generation_tokens, request_params_n, and request_params_max_tokens metrics (#14055)
  tests/entrypoints/openai/test_metrics.py
  vllm/v1/engine/output_processor.py
  vllm/v1/engine/parallel_sampling.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat
