Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill, @tlrmchlsmth, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/core @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/engine/llm_engine.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/executor/executor_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/model_executor/layers/sampler.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
CMakeLists.txt @tlrmchlsmth @WoosukKwon

# Test ownership
/tests/async_engine @njhill @robertgshaw2-neuralmagic @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-neuralmagic
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[Bugfix] Fix offline mode when using `mistral_common` (#9457)
  tests/entrypoints/offline_mode/test_offline_mode.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[Bugfix]: phi.py get rope_theta from config file (#9503)
  vllm/model_executor/models/phi.py
Owners: none

[Bugfix] Pass json-schema to GuidedDecodingParams and make test stronger (#9530)
  tests/entrypoints/openai/test_chat.py
  vllm/entrypoints/openai/protocol.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[Bugfix] Use "vision_model" prefix for MllamaVisionModel (#9628)
  vllm/model_executor/models/mllama.py
Owners: none

[Core] Remove evictor_v1 (#9572)
  vllm/core/block/prefix_caching_block.py
  vllm/core/evictor.py
  vllm/core/evictor_v1.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[BugFix] Fix metrics error for --num-scheduler-steps > 1 (#8234)
  tests/metrics/test_metrics.py
  vllm/engine/llm_engine.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Kernel] Support sliding window in flash attention backend (#9403)
  tests/kernels/test_attention_selector.py
  tests/kernels/test_flash_attn.py
  vllm/attention/backends/flash_attn.py
  vllm/attention/layer.py
  vllm/attention/selector.py
  vllm/worker/cache_engine.py
  vllm/worker/cpu_model_runner.py
  vllm/worker/cpu_worker.py
  vllm/worker/model_runner.py
  vllm/worker/openvino_model_runner.py
  vllm/worker/openvino_worker.py
  vllm/worker/tpu_model_runner.py
  vllm/worker/xpu_model_runner.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix] Fix `_init_vision_model` in NVLM_D model (#9611)
  vllm/model_executor/models/nvlm_d.py
Owners: none

support TP in qwen2 bnb (#9574)
  vllm/model_executor/models/qwen2.py
Owners: none

[Bugfix] Fix spurious "No compiled cutlass_scaled_mm ..." for W8A8 on Turing (#9487)
  CMakeLists.txt
  csrc/quantization/cutlass_w8a8/scaled_mm_entry.cu
Owners: @tlrmchlsmth, @WoosukKwon

[Doc] update gpu-memory-utilization flag docs (#9507)
  vllm/engine/arg_utils.py
Owners: none

[Bugfix] Eagle: change config name for fc bias (#9580)
  vllm/model_executor/models/eagle.py
Owners: none

[CI] Make format checker error message more user-friendly by using emoji (#9564)
  format.sh
Owners: none

[Model][Pixtral] Use memory_efficient_attention for PixtralHFVision (#9520)
  vllm/model_executor/models/pixtral.py
Owners: none

[CI/Build] Replaced some models on tests for smaller ones (#9570)
  tests/basic_correctness/test_basic_correctness.py
  tests/basic_correctness/test_chunked_prefill.py
  tests/basic_correctness/test_cpu_offload.py
  tests/compile/test_basic_correctness.py
  tests/entrypoints/llm/test_chat.py
  tests/entrypoints/openai/test_chat.py
  tests/entrypoints/openai/test_shutdown.py
  tests/test_sharded_state_loader.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[V1] Implement vLLM V1 [1/N] (#9289)
  vllm/attention/selector.py
  vllm/engine/multiprocessing/engine.py
  vllm/entrypoints/llm.py
  vllm/envs.py
  vllm/model_executor/layers/logits_processor.py
  vllm/transformers_utils/detokenizer.py
  vllm/transformers_utils/detokenizer_utils.py
  vllm/v1/attention/__init__.py
  vllm/v1/attention/backends/__init__.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/core/__init__.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/scheduler.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/executor/__init__.py
  vllm/v1/executor/gpu_executor.py
  vllm/v1/outputs.py
  vllm/v1/request.py
  vllm/v1/sample/__init__.py
  vllm/v1/sample/metadata.py
  vllm/v1/sample/sampler.py
  vllm/v1/tokenizer/__init__.py
  vllm/v1/tokenizer/detokenizer.py
  vllm/v1/worker/__init__.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
Owners: none

[Misc] Make benchmarks use EngineArgs (#9529)
  benchmarks/benchmark_latency.py
  benchmarks/benchmark_prefix_caching.py
  benchmarks/benchmark_prioritization.py
  benchmarks/benchmark_throughput.py
Owners: none

[Doc]: Update tensorizer docs to include vllm[tensorizer] (#7889)
  docs/source/serving/tensorizer.rst
Owners: none

[Frontend] Support simpler image input format (#9478)
  tests/entrypoints/test_chat_utils.py
  vllm/entrypoints/chat_utils.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[Bugfix] Fix PP for ChatGLM and Molmo (#9422)
  docs/source/models/supported_models.rst
  tests/distributed/test_pipeline_parallel.py
  vllm/model_executor/models/chatglm.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/qwen2_rm.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/utils.py
Owners: @youkaichao

[Qwen2.5] Support bnb quant for Qwen2.5 (#9467)
  vllm/model_executor/models/qwen2.py
Owners: none

[CI/Build] Add error matching for ruff output (#9513)
  .github/workflows/matchers/ruff.json
  .github/workflows/ruff.yml
Owners: none

[CI/Build] Use commit hash references for github actions (#9430)
  .github/workflows/add_label_automerge.yml
  .github/workflows/clang-format.yml
  .github/workflows/mypy.yaml
  .github/workflows/publish.yml
  .github/workflows/reminder_comment.yml
  .github/workflows/ruff.yml
  .github/workflows/yapf.yml
Owners: none

[Model] FalconMamba Support (#9325)
  docs/source/models/supported_models.rst
  tests/models/decoder_only/language/test_mamba.py
  vllm/model_executor/layers/layernorm.py
  vllm/model_executor/models/mamba.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Print warnings related to `mistral_common` tokenizer only once (#9468)
  vllm/entrypoints/chat_utils.py
Owners: none

[BugFix] Use correct python3 binary in Docker.ppc64le entrypoint (#9492)
  Dockerfile.ppc64le
Owners: none

[torch.compile] Fine-grained CustomOp enabling mechanism (#9300)
  tests/model_executor/test_enabled_custom_ops.py
  vllm/envs.py
  vllm/model_executor/custom_op.py
  vllm/model_executor/layers/activation.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/layernorm.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/utils.py
Owners: none

[Frontend][Misc] Goodput metric support (#9338)
  benchmarks/benchmark_serving.py
Owners: none

[Frontend] Support custom request_id from request (#9550)
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_chat.py
Owners: none

[Bugfix] Fix support for dimension like integers and ScalarType (#9299)
  .buildkite/test-pipeline.yaml
  CMakeLists.txt
  csrc/core/scalar_type.hpp
  csrc/core/torch_bindings.cpp
  csrc/moe/marlin_moe_ops.cu
  csrc/moe/torch_bindings.cpp
  csrc/quantization/gptq_marlin/gptq_marlin.cu
  csrc/quantization/machete/machete_pytorch.cu
  csrc/quantization/marlin/sparse/marlin_24_cuda_kernel.cu
  csrc/torch_bindings.cpp
  python_only_dev.py
  setup.py
  tests/compile/utils.py
  tests/kernels/test_machete_gemm.py
  tests/kernels/test_marlin_gemm.py
  tests/kernels/test_moe.py
  tests/test_scalartype.py
  tools/report_build_time_ninja.py
  vllm/_core_ext.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/fused_moe/fused_marlin_moe.py
  vllm/scalar_type.py
Owners: @tlrmchlsmth, @WoosukKwon

[CI/Build] Fix lint errors in mistral tokenizer (#9504)
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[Bugfix] Add random_seed to sample_hf_requests in benchmark_serving script (#9013)
  benchmarks/benchmark_serving.py
Owners: none

[V1][Bugfix] Clean up requests when aborted (#9629)
  vllm/v1/engine/llm_engine.py
Owners: none

Support `BERTModel` (first `encoder-only` embedding model) (#9056)
  tests/models/embedding/language/test_embedding.py
  vllm/attention/backends/abstract.py
  vllm/attention/backends/xformers.py
  vllm/model_executor/layers/pooler.py
  vllm/model_executor/models/bert.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Bugfix][Misc]: fix graph capture for decoder (#9549)
  vllm/worker/model_runner.py
Owners: none

[BugFix] Stop silent failures on compressed-tensors parsing (#9381)
  requirements-common.txt
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
Owners: none

[Model] Initialize Florence-2 language backbone support (#9555)
  examples/florence2_inference.py
  tests/conftest.py
  tests/models/encoder_decoder/vision_language/test_florence2.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[Frontend] Enable Online Multi-image Support for MLlama (#9393)
  tests/entrypoints/test_chat_utils.py
  vllm/entrypoints/chat_utils.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[BugFix] Typing fixes to RequestOutput.prompt and beam search (#9473)
  vllm/beam_search.py
  vllm/engine/protocol.py
  vllm/entrypoints/llm.py
  vllm/outputs.py
Owners: none

[MISC] Add lora requests to metrics (#9477)
  vllm/engine/llm_engine.py
  vllm/engine/metrics.py
  vllm/engine/metrics_types.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill
