Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[Bugfix] deepseek_r1_reasoning_parser put reason content in wrong field in certain edge case (#13097)
  tests/entrypoints/openai/reasoning_parsers/test_deepseekr1_reasoning_parser.py
  vllm/entrypoints/openai/reasoning_parsers/deepseek_r1_reasoning_parser.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1][Bugfix] Copy encoder input ids to fix set iteration issue during VLM abort (#13173)
  vllm/v1/core/encoder_cache_manager.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[misc] Fix setup.py condition to avoid AMD from being mistaken with CPU (#13022)
  setup.py
Owners: none

[Build] Fix cuda link target of cumem_allocator in CPU env (#12863)
  CMakeLists.txt
Owners: @tlrmchlsmth

[Bugfix] Fix missing parentheses (#13263)
  vllm/sequence.py
Owners: none

Further reduce the HTTP calls to huggingface.co (#13107)
  vllm/transformers_utils/config.py
Owners: none

[Frontend] Optionally remove memory buffer used for uploading to URLs in run_batch (#12927)
  vllm/entrypoints/openai/run_batch.py
Owners: none

[V1] Use msgpack for core request serialization (#12918)
  vllm/v1/engine/__init__.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/serial_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Add label if pre-commit passes (#12527)
  .github/workflows/add_label_precommit.yml
Owners: none

[WIP] TPU V1 Support Refactored (#13049)
  tests/entrypoints/llm/test_accuracy.py
  tests/entrypoints/openai/correctness/test_lmeval.py
  vllm/platforms/interface.py
  vllm/platforms/tpu.py
  vllm/v1/attention/backends/pallas.py
  vllm/v1/worker/block_table.py
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Guided decoding falls back to outlines when fails to import xgrammar (#12976)
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
Owners: none

[core][rlhf] add colocate example for RLHF (#12984)
  .buildkite/test-pipeline.yaml
  examples/offline_inference/rlhf_colocate.py
Owners: none

[Misc] AMD Build Improvements (#12923)
  csrc/moe/moe_align_sum_kernels.cu
  csrc/rocm/attention.cu
  vllm/model_executor/models/registry.py
  vllm/transformers_utils/configs/__init__.py
Owners: none

[core] port pynvml into vllm codebase (#12963)
  .pre-commit-config.yaml
  requirements-cuda.txt
  tests/utils.py
  vllm/third_party/__init__.py
  vllm/third_party/pynvml.py
  vllm/utils.py
Owners: none

Simplify logic of locating CUDART so file path (#13203)
  vllm/distributed/device_communicators/cuda_wrapper.py
Owners: none

[Bugfix][Example] Fix GCed profiling server for TPU (#12792)
  examples/offline_inference/profiling_tpu/profiling.py
Owners: none

[Frontend] Add `/v1/audio/transcriptions` OpenAI API endpoint (#12909)
  .buildkite/test-pipeline.yaml
  docs/source/serving/openai_compatible_server.md
  examples/online_serving/openai_transcription_client.py
  requirements-common.txt
  requirements-test.in
  requirements-test.txt
  tests/entrypoints/openai/correctness/__init__.py
  tests/entrypoints/openai/correctness/test_lmeval.py
  tests/entrypoints/openai/correctness/test_transcription_api_correctness.py
  tests/entrypoints/openai/test_transcription_validation.py
  tests/test_config.py
  vllm/assets/audio.py
  vllm/config.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/entrypoints/openai/serving_transcription.py
  vllm/model_executor/models/interfaces.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/whisper.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

Introduce VLLM_CUDART_SO_PATH to allow users specify the .so path (#12998)
  vllm/distributed/device_communicators/cuda_wrapper.py
  vllm/envs.py
Owners: none

[CI/Build] Allow ruff to auto-fix some issues (#13180)
  .pre-commit-config.yaml
Owners: none

[Frontend] Move CLI code into vllm.cmd package (#12971)
  docs/source/design/arch_overview.md
  setup.py
  vllm/entrypoints/cli/__init__.py
  vllm/entrypoints/cli/main.py
  vllm/entrypoints/cli/openai.py
  vllm/entrypoints/cli/serve.py
  vllm/entrypoints/cli/types.py
  vllm/entrypoints/openai/api_server.py
  vllm/scripts.py
Owners: none

[V1] LoRA - Enable Serving Usecase (#12883)
  tests/lora/test_add_lora.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/lora_model_runner_mixin.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Qwen2.5 VL support LoRA (#13261)
  docs/source/models/supported_models.md
  tests/lora/conftest.py
  tests/lora/test_qwen2vl.py
  vllm/model_executor/models/qwen2_5_vl.py
Owners: none

[bugfix] spec decode worker get tp group only when initialized (#13578)
  vllm/spec_decode/spec_decode_worker.py
Owners: none

[Bugfix] Fix 2 Node and Spec Decode tests (#13341)
  tests/distributed/test_pipeline_parallel.py
  vllm/spec_decode/ngram_worker.py
Owners: @youkaichao

[ROCm][MoE] mi300 mixtral8x7B perf for specific BS (#13577)
  vllm/model_executor/layers/fused_moe/configs/E=8,N=14336,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=3584,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=7168,device_name=AMD_Instinct_MI300X.json
Owners: none

[Doc]: Improve feature tables (#13224)
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/features/compatibility_matrix.md
  docs/source/features/quantization/supported_hardware.md
  docs/source/models/pooling_models.md
Owners: none

[ROCm][MoE configs] mi325 mixtral & mi300 qwen_moe (#13503)
  vllm/model_executor/layers/fused_moe/configs/E=60,N=1408,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=60,N=176,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=60,N=352,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=60,N=704,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=14336,device_name=AMD_Instinct_MI325X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=14336,device_name=AMD_Instinct_MI325X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=16384,device_name=AMD_Instinct_MI325X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=16384,device_name=AMD_Instinct_MI325X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=1792,device_name=AMD_Instinct_MI325X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=1792,device_name=AMD_Instinct_MI325X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=2048,device_name=AMD_Instinct_MI325X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=2048,device_name=AMD_Instinct_MI325X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=3584,device_name=AMD_Instinct_MI325X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=3584,device_name=AMD_Instinct_MI325X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=4096,device_name=AMD_Instinct_MI325X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=4096,device_name=AMD_Instinct_MI325X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=7168,device_name=AMD_Instinct_MI325X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=7168,device_name=AMD_Instinct_MI325X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=8192,device_name=AMD_Instinct_MI325X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=8192,device_name=AMD_Instinct_MI325X.json
Owners: none

[V1][PP] Cache Intermediate Tensors (#13353)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Spec Decode] Optimize N-gram matching with Numba (#13365)
  requirements-common.txt
  vllm/v1/spec_decode/ngram_proposer.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[platform] add base class for communicators (#13208)
  vllm/distributed/device_communicators/base_device_communicator.py
  vllm/distributed/device_communicators/cpu_communicator.py
  vllm/distributed/device_communicators/cuda_communicator.py
  vllm/distributed/device_communicators/hpu_communicator.py
  vllm/distributed/device_communicators/tpu_communicator.py
  vllm/distributed/device_communicators/xpu_communicator.py
  vllm/distributed/parallel_state.py
  vllm/platforms/cpu.py
  vllm/platforms/cuda.py
  vllm/platforms/hpu.py
  vllm/platforms/interface.py
  vllm/platforms/rocm.py
  vllm/platforms/tpu.py
Owners: none

[core] add sleep and wake up endpoint and v1 support (#12987)
  tests/basic_correctness/test_cumem.py
  tests/entrypoints/openai/test_sleep.py
  vllm/engine/async_llm_engine.py
  vllm/engine/multiprocessing/__init__.py
  vllm/engine/multiprocessing/client.py
  vllm/engine/multiprocessing/engine.py
  vllm/engine/protocol.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/serving_transcription.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/llm_engine.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][Platform][CPU] Fix cuda platform detection on CPU backend edge case (#13358)
  vllm/platforms/__init__.py
Owners: none

[MISC] Logging the message about Ray teardown (#13502)
  vllm/executor/ray_distributed_executor.py
Owners: none

[V1][PP] Enable true PP with Ray executor (#13472)
  vllm/v1/executor/ray_distributed_executor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Run v1 benchmark and integrate with PyTorch OSS benchmark database (#13068)
  .buildkite/nightly-benchmarks/scripts/run-performance-benchmarks.sh
  .buildkite/nightly-benchmarks/tests/latency-tests.json
  benchmarks/benchmark_latency.py
  benchmarks/benchmark_serving.py
  benchmarks/benchmark_serving_guided.py
  benchmarks/benchmark_throughput.py
  benchmarks/benchmark_utils.py
Owners: none

[misc] fix debugging code (#13487)
  docs/source/getting_started/troubleshooting.md
Owners: none

[Docs] Change myenv to vllm. Update python_env_setup.inc.md (#13325)
  docs/source/getting_started/installation/python_env_setup.inc.md
Owners: none

[V1][BugFix] Clean up rejection sampler & Fix warning msg (#13362)
  vllm/v1/sample/rejection_sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Feature] Pluggable platform-specific scheduler (#13161)
  .buildkite/test-pipeline.yaml
  tests/plugins_tests/test_scheduler_plugins.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/engine/llm_engine.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[perf-benchmark] Allow premerge ECR (#13509)
  .buildkite/nightly-benchmarks/benchmark-pipeline.yaml
  .buildkite/nightly-benchmarks/scripts/wait-for-image.sh
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
