Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

[Minor][Spec Decode] Remove compiled_softmax (#15416)
  vllm/v1/sample/ops/utils.py
  vllm/v1/sample/rejection_sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[doc] Add back previous news (#15331)
  README.md
Owners: none

[Frontend] Support tool calling and reasoning parser (#14511)
  .buildkite/test-pipeline.yaml
  docs/source/features/reasoning_outputs.md
  examples/online_serving/openai_chat_completion_tool_calls_with_reasoning.py
  tests/entrypoints/openai/test_chat_with_tool_reasoning.py
  vllm/entrypoints/openai/cli_args.py
  vllm/entrypoints/openai/reasoning_parsers/abs_reasoning_parsers.py
  vllm/entrypoints/openai/reasoning_parsers/deepseek_r1_reasoning_parser.py
  vllm/entrypoints/openai/serving_chat.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Feature] Enhance EAGLE Architecture with Proper RMS Norms (#14990)
  vllm/config.py
  vllm/model_executor/models/eagle.py
  vllm/transformers_utils/configs/eagle.py
Owners: none

[Misc] Update guided decoding logs to debug (#15310)
  vllm/engine/async_llm_engine.py
Owners: none

[V1] Support long_prefill_token_threshold in v1 scheduler (#15419)
  tests/v1/core/test_scheduler.py
  tests/v1/core/test_scheduler_e2e.py
  vllm/engine/arg_utils.py
  vllm/v1/core/sched/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Fix raw_request extraction in load_aware_call decorator (#15382)
  vllm/entrypoints/utils.py
Owners: none

[V1][Spec Decode] Update target_logits in place for rejection sampling (#15427)
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[FEAT] [ROCm]: Add AITER RMS Norm (Layer Norm) Feature (#14959)
  Dockerfile.rocm_base
  tests/model_executor/test_enabled_custom_ops.py
  tests/models/decoder_only/language/test_models.py
  vllm/envs.py
  vllm/model_executor/layers/layernorm.py
Owners: @DarkLight1337, @ywang96

[V1] TPU CI - Fix test_compilation.py (#15570)
  .buildkite/run-tpu-v1-test.sh
  tests/tpu/test_compilation.py
Owners: none

Support FIPS enabled machines with MD5 hashing (#15299)
  tests/compile/piecewise/test_toy_llama.py
  vllm/compilation/backends.py
  vllm/compilation/compiler_interface.py
  vllm/config.py
Owners: none

[Model] Support Tele-FLM Model (#15023)
  docs/source/models/supported_models.md
  examples/template_teleflm.jinja
  tests/models/registry.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/teleflm.py
Owners: @DarkLight1337, @ywang96

[V1] Aggregate chunked prompt logprobs in model runner (#14875)
  vllm/v1/core/sched/scheduler.py
  vllm/v1/engine/logprobs.py
  vllm/v1/engine/output_processor.py
  vllm/v1/metrics/stats.py
  vllm/v1/outputs.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

add platform check back (#15578)
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Fix non-contiguous input passed to Marlin kernel (#15319)
  vllm/model_executor/layers/quantization/kernels/mixed_precision/marlin.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[V1][Minor] fix comments (#15392)
  vllm/v1/sample/sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ci/build] fix broken tests in LLM.collective_rpc (#15350)
  .buildkite/test-pipeline.yaml
  tests/entrypoints/llm/test_collective_rpc.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1] Enable V1 Fp8 cache for FA3 in the oracle (#15191)
  .gitignore
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/mla/common.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/platforms/cuda.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/attention/backends/mla/common.py
  vllm/vllm_flash_attn/fa_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Fix v1 supported oracle for worker-cls and worker-extension-cls (#15324)
  .buildkite/test-pipeline.yaml
  vllm/engine/arg_utils.py
  vllm/utils.py
Owners: none

Fix weight loading for some models in Transformers backend (#15544)
  vllm/model_executor/models/transformers.py
Owners: none

[misc] LoRA - Skip LoRA kernels when not required (#15152)
  vllm/lora/ops/triton_ops/lora_expand.py
  vllm/lora/ops/triton_ops/lora_kernel_metadata.py
  vllm/lora/ops/triton_ops/lora_shrink.py
  vllm/worker/model_runner.py
Owners: none

[Doc] Update V1 user guide for multi-modality (#15460)
  docs/source/getting_started/v1_user_guide.md
Owners: none

[Kernel] Fix conflicting macro names for gguf kernels (#15456)
  csrc/quantization/gguf/gguf_kernel.cu
  csrc/quantization/gguf/moe.cuh
Owners: none

Dockerfile.ppc64le changes to move to UBI (#15402)
  Dockerfile.ppc64le
  requirements/cpu.txt
Owners: none

Applying some fixes for K8s agents in CI (#15493)
  .buildkite/run-amd-test.sh
  Dockerfile.rocm
Owners: none

[Misc] Remove redundant `num_embeds` (#15443)
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/vision.py
Owners: none

[V1] guidance backend for structured output + `auto` fallback mode (#14779)
  requirements/common.txt
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/v1/engine/processor.py
  vllm/v1/structured_output/__init__.py
  vllm/v1/structured_output/backend_guidance.py
  vllm/v1/structured_output/request.py
  vllm/v1/structured_output/utils.py
Owners: @mgoin, @russellb, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[FEAT][ROCm] Integrate Fused MoE Kernels from AITER (#14967)
  tests/kernels/test_moe.py
  tests/model_executor/test_enabled_custom_ops.py
  tests/models/decoder_only/language/test_mistral.py
  tests/quantization/test_fp8.py
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/fused_moe/rocm_aiter_fused_moe.py
  vllm/model_executor/layers/quantization/fp8.py
Owners: @tlrmchlsmth, @WoosukKwon, @DarkLight1337, @ywang96, @mgoin, @robertgshaw2-redhat

[V1][Spec Decode] Respect prompt_lookup_max (#15348)
  tests/v1/spec_decode/test_ngram.py
  vllm/v1/spec_decode/ngram_proposer.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Separate base model from `TransformersModel` (#15467)
  docs/source/models/supported_models.md
  tests/distributed/test_pipeline_parallel.py
  tests/models/registry.py
  vllm/model_executor/model_loader/utils.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/transformers.py
Owners: @youkaichao, @DarkLight1337, @ywang96

[Misc] Upgrade BNB version (#15183)
  Dockerfile
  docs/source/features/quantization/bnb.md
  vllm/model_executor/layers/quantization/bitsandbytes.py
  vllm/model_executor/model_loader/loader.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[Core] Don't force uppercase for VLLM_LOGGING_LEVEL (#15306)
  vllm/envs.py
Owners: none

[DOC] Add Kubernetes deployment guide with CPUs (#14865)
  docs/source/conf.py
  docs/source/deployment/k8s.md
Owners: none

[ci/build] update torch nightly version for GH200 (#15135)
  .buildkite/run-gh200-test.sh
  Dockerfile
Owners: none

Remove openvino support in favor of external plugin (#15339)
  .buildkite/run-openvino-test.sh
  Dockerfile.openvino
  docs/source/getting_started/installation.md
  docs/source/getting_started/installation/ai_accelerator.md
  docs/source/getting_started/installation/ai_accelerator/openvino.inc.md
  requirements/openvino.txt
  setup.py
  tests/conftest.py
  tests/kernels/test_attention_selector.py
  tests/utils.py
  vllm/attention/backends/openvino.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/envs.py
  vllm/model_executor/model_loader/openvino.py
  vllm/platforms/__init__.py
  vllm/platforms/interface.py
  vllm/platforms/openvino.py
  vllm/worker/openvino_model_runner.py
  vllm/worker/openvino_worker.py
Owners: @tlrmchlsmth, @WoosukKwon

[Refactor] Remove unnecessary backend parameter in structured output interface (#15317)
  vllm/v1/structured_output/__init__.py
Owners: @mgoin, @russellb

Fix zmq IPv6 URL format error (#15341)
  vllm/distributed/device_communicators/shm_broadcast.py
Owners: none

[Misc] Clean up MiniCPM-V/O code (#15337)
  examples/offline_inference/vision_language.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/multimodal/processing/test_common.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/multimodal/inputs.py
Owners: @DarkLight1337, @ywang96

[Bugfix] consider related env vars for torch.compiled cache hash (#14953)
  vllm/compilation/backends.py
  vllm/envs.py
Owners: none

Add automatic tpu label to mergify.yml (#15560)
  .github/mergify.yml
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao
