Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

Use CUDA 12.4 as default for release and nightly wheels (#12098)
  .buildkite/release-pipeline.yaml
  .buildkite/upload-wheels.sh
  docs/source/getting_started/installation/gpu/cuda.inc.md
  setup.py
Owners: none

[ROCm][V1][Bugfix] Add get_builder_cls method to the ROCmAttentionBackend class (#14065)
  vllm/v1/attention/backends/rocm_attn.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Attention] Flash MLA for V1 (#13867)
  vllm/platforms/cuda.py
  vllm/platforms/interface.py
  vllm/v1/attention/backends/mla/common.py
  vllm/v1/attention/backends/mla/flashmla.py
  vllm/v1/attention/backends/mla/triton_mla.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] Source building add clone step (#14086)
  docs/source/getting_started/installation/cpu/build.inc.md
Owners: none

[Model] Deepseek GGUF support (#13167)
  docs/source/features/quantization/gguf.md
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/linear.py
  vllm/model_executor/layers/quantization/gguf.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/model_loader/weight_utils.py
Owners: none

[V1][Minor] Restore V1 compatibility with LLMEngine class (#13090)
  vllm/engine/llm_engine.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

DeepSeek V2/V3/R1 only place `lm_head` on last pp rank (#13833)
  vllm/model_executor/models/deepseek_v2.py
Owners: none

[Bugfix] Flush TunableOp results before worker processes are destroyed. (#13623)
  vllm/executor/multiproc_worker_utils.py
Owners: none

[misc] Rename Ray ADAG to Compiled Graph (#13928)
  tests/basic_correctness/test_basic_correctness.py
  tests/basic_correctness/test_chunked_prefill.py
  tests/distributed/test_pipeline_parallel.py
  vllm/envs.py
  vllm/executor/ray_distributed_executor.py
  vllm/executor/ray_utils.py
Owners: @youkaichao

[Doc] Move multimodal Embedding API example to Online Serving page (#14017)
  docs/source/serving/multimodal_inputs.md
  docs/source/serving/openai_compatible_server.md
  vllm/model_executor/models/registry.py
Owners: none

[VLM] Deprecate legacy input mapper for OOT multimodal models (#13979)
  vllm/config.py
  vllm/inputs/preprocess.py
Owners: none

[Bugfix] Revert inspection code in #13743 (#13832)
  vllm/model_executor/models/registry.py
Owners: none

[CI/Build] Add examples/ directory to be labelled by `mergify` (#13944)
  .github/mergify.yml
Owners: none

[Misc] Print FusedMoE detail info (#13974)
  vllm/model_executor/layers/fused_moe/layer.py
Owners: none

[Bugfix][V1][Minor] Fix shutting_down flag checking in V1 MultiprocExecutor (#14053)
  vllm/v1/executor/multiproc_executor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Spec Decode] Change Spec Decode Rejection Sampling API (#13729)
  tests/v1/sample/test_rejection_sampler.py
  tests/v1/sample/test_sampler.py
  tests/v1/worker/test_gpu_input_batch.py
  vllm/v1/sample/metadata.py
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/sample/sampler.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Update LMFE version to v0.10.11 to support new versions of transforme… (#13930)
  requirements-common.txt
Owners: none

[Kernel][Build/CI] Bump CUTLASS to 3.8 and add initializers for cutlass epilogues (#13797)
  CMakeLists.txt
  csrc/cutlass_extensions/epilogue/scaled_mm_epilogues_c2x.hpp
  csrc/cutlass_extensions/epilogue/scaled_mm_epilogues_c3x.hpp
Owners: @tlrmchlsmth

[sleep mode] error out with expandable_segments (#14189)
  vllm/device_allocator/cumem.py
Owners: none

[Bugfix] Remove num_tokens_across_dp (#14302)
  vllm/forward_context.py
Owners: none

[misc] announce china meetup (#14248)
  README.md
Owners: none

[Bugfix] Restrict MacOS CPU detection (#14210)
  vllm/platforms/__init__.py
Owners: none

[Docs] Add Meta Slides (#14297)
  README.md
  docs/source/community/meetups.md
Owners: none

Disable GPTQ AllSpark kernels for CUDA Compiler < 12.0 (#14157)
  CMakeLists.txt
Owners: @tlrmchlsmth

[V1][TPU] TPU multimodal model support for ragged attention (#14158)
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[misc] Mention `ray list nodes` command to troubleshoot ray issues (#14318)
  docs/source/serving/distributed_serving.md
  vllm/executor/ray_utils.py
Owners: none

[platforms] improve rocm debugging info (#14257)
  vllm/platforms/__init__.py
Owners: none

[Doc] [3/N] Refer code examples for common cases in dev multimodal processor (#14278)
  docs/source/contributing/model/multimodal.md
Owners: none

[Hardware] Update the flash attn tag to support Blackwell (#14244)
  cmake/external_projects/vllm_flash_attn.cmake
  vllm/attention/backends/utils.py
Owners: none

[Build] Add UV_HTTP_TIMEOUT to avoid timeout during installation (#13850)
  Dockerfile
Owners: none

[Bugfix] Fix gptq_marlin for deepseek-v3 (#13750)
  vllm/model_executor/layers/quantization/gptq_marlin.py
Owners: none

Fix performance when `--generation-config` is not `None` (#14223)
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/serving_chat.py
  vllm/entrypoints/openai/serving_completion.py
  vllm/entrypoints/openai/serving_transcription.py
Owners: none

[BugFix] Fix prefix caching V0 MLA (#14255)
  vllm/attention/backends/mla/common.py
Owners: none

[doc] add "Failed to infer device type" to faq (#14200)
  docs/source/getting_started/troubleshooting.md
Owners: none

Small update for external_launcher backend docs (#14288)
  vllm/executor/uniproc_executor.py
Owners: none

Moved numba from common requirements to cuda/rocm specific requirements (#14199)
  requirements-common.txt
  requirements-cuda.txt
  requirements-rocm.txt
Owners: none

[Bugfix][V1] Fix allowed_token_ids for v1 Sampler (#14169)
  vllm/v1/engine/processor.py
  vllm/v1/worker/gpu_input_batch.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Remove lru_cache in NvmlCudaPlatform (#14156)
  vllm/platforms/cuda.py
Owners: none

[Docs] Add GPTQModel (#14056)
  docs/source/features/quantization/auto_awq.md
  docs/source/features/quantization/gptqmodel.md
  docs/source/features/quantization/index.md
Owners: none

[Bugfix] Fix DeepSeek MTP crash when using TP1ModelRunner with CUDA graph due to shape mismatch (#14237)
  vllm/spec_decode/draft_model_runner.py
Owners: none
