Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill, @tlrmchlsmth, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[CI/Build] mergify: fix rules for ci/build label (#9804)
  .github/mergify.yml
Owners: none

[Model] Add classification Task with Qwen2ForSequenceClassification (#9704)
  docs/source/models/supported_models.rst
  tests/conftest.py
  tests/models/embedding/language/test_cls_models.py
  vllm/model_executor/layers/pooler.py
  vllm/model_executor/models/qwen2_cls.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[doc] update pp support (#9853)
  docs/source/serving/distributed_serving.rst
Owners: none

Revert "[Bugfix] Use host argument to bind to interface (#9798)" (#9852)
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/cli_args.py
Owners: none

[Frontend] Bad words sampling parameter (#9717)
  tests/samplers/test_no_bad_words.py
  vllm/engine/llm_engine.py
  vllm/logits_process.py
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/lm_format_enforcer_decoding.py
  vllm/sampling_params.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[V1] Support sliding window attention (#9679)
  vllm/v1/attention/backends/flash_attn.py
Owners: none

[Misc] Add metrics for request queue time, forward time, and execute time (#9659)
  vllm/config.py
  vllm/engine/llm_engine.py
  vllm/engine/metrics.py
  vllm/engine/metrics_types.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Model] Compute Llava Next Max Tokens / Dummy Data From Gridpoints (#9650)
  tests/models/decoder_only/vision_language/test_llava_next.py
  vllm/model_executor/models/llava_next.py
Owners: @DarkLight1337, @ywang96

[Frontend] re-enable multi-modality input in the new beam search implementation (#9427)
  tests/entrypoints/openai/test_vision.py
  vllm/beam_search.py
  vllm/engine/protocol.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_chat.py
  vllm/entrypoints/openai/serving_completion.py
  vllm/sampling_params.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[CI/Build] Simplify exception trace in api server tests (#9787)
  tests/utils.py
Owners: none

[Bugfix] Fix prefix strings for quantized VLMs (#9772)
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/gemma.py
  vllm/model_executor/models/internlm2.py
  vllm/model_executor/models/internlm2_ve.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llama.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/opt.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/qwen2.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/ultravox.py
  vllm/model_executor/models/utils.py
Owners: none

[Model] Support quantization of Qwen2VisionTransformer (#9817)
  vllm/model_executor/models/qwen2_vl.py
Owners: none

[CI][Bugfix] Skip chameleon for transformers 4.46.1 (#9808)
  tests/models/decoder_only/vision_language/test_broadcast.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Fix ray instance detect issue (#9439)
  vllm/executor/ray_utils.py
Owners: none

[CI/Build] Adopt Mergify for auto-labeling PRs (#9259)
  .github/mergify.yml
Owners: none

[Misc] Specify minimum pynvml version (#9827)
  requirements-cuda.txt
Owners: none

[Doc] Specify async engine args in docs (#9726)
  vllm/engine/async_llm_engine.py
Owners: none

[TPU] Correctly profile peak memory usage & Upgrade PyTorch XLA (#9438)
  Dockerfile.tpu
  docs/source/getting_started/tpu-installation.rst
  vllm/worker/tpu_worker.py
Owners: none

[CI/Build] Adding a forced docker system prune to clean up space (#9849)
  .buildkite/run-amd-test.sh
Owners: none

Fix the log to correct guide user to install modelscope (#9793)
  vllm/transformers_utils/__init__.py
Owners: none

[Frontend] Chat-based Embeddings API (#9759)
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/source/dev/pooling_params.rst
  docs/source/getting_started/quickstart.rst
  docs/source/index.rst
  docs/source/models/vlm.rst
  docs/source/serving/openai_compatible_server.md
  tests/entrypoints/openai/test_basic.py
  tests/entrypoints/openai/test_embedding.py
  tests/entrypoints/openai/test_metrics.py
  tests/entrypoints/openai/test_tokenization.py
  tests/entrypoints/openai/test_vision_embedding.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/run_batch.py
  vllm/entrypoints/openai/serving_chat.py
  vllm/entrypoints/openai/serving_completion.py
  vllm/entrypoints/openai/serving_embedding.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/entrypoints/openai/serving_tokenization.py
  vllm/pooling_params.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[Doc] link bug for multistep guided decoding (#9843)
  docs/source/serving/compatibility_matrix.rst
Owners: none

[MISC] Set label value to timestamp over 0, to keep track of recent history (#9777)
  vllm/engine/metrics.py
Owners: none

[torch.compile] use interpreter with stable api from pytorch (#9889)
  vllm/compilation/backends.py
Owners: none

Fix beam search eos (#9627)
  vllm/engine/protocol.py
Owners: none

[Misc][OpenAI] deprecate max_tokens in favor of new max_completion_tokens field for chat completion endpoint (#9837)
  benchmarks/backend_request_func.py
  docs/source/serving/run_on_sky.rst
  examples/offline_inference_openai.md
  examples/openai_api_client_for_multimodal.py
  examples/openai_example_batch.jsonl
  requirements-common.txt
  tests/entrypoints/openai/test_audio.py
  tests/entrypoints/openai/test_chat.py
  tests/entrypoints/openai/test_vision.py
  tests/tool_use/test_chat_completions.py
  tests/tool_use/test_parallel_tool_calls.py
  tests/tool_use/test_tool_calls.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_engine.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[core][distributed] fix custom allreduce in pytorch 2.5 (#9815)
  vllm/distributed/device_communicators/custom_all_reduce.py
Owners: none

[Model] add a lora module for granite 3.0 MoE models (#9673)
  vllm/model_executor/models/granitemoe.py
Owners: none

[Core] Refactor: Clean up unused argument in Scheduler._preempt (#9696)
  vllm/core/scheduler.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[torch.compile] Adding torch compile annotations to some models (#9641)
  tests/distributed/test_pipeline_parallel.py
  vllm/model_executor/models/opt.py
  vllm/model_executor/models/orion.py
  vllm/model_executor/models/persimmon.py
  vllm/model_executor/models/solar.py
  vllm/model_executor/models/starcoder2.py
  vllm/model_executor/models/xverse.py
Owners: @youkaichao

[ci/build] Configure dependabot to update pip dependencies (#9811)
  .github/dependabot.yml
Owners: none

[core] cudagraph output with tensor weak reference (#9724)
  csrc/ops.h
  csrc/torch_bindings.cpp
  vllm/utils.py
  vllm/worker/model_runner.py
Owners: none

[torch.compile] Adding torch compile annotations to some models (#9639)
  docs/source/models/supported_models.rst
  tests/distributed/test_pipeline_parallel.py
  vllm/model_executor/models/jais.py
  vllm/model_executor/models/minicpm.py
  vllm/model_executor/models/mpt.py
  vllm/model_executor/models/nemotron.py
  vllm/model_executor/models/olmo.py
Owners: @youkaichao

[Bugfix] Steaming continuous_usage_stats default to False (#9709)
  vllm/entrypoints/openai/protocol.py
Owners: none

[Misc] Remove deprecated arg for cuda graph capture (#9864)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/llm.py
  vllm/worker/model_runner.py
Owners: none

[Doc] Update VLM doc about loading from local files (#9999)
  docs/source/models/vlm.rst
Owners: none

Remove ScaledActivation for AWQ (#10057)
  vllm/model_executor/layers/activation.py
  vllm/model_executor/layers/quantization/aqlm.py
  vllm/model_executor/layers/quantization/awq.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/base_config.py
  vllm/model_executor/layers/quantization/bitsandbytes.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/deepspeedfp.py
  vllm/model_executor/layers/quantization/experts_int8.py
  vllm/model_executor/layers/quantization/fbgemm_fp8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/gguf.py
  vllm/model_executor/layers/quantization/gptq.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/layers/quantization/gptq_marlin_24.py
  vllm/model_executor/layers/quantization/ipex_quant.py
  vllm/model_executor/layers/quantization/marlin.py
  vllm/model_executor/layers/quantization/modelopt.py
  vllm/model_executor/layers/quantization/neuron_quant.py
  vllm/model_executor/layers/quantization/qqq.py
  vllm/model_executor/layers/quantization/tpu_int8.py
  vllm/model_executor/models/bart.py
  vllm/model_executor/models/bloom.py
  vllm/model_executor/models/falcon.py
  vllm/model_executor/models/gpt2.py
  vllm/model_executor/models/gpt_bigcode.py
  vllm/model_executor/models/gpt_j.py
  vllm/model_executor/models/gpt_neox.py
  vllm/model_executor/models/mpt.py
  vllm/model_executor/models/opt.py
  vllm/model_executor/models/persimmon.py
  vllm/model_executor/models/phi.py
  vllm/model_executor/models/qwen.py
  vllm/model_executor/models/starcoder2.py
Owners: none

[Core][Distributed] Refactor ipc buffer init in CustomAllreduce (#10030)
  csrc/custom_all_reduce.cu
  csrc/custom_all_reduce.cuh
  csrc/custom_all_reduce_test.cu
  csrc/ops.h
  csrc/torch_bindings.cpp
  tests/distributed/test_custom_all_reduce.py
  tools/profiler/visualize_layerwise_profile.py
  vllm/_custom_ops.py
  vllm/distributed/device_communicators/custom_all_reduce.py
Owners: none

[torch.compile] fix cpu broken code (#9947)
  vllm/utils.py
Owners: none

[V1] Fix `EngineArgs` refactor on V1 (#9954)
  vllm/v1/executor/gpu_executor.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/core @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/engine/llm_engine.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/executor/executor_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/model_executor/layers/sampler.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
CMakeLists.txt @tlrmchlsmth @WoosukKwon

# Test ownership
/tests/async_engine @njhill @robertgshaw2-neuralmagic @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-neuralmagic
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
