Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Bugfix] Fix default behavior/fallback for pp in v1 (#16057)
  vllm/engine/arg_utils.py
Owners: none

[Model] use AutoWeightsLoader in model load_weights (#15770)
  docs/source/models/supported_models.md
  vllm/model_executor/models/bamba.py
  vllm/model_executor/models/exaone.py
  vllm/model_executor/models/falcon.py
Owners: none

[misc] instruct pytorch to use nvml-based cuda check (#15951)
  vllm/__init__.py
  vllm/env_override.py
Owners: none

Restricted cmake to be less than version 4 as 4.x breaks the build of… (#15859)
  docker/Dockerfile.ppc64le
Owners: none

[BugFix] make sure socket close (#15875)
  vllm/entrypoints/openai/api_server.py
Owners: none

[Frontend] Implement Tool Calling with `tool_choice='required'` (#13483)
  docs/source/features/tool_calling.md
  examples/online_serving/openai_chat_completion_client_with_tools_required.py
  tests/entrypoints/openai/test_chat.py
  tests/tool_use/test_chat_completion_request_validations.py
  tests/tool_use/test_tool_choice_required.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_chat.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1] TPU - Fix fused MOE (#15834)
  vllm/model_executor/layers/fused_moe/layer.py
Owners: none

Add minimum version for `huggingface_hub` to enable Xet downloads (#15873)
  requirements/common.txt
  requirements/test.in
  requirements/test.txt
Owners: none

[V1] Fix json_object support with xgrammar (#15488)
  requirements/common.txt
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
  vllm/v1/structured_output/backend_xgrammar.py
Owners: @mgoin, @russellb

[Misc] V1 LoRA support CPU offload (#15843)
  vllm/config.py
Owners: none

[Misc] Fix speculative config repr string (#15860)
  vllm/config.py
Owners: none

[TPU][V1] Remove ragged attention kernel parameter hard coding (#16041)
  vllm/v1/attention/backends/pallas.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[CPU][Bugfix] Using custom allreduce for CPU backend (#15934)
  cmake/cpu_extension.cmake
  csrc/cpu/cpu_types_x86.hpp
  csrc/cpu/shm.cpp
  csrc/cpu/torch_bindings.cpp
  csrc/cpu/utils.cpp
  docs/source/getting_started/installation/cpu.md
  vllm/distributed/device_communicators/cpu_communicator.py
  vllm/worker/cpu_worker.py
Owners: none

[V1] Support Mistral3 in V1 (#15950)
  docs/source/models/supported_models.md
  vllm/model_executor/models/mistral3.py
Owners: none

[Feature] specify model in config.yaml (#15798)
  docs/source/serving/openai_compatible_server.md
  tests/config/test_config.yaml
  tests/config/test_config_with_model.yaml
  tests/conftest.py
  tests/test_utils.py
  vllm/entrypoints/cli/serve.py
  vllm/utils.py
Owners: none

Remove `format.sh` as it's been unsupported >70 days (#15884)
  format.sh
Owners: none

[ROCM][KERNEL] Paged attention for V1 (#15720)
  csrc/rocm/attention.cu
  csrc/rocm/ops.h
  csrc/rocm/torch_bindings.cpp
  tests/kernels/test_prefix_prefill.py
  vllm/_custom_ops.py
  vllm/attention/backends/rocm_flash_attn.py
  vllm/attention/ops/chunked_prefill_paged_decode.py
  vllm/attention/ops/paged_attn.py
  vllm/attention/ops/prefix_prefill.py
  vllm/platforms/rocm.py
  vllm/v1/attention/backends/triton_attn.py
Owners: @tlrmchlsmth, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][Benchmarks] Ensure `async_request_deepspeed_mii` uses the OpenAI choices key (#15926)
  benchmarks/backend_request_func.py
Owners: none

[Misc] Use envs.VLLM_USE_RAY_COMPILED_DAG_CHANNEL_TYPE (#15831)
  vllm/envs.py
  vllm/executor/ray_distributed_executor.py
Owners: none

[Build/CI] Update lm-eval to 0.4.8 (#15912)
  requirements/test.in
  requirements/test.txt
Owners: none

[sleep mode] clear pytorch cache after sleep (#15248)
  vllm/device_allocator/cumem.py
Owners: none

[V1][Bugfix] Fix typo in MoE TPU checking (#15927)
  vllm/model_executor/layers/fused_moe/layer.py
Owners: none

[Minor] Fused experts refactor (#15914)
  tests/kernels/test_block_fp8.py
  tests/kernels/test_cutlass_moe.py
  vllm/model_executor/layers/fused_moe/__init__.py
  vllm/model_executor/layers/fused_moe/cutlass_moe.py
  vllm/model_executor/layers/fused_moe/deep_gemm_moe.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/moe_align_block_size.py
  vllm/model_executor/layers/fused_moe/utils.py
Owners: @tlrmchlsmth, @WoosukKwon

[Kernel] Add more dtype support for GGUF dequantization (#15879)
  csrc/ops.h
  csrc/quantization/gguf/dequantize.cuh
  csrc/quantization/gguf/ggml-common.h
  csrc/quantization/gguf/gguf_kernel.cu
  csrc/torch_bindings.cpp
  tests/kernels/test_ggml.py
  tests/kernels/test_gguf.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/quantization/gguf.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[V1][TPU] Do not compile sampling more than needed (#15883)
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Metrics] Hide deprecated metrics (#15458)
  tests/entrypoints/openai/test_metrics.py
  tests/utils.py
  vllm/engine/metrics.py
  vllm/version.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Bugfix]: Fix is_embedding_layer condition in VocabParallelEmbedding (#15824)
  vllm/model_executor/layers/vocab_parallel_embedding.py
Owners: none

[core] Add tags parameter to wake_up() (#15500)
  tests/basic_correctness/test_cumem.py
  tests/entrypoints/openai/test_sleep.py
  vllm/device_allocator/cumem.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/engine/multiprocessing/__init__.py
  vllm/engine/multiprocessing/client.py
  vllm/engine/multiprocessing/engine.py
  vllm/engine/protocol.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/api_server.py
  vllm/executor/executor_base.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/worker/gpu_worker.py
  vllm/worker/worker.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @ywang96

[Bugfix][kernels] Fix half2float conversion in gguf kernels (#15995)
  csrc/quantization/gguf/ggml-common.h
Owners: none

[bugfix] add seed in torchrun_example.py (#15980)
  examples/offline_inference/torchrun_example.py
  vllm/config.py
Owners: none

[Bugfix] Fix cache block size calculation for CPU MLA (#15848)
  vllm/worker/cpu_worker.py
Owners: none

Reinstate `format.sh` and make `pre-commit` installation simpler (#15890)
  .pre-commit-config.yaml
  format.sh
Owners: none

[doc] update contribution link (#15922)
  README.md
Owners: none

[Bugfix] Fix imports for MoE on CPU (#15841)
  vllm/model_executor/layers/fused_moe/rocm_aiter_fused_moe.py
Owners: none

[Misc] improve gguf check (#15974)
  vllm/transformers_utils/utils.py
Owners: none

Rename fallback model and refactor supported models section (#15829)
  docs/source/index.md
  docs/source/models/supported_models.md
  tests/models/registry.py
  vllm/model_executor/model_loader/utils.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/transformers.py
Owners: @DarkLight1337, @ywang96

[Hardware][Gaudi][BugFix] fix arguments of hpu fused moe (#15945)
  vllm/model_executor/layers/fused_moe/layer.py
Owners: none

[ROCm][Bugfix] Use platform specific FP8 dtype (#15717)
  vllm/attention/ops/prefix_prefill.py
Owners: none

[CI/Build] Further clean up LoRA tests (#15920)
  .buildkite/test-pipeline.yaml
  tests/lora/conftest.py
  tests/lora/test_layers.py
  tests/lora/test_llama_tp.py
  tests/lora/test_minicpmv_tp.py
  tests/lora/test_transfomers_model.py
Owners: none

[Bugfix] Fix function names in test_block_fp8.py (#16033)
  tests/kernels/test_block_fp8.py
Owners: @tlrmchlsmth, @WoosukKwon
