Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

[Misc] Gemma3ForConditionalGeneration supports LoRA (#14797)
  vllm/model_executor/models/gemma3_mm.py
Owners: none

[Perf]:Optimize qwen2-vl to reduce cudaMemcpyAsync (#14377)
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/qwen2_vl.py
Owners: none

[V1] Remove cache from StructuredOutputManager (#14622)
  vllm/v1/engine/core.py
  vllm/v1/structured_output/__init__.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @mgoin, @russellb

[Config][Disaggregated] Add timeout configuration for the torch.store and add KVTransferConfig.kv_connector_extra_config (#14367)
  vllm/config.py
  vllm/distributed/kv_transfer/kv_lookup_buffer/simple_buffer.py
  vllm/distributed/kv_transfer/kv_pipe/pynccl_pipe.py
  vllm/distributed/utils.py
Owners: none

[release] Add commands to clean up logs on TPU release node (#14642)
  .buildkite/release-pipeline.yaml
Owners: none

Fix typo in benchmark_serving_structured_output.py (#14566)
  benchmarks/benchmark_serving_structured_output.py
Owners: none

[VLM] Support loading InternVideo2.5 models as original InternVLChatModel (#14738)
  docs/source/models/supported_models.md
  vllm/model_executor/models/internvl.py
Owners: none

[Kernel] GGUF MoE kernel (#14613)
  csrc/ops.h
  csrc/quantization/gguf/gguf_kernel.cu
  csrc/quantization/gguf/moe.cuh
  csrc/torch_bindings.cpp
  tests/kernels/test_ggml.py
  tests/kernels/test_gguf.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/quantization/gguf.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[Feature] Add visionarena offline support for benchmark_throughput (#14654)
  benchmarks/README.md
  benchmarks/benchmark_dataset.py
  benchmarks/benchmark_throughput.py
Owners: none

[Doc] Update benchmarks README (#14646)
  benchmarks/README.md
Owners: none

[BugFix/Build] Fix sparse kernels not getting built on hopper (#14572)
  CMakeLists.txt
  csrc/sparse/cutlass/sparse_scaled_mm_entry.cu
Owners: @tlrmchlsmth

docs: Add documentation for s390x cpu implementation (#14198)
  docs/source/getting_started/installation.md
  docs/source/getting_started/installation/cpu.md
  docs/source/getting_started/installation/cpu/s390x.inc.md
Owners: none

[Bugfix] Missing thumbnail from NVLM-D processor (#14633)
  vllm/model_executor/models/nvlm_d.py
Owners: none

[Attention] Remove slow setattr in MLA (#14769)
  vllm/model_executor/layers/rotary_embedding.py
Owners: none

[Bugfix] Fix prompt format of GLM4V (#14539)
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/core.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  vllm/config.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/chatglm.py
  vllm/model_executor/models/qwen.py
Owners: @DarkLight1337, @ywang96

[Misc] Clean up type annotation for `SupportsMultiModal` (#14794)
  docs/source/contributing/model/multimodal.md
  tests/distributed/test_pipeline_parallel.py
  vllm/model_executor/models/aria.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/glm4v.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/interfaces.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/qwen_vl.py
  vllm/model_executor/models/ultravox.py
  vllm/model_executor/models/whisper.py
Owners: @youkaichao

[V1] LoRA - Add triton kernels for V1 (#13096)
  benchmarks/kernels/benchmark_lora.py
  tests/lora/test_layers.py
  tests/lora/test_punica_ops.py
  vllm/lora/models.py
  vllm/lora/ops/triton_ops/utils.py
  vllm/lora/ops/triton_ops/v1/__init__.py
  vllm/lora/ops/triton_ops/v1/v1_expand.py
  vllm/lora/ops/triton_ops/v1/v1_kernel_metadata.py
  vllm/lora/ops/triton_ops/v1/v1_shrink.py
  vllm/lora/punica_wrapper/punica_gpu.py
  vllm/v1/worker/lora_model_runner_mixin.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][TPU] Pad the block_table.shape[1] so the ragged paged attention can handle correctly (#14597)
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Minor] Minor enhancements on scheduler (#14732)
  vllm/v1/core/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Quant] BartModel SupportsQuant (#14699)
  vllm/model_executor/models/bart.py
Owners: none

[BugFix][V1] Fix parallel sampling finishing/aborts (#14512)
  tests/v1/engine/test_async_llm.py
  tests/v1/entrypoints/openai/test_completion.py
  vllm/outputs.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/engine/output_processor.py
  vllm/v1/engine/parallel_sampling.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Correct capitalisation: `VLLM` -> `vLLM` (#14562)
  benchmarks/kernels/benchmark_rmsnorm.py
  docs/source/contributing/vulnerability_management.md
  docs/source/design/v1/metrics.md
  examples/offline_inference/disaggregated_prefill_lmcache.py
  tests/tpu/test_quantization_accuracy.py
  vllm/attention/selector.py
  vllm/compilation/backends.py
  vllm/compilation/compiler_interface.py
  vllm/config.py
  vllm/entrypoints/openai/protocol.py
  vllm/envs.py
  vllm/model_executor/models/phi4mm.py
  vllm/platforms/cuda.py
  vllm/platforms/rocm.py
  vllm/transformers_utils/tokenizers/mistral.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/output_processor.py
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[FEAT] [ROCm] [Embedding] Add encoder-only model support into ROCm Flash Attention to enable embedding models. (#14664)
  CMakeLists.txt
  csrc/moe/torch_bindings.cpp
  tests/models/embedding/language/test_cls_models.py
  tests/models/embedding/language/test_embedding.py
  tests/models/embedding/language/test_gritlm.py
  tests/models/embedding/vision_language/test_llava_next.py
  vllm/attention/backends/rocm_flash_attn.py
Owners: @tlrmchlsmth, @DarkLight1337, @ywang96

[Model] Extend Ultravox to accept audio longer than 30s (#13631)
  tests/models/decoder_only/audio_language/test_ultravox.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/model_executor/models/ultravox.py
Owners: @DarkLight1337, @ywang96

[ci] Reduce number of tests in fastcheck (#14782)
  .buildkite/test-pipeline.yaml
Owners: none

[MISC][V1] Handle exception of current_platform.get_device_name() in arg_utils (#14379)
  vllm/engine/arg_utils.py
Owners: none

[Bugfix] Fix chunked prefill for GGUF (#14666)
  vllm/model_executor/layers/quantization/gguf.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[CPU] Upgrade CPU backend to torch-2.6 (#13381)
  .buildkite/run-cpu-test.sh
  Dockerfile.cpu
  cmake/cpu_extension.cmake
  requirements/cpu.txt
  tests/lora/test_qwen2vl.py
  vllm/attention/ops/ipex_attn.py
  vllm/executor/multiproc_worker_utils.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/platforms/cpu.py
Owners: none

dynamic distpatch of fp8 kernels (#14245)
  benchmarks/kernels/benchmark_moe.py
  csrc/dispatch_utils.h
  csrc/layernorm_quant_kernels.cu
  csrc/quantization/fp8/amd/quant_utils.cuh
  csrc/quantization/fp8/common.cu
  csrc/quantization/fp8/common.cuh
  csrc/quantization/fused_kernels/fused_layernorm_dynamic_per_token_quant.cu
  csrc/quantization/fused_kernels/quant_conversions.cuh
  csrc/quantization/vectorization.cuh
  tests/kernels/quant_utils.py
  tests/kernels/test_triton_scaled_mm.py
  tests/quantization/test_fp8.py
  vllm/_custom_ops.py
  vllm/attention/backends/mla/common.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/compressed_tensors/schemes/compressed_tensors_w8a8_fp8.py
  vllm/model_executor/layers/quantization/fbgemm_fp8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/quark/quark_moe.py
  vllm/model_executor/layers/quantization/quark/schemes/quark_w8a8_fp8.py
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
  vllm/platforms/cuda.py
  vllm/platforms/interface.py
  vllm/platforms/rocm.py
  vllm/v1/attention/backends/mla/common.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Uninstall dependencies before installing requirements/tpu.txt (#14586)
  Dockerfile.tpu
Owners: none

[Attention] MLA get rid of materialization (#14770)
  vllm/attention/backends/mla/common.py
  vllm/envs.py
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
  vllm/v1/attention/backends/mla/common.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix Aria test loading (#14823)
  tests/models/decoder_only/vision_language/test_models.py
Owners: @DarkLight1337, @ywang96

[V1] Temporarily disable FlashInfer Rejection Sampler (#14788)
  vllm/v1/sample/ops/topk_topp_sampler.py
  vllm/v1/sample/rejection_sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Clean up processor tests (#14771)
  tests/models/multimodal/processing/test_h2ovl.py
  tests/models/multimodal/processing/test_idefics3.py
  tests/models/multimodal/processing/test_internvl.py
  tests/models/multimodal/processing/test_llava_next.py
  tests/models/multimodal/processing/test_llava_onevision.py
  tests/models/multimodal/processing/test_phi3v.py
  tests/models/multimodal/processing/test_qwen2_vl.py
  tests/models/utils.py
Owners: @DarkLight1337, @ywang96

Add ray[data] as tpu dependency (#14691)
  requirements/tpu.txt
Owners: none

[V1][TPU] Add assertion on multi-step-scheduler (#14707)
  vllm/platforms/tpu.py
Owners: none

[V1] Add regex structured output support with xgrammar (#14590)
  requirements/common.txt
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/v1/structured_output/__init__.py
  vllm/v1/structured_output/utils.py
Owners: @mgoin, @russellb

[Quant] Bamba SupportsQuant (#14698)
  vllm/model_executor/models/bamba.py
Owners: none

[Kernel] LoRA - Enable CUDAGraphs for V1 (#14626)
  tests/lora/test_worker.py
  vllm/config.py
  vllm/lora/layers.py
  vllm/lora/punica_wrapper/punica_gpu.py
Owners: none

[V1] Prevent xgrammar from breaking TPU support (#14575)
  vllm/v1/engine/processor.py
  vllm/v1/structured_output/__init__.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @mgoin, @russellb

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao
