Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[ROCm][MoE] MI300 tuned configs Mixtral-8x(7B,22B) | fp16, fp8 (#12408)
  vllm/model_executor/layers/fused_moe/configs/E=8,N=14336,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=16384,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=16384,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=1792,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=2048,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=2048,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=3584,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=3584,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=4096,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=4096,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=7168,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=8192,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=8192,device_name=AMD_Instinct_MI300X.json
Owners: none

[VLM] Merged multi-modal processor and V1 support for Qwen-VL (#12504)
  docs/source/models/supported_models.md
  tests/models/multimodal/processing/test_common.py
  tests/models/multimodal/processing/test_qwen.py
  vllm/model_executor/models/qwen.py
Owners: @DarkLight1337, @ywang96

[V1] Simplify M-RoPE (#12352)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Docs] Update spec decode + structured output in compat matrix (#12373)
  docs/source/features/compatibility_matrix.md
Owners: none

Replace missed warning_once for rerank API (#12472)
  vllm/entrypoints/openai/api_server.py
Owners: none

Update README.md with V1 alpha release (#12495)
  README.md
Owners: none

[BugFix] Fix parameter names and `process_after_weight_loading` for W4A16 MoE Group Act Order (#11528)
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/compressed_tensors/schemes/compressed_tensors_w4a16_24.py
  vllm/model_executor/layers/quantization/experts_int8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/layers/quantization/quark/quark_moe.py
Owners: none

[Misc] Fix OpenAI API Compatibility Issues in Benchmark Script (#12357)
  benchmarks/backend_request_func.py
Owners: none

[Bugfix][Kernel] FA3 Fix - RuntimeError: This flash attention build only supports pack_gqa (for build size reasons). (#12405)
  CMakeLists.txt
Owners: @tlrmchlsmth

[V1][CI/Test] Do basic test for top-p & top-k sampling (#12469)
  tests/v1/engine/test_engine_core.py
Owners: none

[Bugfix] Fixing AMD LoRA CI test. (#12329)
  Dockerfile.rocm
Owners: none

Update compressed-tensors version (#12367)
  requirements-common.txt
Owners: none

[Misc][Bugfix] FA3 support to ViT MHA layer (#12435)
  vllm/attention/layer.py
Owners: none

[Doc] Fix typo for x86 CPU installation (#12514)
  docs/source/getting_started/installation/cpu/x86.inc.md
Owners: none

[FEATURE] Enables offline /score for embedding models (#12021)
  tests/models/embedding/language/test_scoring.py
  vllm/entrypoints/llm.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Fix k_proj's bias for whisper self attention (#12342)
  vllm/model_executor/models/whisper.py
Owners: none

[TPU] Update TPU CI to use torchxla nightly on 20250122 (#12334)
  Dockerfile.tpu
Owners: none

[Hardware][Gaudi][Doc] Add missing step in setup instructions (#12382)
  docs/source/getting_started/installation/ai_accelerator/hpu-gaudi.inc.md
Owners: none

[Misc] Enable proxy support in benchmark script (#12356)
  benchmarks/backend_request_func.py
Owners: none

[DOC] Add link to vLLM blog (#12460)
  docs/source/community/blog.md
  docs/source/index.md
Owners: none

[V1][Metrics] Add per-request prompt/generation_tokens histograms (#12516)
  tests/entrypoints/openai/test_metrics.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/output_processor.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Frontend] Support reasoning content for deepseek r1 (#12473)
  docs/source/features/reasoning_outputs.md
  docs/source/index.md
  examples/online_serving/openai_chat_completion_with_reasoning.py
  examples/online_serving/openai_chat_completion_with_reasoning_streaming.py
  tests/entrypoints/openai/reasoning_parsers/__init__.py
  tests/entrypoints/openai/reasoning_parsers/test_deepseekr1_reasoning_parser.py
  tests/entrypoints/openai/reasoning_parsers/utils.py
  tests/entrypoints/openai/test_cli_args.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/cli_args.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/reasoning_parsers/__init__.py
  vllm/entrypoints/openai/reasoning_parsers/abs_reasoning_parsers.py
  vllm/entrypoints/openai/reasoning_parsers/deepseek_r1_reasoning_parser.py
  vllm/entrypoints/openai/serving_chat.py
  vllm/scripts.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Bugfix] Fix BLIP-2 processing (#12412)
  vllm/model_executor/models/blip2.py
Owners: none

[Bugfix][Kernel] Fix moe align block issue for mixtral (#12413)
  csrc/moe/moe_align_sum_kernels.cu
Owners: none

[Bugfix] Fix HPU multiprocessing executor (#12167)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/platforms/hpu.py
  vllm/worker/hpu_worker.py
Owners: none

[Frontend] Rerank API (Jina- and Cohere-compatible API) (#12376)
  docs/source/serving/openai_compatible_server.md
  examples/online_serving/cohere_rerank_client.py
  examples/online_serving/jinaai_rerank_client.py
  tests/entrypoints/openai/test_rerank.py
  tests/entrypoints/openai/test_score.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/entrypoints/openai/serving_rerank.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Ci/Build] Fix mypy errors on main (#12296)
  vllm/multimodal/processing.py
Owners: @DarkLight1337, @ywang96

[Docs] Add meetup slides (#12345)
  README.md
  docs/source/community/meetups.md
Owners: none

[TPU] Add example for profiling TPU inference (#12531)
  examples/offline_inference/profiling_tpu/README.md
  examples/offline_inference/profiling_tpu/profiling.py
Owners: none

[V1] Add `uncache_blocks` (#12333)
  tests/v1/core/test_prefix_caching.py
  vllm/v1/core/kv_cache_manager.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ci/lint] Add back default arg for pre-commit (#12279)
  .github/workflows/pre-commit.yml
  tests/models/decoder_only/language/test_gguf.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/siglip.py
  vllm/platforms/__init__.py
  vllm/v1/stats/common.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[perf] fix perf regression from #12253 (#12380)
  vllm/worker/model_runner.py
Owners: none

[Core] Make raw_request optional in ServingCompletion (#12503)
  vllm/entrypoints/openai/serving_completion.py
Owners: none

[CI] fix pre-commit error (#12494)
  vllm/attention/ops/nki_flash_attn.py
  vllm/spec_decode/spec_decode_worker.py
Owners: none

[Bugfix][VLM] Fix mixed-modality inference backward compatibility for V0 (#12313)
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/qwen2_vl.py
Owners: none

[Hardware][Gaudi][BugFix] Fix dataclass error due to triton package update (#12338)
  requirements-hpu.txt
Owners: none

[Neuron][Kernel] NKI-based flash-attention kernel with paged KV cache (#11277)
  .buildkite/run-neuron-test.sh
  tests/neuron/test_prefix_prefill.py
  vllm/attention/ops/nki_flash_attn.py
Owners: none

[V1] Include Engine Version in Logs (#12496)
  vllm/engine/llm_engine.py
  vllm/v1/engine/core.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

[Docs] Update FP8 KV Cache documentation (#12238)
  docs/source/features/quantization/fp8_e4m3_kvcache.md
  docs/source/features/quantization/fp8_e5m2_kvcache.md
  docs/source/features/quantization/index.md
  docs/source/features/quantization/quantized_kvcache.md
Owners: none

[V1][Metrics] Hook up IterationStats for Prometheus metrics (#12478)
  tests/entrypoints/openai/test_metrics.py
  vllm/v1/engine/async_llm.py
  vllm/v1/metrics/loggers.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat
