Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill, @tlrmchlsmth, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/core @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/engine/llm_engine.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/executor/executor_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/model_executor/layers/sampler.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
CMakeLists.txt @tlrmchlsmth @WoosukKwon

# Test ownership
/tests/async_engine @njhill @robertgshaw2-neuralmagic @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-neuralmagic
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[Bugfix] Respect modules_to_not_convert within awq_marlin (#9895)
  vllm/model_executor/layers/quantization/awq_marlin.py
Owners: none

[bugfix] fix tsts (#9959)
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/utils.py
Owners: none

[Bugfix] Remove CustomChatCompletionContentPartParam multimodal input type (#10054)
  vllm/entrypoints/chat_utils.py
Owners: none

[4.5/N] bugfix for quant config in speculative decode (#10007)
  vllm/spec_decode/spec_decode_worker.py
Owners: none

[CI/Build] Fix large_gpu_mark reason (#10070)
  tests/utils.py
Owners: none

[Bugfix] Fix edge-case crash when using chat with the Mistral Tekken Tokenizer (#10051)
  tests/models/decoder_only/language/test_mistral.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: @DarkLight1337, @ywang96

[CI/Build] re-add codespell to CI (#10083)
  .github/workflows/codespell.yml
Owners: none

[Bugfix] Gpt-j-6B patch kv_scale to k_scale path (#10063)
  vllm/model_executor/models/gpt_j.py
Owners: none

[bugfix] fix chatglm dummy_data_for_glmv (#9955)
  vllm/model_executor/models/chatglm.py
Owners: none

[CI/Build] Drop Python 3.8 support (#10038)
  .readthedocs.yaml
  CMakeLists.txt
  docs/source/getting_started/amd-installation.rst
  docs/source/getting_started/installation.rst
  docs/source/getting_started/neuron-installation.rst
  docs/source/getting_started/quickstart.rst
  setup.py
  vllm/distributed/parallel_state.py
Owners: @tlrmchlsmth, @WoosukKwon

[CI/Build] Always run the ruff workflow (#10092)
  .github/workflows/ruff.yml
Owners: none

[3/N] model runner pass the whole config to model (#9958)
  tests/lora/conftest.py
  vllm/model_executor/model_loader/__init__.py
  vllm/model_executor/model_loader/loader.py
  vllm/plugins/__init__.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/worker/cpu_model_runner.py
  vllm/worker/model_runner.py
  vllm/worker/tpu_model_runner.py
  vllm/worker/xpu_model_runner.py
Owners: none

[Model] Support quantization of PixtralHFTransformer for PixtralHF (#9921)
  vllm/model_executor/layers/activation.py
  vllm/model_executor/models/pixtral.py
Owners: none

[4/N] make quant config first-class citizen (#9978)
  vllm/config.py
  vllm/model_executor/model_loader/loader.py
Owners: none

[Bugfix][CI/Build][Hardware][AMD] Shard ID parameters in AMD tests running parallel jobs (#9279)
  .buildkite/run-amd-test.sh
  tests/lora/test_minicpmv.py
Owners: none

[Bugfix] Fix FP8 torch._scaled_mm fallback for torch>2.5 with CUDA<12.4 (#10095)
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
Owners: none

[distributed] add function to create ipc buffers directly (#10064)
  .buildkite/test-pipeline.yaml
  tests/distributed/test_ca_buffer_sharing.py
  vllm/distributed/device_communicators/custom_all_reduce.py
Owners: none

[Feature] Update benchmark_throughput.py to support image input (#9851)
  benchmarks/README.md
  benchmarks/benchmark_throughput.py
Owners: none

[Docs] Update Granite 3.0 models in supported models table (#9930)
  docs/source/models/supported_models.rst
Owners: none

[Core] Use os.sched_yield in ShmRingBuffer instead of time.sleep (#9994)
  vllm/distributed/device_communicators/shm_broadcast.py
Owners: none

[CI] Basic Integration Test For TPU (#9968)
  .buildkite/run-tpu-test.sh
  tests/entrypoints/openai/test_accuracy.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[Bugfix] Properly propagate trust_remote_code settings (#10047)
  vllm/model_executor/models/chatglm.py
  vllm/model_executor/models/molmo.py
Owners: none

[CI] Prune back the number of tests in tests/kernels/* (#9932)
  tests/kernels/test_activation.py
  tests/kernels/test_attention.py
  tests/kernels/test_awq_marlin.py
  tests/kernels/test_blocksparse_attention.py
  tests/kernels/test_cache.py
  tests/kernels/test_cutlass.py
  tests/kernels/test_int8_quant.py
  tests/kernels/test_marlin_gemm.py
  tests/kernels/test_moe.py
  tests/kernels/test_pos_encoding.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix] Fixup Mamba (#10004)
  vllm/model_executor/models/mamba.py
Owners: none

[Misc] Modify BNB parameter name (#9997)
  vllm/model_executor/layers/quantization/bitsandbytes.py
  vllm/model_executor/layers/resampler.py
  vllm/model_executor/model_loader/loader.py
Owners: none

[Frontend] Adjust try/except blocks in API impl (#10056)
  vllm/entrypoints/openai/serving_completion.py
  vllm/entrypoints/openai/serving_embedding.py
Owners: none

[Misc] Compute query_start_loc/seq_start_loc on CPU (#9447)
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/utils.py
Owners: none

[Encoder Decoder] Add flash_attn kernel support for encoder-decoder models (#9559)
  tests/encoder_decoder/test_e2e_correctness.py
  tests/kernels/test_encoder_decoder_attn.py
  tests/kernels/utils.py
  tests/models/encoder_decoder/vision_language/test_florence2.py
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/utils.py
  vllm/attention/backends/xformers.py
  vllm/attention/selector.py
  vllm/model_executor/models/bart.py
  vllm/utils.py
  vllm/worker/enc_dec_model_runner.py
Owners: @tlrmchlsmth, @WoosukKwon, @DarkLight1337, @ywang96

[Model] Add support for H2OVL-Mississippi models (#9747)
  docs/source/models/supported_models.rst
  examples/offline_inference_vision_language.py
  examples/offline_inference_vision_language_multi_image.py
  tests/models/decoder_only/vision_language/test_h2ovl.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/h2ovl.py
  vllm/model_executor/models/registry.py
  vllm/transformers_utils/config.py
  vllm/transformers_utils/configs/__init__.py
  vllm/transformers_utils/configs/h2ovl.py
Owners: @DarkLight1337, @ywang96

[doc] add back Python 3.8 ABI (#10100)
  docs/source/getting_started/installation.rst
Owners: none

[Core] Make encoder-decoder inputs a nested structure to be more composable (#9604)
  tests/core/utils.py
  tests/engine/output_processor/test_stop_checker.py
  tests/test_cache_block_hashing.py
  tests/tokenization/test_detokenize.py
  vllm/engine/llm_engine.py
  vllm/engine/protocol.py
  vllm/inputs/__init__.py
  vllm/inputs/data.py
  vllm/inputs/parse.py
  vllm/inputs/preprocess.py
  vllm/inputs/registry.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/registry.py
  vllm/sequence.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[CI/Build] change conflict PR comment from mergify (#10080)
  .github/mergify.yml
Owners: none

[Model] Add Idefics3 support (#9767)
  docs/source/models/supported_models.rst
  examples/offline_inference_vision_language.py
  examples/offline_inference_vision_language_multi_image.py
  tests/models/decoder_only/vision_language/test_models.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/idefics2_vision_model.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[Bugfix] PicklingError on RayTaskError (#9934)
  vllm/engine/multiprocessing/engine.py
Owners: none

[Model][LoRA]LoRA support added for Qwen2VLForConditionalGeneration (#10022)
  docs/source/models/supported_models.rst
  vllm/model_executor/models/qwen2_vl.py
Owners: none

[Bugfix] Fix pickle of input when async output processing is on (#9931)
  tests/basic_correctness/test_basic_correctness.py
  vllm/worker/model_runner.py
Owners: none

[Bugfix][OpenVINO] Fix circular reference #9939 (#9974)
  vllm/platforms/openvino.py
Owners: none

[Misc][XPU] Upgrade to Pytorch 2.5 for xpu backend (#9823)
  Dockerfile.xpu
  requirements-xpu.txt
  vllm/_ipex_ops.py
  vllm/attention/backends/ipex_attn.py
Owners: none

[Hardware][Intel-Gaudi] Add Intel Gaudi (HPU) inference backend (#6143)
  Dockerfile.hpu
  docs/source/getting_started/gaudi-installation.rst
  docs/source/index.rst
  requirements-hpu.txt
  setup.py
  vllm/_custom_ops.py
  vllm/attention/backends/hpu_attn.py
  vllm/attention/ops/hpu_paged_attn.py
  vllm/attention/selector.py
  vllm/config.py
  vllm/core/block/cpu_gpu_block_allocator.py
  vllm/distributed/device_communicators/hpu_communicator.py
  vllm/distributed/parallel_state.py
  vllm/engine/arg_utils.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/executor/hpu_executor.py
  vllm/executor/ray_hpu_executor.py
  vllm/executor/ray_utils.py
  vllm/model_executor/custom_op.py
  vllm/model_executor/layers/layernorm.py
  vllm/model_executor/layers/logits_processor.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/layers/vocab_parallel_embedding.py
  vllm/model_executor/sampling_metadata.py
  vllm/platforms/__init__.py
  vllm/platforms/hpu.py
  vllm/platforms/interface.py
  vllm/utils.py
  vllm/worker/hpu_model_runner.py
  vllm/worker/hpu_worker.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[core][distributed] add stateless_init_process_group (#10072)
  .buildkite/test-pipeline.yaml
  tests/distributed/test_utils.py
  vllm/distributed/utils.py
Owners: none
