Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[Build] update requirements of no-device (#12299)
  setup.py
Owners: none

[Misc] Revert FA on ViT #12355 and #12435 (#12445)
  vllm/attention/layer.py
Owners: none

[Bugfix] Path join when building local path for S3 clone (#12353)
  vllm/transformers_utils/s3_utils.py
Owners: none

[Bugfix] Fix missing seq_start_loc in xformers prefill metadata (#12464)
  vllm/attention/backends/xformers.py
Owners: none

[Feature] [Spec decode]: Enable MLPSpeculator/Medusa and `prompt_logprobs` with ChunkedPrefill (#10132)
  tests/spec_decode/e2e/conftest.py
  tests/spec_decode/e2e/test_integration_dist_tp2.py
  tests/spec_decode/e2e/test_logprobs.py
  tests/spec_decode/e2e/test_medusa_correctness.py
  tests/spec_decode/e2e/test_mlp_correctness.py
  tests/spec_decode/e2e/test_multistep_correctness.py
  tests/spec_decode/e2e/test_ngram_correctness.py
  tests/spec_decode/test_scorer.py
  tests/spec_decode/test_spec_decode_worker.py
  tests/spec_decode/utils.py
  vllm/config.py
  vllm/engine/llm_engine.py
  vllm/spec_decode/batch_expansion.py
  vllm/spec_decode/interfaces.py
  vllm/spec_decode/mqa_scorer.py
  vllm/spec_decode/spec_decode_worker.py
Owners: @njhill, @LiuXiaoxuanPKU, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac

[ci/build] fix wheel size check (#12396)
  .buildkite/check-wheel-size.py
Owners: none

[Benchmark] More accurate TPOT calc in `benchmark_serving.py` (#12288)
  benchmarks/backend_request_func.py
  benchmarks/benchmark_serving.py
Owners: none

[Bugfix] Fix broken internvl2 inference with v1 (#12360)
  vllm/multimodal/utils.py
Owners: @DarkLight1337, @ywang96

[Frontend] generation_config.json for maximum tokens(#12242)
  tests/entrypoints/openai/test_serving_chat.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/openai/protocol.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[AMD][Quantization] Add TritonScaledMMLinearKernel since int8 is broken for AMD (#12282)
  tests/kernels/test_triton_scaled_mm.py
  vllm/model_executor/layers/quantization/kernels/scaled_mm/__init__.py
  vllm/model_executor/layers/quantization/kernels/scaled_mm/triton.py
Owners: @tlrmchlsmth, @WoosukKwon

[Core] Support `reset_prefix_cache` (#12284)
  tests/core/block/test_prefix_caching_block.py
  tests/v1/core/test_prefix_caching.py
  vllm/core/block/cpu_gpu_block_allocator.py
  vllm/core/block/interfaces.py
  vllm/core/block/naive_block.py
  vllm/core/block/prefix_caching_block.py
  vllm/core/block_manager.py
  vllm/core/interfaces.py
  vllm/core/placeholder_block_space_manager.py
  vllm/core/scheduler.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/engine/multiprocessing/__init__.py
  vllm/engine/multiprocessing/client.py
  vllm/engine/multiprocessing/engine.py
  vllm/engine/protocol.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/api_server.py
  vllm/envs.py
  vllm/executor/executor_base.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/scheduler.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/llm_engine.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

Fix bad path in prometheus example (#12481)
  examples/online_serving/prometheus_grafana/README.md
Owners: none

[V1][Perf] Reduce scheduling overhead in model runner after cuda sync (#12094)
  vllm/v1/outputs.py
  vllm/v1/sample/sampler.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Use VisionArena Dataset for VLM Benchmarking (#12389)
  benchmarks/benchmark_serving.py
Owners: none

[CI] add docker volume prune to neuron CI (#12291)
  .buildkite/run-neuron-test.sh
Owners: none

[V1][Minor] Minor optimizations for update_from_output (#12454)
  vllm/v1/core/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][Kernel] Fix CUDA 11.8 being broken by FA3 build (#12375)
  CMakeLists.txt
  setup.py
  tests/kernels/test_cascade_flash_attn.py
  tests/kernels/test_flash_attn.py
  vllm/attention/backends/flash_attn.py
  vllm/v1/attention/backends/flash_attn.py
Owners: @tlrmchlsmth, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Core] Support fully transparent sleep mode (#11743)
  .buildkite/test-pipeline.yaml
  CMakeLists.txt
  csrc/cumem_allocator.cpp
  setup.py
  tests/basic_correctness/test_cumem.py
  vllm/config.py
  vllm/device_allocator/__init__.py
  vllm/device_allocator/cumem.py
  vllm/engine/arg_utils.py
  vllm/engine/llm_engine.py
  vllm/entrypoints/llm.py
  vllm/executor/executor_base.py
  vllm/v1/worker/gpu_worker.py
  vllm/worker/worker.py
Owners: @tlrmchlsmth, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

[Docs] Document vulnerability disclosure process (#12326)
  docs/source/contributing/vulnerability_management.md
Owners: none

[Misc] Improve the readability of BNB error messages (#12320)
  vllm/model_executor/model_loader/loader.py
Owners: none

[Bugfix/CI] Fix broken kernels/test_mha.py (#12450)
  tests/kernels/test_mha_attn.py
  vllm/attention/layer.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix][Kernel] Fix perf regression caused by PR #12405 (#12434)
  CMakeLists.txt
Owners: @tlrmchlsmth

[Build/CI] Fix libcuda.so linkage (#12424)
  CMakeLists.txt
Owners: @tlrmchlsmth

[torch.compile] decouple compile sizes and cudagraph sizes (#12243)
  vllm/compilation/backends.py
  vllm/config.py
  vllm/engine/metrics.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
  vllm/worker/model_runner.py
  vllm/worker/worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @zhuohan123, @youkaichao

[Kernel] Flash Attention 3 Support (#12093)
  CMakeLists.txt
  setup.py
  tests/kernels/test_cascade_flash_attn.py
  tests/kernels/test_flash_attn.py
  vllm/attention/backends/flash_attn.py
  vllm/envs.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @tlrmchlsmth, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Bugfix] Fix assertion when mm hashing is turned off (#12439)
  vllm/v1/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[FlashInfer] Upgrade to 0.2.0 (#11194)
  .buildkite/test-pipeline.yaml
  Dockerfile
  tests/basic_correctness/test_basic_correctness.py
  tests/compile/test_basic_correctness.py
  tests/kernels/test_flashinfer.py
  vllm/attention/backends/flashinfer.py
  vllm/config.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/model_loader/tensorizer.py
  vllm/worker/worker_base.py
Owners: @tlrmchlsmth, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[Bugfix] Fix gpt2 GGUF inference (#12467)
  vllm/model_executor/models/gpt2.py
Owners: none

[VLM] Avoid unnecessary tokenization (#12310)
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/ultravox.py
  vllm/transformers_utils/tokenizer.py
Owners: none

[Misc] Fix the error in the tip for the --lora-modules parameter (#12319)
  vllm/entrypoints/openai/cli_args.py
Owners: none

[Doc] Add docs for prompt replacement (#12318)
  vllm/model_executor/models/ultravox.py
  vllm/multimodal/processing.py
Owners: @DarkLight1337, @ywang96

[Docs] Document Phi-4 support (#12362)
  docs/source/models/supported_models.md
Owners: none

[Misc] Remove deprecated code (#12383)
  tests/async_engine/test_api_server.py
  tests/basic_correctness/test_preemption.py
  tests/multi_step/test_correctness_async_llm.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/engine/metrics.py
Owners: @njhill, @robertgshaw2-redhat, @simon-mo, @alexm-redhat, @comaniac

[Frontend][V1] Online serving performance improvements (#12287)
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/protocol.py
  vllm/envs.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/output_processor.py
  vllm/v1/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Frontend] Coalesce bunched `RequestOutput`s (#12298)
  tests/v1/engine/test_async_llm.py
  vllm/outputs.py
  vllm/v1/engine/async_llm.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] Avoid list creation in input preparation (#12457)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] Troubleshooting errors during model inspection (#12351)
  docs/source/getting_started/troubleshooting.md
  docs/source/serving/offline_inference.md
Owners: none

[Bugfix] Fix Granite 3.0 MoE model loading (#12446)
  vllm/model_executor/models/granitemoe.py
Owners: none

[doc] explain common errors around torch.compile (#12340)
  docs/source/getting_started/troubleshooting.md
Owners: none

[core] add wake_up doc and some sanity check (#12361)
  vllm/entrypoints/llm.py
  vllm/executor/executor_base.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
