Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Misc][Doc] Minor benchmark README update (#14874)
  benchmarks/README.md
Owners: none

[Mistral-Small 3.1] Update docs and tests (#14977)
  docs/source/models/supported_models.md
  examples/offline_inference/pixtral.py
  tests/models/decoder_only/vision_language/test_pixtral.py
  tests/models/fixtures/mistral_small_3_chat.json
  tests/models/fixtures/pixtral_chat_engine.json
Owners: @DarkLight1337, @ywang96

[V1] Optimize the overhead of rewinding (#14905)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc][V1] Fix V1 APC doc (#14920)
  docs/source/design/v1/prefix_caching.md
Owners: none

[Doc] Add guidance for using `ccache` with `pip install -e .` in doc (#14901)
  docs/source/getting_started/installation/gpu/cuda.inc.md
Owners: none

[Bugfix] Fix precommit - line too long in pixtral.py (#14960)
  requirements/test.txt
  vllm/model_executor/models/pixtral.py
Owners: none

[Kernels] LoRA - Retire SGMV and BGMV Kernels (#14685)
  benchmarks/kernels/benchmark_lora.py
  tests/lora/test_punica_ops.py
  vllm/lora/ops/triton_ops/__init__.py
  vllm/lora/ops/triton_ops/bgmv_expand.py
  vllm/lora/ops/triton_ops/bgmv_expand_slice.py
  vllm/lora/ops/triton_ops/bgmv_shrink.py
  vllm/lora/ops/triton_ops/lora_expand.py
  vllm/lora/ops/triton_ops/lora_kernel_metadata.py
  vllm/lora/ops/triton_ops/lora_shrink.py
  vllm/lora/ops/triton_ops/sgmv_expand.py
  vllm/lora/ops/triton_ops/sgmv_shrink.py
  vllm/lora/ops/triton_ops/utils.py
  vllm/lora/ops/triton_ops/v1/__init__.py
  vllm/lora/punica_wrapper/punica_gpu.py
  vllm/v1/worker/lora_model_runner_mixin.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Structured Output] calculate vocab_size eagerly (#14851)
  vllm/v1/structured_output/__init__.py
Owners: @mgoin, @russellb

[Bugfix] Explicitly disable Phi-4-multimodal in V1 (#14889)
  vllm/model_executor/models/phi4mm.py
Owners: none

[V1][Minor] Add __repr__ to ConstantList (#14907)
  vllm/v1/utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Core] Expose API endpoint `/is_sleeping` (#14312)
  tests/entrypoints/openai/test_sleep.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/engine/multiprocessing/__init__.py
  vllm/engine/multiprocessing/client.py
  vllm/engine/multiprocessing/engine.py
  vllm/engine/protocol.py
  vllm/entrypoints/openai/api_server.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/llm_engine.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @ywang96

Disable outlines cache by default (#14837)
  vllm/envs.py
  vllm/model_executor/guided_decoding/outlines_logits_processors.py
Owners: @mgoin, @russellb

[Build/CI] Upgrade aiohttp to incldue CVE fix (#14840)
  requirements/test.txt
Owners: none

[V1][BugFix] Detect interleaved sliding window attention (#14896)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc][Easy] Annotate unused vars in the csrc files (#14798)
  csrc/prepare_inputs/advance_step.cu
  csrc/quantization/fp8/amd/quant_utils.cuh
  csrc/quantization/gptq/q_gemm.cu
  csrc/rocm/attention.cu
Owners: none

[Neuron] trim attention kernel tests to fit trn1.2x instance (#14988)
  tests/neuron/1_core/test_prefix_prefill.py
Owners: none

[Attention] Get rid of mla cache alignment (#14842)
  tests/kernels/test_cache.py
  vllm/envs.py
  vllm/utils.py
  vllm/worker/cache_engine.py
Owners: @tlrmchlsmth, @WoosukKwon

[CI][Intel GPU] refine intel GPU ci docker build (#14860)
  .buildkite/run-xpu-test.sh
Owners: none

[Bugfix] Fix bnb quantization for models with both HF-format and Mistral-format weights (#14950)
  tests/quantization/test_bitsandbytes.py
  vllm/model_executor/model_loader/loader.py
Owners: @mgoin, @robertgshaw2-redhat

[BugFix][V1] Fix overhead related to bad_words sampling when not in use (#14894)
  tests/v1/worker/test_gpu_input_batch.py
  vllm/sampling_params.py
  vllm/v1/worker/gpu_input_batch.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] Mamba2 Prefill Performance Tweaks: Fixing Flurry of Unnecessary Memory Copies (#14778)
  vllm/model_executor/layers/mamba/mamba_mixer2.py
Owners: none

[Bugfix] Make Gemma3 MM V0 only for now (#14971)
  docs/source/models/supported_models.md
  vllm/model_executor/models/gemma3_mm.py
Owners: none

[Build/CI] Move ninja to common deps (#14835)
  requirements/common.txt
  requirements/rocm-build.txt
  requirements/tpu.txt
  requirements/xpu.txt
Owners: none

[CPU] Support FP8 KV cache (#14741)
  csrc/cpu/cache.cpp
  csrc/cpu/cpu_types_x86.hpp
  docs/source/getting_started/installation/cpu.md
  tests/basic_correctness/test_chunked_prefill.py
  tests/models/decoder_only/language/test_fp8.py
  vllm/attention/backends/torch_sdpa.py
  vllm/platforms/cpu.py
  vllm/worker/cpu_worker.py
Owners: @DarkLight1337, @ywang96

[Doc] Fix misleading log during multi-modal profiling (#14955)
  vllm/multimodal/profiling.py
Owners: @DarkLight1337, @ywang96

Add patch merger (#14957)
  requirements/common.txt
  requirements/docs.txt
  requirements/test.in
  vllm/model_executor/models/pixtral.py
Owners: none

[V1] Default MLA to V1 (#14921)
  vllm/engine/arg_utils.py
Owners: none

[Bugfix] torchrun compatibility (#14899)
  vllm/config.py
  vllm/distributed/parallel_state.py
Owners: none

setup.py: drop assumption about local `main` branch (#14692)
  setup.py
Owners: none

[CI] Nightly Tests (#14898)
  tests/models/decoder_only/language/test_mistral.py
  tests/tool_use/utils.py
Owners: @DarkLight1337, @ywang96

[V1][TPU] Apply the ragged paged attention kernel fix and remove the padding. (#14846)
  requirements/tpu.txt
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[VLM] Clean up Phi-4-MM ViT implementation (#14812)
  requirements/test.in
  requirements/test.txt
  tests/models/decoder_only/vision_language/test_phi4mm.py
  vllm/model_executor/models/aria.py
  vllm/model_executor/models/idefics2_vision_model.py
  vllm/model_executor/models/phi4mm.py
  vllm/model_executor/models/vision_siglip_navit.py
Owners: @DarkLight1337, @ywang96

[Bugfix][V1] Fix flashinfer sampling (#14815)
  vllm/v1/sample/ops/topk_topp_sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] [Spec Decode] Support random sampling for spec decode (#13933)
  tests/v1/sample/test_rejection_sampler.py
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/sample/sampler.py
  vllm/v1/spec_decode/utils.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[VLM] Merged multi-modal processor for Pixtral (#12211)
  examples/offline_inference/pixtral.py
  tests/models/multimodal/processing/test_common.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/pixtral.py
  vllm/multimodal/processing.py
  vllm/transformers_utils/tokenizer.py
  vllm/utils.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Fix Ultravox on V1 (#14929)
  vllm/model_executor/models/ultravox.py
Owners: none

[Bugfix][Kernel]: Fix AllSpark kernel compilation errors and enable for CUDA < 12.0 (#14430)
  CMakeLists.txt
  csrc/quantization/gptq_allspark/allspark_qgemm_w8a16.cu
  csrc/quantization/gptq_allspark/allspark_utils.cuh
Owners: @tlrmchlsmth

[V1] Fix model parameterization for structured output tests (#14833)
  tests/v1/entrypoints/llm/test_struct_output_generate.py
Owners: @mgoin, @russellb

[Doc] Add vLLM Beijing meetup slide (#14938)
  README.md
Owners: none

[CI/Build] Use `AutoModelForImageTextToText` to load VLMs in tests (#14945)
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/embedding/vision_language/test_llava_next.py
  tests/models/encoder_decoder/vision_language/test_mllama.py
Owners: @DarkLight1337, @ywang96
