Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[core] improve error handling when wake up from sleep mode (#12981)
  csrc/cumem_allocator.cpp
  tests/basic_correctness/test_cumem.py
Owners: none

Allow Unsloth Dynamic 4bit BnB quants to work (#12974)
  vllm/model_executor/layers/quantization/bitsandbytes.py
Owners: none

[Misc] Remove redundant statements in scheduler.py (#13229)
  vllm/core/scheduler.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[VLM] Merged multi-modal processor for GLM4V (#12449)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  tests/models/multimodal/processing/test_common.py
  vllm/model_executor/models/chatglm.py
Owners: @DarkLight1337, @ywang96

[V1][Minor] Move scheduler outputs to a separate file (#13062)
  vllm/v1/core/scheduler.py
  vllm/v1/core/scheduler_output.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix]: Reasoning output bug according to the chat template change (#13025)
  examples/online_serving/openai_chat_completion_with_reasoning.py
  tests/entrypoints/openai/reasoning_parsers/test_deepseekr1_reasoning_parser.py
  vllm/entrypoints/openai/reasoning_parsers/deepseek_r1_reasoning_parser.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

Fix seed parameter behavior in vLLM (#13007)
  docs/seed_parameter_behavior.md
  tests/test_seed_behavior.py
  vllm/platforms/interface.py
Owners: none

Revert "Add label if pre-commit passes" (#13242)
  .github/workflows/add_label_precommit.yml
Owners: none

Set `torch_dtype` in `TransformersModel` (#13088)
  vllm/model_executor/models/transformers.py
Owners: none

[Bugfix] Fix num video tokens calculation for Qwen2-VL (#13148)
  vllm/model_executor/models/qwen2_vl.py
Owners: none

[CORE] [QUANT] Support for GPTQModel's `dynamic` quantization per module override/control (#7086)
  tests/quantization/test_gptq_dynamic.py
  tests/quantization/test_lm_head.py
  vllm/lora/layers.py
  vllm/model_executor/layers/logits_processor.py
  vllm/model_executor/layers/quantization/gptq.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/layers/quantization/utils/gptq_utils.py
  vllm/model_executor/layers/vocab_parallel_embedding.py
Owners: @mgoin, @robertgshaw2-redhat

[Bugfix/CI] Turn test_compressed_tensors_2of4_sparse back on (#13250)
  tests/quantization/test_compressed_tensors.py
Owners: @mgoin, @robertgshaw2-redhat

[Misc] Delete unused LoRA modules (#13151)
  tests/lora/test_lora_manager.py
  vllm/lora/models.py
  vllm/lora/punica_wrapper/punica_base.py
Owners: none

[perf-benchmark] cleanup unused Docker images and volumes in H100 benchmark instance (#12706)
  .buildkite/nightly-benchmarks/benchmark-pipeline.yaml
Owners: none

[Bugfix] Remove unused seq_group_metadata_list from ModelInputForGPU (#12935)
  vllm/worker/model_runner.py
Owners: none

[Bugfix] Offline example of disaggregated prefill (#13214)
  examples/offline_inference/disaggregated_prefill.py
Owners: none

Optimize moe_align_block_size for deepseek_v3 (#12850)
  csrc/moe/moe_align_sum_kernels.cu
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none

[Core] choice-based structured output with xgrammar (#12632)
  requirements-common.txt
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
Owners: none

[Bugfix][V1] GPUModelRunner._update_states should return True when there is a finished request in batch (#13126)
  tests/v1/worker/test_gpu_model_runner.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bug] [V1] Try fetching stop_reason from EngineOutput before checking the request (#13108)
  vllm/v1/engine/output_processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[core] fix sleep mode and pytorch checkpoint compatibility (#13001)
  tests/basic_correctness/test_cumem.py
  vllm/model_executor/model_loader/weight_utils.py
Owners: none

[Core] Don't do platform detection at import time (#12933)
  vllm/executor/executor_base.py
  vllm/executor/ray_utils.py
  vllm/platforms/cuda.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[Benchmark] Add BurstGPT to benchmark_serving (#13063)
  benchmarks/README.md
  benchmarks/benchmark_serving.py
Owners: none

[ROCm] Avoid using the default stream on ROCm (#13238)
  vllm/utils.py
Owners: none

[VLM] Implement merged multimodal processor for Mllama (#11427)
  tests/models/encoder_decoder/vision_language/test_mllama.py
  tests/models/multimodal/processing/test_common.py
  vllm/inputs/preprocess.py
  vllm/inputs/registry.py
  vllm/model_executor/models/mllama.py
  vllm/multimodal/inputs.py
  vllm/multimodal/processing.py
  vllm/multimodal/profiling.py
Owners: @DarkLight1337, @ywang96

[ROCm] Using a more precise memory profiling (#12624)
  vllm/platforms/rocm.py
Owners: none

[Bugfix] Support missing tool parameters in mistral tokenizer (#12884)
  tests/tokenization/test_mistral_tokenizer.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[VLM] Keep track of whether prompt replacements have been applied (#13215)
  vllm/model_executor/models/glm4v.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/qwen_vl.py
  vllm/multimodal/parse.py
  vllm/multimodal/processing.py
Owners: @DarkLight1337, @ywang96

[Misc] Log time consumption of sleep and wake-up (#13115)
  vllm/executor/executor_base.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[NVIDIA] Support nvfp4 quantization (#12784)
  CMakeLists.txt
  cmake/utils.cmake
  csrc/cuda_utils.h
  csrc/cuda_utils_kernels.cu
  csrc/ops.h
  csrc/quantization/fp4/nvfp4_quant_entry.cu
  csrc/quantization/fp4/nvfp4_quant_kernels.cu
  csrc/torch_bindings.cpp
  tests/kernels/test_nvfp4_quant.py
  tests/test_scalartype.py
  vllm/_custom_ops.py
  vllm/scalar_type.py
Owners: @tlrmchlsmth, @WoosukKwon

[Misc] LoRA - Refactor Punica ops tests (#12970)
  tests/lora/test_punica_ops.py
  tests/lora/test_punica_ops_sizes.py
  tests/lora/test_punica_ops_variation.py
  tests/lora/utils.py
Owners: none

[Bugfix] fix flaky test (#13089)
  tests/test_seed_behavior.py
Owners: none

[Bugfix] Allow fallback to AWQ from AWQMarlin at per-layer granularity (#13119)
  vllm/model_executor/layers/linear.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/moe_wna16.py
  vllm/model_executor/layers/quantization/utils/marlin_utils.py
Owners: none

Fix initializing GGUF weights for ColumnParallelLinear when using tensor parallel > 1 (#13023)
  vllm/model_executor/layers/linear.py
Owners: none

[CI/Build] Ignore ruff warning up007 (#13182)
  pyproject.toml
Owners: none

[Bugfix][CI] Inherit codespell settings from pyproject.toml in the pre-commit-config (#13237)
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

Expand MLA to support most types of quantization (#13181)
  vllm/attention/backends/mla/utils.py
  vllm/config.py
  vllm/model_executor/model_loader/loader.py
Owners: none

[BugFix] Pop instead of del CUDA_VISIBLE_DEVICES (#12962)
  examples/offline_inference/rlhf.py
  examples/offline_inference/rlhf_colocate.py
  tests/distributed/test_comm_ops.py
  tests/distributed/test_custom_all_reduce.py
Owners: none

[bugfix] fix early import of flash attention (#12959)
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/mla/utils.py
  vllm/attention/backends/utils.py
  vllm/v1/attention/backends/flash_attn.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] Simplify GPUModelRunner._update_states check (#13265)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
