Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Misc] Clean up Kimi-VL (#16833)
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  vllm/model_executor/models/kimi_vl.py
Owners: none

[Core][Bugfix] Fix Offline MM Beam Search (#16390)
  tests/conftest.py
  tests/samplers/test_beam_search.py
  vllm/beam_search.py
  vllm/entrypoints/llm.py
Owners: none

[Doc] Updated Llama section in tool calling docs to have llama 3.2 config info (#16857)
  docs/source/features/tool_calling.md
Owners: none

[ROCm] [Attention] Cleanup ROCm output passing (#16431)
  vllm/attention/backends/rocm_flash_attn.py
Owners: none

Improve configs - `SchedulerConfig` (#16533)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/openai/cli_args.py
  vllm/entrypoints/openai/run_batch.py
Owners: none

[Model] support modernbert (#16648)
  docs/source/models/supported_models.md
  tests/models/registry.py
  vllm/model_executor/models/modernbert.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

Improve-mm-and-pooler-and-decoding-configs (#16789)
  docs/source/models/supported_models.md
  docs/source/serving/multimodal_inputs.md
  examples/offline_inference/mistral-small.py
  examples/online_serving/openai_chat_completion_client_for_multimodal.py
  tests/engine/test_arg_utils.py
  tests/entrypoints/openai/test_audio.py
  tests/entrypoints/openai/test_video.py
  tests/entrypoints/openai/test_vision.py
  tests/entrypoints/openai/test_vision_embedding.py
  tests/models/decoder_only/audio_language/test_ultravox.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/multimodal/processing.py
  vllm/multimodal/registry.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

[doc] add open-webui example (#16747)
  docs/source/assets/deployment/open_webui.png
  docs/source/deployment/frameworks/index.md
  docs/source/deployment/frameworks/open-webui.md
Owners: none

[Misc] Update outdated note: LMCache now supports chunked prefill (#16697)
  examples/offline_inference/cpu_offload_lmcache.py
Owners: none

[Hardware] Add processor inputs to platform validation (#16680)
  vllm/platforms/interface.py
  vllm/platforms/tpu.py
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Update Florence-2 tokenizer to make grounding tasks work (#16734)
  examples/offline_inference/encoder_decoder_multimodal.py
  examples/offline_inference/vision_language.py
  tests/conftest.py
  tests/models/encoder_decoder/vision_language/test_florence2.py
  tests/models/registry.py
Owners: @DarkLight1337, @ywang96

[Ray] Improve documentation on batch inference (#16609)
  examples/offline_inference/batch_llm_inference.py
  examples/offline_inference/distributed.py
Owners: none

Add docs for runai_streamer_sharded (#17093)
  docs/source/models/extensions/runai_model_streamer.md
Owners: none

Improve static type checking in `LoRAModelRunnerMixin` (#17104)
  vllm/v1/worker/lora_model_runner_mixin.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] validate urls object for multimodal content parts (#16990)
  tests/entrypoints/openai/test_audio.py
  tests/entrypoints/openai/test_video.py
  tests/entrypoints/openai/test_vision.py
  vllm/entrypoints/chat_utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Misc] Improve readability of get_open_port function. (#17024)
  vllm/utils.py
Owners: none

[XPU][Bugfix] minor fix for XPU (#15591)
  docs/source/getting_started/installation/gpu/xpu.inc.md
  vllm/attention/backends/ipex_attn.py
Owners: none

[Doc] Update ai_accelerator/hpu-gaudi.inc.md (#16956)
  docs/source/getting_started/installation/ai_accelerator/hpu-gaudi.inc.md
Owners: none

Add missing rocm_skinny_gemms kernel test to CI (#17060)
  tests/kernels/quant_utils.py
  tests/kernels/quantization/test_block_fp8.py
  tests/kernels/quantization/test_block_int8.py
  tests/kernels/quantization/test_rocm_skinny_gemms.py
  tests/kernels/utils_block.py
Owners: @tlrmchlsmth, @WoosukKwon

[V1] Avoid socket errors during shutdown when requests are in in-flight (#16807)
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Kernel] Add expert_map support to Cutlass FP8 MOE (#16861)
  csrc/quantization/cutlass_w8a8/moe/moe_data.cu
  tests/kernels/test_cutlass_moe.py
  vllm/config.py
  vllm/model_executor/layers/fused_moe/cutlass_moe.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[doc] add download path tips (#17013)
  docs/source/models/supported_models.md
Owners: none

[Perf] Optimize `_update_states` for GPU model runner (#16910)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[misc] tune some env vars for GB200 (#16992)
  vllm/env_override.py
Owners: none

[CI/Build] workaround for CI build failure (#17070)
  docker/Dockerfile
Owners: none

Use `@property` and private field for `data_parallel_rank_local` (#17053)
  vllm/config.py
  vllm/v1/engine/core_client.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Improve Transformers backend model loading QoL (#17039)
  vllm/model_executor/model_loader/utils.py
Owners: none

[Misc] refactor example series (#16972)
  examples/online_serving/openai_chat_completion_tool_calls_with_reasoning.py
Owners: none

[V1] Update structured output (#16812)
  benchmarks/benchmark_serving_structured_output.py
  docs/source/features/structured_outputs.md
  examples/online_serving/openai_chat_completion_structured_outputs.py
  examples/online_serving/openai_chat_completion_structured_outputs_with_reasoning.py
Owners: none

Ensure that `pid` passed to `kill_process_tree` is `int` for `mypy` (#17051)
  vllm/v1/utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[FEAT][ROCm]: Support AITER MLA (#15893)
  tests/kernels/test_attention_selector.py
  tests/kernels/test_rocm_attention_selector.py
  vllm/attention/backends/mla/common.py
  vllm/attention/backends/rocm_aiter_mla.py
  vllm/attention/ops/rocm_aiter_mla.py
  vllm/config.py
  vllm/envs.py
  vllm/platforms/interface.py
  vllm/platforms/rocm.py
Owners: @tlrmchlsmth, @WoosukKwon

[Misc] refactor example series - structured outputs (#17040)
  examples/online_serving/openai_chat_completion_structured_outputs.py
  examples/online_serving/openai_chat_completion_structured_outputs_with_reasoning.py
Owners: none

[Doc] Split dummy_processor_inputs() in Multimodal Docs (#16915)
  docs/source/contributing/model/multimodal.md
  docs/source/design/mm_processing.md
Owners: none

[Doc] Add top anchor and a note to quantization/bitblas.md (#17042)
  docs/source/features/quantization/bitblas.md
Owners: none

Improve configs - `CacheConfig` (#16835)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/platforms/neuron.py
Owners: none

[Bugfix][Core] add seq_id_to_seq_group clearing to avoid memory leak when s… (#16472)
  vllm/outputs.py
Owners: none

[Bugfix] Fix GLM rotary_dim issue and support v1 (#16912)
  vllm/model_executor/models/glm.py
Owners: none

More informative error when using Transformers backend (#16988)
  docs/source/models/supported_models.md
  vllm/model_executor/model_loader/utils.py
Owners: none

[Core] Speed up decode by remove synchronizing operation in sampler (#16436)
  vllm/model_executor/layers/utils.py
Owners: none

[Doc] mention how to install in CPU editable mode (#16923)
  docs/source/getting_started/installation/cpu/build.inc.md
Owners: none
