Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill, @tlrmchlsmth, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/core @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/engine/llm_engine.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/executor/executor_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/model_executor/layers/sampler.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
CMakeLists.txt @tlrmchlsmth @WoosukKwon

# Test ownership
/tests/async_engine @njhill @robertgshaw2-neuralmagic @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-neuralmagic
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[CI/Build] VLM Test Consolidation (#9372)
  .buildkite/test-pipeline.yaml
  tests/conftest.py
  tests/engine/test_short_mm_context.py
  tests/models/decoder_only/audio_language/test_ultravox.py
  tests/models/decoder_only/language/test_qwen.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/__init__.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_llava_next.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_phi3v.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_qwen.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_qwen2_vl.py
  tests/models/decoder_only/vision_language/test_blip2.py
  tests/models/decoder_only/vision_language/test_broadcast.py
  tests/models/decoder_only/vision_language/test_chameleon.py
  tests/models/decoder_only/vision_language/test_fuyu.py
  tests/models/decoder_only/vision_language/test_glm4.py
  tests/models/decoder_only/vision_language/test_internvl.py
  tests/models/decoder_only/vision_language/test_llava.py
  tests/models/decoder_only/vision_language/test_llava_image_embeds.py
  tests/models/decoder_only/vision_language/test_llava_next.py
  tests/models/decoder_only/vision_language/test_llava_next_video.py
  tests/models/decoder_only/vision_language/test_llava_onevision.py
  tests/models/decoder_only/vision_language/test_minicpmv.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/test_paligemma.py
  tests/models/decoder_only/vision_language/test_phi3v.py
  tests/models/decoder_only/vision_language/test_qwen.py
  tests/models/decoder_only/vision_language/vlm_utils/__init__.py
  tests/models/decoder_only/vision_language/vlm_utils/builders.py
  tests/models/decoder_only/vision_language/vlm_utils/case_filtering.py
  tests/models/decoder_only/vision_language/vlm_utils/core.py
  tests/models/decoder_only/vision_language/vlm_utils/custom_inputs.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/decoder_only/vision_language/vlm_utils/runners.py
  tests/models/decoder_only/vision_language/vlm_utils/types.py
  tests/models/embedding/vision_language/test_llava_next.py
  tests/models/encoder_decoder/vision_language/test_mllama.py
  tests/utils.py
  vllm/utils.py
Owners: @DarkLight1337, @ywang96

[Misc] Upgrade to pytorch 2.5 (#9588)
  CMakeLists.txt
  cmake/utils.cmake
  pyproject.toml
  requirements-build.txt
  requirements-cuda.txt
  requirements-openvino.txt
  tests/models/decoder_only/language/test_big_models.py
  vllm/platforms/cuda.py
Owners: @tlrmchlsmth, @WoosukKwon, @DarkLight1337, @ywang96

[Misc] SpecDecodeWorker supports profiling (#9719)
  vllm/spec_decode/spec_decode_worker.py
Owners: none

[Bugfix]Disable the post_norm layer of the vision encoder for LLaVA models (#9653)
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
Owners: none

[Bugfix] Fix layer skip logic with bitsandbytes (#9887)
  vllm/model_executor/layers/quantization/bitsandbytes.py
Owners: none

[Model] Support math-shepherd-mistral-7b-prm model (#9697)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/engine/llm_engine.py
  vllm/entrypoints/llm.py
  vllm/model_executor/layers/pooler.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/bert.py
  vllm/model_executor/models/gemma2.py
  vllm/model_executor/models/llama.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/qwen2_cls.py
  vllm/model_executor/models/qwen2_rm.py
  vllm/model_executor/models/registry.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Hardware][openvino] is_openvino --> current_platform.is_openvino (#9716)
  tests/kernels/test_attention_selector.py
  vllm/attention/selector.py
  vllm/config.py
  vllm/executor/openvino_executor.py
  vllm/model_executor/model_loader/openvino.py
  vllm/platforms/__init__.py
  vllm/platforms/interface.py
  vllm/platforms/openvino.py
  vllm/utils.py
  vllm/worker/openvino_worker.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix] Remove xformers requirement for Pixtral (#9597)
  vllm/model_executor/models/pixtral.py
Owners: none

[Model] Add BNB quantization support for Mllama (#9720)
  vllm/model_executor/layers/quantization/bitsandbytes.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/mllama.py
Owners: none

Increase operation per run limit for "Close inactive issues and PRs" workflow (#9661)
  .github/workflows/stale.yml
Owners: none

[Neuron] Update Dockerfile.neuron to fix build failure (#9822)
  Dockerfile.neuron
Owners: none

[Model][LoRA]LoRA support added for Qwen (#9622)
  vllm/lora/models.py
  vllm/model_executor/models/qwen.py
Owners: none

Adding "torch compile" annotations to moe models (#9758)
  vllm/model_executor/models/arctic.py
  vllm/model_executor/models/mixtral.py
  vllm/model_executor/models/olmoe.py
  vllm/model_executor/models/phimoe.py
Owners: none

[Kernel] add kernel for FATReLU (#9610)
  csrc/activation_kernels.cu
  csrc/ops.h
  csrc/torch_bindings.cpp
  tests/kernels/test_activation.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/activation.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix] Use temporary directory in registry (#9721)
  vllm/model_executor/models/registry.py
Owners: none

[BugFix][Kernel] Fix Illegal memory access in causal_conv1d in H100 (#9838)
  csrc/mamba/causal_conv1d/causal_conv1d.cu
  tests/kernels/test_causal_conv1d.py
  tests/kernels/test_mamba_ssm.py
Owners: @tlrmchlsmth, @WoosukKwon

[Doc] Update multi-input support (#9906)
  docs/source/models/supported_models.rst
Owners: none

[torch.compile] upgrade tests (#9858)
  tests/compile/test_basic_correctness.py
Owners: none

Update README.md (#9819)
  README.md
Owners: none

[torch.compile] Adding torch compile annotations to some models (#9876)
  docs/source/models/supported_models.rst
  tests/distributed/test_pipeline_parallel.py
  vllm/model_executor/models/falcon.py
  vllm/model_executor/models/phi.py
  vllm/model_executor/models/qwen.py
  vllm/model_executor/models/qwen2.py
  vllm/model_executor/models/qwen2_moe.py
Owners: @youkaichao

[Bugfix][core] replace heartbeat with pid check (#9818)
  tests/mq_llm_engine/test_error_handling.py
  tests/mq_llm_engine/utils.py
  vllm/engine/multiprocessing/client.py
  vllm/engine/multiprocessing/engine.py
  vllm/entrypoints/openai/api_server.py
Owners: none

[ci/Build] Skip Chameleon for transformers 4.46.0 on broadcast test #9675 (#9676)
  tests/models/decoder_only/vision_language/test_broadcast.py
Owners: @DarkLight1337, @ywang96

[Hardware][ROCM] using current_platform.is_rocm (#9642)
  tests/basic_correctness/test_basic_correctness.py
  tests/compile/utils.py
  tests/kernels/quant_utils.py
  tests/kernels/test_attention.py
  tests/kernels/test_attention_selector.py
  tests/kernels/test_blocksparse_attention.py
  tests/kernels/test_encoder_decoder_attn.py
  tests/kernels/test_moe.py
  tests/lora/test_gemma.py
  tests/lora/test_quant_model.py
  tests/models/decoder_only/vision_language/test_paligemma.py
  tests/models/decoder_only/vision_language/test_phi3v.py
  tests/spec_decode/e2e/test_integration_dist_tp2.py
  tests/utils.py
  vllm/_custom_ops.py
  vllm/attention/ops/blocksparse_attention/interface.py
  vllm/attention/selector.py
  vllm/config.py
  vllm/executor/ray_utils.py
  vllm/model_executor/custom_op.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/compressed_tensors/schemes/compressed_tensors_w8a8_fp8.py
  vllm/model_executor/layers/quantization/fbgemm_fp8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
  vllm/model_executor/models/exaone.py
  vllm/model_executor/models/granite.py
  vllm/model_executor/models/llama.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/solar.py
  vllm/utils.py
  vllm/worker/model_runner.py
Owners: @tlrmchlsmth, @WoosukKwon, @DarkLight1337, @ywang96, @njhill, @LiuXiaoxuanPKU

[misc] avoid circular import (#9765)
  vllm/sequence.py
Owners: none

[Docs] Add notes about Snowflake Meetup (#9814)
  README.md
Owners: none

[1/N] pass the complete config from engine to executor (#9933)
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/engine/multiprocessing/engine.py
  vllm/executor/executor_base.py
  vllm/executor/xpu_executor.py
  vllm/v1/engine/llm_engine.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Performance][Kernel] Fused_moe Performance Improvement (#9384)
  CMakeLists.txt
  csrc/moe/moe_align_sum_kernels.cu
  csrc/moe/moe_ops.h
  csrc/moe/torch_bindings.cpp
  csrc/ops.h
  csrc/torch_bindings.cpp
  tests/kernels/test_moe.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: @tlrmchlsmth, @WoosukKwon

[torch.compile] support moe models (#9632)
  benchmarks/kernels/benchmark_moe.py
  tests/compile/test_basic_correctness.py
  tests/kernels/test_awq_marlin.py
  tests/kernels/test_moe.py
  vllm/model_executor/layers/fused_moe/__init__.py
  vllm/model_executor/layers/fused_moe/fused_marlin_moe.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/models/granitemoe.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix][Frontend] Guard against bad token ids (#9634)
  tests/entrypoints/llm/test_prompt_validation.py
  tests/entrypoints/openai/test_completion.py
  tests/entrypoints/openai/test_prompt_validation.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/transformers_utils/tokenizer.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[CI/Build] Fix VLM test failures when using transformers v4.46 (#9666)
  tests/conftest.py
  tests/models/decoder_only/vision_language/test_chameleon.py
  tests/models/decoder_only/vision_language/test_minicpmv.py
  tests/models/decoder_only/vision_language/test_paligemma.py
Owners: @DarkLight1337, @ywang96

[torch.compile] directly register custom op (#9896)
  tests/compile/piecewise/test_simple.py
  tests/compile/piecewise/test_toy_llama.py
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/flashinfer.py
  vllm/distributed/parallel_state.py
  vllm/model_executor/layers/fused_moe/fused_marlin_moe.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/utils.py
  vllm/v1/attention/backends/flash_attn.py
Owners: none

[Doc] Move additional tips/notes to the top (#9647)
  docs/source/models/supported_models.rst
Owners: none

[torch.compile] rework test plans (#9866)
  tests/compile/test_basic_correctness.py
  tests/utils.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/phi3v.py
Owners: none

[Bugfix] Fix edge cases for MistralTokenizer (#9625)
  tests/tokenization/test_detokenize.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[CI/Build] Add Model Tests for Qwen2-VL (#9846)
  .buildkite/test-pipeline.yaml
  examples/offline_inference_vision_language.py
  tests/models/decoder_only/audio_language/test_ultravox.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_qwen2_vl.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/decoder_only/vision_language/vlm_utils/runners.py
  tests/models/decoder_only/vision_language/vlm_utils/types.py
  tests/models/embedding/vision_language/test_llava_next.py
Owners: @DarkLight1337, @ywang96

[Misc] Add chunked-prefill support on FlashInfer. (#9781)
  tests/basic_correctness/test_chunked_prefill.py
  vllm/attention/backends/flashinfer.py
Owners: none

[Bugfix] Fix `illegal memory access` error with chunked prefill, prefix caching, block manager v2 and xformers enabled together (#9532)
  tests/prefix_caching/test_prefix_caching.py
  vllm/attention/backends/utils.py
Owners: @comaniac, @KuntaiDu

[Model] tool calling support for ibm-granite/granite-20b-functioncalling (#8339)
  docs/source/serving/openai_compatible_server.md
  examples/tool_chat_template_granite_20b_fc.jinja
  tests/tool_use/utils.py
  vllm/entrypoints/openai/tool_parsers/__init__.py
  vllm/entrypoints/openai/tool_parsers/granite_20b_fc_tool_parser.py
  vllm/entrypoints/openai/tool_parsers/utils.py
Owners: none

[Hardware] using current_platform.seed_everything (#9785)
  benchmarks/kernels/benchmark_layernorm.py
  benchmarks/kernels/benchmark_moe.py
  benchmarks/kernels/benchmark_paged_attention.py
  benchmarks/kernels/benchmark_quant.py
  benchmarks/kernels/benchmark_rope.py
  tests/kernels/test_activation.py
  tests/kernels/test_attention.py
  tests/kernels/test_awq_triton.py
  tests/kernels/test_blocksparse_attention.py
  tests/kernels/test_cache.py
  tests/kernels/test_causal_conv1d.py
  tests/kernels/test_flash_attn.py
  tests/kernels/test_flashinfer.py
  tests/kernels/test_fp8_quant.py
  tests/kernels/test_gguf.py
  tests/kernels/test_int8_quant.py
  tests/kernels/test_layernorm.py
  tests/kernels/test_mamba_ssm.py
  tests/kernels/test_moe.py
  tests/kernels/test_pos_encoding.py
  tests/kernels/test_prefix_prefill.py
  tests/lora/test_layers.py
  tests/lora/test_punica_sizes.py
  tests/lora/test_punica_variation.py
  vllm/model_executor/utils.py
  vllm/platforms/interface.py
  vllm/utils.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix] Fix multi nodes TP+PP for XPU (#8884)
  docs/source/getting_started/xpu-installation.rst
  requirements-xpu.txt
  vllm/distributed/parallel_state.py
  vllm/executor/xpu_executor.py
  vllm/platforms/__init__.py
  vllm/platforms/xpu.py
  vllm/worker/xpu_worker.py
Owners: none
