Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

[Bugfix]Fix index out of range error in api server log (#16787)
  vllm/entrypoints/openai/api_server.py
Owners: none

[Bugfix][Kernel] fix potential cuda graph broken for merge_attn_states kernel (#16693)
  csrc/attention/merge_attn_states.cu
Owners: none

[Misc] Update usage with mooncake lib for kv transfer (#16523)
  vllm/distributed/kv_transfer/kv_lookup_buffer/mooncake_store.py
  vllm/distributed/kv_transfer/kv_pipe/mooncake_pipe.py
Owners: none

[DOC][TPU] Add core idea about avoiding recompilation after warmup (#16614)
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[rocm][MI300] llama4 maverick fp8 moe config tp8 (#16847)
  vllm/model_executor/layers/fused_moe/configs/E=128,N=1024,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8.json
Owners: none

Add `vllm bench [latency, throughput]` CLI commands (#16508)
  .buildkite/test-pipeline.yaml
  tests/benchmarks/__init__.py
  tests/benchmarks/test_latency_cli.py
  tests/benchmarks/test_serve_cli.py
  tests/benchmarks/test_throughput_cli.py
  vllm/benchmarks/datasets.py
  vllm/benchmarks/latency.py
  vllm/benchmarks/throughput.py
  vllm/entrypoints/cli/benchmark/latency.py
  vllm/entrypoints/cli/benchmark/main.py
  vllm/entrypoints/cli/benchmark/throughput.py
Owners: none

[Frontend] Add sampling params to `v1/audio/transcriptions` endpoint (#16591)
  docs/source/serving/openai_compatible_server.md
  examples/online_serving/openai_transcription_client.py
  tests/entrypoints/openai/test_transcription_validation.py
  vllm/entrypoints/openai/protocol.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[fix]: Dockerfile.ppc64le fixes for opencv-python and hf-xet (#16048)
  docker/Dockerfile.ppc64le
Owners: none

[Doc] Document Matryoshka Representation Learning support (#16770)
  docs/source/models/pooling_models.md
  examples/online_serving/openai_embedding_matryoshka_fy.py
Owners: none

s390x: Fix PyArrow build and add CPU test script for Buildkite CI (#16036)
  .buildkite/scripts/hardware_ci/run-cpu-test-s390x.sh
  docker/Dockerfile.s390x
Owners: none

[V1] Remove log noise when idle (#16735)
  vllm/v1/metrics/loggers.py
  vllm/v1/spec_decode/metrics.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Spec Dec Bug Fix] Respect Spec Dec Method Specification (#16636)
  vllm/config.py
Owners: none

Improve configs - `TokenizerPoolConfig` + `DeviceConfig` (#16603)
  tests/test_config.py
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: none

[V1][Frontend] Improve Shutdown And Logs (#11737)
  .buildkite/test-pipeline.yaml
  tests/v1/shutdown/test_delete.py
  tests/v1/shutdown/test_forward_error.py
  tests/v1/shutdown/test_processor_error.py
  tests/v1/shutdown/test_startup_error.py
  tests/v1/shutdown/utils.py
  vllm/distributed/device_communicators/shm_broadcast.py
  vllm/entrypoints/launcher.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/exceptions.py
  vllm/v1/engine/output_processor.py
  vllm/v1/executor/abstract.py
  vllm/v1/executor/multiproc_executor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Feature] add model aware kv ops helper (#16020)
  vllm/distributed/kv_transfer/kv_connector/mooncake_store_connector.py
  vllm/distributed/kv_transfer/kv_connector/simple_connector.py
  vllm/distributed/kv_transfer/kv_connector/utils.py
Owners: none

[Model] Refactor Phi-4-multimodal to use merged processor and support V1 (#15477)
  docs/source/models/supported_models.md
  examples/offline_inference/audio_language.py
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  requirements/docs.txt
  tests/models/decoder_only/audio_language/test_ultravox.py
  tests/models/decoder_only/vision_language/test_phi4mm.py
  tests/models/multimodal/processing/test_common.py
  tests/models/multimodal/processing/test_phi4mm.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/phi4mm.py
  vllm/model_executor/models/phi4mm_audio.py
  vllm/multimodal/audio.py
  vllm/multimodal/parse.py
Owners: @DarkLight1337, @ywang96

[Doc] Improve OOM troubleshooting (#16704)
  docs/source/getting_started/troubleshooting.md
  docs/source/serving/offline_inference.md
Owners: none

[Bugfix] fix pp for llama4 (#16746)
  vllm/model_executor/models/mllama4.py
Owners: none

[V1][Metrics] Fix http metrics middleware (#15894)
  docs/source/design/v1/metrics.md
  vllm/entrypoints/openai/api_server.py
Owners: none

[P/D][V1] KV Connector API V1 (#15960)
  examples/offline_inference/disaggregated-prefill-v1/decode_example.py
  examples/offline_inference/disaggregated-prefill-v1/prefill_example.py
  examples/offline_inference/disaggregated-prefill-v1/run.sh
  tests/v1/core/test_scheduler.py
  vllm/attention/layer.py
  vllm/distributed/kv_transfer/__init__.py
  vllm/distributed/kv_transfer/kv_connector/base.py
  vllm/distributed/kv_transfer/kv_connector/factory.py
  vllm/distributed/kv_transfer/kv_connector/v1/__init__.py
  vllm/distributed/kv_transfer/kv_connector/v1/base.py
  vllm/distributed/kv_transfer/kv_connector/v1/shared_storage_connector.py
  vllm/distributed/kv_transfer/kv_connector_agent.py
  vllm/distributed/kv_transfer/kv_transfer_state.py
  vllm/distributed/parallel_state.py
  vllm/engine/arg_utils.py
  vllm/forward_context.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/sched/output.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/engine/core.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
  vllm/worker/model_runner.py
  vllm/worker/worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @zhuohan123, @youkaichao

Add hardware print to TPU V1 test (#16792)
  .buildkite/scripts/hardware_ci/run-tpu-v1-test.sh
Owners: none

[Misc] refactor examples series (#16708)
  examples/offline_inference/llm_engine_example.py
  examples/online_serving/gradio_openai_chatbot_webserver.py
  examples/online_serving/openai_chat_completion_client_for_multimodal.py
  examples/online_serving/openai_chat_completion_client_with_tools_required.py
  examples/online_serving/openai_chat_completion_with_reasoning.py
  examples/online_serving/openai_chat_completion_with_reasoning_streaming.py
  examples/online_serving/openai_chat_embedding_client_for_multimodal.py
  examples/online_serving/openai_completion_client.py
  examples/online_serving/openai_cross_encoder_score.py
  examples/online_serving/openai_embedding_client.py
  examples/online_serving/openai_pooling_client.py
Owners: none

[Misc] Modify LRUCache touch (#16689)
  vllm/utils.py
Owners: none

[Doc] Improve help examples for `--compilation-config` (#16729)
  docs/source/design/v1/torch_compile.md
  tests/engine/test_arg_utils.py
  vllm/engine/arg_utils.py
Owners: none

[ROCM] enable aiter fused moe kernel for llama4 bf16 checkpoints (#16674)
  vllm/model_executor/layers/fused_moe/rocm_aiter_fused_moe.py
Owners: none

config check sleep mode support oot platforms (#16562)
  vllm/config.py
  vllm/platforms/interface.py
Owners: none

Disable remote caching when calling compile_fx (#16611)
  vllm/compilation/compiler_interface.py
Owners: none

[Bugfix] Revert max_prompt_len validation for decoder-only models. (#16741)
  vllm/engine/llm_engine.py
  vllm/v1/engine/processor.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

Fix triton install condition on CPU (#16600)
  requirements/cpu.txt
Owners: none

[Misc] refactor examples series - Chat Completion Client With Tools (#16829)
  examples/online_serving/openai_chat_completion_client_with_tools.py
Owners: none

[Doc] Add more tips to avoid OOM (#16765)
  docs/source/serving/offline_inference.md
  docs/source/serving/openai_compatible_server.md
Owners: none

[rocm][V0] fix selection logic for custom PA in V0 (#16426)
  vllm/platforms/rocm.py
Owners: none

Add property-based testing for vLLM endpoints using an API defined by an OpenAPI 3.1 schema (#16721)
  .buildkite/test-pipeline.yaml
  requirements/test.in
  requirements/test.txt
  tests/entrypoints/openai/test_openai_schema.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Misc] Update `compressed-tensors` WNA16 to support zero-points (#14211)
  tests/quantization/test_compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/schemes/compressed_tensors_wNa16.py
  vllm/model_executor/layers/quantization/kernels/mixed_precision/machete.py
  vllm/model_executor/layers/quantization/kernels/mixed_precision/marlin.py
  vllm/model_executor/layers/quantization/utils/marlin_utils.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[V1][Structured Output] Move xgrammar related utils to `backend_xgrammar.py` (#16578)
  tests/v1/structured_output/test_utils.py
  vllm/v1/engine/processor.py
  vllm/v1/structured_output/backend_xgrammar.py
  vllm/v1/structured_output/utils.py
Owners: @mgoin, @russellb, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] Add PLaMo2 (#14323)
  .buildkite/test-pipeline.yaml
  docs/source/models/supported_models.md
  requirements/test.in
  requirements/test.txt
  tests/models/decoder_only/language/test_hybrid.py
  tests/models/registry.py
  vllm/config.py
  vllm/model_executor/models/plamo2.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[V1][Misc] stop update prefix cache stats when logs_stats is disabled (#16460)
  tests/v1/core/test_prefix_caching.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/sched/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Enable vLLM to Dynamically Load LoRA from a Remote Server (#10546)
  docs/source/features/lora.md
  tests/entrypoints/openai/test_lora_resolvers.py
  tests/lora/test_resolver.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/entrypoints/openai/serving_models.py
  vllm/lora/resolver.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Misc] Remove redundant comment (#16703)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] add podman setup instructions for official image (#16796)
  docs/source/deployment/docker.md
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao
