Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[Doc] Consolidate `whisper` and `florence2` examples (#14050)
  examples/offline_inference/audio_language.py
  examples/offline_inference/encoder_decoder_multimodal.py
  examples/offline_inference/florence2_inference.py
  examples/offline_inference/whisper.py
  vllm/model_executor/models/whisper.py
Owners: none

[Misc] Fix input processing for Ultravox (#13871)
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/model_executor/models/ultravox.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Backend option to disable xgrammar any_whitespace (#12744)
  tests/entrypoints/llm/test_guided_generate.py
  vllm/engine/arg_utils.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Bugfix] Do not crash V0 engine on input errors (#13101)
  tests/mq_llm_engine/test_error_handling.py
  vllm/engine/llm_engine.py
  vllm/engine/multiprocessing/engine.py
  vllm/worker/model_runner.py
  vllm/worker/model_runner_base.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[Bugfix] Fix deepseek-vl2 inference with more than 2 images (#13818)
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/h2ovl.py
Owners: none

[v1] Cleanup the BlockTable in InputBatch (#13977)
  tests/v1/worker/test_gpu_model_runner.py
  vllm/v1/worker/block_table.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc][Kernel]: Add GPTQAllSpark Quantization (#12931)
  CMakeLists.txt
  benchmarks/kernels/benchmark_marlin.py
  csrc/quantization/gptq_allspark/allspark_qgemm_w8a16.cu
  csrc/quantization/gptq_allspark/allspark_repack.cu
  csrc/quantization/gptq_allspark/allspark_utils.cuh
  csrc/torch_bindings.cpp
  tests/kernels/test_allspark_gemm.py
  tests/quantization/test_compressed_tensors.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/quantization/kernels/mixed_precision/__init__.py
  vllm/model_executor/layers/quantization/kernels/mixed_precision/allspark.py
  vllm/model_executor/layers/quantization/utils/allspark_utils.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[v1] Move block pool operations to a separate class (#13973)
  tests/v1/core/test_prefix_caching.py
  vllm/v1/core/block_pool.py
  vllm/v1/core/kv_cache_manager.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Documentation] Add more deployment guide for Kubernetes deployment (#13841)
  docs/source/deployment/integrations/index.md
  docs/source/deployment/integrations/production-stack.md
  docs/source/deployment/k8s.md
Owners: none

[ROCm] Disable chunked prefill/prefix caching when running MLA on non-cuda platforms (#13844)
  vllm/attention/backends/mla/common.py
  vllm/config.py
Owners: none

[torch.compile] Fix RMSNorm + quant fusion in the non-cutlass-fp8 case, rename RedundantReshapesPass to NoopEliminationPass (#10902)
  tests/compile/backend.py
  tests/compile/test_functionalization.py
  tests/compile/test_fusion.py
  vllm/compilation/noop_elimination.py
  vllm/compilation/pass_manager.py
  vllm/compilation/reshapes.py
  vllm/compilation/vllm_inductor_pass.py
  vllm/config.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
Owners: none

[Model] Add LoRA support for TransformersModel (#13770)
  .buildkite/test-pipeline.yaml
  docs/source/models/supported_models.md
  tests/lora/conftest.py
  tests/lora/test_transfomers_model.py
  vllm/lora/layers.py
  vllm/lora/utils.py
  vllm/model_executor/models/transformers.py
Owners: none

[ROCm][Quantization][Kernel] Use FP8 FNUZ when OCP flag is 0 or undefined (#13851)
  csrc/quantization/fp8/amd/quant_utils.cuh
Owners: none

[misc] Show driver IP info when Ray fails to allocate driver worker (#13858)
  vllm/executor/ray_distributed_executor.py
Owners: none

[core] Bump ray to 2.43 (#13994)
  .github/dependabot.yml
  requirements-cuda.txt
  requirements-test.in
  requirements-test.txt
  vllm/executor/ray_distributed_executor.py
Owners: none

Update AutoAWQ docs (#14042)
  docs/source/features/quantization/auto_awq.md
Owners: none

[v0][Core] Use xgrammar shared context to avoid copy overhead for offline engine (#13837)
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
Owners: none

[Bugfix] Fix MoeWNA16Method activation (#14024)
  vllm/model_executor/layers/quantization/moe_wna16.py
Owners: none

[VLM] Support multimodal inputs for Florence-2 models (#13320)
  docs/source/models/supported_models.md
  examples/offline_inference/florence2_inference.py
  examples/offline_inference/vision_language.py
  tests/conftest.py
  tests/models/decoder_only/audio_language/test_ultravox.py
  tests/models/encoder_decoder/vision_language/test_florence2.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/model_executor/models/bart.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/registry.py
  vllm/multimodal/processing.py
  vllm/multimodal/profiling.py
Owners: @DarkLight1337, @ywang96

[v1][Bugfix] Only cache blocks that are not in the prefix cache (#14073)
  vllm/v1/core/block_pool.py
  vllm/v1/core/kv_cache_manager.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Neuron] Add custom_ops for neuron backend (#13246)
  tests/neuron/test_activation.py
  tests/neuron/test_layernorm.py
  tests/neuron/test_logits_processor.py
  tests/neuron/test_prefix_prefill.py
  tests/neuron/test_rotary_embedding.py
  vllm/model_executor/custom_op.py
  vllm/model_executor/layers/activation.py
  vllm/model_executor/layers/logits_processor.py
  vllm/model_executor/layers/rotary_embedding.py
Owners: none

[Hardware][Intel-Gaudi] Regional compilation support (#13213)
  vllm/worker/hpu_model_runner.py
Owners: none

[ROCm] Fix the Kernels, Core, and Prefix Caching AMD CI groups (#13970)
  .buildkite/run-amd-test.sh
  tests/core/block/e2e/test_correctness_sliding_window.py
  tests/prefix_caching/test_prefix_caching.py
Owners: @comaniac, @KuntaiDu

[Bugfix] Check that number of images matches number of <|image|> tokens with mllama (#13911)
  tests/models/encoder_decoder/vision_language/test_mllama.py
  vllm/model_executor/models/mllama.py
Owners: @DarkLight1337, @ywang96

[V1][Minor] Minor cleanup for GPU Model Runner (#13983)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Add comments on accessing `kv_cache` and `attn_metadata` (#13887)
  vllm/attention/layer.py
Owners: none

Fix entrypoint tests for embedding models (#14052)
  tests/entrypoints/openai/test_embedding.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

Improve pipeline partitioning (#13839)
  tests/distributed/test_pipeline_partition.py
  vllm/distributed/utils.py
Owners: none

Deduplicate `.pre-commit-config.yaml`'s `exclude` (#13967)
  .pre-commit-config.yaml
Owners: none

[V1][TPU] Integrate the new ragged paged attention kernel with vLLM v1 on TPU (#13379)
  requirements-tpu.txt
  vllm/v1/attention/backends/pallas.py
  vllm/v1/outputs.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc]: Add support for goodput on guided benchmarking + TPOT calculation refactor (#13736)
  benchmarks/benchmark_serving_guided.py
Owners: none

[TPU] use torch2.6 with whl package (#13860)
  requirements-tpu.txt
Owners: none

[VLM][Bugfix] Enable specifying prompt target via index (#14038)
  tests/multimodal/test_processing.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/molmo.py
  vllm/multimodal/processing.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Update expected token counts for Ultravox tests (#13895)
  tests/entrypoints/openai/test_audio.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Bugfix] Add test example for Ultravox v0.5 (#13890)
  tests/models/registry.py
Owners: @DarkLight1337, @ywang96

Fix `/v1/audio/transcriptions ` Bad Request Error (#13811)
  requirements-common.txt
  vllm/entrypoints/openai/protocol.py
Owners: none

Fix failing `MyGemma2Embedding` test (#13820)
  tests/plugins/vllm_add_dummy_model/vllm_add_dummy_model/my_gemma_embedding.py
Owners: none

[Docs] Add `pipeline_parallel_size` to optimization docs (#14059)
  docs/source/performance/optimization.md
Owners: none

Update quickstart.md (#13958)
  docs/source/getting_started/quickstart.md
Owners: none

[V1][Minor] Do not print attn backend twice (#13985)
  vllm/platforms/cuda.py
Owners: none
