Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang, @charlifu, @mawong-amd, @divakar-amd, @Alexei-V-Ivanov-AMD, @AdrianAbeyta, @dllehr-amd

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

* @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang

/csrc/ @charlifu @mawong-amd @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang
/vllm/ @charlifu @mawong-amd @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang

fused_moe @divakar-amd @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang

/tests/ @Alexei-V-Ivanov-AMD @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang
/.buildkite/ @Alexei-V-Ivanov-AMD @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang

/benchmarks/profiling @AdrianAbeyta @dllehr-amd @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang

[Core] Split LoRA layers (#24574)
  tests/lora/test_layers.py
  vllm/lora/fully_sharded_layers.py
  vllm/lora/layers.py
  vllm/lora/layers/__init__.py
  vllm/lora/layers/base.py
  vllm/lora/layers/base_linear.py
  vllm/lora/layers/column_parallel_linear.py
  vllm/lora/layers/logits_processor.py
  vllm/lora/layers/qkv_x_parallel_linear.py
  vllm/lora/layers/replicated_linear.py
  vllm/lora/layers/row_parallel_linear.py
  vllm/lora/layers/utils.py
  vllm/lora/layers/vocal_parallel_embedding.py
  vllm/lora/utils.py
Owners: @Alexei-V-Ivanov-AMD, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang, @charlifu, @mawong-amd

[Doc] Add documentation for GLM-4.5 series models: tool-calling and reasoning parser (#24589)
  docs/features/reasoning_outputs.md
  docs/features/tool_calling.md
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Remove the debug print.
  vllm/v1/attention/backends/gdn_attn.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

test
  .buildkite/test-pipeline.yaml
Owners: @Alexei-V-Ivanov-AMD, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

test
  .buildkite/test-pipeline.yaml
Owners: @Alexei-V-Ivanov-AMD, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

[Logging] allow config logging stream (#24336)
  vllm/envs.py
  vllm/logger.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

test
  .buildkite/test-pipeline.yaml
Owners: @Alexei-V-Ivanov-AMD, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

cruft
  vllm/entrypoints/openai/serving_chat.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

test
  .buildkite/test-pipeline.yaml
Owners: @Alexei-V-Ivanov-AMD, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

load model works
  tests/v1/spec_decode/test_pruned_vocab.py
Owners: @Alexei-V-Ivanov-AMD, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Fix if condition. Use `n_groups` instead of `self.n_groups` which is always divisible by tp_size
  vllm/model_executor/layers/mamba/mamba_mixer2.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

wip
  .buildkite/test-pipeline.yaml
Owners: @Alexei-V-Ivanov-AMD, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Some suggestion from claude opus to reduce duality and improve model responses
  tests/v1/entrypoints/llm/test_struct_output_generate.py
Owners: @Alexei-V-Ivanov-AMD, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang
