Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[V1][Metrics] Add GPU cache usage % gauge (#12561)
  tests/entrypoints/openai/test_metrics.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/scheduler.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Kernel] add triton fused moe kernel for gptq/awq (#12185)
  tests/kernels/test_moe.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/quantization/__init__.py
  vllm/model_executor/layers/quantization/moe_wna16.py
Owners: @tlrmchlsmth, @WoosukKwon

[Feature] Fix guided decoding blocking bitmask memcpy (#12563)
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
Owners: none

[Bugfix] Gracefully handle huggingface hub http error (#12571)
  vllm/transformers_utils/config.py
Owners: none

[Misc] fix typo: add missing space in lora adapter error message (#12564)
  vllm/entrypoints/openai/serving_models.py
Owners: none

Add favicon to docs (#12611)
  docs/source/assets/logos/vllm-logo-only-light.ico
  docs/source/conf.py
Owners: none

[ci] Upgrade transformers to 4.48.2 in CI dependencies (#12599)
  requirements-common.txt
  requirements-test.in
  requirements-test.txt
Owners: none

[Misc][MoE] add Deepseek-V3 moe tuning support (#12558)
  benchmarks/kernels/benchmark_moe.py
Owners: none

[V1][Metrics] Add TTFT and TPOT histograms (#12530)
  tests/entrypoints/openai/test_metrics.py
  vllm/v1/engine/output_processor.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[doc][misc] clarify VLLM_HOST_IP for multi-node inference (#12667)
  docs/source/serving/distributed_serving.md
  vllm/executor/ray_utils.py
Owners: none

[Kernel] Update `cutlass_scaled_mm` to support 2d group (blockwise) scaling (#11868)
  CMakeLists.txt
  benchmarks/cutlass_benchmarks/w8a8_benchmarks.py
  csrc/core/math.hpp
  csrc/cutlass_extensions/common.hpp
  csrc/cutlass_extensions/gemm/collective/collective_builder.hpp
  csrc/cutlass_extensions/gemm/collective/fp8_accumulation.hpp
  csrc/cutlass_extensions/gemm/collective/sm90_mma_tma_gmma_ss_warpspecialized_fp8_blockwise_scaling.hpp
  csrc/cutlass_extensions/gemm/dispatch_policy.hpp
  csrc/cutlass_extensions/vllm_collective_builder.cuh
  csrc/quantization/cutlass_w8a8/c3x/cutlass_gemm_caller.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_azp_sm90_int8.cu
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_blockwise_sm90_fp8.cu
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_blockwise_sm90_fp8_dispatch.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_kernels.hpp
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_sm90_fp8.cu
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_sm90_fp8_dispatch.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_sm90_int8.cu
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_sm90_int8_dispatch.cuh
  csrc/quantization/cutlass_w8a8/scaled_mm_c3x.cu
  csrc/quantization/cutlass_w8a8/scaled_mm_entry.cu
  csrc/quantization/machete/machete_mainloop.cuh
  tests/kernels/test_cutlass.py
  tests/kernels/utils.py
  vllm/_custom_ops.py
Owners: @tlrmchlsmth, @WoosukKwon

[CPU][PPC] Updated torch, torchvision, torchaudio dependencies (#12555)
  Dockerfile.ppc64le
  requirements-cpu.txt
Owners: none

[V1][BugFix] Free encoder cache for aborted requests (#12545)
  vllm/v1/core/encoder_cache_manager.py
  vllm/v1/core/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Fix: Respect `sparsity_config.ignore` in Cutlass Integration (#12517)
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/utils.py
Owners: none

[Bugfix/CI] Fixup benchmark_moe.py (#12562)
  benchmarks/kernels/benchmark_moe.py
Owners: none

[Attention] MLA decode optimizations (#12528)
  csrc/cache.h
  csrc/cache_kernels.cu
  csrc/torch_bindings.cpp
  tests/kernels/test_triton_decode_attention.py
  tests/plugins/vllm_add_dummy_platform/vllm_add_dummy_platform/dummy_platform.py
  tests/weight_loading/models.txt
  tests/weight_loading/run_model_weight_loading_test.sh
  vllm/_custom_ops.py
  vllm/attention/backends/abstract.py
  vllm/attention/backends/mla/__init__.py
  vllm/attention/backends/mla/utils.py
  vllm/attention/backends/triton_mla.py
  vllm/attention/backends/utils.py
  vllm/attention/layer.py
  vllm/attention/ops/triton_decode_attention.py
  vllm/attention/selector.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/envs.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/deepseek_v2.py
  vllm/platforms/cpu.py
  vllm/platforms/cuda.py
  vllm/platforms/hpu.py
  vllm/platforms/interface.py
  vllm/platforms/openvino.py
  vllm/platforms/rocm.py
  vllm/platforms/tpu.py
  vllm/platforms/xpu.py
  vllm/worker/cache_engine.py
  vllm/worker/model_runner.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @youkaichao, @zhuohan123, @alexm-redhat, @comaniac, @njhill

[Hardware][Intel GPU] add XPU bf16 support (#12392)
  docs/source/getting_started/installation/gpu/xpu.inc.md
  vllm/platforms/xpu.py
Owners: none

[v1][Bugfix] Add extra_keys to block_hash for prefix caching (#12603)
  tests/v1/core/test_kv_cache_utils.py
  vllm/v1/core/kv_cache_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] Bugfix: Validate Model Input Length (#12600)
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Apply torch.compile to fused_moe/grouped_topk (#12637)
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/models/deepseek_v3.py
Owners: none

[Attention] Deepseek v3 MLA support with FP8 compute (#12601)
  vllm/attention/backends/mla/utils.py
  vllm/attention/backends/triton_mla.py
  vllm/attention/layer.py
  vllm/config.py
  vllm/envs.py
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
  vllm/model_executor/layers/quantization/utils/quant_utils.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/deepseek_v3.py
  vllm/worker/cache_engine.py
Owners: none

Set `?device={device}` when changing tab in installation guides (#12560)
  docs/source/_static/custom.js
Owners: none

[Model] Refactoring of MiniCPM-V and add MiniCPM-o-2.6 support for vLLM (#12069)
  docs/source/models/supported_models.md
  examples/offline_inference/audio_language.py
  examples/offline_inference/vision_language.py
  requirements-cpu.txt
  requirements-cuda.txt
  requirements-test.in
  requirements-test.txt
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[V1][Log] Add max request concurrency log to V1 (#12569)
  vllm/v1/core/kv_cache_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Fix improper placement of SPDX header in scripts (#12694)
  cmake/hipify.py
  tests/models/test_transformers.py
  tools/check_spdx_header.py
  tools/report_build_time_ninja.py
  vllm/attention/ops/triton_flash_attention.py
  vllm/model_executor/models/transformers.py
Owners: @DarkLight1337, @ywang96

[VLM] Qwen2.5-VL
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/registry.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/worker/cpu_model_runner.py
  vllm/worker/model_runner.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[Misc] Bump the compressed-tensors version (#12736)
  requirements-common.txt
Owners: none

Refactor `Linear` handling in `TransformersModel` (#12727)
  vllm/model_executor/layers/linear.py
  vllm/model_executor/models/transformers.py
Owners: none

[Model]: Add `transformers` backend support (#11330)
  .buildkite/test-pipeline.yaml
  docs/source/models/supported_models.md
  requirements-common.txt
  tests/models/registry.py
  tests/models/test_oot_registration.py
  tests/models/test_transformers.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/model_executor/model_loader/utils.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/transformers.py
Owners: @DarkLight1337, @ywang96

[V1] Move KV block hashes from Request to KVCacheManager (#12922)
  tests/v1/core/test_prefix_caching.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/scheduler.py
  vllm/v1/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Core] Improve hash collision avoidance in prefix caching (#12621)
  tests/core/block/test_prefix_caching_block.py
  vllm/core/block/prefix_caching_block.py
  vllm/v1/core/kv_cache_utils.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

[Quant] Fix use_mla TypeError and support loading pure-sparsity Compressed Tensors configs (#12711)
  vllm/config.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
Owners: none

Properly check if all fused layers are in the list of targets (#12666)
  vllm/model_executor/layers/quantization/compressed_tensors/utils.py
Owners: none

[MISC] Check space in the file names in the pre commit checks (#12804)
  .pre-commit-config.yaml
  vllm/model_executor/layers/quantization/utils/configs/N=24576,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=3072,K=1536,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=3072,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=32768,K=512,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=4096,K=512,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=4608,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=512,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=576,K=7168,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=16384,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=18432,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=2048,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=2304,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=256,device_name=NVIDIA_B200,dtype=fp8_w8a8,block_shape=[128,128].json
Owners: none

Make vllm compatible with verl (#12824)
  vllm/distributed/parallel_state.py
  vllm/executor/uniproc_executor.py
Owners: none

[Doc] Correct HF repository for TeleChat2 models (#12949)
  docs/source/models/supported_models.md
Owners: none

[MISC][EASY] Break check file names into entry and args in the pre-commit hooks (#12880)
  .pre-commit-config.yaml
Owners: none

[V1][Minor] Remove outdated comment (#12928)
  vllm/v1/core/kv_cache_manager.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Attention] Use FA3 for MLA on Hopper (#12807)
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/mla/utils.py
  vllm/attention/backends/utils.py
  vllm/v1/attention/backends/flash_attn.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Remove duplicated DeepSeek V2/V3 model definition (#12793)
  vllm/config.py
  vllm/model_executor/models/deepseek_v2.py
  vllm/model_executor/models/deepseek_v3.py
  vllm/model_executor/models/registry.py
Owners: none
