Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

[release] Add force remove for TPU logs (#14697)
  .buildkite/release-pipeline.yaml
Owners: none

[Hardware][Intel GPU] upgrade IPEX dependency to 2.6.10. (#14564)
  Dockerfile.xpu
  docs/source/getting_started/installation/gpu/xpu.inc.md
  requirements/xpu.txt
Owners: none

[V1][Core] Fix memory issue with logits & sampling (#14508)
  tests/basic_correctness/test_cumem.py
  vllm/config.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/lora_model_runner_mixin.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[CI] Fix missing example model id in processor test (#14787)
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
Owners: @DarkLight1337, @ywang96

[VLM] Cleanup siglip legacy code and fix broken paligemma multimodal processor (#14602)
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/siglip.py
Owners: none

[BugFix]: properly catch templating error when preprocess input (#13976)
  vllm/entrypoints/openai/serving_chat.py
  vllm/entrypoints/openai/serving_completion.py
  vllm/entrypoints/openai/serving_embedding.py
  vllm/entrypoints/openai/serving_pooling.py
  vllm/entrypoints/openai/serving_tokenization.py
Owners: none

[Neuron] flatten test parameterization for neuron attention kernels (#14712)
  .buildkite/run-neuron-test.sh
  tests/neuron/1_core/test_activation.py
  tests/neuron/1_core/test_block_table.py
  tests/neuron/1_core/test_cache.py
  tests/neuron/1_core/test_layernorm.py
  tests/neuron/1_core/test_logits_processor.py
  tests/neuron/1_core/test_prefix_prefill.py
  tests/neuron/1_core/test_rotary_embedding.py
  tests/neuron/2_core/test_comm_ops.py
Owners: none

[Bugfix][v1] fixed llava-hf/llava-1.5-7b-hf is broken on V1 (#14554)
  vllm/model_executor/models/llava.py
Owners: none

fix some typos : supported_head_sizes (#14627)
  vllm/attention/backends/blocksparse_attn.py
Owners: none

[Perf] Improve MLA on V1 (#14540)
  vllm/v1/attention/backends/mla/common.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][Kernel][CPU] Fix num_tokens in CPU rotary embedding kernel (#14667)
  csrc/cpu/pos_encoding.cpp
Owners: none

[Bugfix] Update `--hf-overrides` for `Alibaba-NLP/gte-Qwen2` (#14609)
  docs/source/models/supported_models.md
  tests/models/embedding/language/test_embedding.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Fix FP16 overflow for DeepSeek V2 (#13232)
  vllm/model_executor/models/deepseek_v2.py
Owners: none

[V1][Metrics] Updated list of deprecated metrics in v0.8 (#14695)
  docs/source/serving/metrics.md
Owners: none

[Frontend] Fix log message to use http vs https (#14774)
  vllm/entrypoints/openai/api_server.py
Owners: none

[Doc] Fix small typo in Transformers fallback (#14791)
  docs/source/models/supported_models.md
Owners: none

[Feature] Add `vllm bench` CLI (#13993)
  vllm/benchmarks/endpoint_request_func.py
  vllm/benchmarks/serve.py
  vllm/benchmarks/utils.py
  vllm/entrypoints/cli/benchmark/__init__.py
  vllm/entrypoints/cli/benchmark/base.py
  vllm/entrypoints/cli/benchmark/main.py
  vllm/entrypoints/cli/benchmark/serve.py
  vllm/entrypoints/cli/main.py
Owners: none

[Doc] Fix typo in documentation (#14783)
  docs/source/deployment/frameworks/helm.md
  docs/source/deployment/k8s.md
  docs/source/design/kernel/paged_attention.md
  docs/source/design/v1/metrics.md
  docs/source/features/lora.md
  docs/source/getting_started/faq.md
  docs/source/getting_started/installation/ai_accelerator/hpu-gaudi.inc.md
  docs/source/getting_started/installation/ai_accelerator/openvino.inc.md
  docs/source/getting_started/installation/gpu/xpu.inc.md
  docs/source/serving/distributed_serving.md
  docs/source/training/rlhf.md
  examples/other/logging_configuration.md
  vllm/distributed/kv_transfer/README.md
Owners: none

[V1][Core] Support MistralTokenizer for Structured Output (#14625)
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/v1/structured_output/__init__.py
Owners: @mgoin, @russellb

Fix run_tpu_test (#14641)
  .buildkite/run-tpu-test.sh
Owners: none

[V1] TPU - Fix CI/CD runner (#14974)
  .buildkite/run-tpu-test.sh
  .buildkite/run-tpu-v1-test.sh
  tests/tpu/test_compilation.py
  tests/tpu/test_custom_dispatcher.py
Owners: none

[V1] Remove input cache client (#14864)
  vllm/inputs/preprocess.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/mm_input_cache.py
  vllm/v1/engine/processor.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Neuron][CI] update docker run command (#14829)
  .buildkite/run-neuron-test.sh
Owners: none

[Build/CI] Upgrade jinja2 to get 3 moderate CVE fixes (#14839)
  requirements/build.txt
  requirements/rocm-build.txt
  requirements/test.txt
  requirements/tpu.txt
  requirements/xpu.txt
Owners: none

[V1] Guard Against Main Thread Usage (#14972)
  vllm/engine/arg_utils.py
Owners: none

[BugFix] Fix MLA + V1 + TP==1 causing reinitialization of cuda context (#14910)
  vllm/platforms/cuda.py
Owners: none

[Bugfix] EAGLE output norm bug (#14464)
  docs/source/features/spec_decode.md
  examples/offline_inference/eagle.py
  vllm/engine/llm_engine.py
  vllm/engine/output_processor/multi_step.py
  vllm/model_executor/models/eagle.py
  vllm/sequence.py
  vllm/spec_decode/spec_decode_worker.py
  vllm/spec_decode/util.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[Frontend] track server_load (#13950)
  tests/entrypoints/openai/test_basic.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/cli_args.py
  vllm/entrypoints/utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Fix][Structured Output] using vocab_size to construct matcher (#14868)
  .buildkite/test-pipeline.yaml
  requirements/common.txt
  tests/model_executor/test_guided_processors.py
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
  vllm/v1/structured_output/__init__.py
Owners: @mgoin, @russellb

[Misc] Embedding model support LoRA (#14935)
  vllm/lora/models.py
Owners: none

[CI] Add TPU v1 test (#14834)
  .buildkite/run-tpu-v1-test.sh
Owners: none

[Bugfix] Fix interface for Olmo2 on V1 (#14976)
  vllm/model_executor/models/olmo2.py
Owners: none

[Doc] V1 user guide (#13991)
  docs/source/getting_started/v1_user_guide.md
  docs/source/index.md
Owners: none

[V1] Enable Entrypoints Tests (#14903)
  .buildkite/test-pipeline.yaml
  tests/v1/entrypoints/llm/test_struct_output_generate.py
Owners: @mgoin, @russellb

Re-enable the AMD Entrypoints Test (#14711)
  .buildkite/run-amd-test.sh
  Dockerfile.rocm
  requirements/rocm-test.txt
Owners: none

Update to torch==2.6.0 (#12721)
  CMakeLists.txt
  Dockerfile
  pyproject.toml
  requirements/build.txt
  requirements/cuda.txt
  requirements/test.in
  requirements/test.txt
  tests/compile/backend.py
  vllm/config.py
Owners: @tlrmchlsmth

[Misc] Catching Ray Compiled Graph PP test failures for V1 (#14847)
  tests/distributed/test_pipeline_parallel.py
Owners: @youkaichao

[Bugfix] Limit profiling run sequence length by max_model_len (#14785)
  vllm/inputs/registry.py
  vllm/worker/enc_dec_model_runner.py
  vllm/worker/model_runner.py
  vllm/worker/openvino_model_runner.py
  vllm/worker/xpu_model_runner.py
Owners: none

[CI/Build] Update defaults for test reproducibility (#14893)
  tests/conftest.py
Owners: none

[Docs] Add new East Coast vLLM Meetup slides to README and meetups.md (#14852)
  README.md
  docs/source/community/meetups.md
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao
