Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

Update openai_compatible_server.md (#16507)
  docs/source/serving/openai_compatible_server.md
Owners: none

Fix range_ratio Bug in RandomDataset (#16126)
  benchmarks/benchmark_dataset.py
  benchmarks/benchmark_serving.py
  benchmarks/benchmark_throughput.py
Owners: none

Optimized topk for topk=1 (Llama-4) (#16512)
  vllm/model_executor/models/llama4.py
  vllm/model_executor/models/utils.py
Owners: none

[Bugfix] Fix validation error for text-only Mllama 3.2 (#16377)
  vllm/engine/llm_engine.py
  vllm/model_executor/models/mllama.py
  vllm/v1/engine/processor.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

[doc] update the wrong link (#16401)
  .github/ISSUE_TEMPLATE/600-new-model.yml
  docs/source/models/extensions/tensorizer.md
Owners: none

[Frontend] Added chat templates for LLaMa4 pythonic tool calling (#16463)
  docs/source/features/tool_calling.md
  examples/tool_chat_template_llama4_pythonic.jinja
  tests/tool_use/conftest.py
  tests/tool_use/utils.py
  vllm/entrypoints/openai/tool_parsers/pythonic_tool_parser.py
Owners: none

[Core][LoRA][1/N] Add LoRA for EncoderDecoderModelRunner (#15990)
  vllm/lora/layers.py
  vllm/model_executor/models/mllama.py
  vllm/worker/enc_dec_model_runner.py
Owners: none

[VLM] Avoid unnecessary dummy multimodal data during processing (#16416)
  vllm/model_executor/models/aria.py
  vllm/model_executor/models/aya_vision.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/glm4v.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mistral3.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/mllama4.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/nvlm_d.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/prithvi_geospatial_mae.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/qwen_vl.py
  vllm/model_executor/models/skyworkr1v.py
  vllm/model_executor/models/ultravox.py
  vllm/model_executor/models/whisper.py
  vllm/multimodal/processing.py
  vllm/multimodal/profiling.py
Owners: @DarkLight1337, @ywang96

[Misc] Update chat utils tests (#16520)
  tests/entrypoints/test_chat_utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

Fix `benchmark_throughput.py --backend=hf` (#16352)
  benchmarks/benchmark_throughput.py
Owners: none

Improve configs - `LoadConfig` (#16422)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/utils.py
Owners: none

fix sonnet dataset sample when prefix len is very small (#16379)
  benchmarks/benchmark_dataset.py
Owners: none

[BugFix] fix some typos found by typos. (#16314)
  benchmarks/benchmark_serving.py
  benchmarks/benchmark_serving_structured_output.py
  csrc/mamba/causal_conv1d/causal_conv1d.cu
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/hpu_attn.py
  vllm/attention/backends/mla/common.py
  vllm/attention/backends/xformers.py
  vllm/attention/ops/nki_flash_attn.py
  vllm/benchmarks/serve.py
  vllm/engine/output_processor/multi_step.py
  vllm/entrypoints/openai/tool_parsers/utils.py
  vllm/model_executor/layers/quantization/kernels/scaled_mm/__init__.py
  vllm/platforms/cpu.py
  vllm/platforms/interface.py
  vllm/reasoning/granite_reasoning_parser.py
  vllm/sampling_params.py
  vllm/third_party/pynvml.py
  vllm/v1/attention/backends/mla/common.py
  vllm/v1/executor/multiproc_executor.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

Add GLM-4-0414 support (#16338)
  docs/source/models/supported_models.md
  tests/models/registry.py
  vllm/model_executor/models/glm4.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[Model] use AutoWeightsLoader for granite, granitemoe, granitemoeshared, grok1, mixtral (#16325)
  vllm/model_executor/models/granite.py
  vllm/model_executor/models/granitemoe.py
  vllm/model_executor/models/granitemoeshared.py
  vllm/model_executor/models/grok1.py
  vllm/model_executor/models/mixtral.py
Owners: none

[V1][Spec Decode] KV cache slots for eagle heads (#16370)
  tests/v1/core/test_kv_cache_utils.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/engine/core.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix profiling.py (#16202)
  examples/offline_inference/profiling.py
Owners: none

[V1] Set structured output backend to `auto` by default (#15724)
  tests/entrypoints/openai/test_chat.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/model_executor/guided_decoding/__init__.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @mgoin, @russellb

[Llama4] Enable attention temperature tuning by default for long context (>32k) (#16439)
  vllm/model_executor/models/llama4.py
Owners: none

Enable PTPC FP8 for CompressedTensorsW8A8Fp8MoEMethod (triton fused_moe) (#16537)
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[BugFix] llama4 qknorm should be not shared across head (#16311)
  vllm/model_executor/models/llama4.py
Owners: none

[Bugfix]: do not shutdown server if `skip_special_use=False` for MistralTokenizer (#14094)
  vllm/entrypoints/openai/serving_chat.py
  vllm/transformers_utils/tokenizers/__init__.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[Bugfix] Avoid transferring cached multi-modal items from P0 to P1 (#16273)
  vllm/v1/engine/__init__.py
  vllm/v1/engine/core.py
  vllm/v1/engine/mm_input_cache.py
  vllm/v1/engine/processor.py
  vllm/v1/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Fix the torch version parsing logic (#15857)
  vllm/compilation/compiler_interface.py
  vllm/compilation/inductor_pass.py
  vllm/config.py
  vllm/utils.py
Owners: none

[Model] Add `SupportsMultiModal.get_language_model` interface (#16007)
  docs/source/contributing/model/multimodal.md
  vllm/model_executor/models/aria.py
  vllm/model_executor/models/aya_vision.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/glm4v.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/interfaces.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mistral3.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/mllama4.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/phi4mm.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/qwen_vl.py
  vllm/model_executor/models/skyworkr1v.py
  vllm/model_executor/models/ultravox.py
  vllm/model_executor/models/whisper.py
Owners: none

[CI]Fix hpu docker and numpy version for CI (#16355)
  docker/Dockerfile.hpu
  requirements/hpu.txt
Owners: none

[Misc] Update transformers version limits of multi-modal tests (#16381)
  .buildkite/test-pipeline.yaml
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/test_phi3v.py
  tests/models/registry.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Fix output token length check logic (#16419)
  benchmarks/benchmark_serving.py
Owners: none

[Bugfix] catch AssertionError in MistralTokenizer as ValueError (#16344)
  vllm/entrypoints/chat_utils.py
Owners: none

Bugfix for PixtralHF models without spatial_merge_size (#16513)
  vllm/model_executor/models/pixtral.py
Owners: none

Improve configs - `ParallelConfig` (#16332)
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: none

[Misc] Fix test_sharded_state_loader.py(#16004) (#16005)
  tests/test_sharded_state_loader.py
Owners: none

[TPU] Fix dummy loading OOM (#16372)
  vllm/model_executor/model_loader/weight_utils.py
Owners: none

[misc] use tqdm.auto where appropriate (#16290)
  vllm/entrypoints/llm.py
  vllm/worker/model_runner.py
Owners: none

[Bugfix] Fix GLM4 model (#16618)
  docs/source/models/supported_models.md
  tests/models/registry.py
  vllm/model_executor/models/glm4.py
Owners: @DarkLight1337, @ywang96

[CI] Cleanup `additional_dependencies: [toml]` for pre-commit yapf hook (#16405)
  .pre-commit-config.yaml
Owners: none

[Misc] refactor examples series - lmcache (#16758)
  examples/offline_inference/cpu_offload_lmcache.py
Owners: none

[Bugfix] fix gpu docker image mis benchmarks dir (#16628)
  docker/Dockerfile
Owners: none

[Model][VLM] Add Qwen2.5-Omni model support (thinker only) (#15130)
  docs/source/models/supported_models.md
  examples/offline_inference/audio_language.py
  examples/offline_inference/qwen2_5_omni/README.md
  examples/offline_inference/qwen2_5_omni/only_thinker.py
  examples/offline_inference/vision_language.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/assets/video.py
  vllm/entrypoints/chat_utils.py
  vllm/envs.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/qwen2_5_omni_thinker.py
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/transformers.py
  vllm/multimodal/inputs.py
  vllm/transformers_utils/config.py
  vllm/transformers_utils/processor.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/worker/cpu_model_runner.py
  vllm/worker/model_runner.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[Doc] Changed explanation of generation_tokens_total and prompt_tokens_total counter type metrics to avoid confusion (#16784)
  docs/source/design/v1/metrics.md
Owners: none
