Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[CI] Fix failing FP8 cpu offload test (#13170)
  tests/quantization/test_cpu_offload.py
Owners: @mgoin, @robertgshaw2-redhat

[executor] init `local_rank` as device index (#13027)
  vllm/executor/uniproc_executor.py
Owners: none

[V1][Minor] Remove outdated comment (#12968)
  vllm/v1/core/kv_cache_manager.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ci] Add more source file dependencies for some tests (#13123)
  .buildkite/test-pipeline.yaml
Owners: none

[MISC] Always import version library first in the vllm package (#12979)
  vllm/__init__.py
Owners: none

[V1] Clarify input processing and multimodal feature caching logic (#13211)
  vllm/v1/engine/core.py
  vllm/v1/engine/mm_input_cache.py
  vllm/v1/engine/processor.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] IBM/NASA Prithvi Geospatial model (#12830)
  examples/offline_inference/prithvi_geospatial_mae.py
  tests/models/registry.py
  vllm/attention/backends/placeholder_attn.py
  vllm/inputs/preprocess.py
  vllm/model_executor/models/prithvi_geospatial_mae.py
  vllm/model_executor/models/registry.py
  vllm/worker/pooling_model_runner.py
Owners: @DarkLight1337, @ywang96

[Frontend] Pass pre-created socket to uvicorn (#13113)
  vllm/entrypoints/api_server.py
  vllm/entrypoints/launcher.py
  vllm/entrypoints/openai/api_server.py
Owners: none

[Platform] add pre_register_and_update function (#12432)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/platforms/interface.py
Owners: none

[Misc] Fix typo at comments at metrics.py (#13024)
  vllm/engine/metrics.py
Owners: none

[Kernel] Fix awq error when n is not divisable by 128 (#13227)
  csrc/quantization/awq/gemm_kernels.cu
Owners: none

[Misc] Move pre-commit suggestion back to the end (#13114)
  .pre-commit-config.yaml
Owners: none

[V1][Metrics] Add GPU prefix cache hit rate % gauge (#12592)
  tests/entrypoints/openai/test_metrics.py
  tests/v1/core/test_kv_cache_utils.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/core/scheduler.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] Improve OpenVINO installation doc (#13102)
  docs/source/getting_started/installation/ai_accelerator/openvino.inc.md
Owners: none

Check if selected backend is None in get_attn_backend_cls() (#12975)
  vllm/platforms/cpu.py
Owners: none

[Bugfix] Missing Content Type returns 500 Internal Server Error (#13193)
  tests/entrypoints/openai/test_basic.py
  vllm/entrypoints/openai/api_server.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1][core] Implement pipeline parallel on Ray (#12996)
  tests/distributed/test_pipeline_parallel.py
  vllm/executor/ray_utils.py
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/engine/core.py
  vllm/v1/executor/abstract.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
Owners: @youkaichao, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Neuron][Kernel] Support Longer Sequences in NKI-based Flash PagedAttention and Improve Efficiency (#12921)
  tests/neuron/test_prefix_prefill.py
  vllm/attention/ops/nki_flash_attn.py
Owners: none

Support logit_bias in v1 Sampler (#13079)
  tests/v1/sample/test_sampler.py
  tests/v1/worker/test_gpu_input_batch.py
  vllm/sampling_params.py
  vllm/v1/sample/metadata.py
  vllm/v1/sample/sampler.py
  vllm/v1/worker/gpu_input_batch.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[VLM] Remove input processor from clip and siglip (#13165)
  vllm/model_executor/models/clip.py
  vllm/model_executor/models/siglip.py
Owners: none

[Bugfix] Clean up and fix multi-modal processors (#13012)
  docs/source/features/compatibility_matrix.md
  tests/models/decoder_only/language/test_models.py
  tests/models/multimodal/processing/test_common.py
  tests/multimodal/utils.py
  vllm/model_executor/models/chatglm.py
  vllm/model_executor/models/qwen.py
  vllm/model_executor/models/qwen2_vl.py
Owners: @DarkLight1337, @ywang96

[misc] Add retries with exponential backoff for HF file existence check (#13008)
  vllm/transformers_utils/config.py
Owners: none

[Kernel][Bugfix] Refactor and Fix CUTLASS 2:4 Sparse Kernels (#13198)
  CMakeLists.txt
  csrc/cutlass_extensions/epilogue/scaled_mm_epilogues_c3x.hpp
  csrc/ops.h
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm.cuh
  csrc/quantization/cutlass_w8a8/scaled_mm_c2x.cuh
  csrc/sparse/cutlass/sparse_compressor_c3x.cu
  csrc/sparse/cutlass/sparse_compressor_c3x.cuh
  csrc/sparse/cutlass/sparse_compressor_entry.cu
  csrc/sparse/cutlass/sparse_scaled_mm_c3x.cu
  csrc/sparse/cutlass/sparse_scaled_mm_c3x.cuh
  csrc/sparse/cutlass/sparse_scaled_mm_entry.cu
  csrc/torch_bindings.cpp
  tests/kernels/test_cutlass_2of4_sparse.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/schemes/compressed_tensors_24.py
Owners: @tlrmchlsmth, @WoosukKwon

[RFC][vllm-API] Support tokenizer registry for customized tokenizer in vLLM (#12518)
  benchmarks/benchmark_serving.py
  tests/tokenization/test_tokenizer_registry.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/entrypoints/openai/serving_score.py
  vllm/logits_process.py
  vllm/transformers_utils/tokenizer.py
  vllm/transformers_utils/tokenizer_base.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[ROCm][V1] Add intial ROCm support to V1 (#12790)
  requirements-rocm-build.txt
  vllm/attention/ops/prefix_prefill.py
  vllm/platforms/rocm.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/attention/backends/rocm_attn.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] Add link to tool_choice tracking issue in tool_calling.md (#13003)
  docs/source/features/tool_calling.md
Owners: none

[V1][Core] Add worker_base for v1 worker (#12816)
  vllm/utils.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/worker_base.py
  vllm/worker/worker_base.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @zhuohan123, @youkaichao

[Misc] Qwen2.5-VL Optimization (#13155)
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/qwen2_vl.py
Owners: none

[Frontend] Generate valid tool call IDs when using `tokenizer-mode=mistral` (#12332)
  tests/mistral_tool_use/__init__.py
  tests/mistral_tool_use/conftest.py
  tests/mistral_tool_use/test_mistral_tool_calls.py
  tests/mistral_tool_use/utils.py
  vllm/entrypoints/openai/serving_chat.py
  vllm/entrypoints/openai/tool_parsers/mistral_tool_parser.py
  vllm/transformers_utils/tokenizers/__init__.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[CI/Build][Bugfix] Fix CPU backend default threads num (#13077)
  vllm/platforms/cpu.py
Owners: none

[Docs] Annouce Meta Meetup (#13065)
  README.md
Owners: none

[Build] Automatically use the wheel of the base commit with Python-only build (#13178)
  docs/source/getting_started/installation/gpu/cuda.inc.md
  setup.py
Owners: none

[Bugfix] Do not use resource module on Windows (#12858) (#13029)
  vllm/utils.py
Owners: none

[CI/Build] Use mypy matcher for pre-commit CI job (#13162)
  .github/workflows/pre-commit.yml
Owners: none

[VLM] Merged multi-modal processor for Molmo (#12966)
  docs/source/models/supported_models.md
  tests/models/decoder_only/language/test_models.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/model_executor/models/molmo.py
  vllm/multimodal/inputs.py
  vllm/utils.py
Owners: @DarkLight1337, @ywang96

[RFC] [Mistral] FP8 format (#10130)
  vllm/model_executor/models/llama.py
  vllm/model_executor/models/pixtral.py
  vllm/transformers_utils/config.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[Model] Ultravox Model: Support v0.5 Release (#12912)
  docs/source/models/supported_models.md
  docs/source/serving/multimodal_inputs.md
  examples/offline_inference/audio_language.py
  examples/online_serving/openai_chat_completion_client_for_multimodal.py
  tests/distributed/test_pipeline_parallel.py
  tests/entrypoints/openai/test_audio.py
  tests/entrypoints/test_chat_utils.py
  tests/models/decoder_only/audio_language/test_ultravox.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/model_executor/models/ultravox.py
  vllm/transformers_utils/configs/ultravox.py
Owners: @youkaichao, @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

[VLM] Separate text-only and vision variants of the same model architecture (#13157)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  tests/distributed/test_pipeline_parallel.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/core.py
  tests/models/decoder_only/vision_language/vlm_utils/types.py
  tests/models/registry.py
  tests/models/test_initialization.py
  vllm/model_executor/models/chatglm.py
  vllm/model_executor/models/glm4_vision_encoder.py
  vllm/model_executor/models/glm4v.py
  vllm/model_executor/models/qwen.py
  vllm/model_executor/models/qwen_vl.py
  vllm/model_executor/models/registry.py
Owners: @youkaichao, @DarkLight1337, @ywang96

Consolidate Llama model usage in tests (#13094)
  tests/basic_correctness/test_basic_correctness.py
  tests/basic_correctness/test_chunked_prefill.py
  tests/basic_correctness/test_cpu_offload.py
  tests/basic_correctness/test_cumem.py
  tests/compile/test_basic_correctness.py
  tests/compile/utils.py
  tests/distributed/test_pipeline_parallel.py
  tests/entrypoints/openai/test_serving_models.py
  tests/entrypoints/openai/test_shutdown.py
  tests/kv_transfer/disagg_test.py
  tests/models/decoder_only/language/test_fp8.py
  tests/models/registry.py
  tests/quantization/test_register_quantization_config.py
  tests/samplers/test_ignore_eos.py
  tests/spec_decode/e2e/test_compatibility.py
  tests/test_config.py
  tests/test_sharded_state_loader.py
  tests/tokenization/test_detokenize.py
  tests/tokenization/test_get_eos.py
  tests/v1/engine/test_async_llm.py
  tests/v1/sample/test_logprobs.py
  tests/v1/sample/test_logprobs_e2e.py
Owners: @youkaichao, @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96, @mgoin, @njhill, @LiuXiaoxuanPKU

[V1] Consolidate MM cache size to vllm.envs (#13239)
  vllm/envs.py
  vllm/multimodal/registry.py
  vllm/v1/engine/mm_input_cache.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
