Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Bugfix] Fix f-string for Python 3.9-3.11 (#16962)
  vllm/model_executor/model_loader/loader.py
Owners: none

[BugFix][V1] Fix int32 token index overflow when preparing input ids (#16806)
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[easy] Pass compile_fx only the config patches (#16845)
  vllm/compilation/compiler_interface.py
Owners: none

Update Qwen1.5-MoE-W4A16-compressed-tensors.yaml (#16946)
  .buildkite/lm-eval-harness/configs/Qwen1.5-MoE-W4A16-compressed-tensors.yaml
Owners: @mgoin, @simon-mo

Add assertion for no objects while hashing hf_config (#16930)
  vllm/config.py
Owners: none

[Performance][ROCm] Add skinny gemms for unquantized linear on ROCm (#15830)
  CMakeLists.txt
  csrc/rocm/ops.h
  csrc/rocm/skinny_gemms.cu
  csrc/rocm/torch_bindings.cpp
  tests/kernels/test_rocm_skinny_gemms.py
  vllm/_custom_ops.py
  vllm/envs.py
  vllm/model_executor/layers/linear.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
  vllm/model_executor/layers/utils.py
  vllm/platforms/interface.py
  vllm/platforms/rocm.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[Misc] Remove OLMo2 config copy (#17066)
  vllm/model_executor/models/olmo2.py
  vllm/transformers_utils/config.py
  vllm/transformers_utils/configs/__init__.py
  vllm/transformers_utils/configs/olmo2.py
Owners: none

[Frontend] Using matryoshka_dimensions control the allowed output dimensions. (#16970)
  docs/source/models/pooling_models.md
  examples/online_serving/openai_embedding_matryoshka_fy.py
  tests/entrypoints/openai/test_embedding.py
  tests/entrypoints/openai/test_embedding_dimensions.py
  tests/models/embedding/language/test_jina.py
  tests/models/embedding/utils.py
  vllm/config.py
  vllm/pooling_params.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

[Misc] Refactor platform to get device specific stream and event (#14411)
  vllm/platforms/interface.py
  vllm/spec_decode/metrics.py
Owners: none

[Bugfix] Fix the issue where llm.generate cannot be called repeatedly after setting GuidedDecodingParams (#16767)
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/sampling_params.py
  vllm/v1/engine/processor.py
Owners: @mgoin, @russellb, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] Remove pre-allocation for KV cache (#16941)
  tests/v1/core/test_kv_cache_utils.py
  tests/v1/core/test_prefix_caching.py
  tests/v1/core/test_scheduler.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/sched/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[frontend] enhance tool_calls type check (#16882)
  vllm/entrypoints/chat_utils.py
Owners: none

[CI] Add automation for the `tool-calling` github label (#17118)
  .github/mergify.yml
Owners: none

[CI] Run v1/test_serial_utils.py in CI (#16996)
  .buildkite/test-pipeline.yaml
Owners: none

Disable enforce_eager for V1 TPU sampler and structured output tests (#17016)
  .buildkite/scripts/hardware_ci/run-tpu-v1-test.sh
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  tests/v1/tpu/test_sampler.py
Owners: @mgoin, @russellb

[V1][DP] More robust DP/EP dummy request coordination (#16277)
  tests/v1/test_async_llm_dp.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Raise error for data-parallel with benchmark_throughput (#16737)
  benchmarks/benchmark_throughput.py
Owners: none

[VLM] Clean up models (#16873)
  examples/offline_inference/mistral-small.py
  examples/offline_inference/vision_language.py
  vllm/model_executor/models/phi4mm.py
  vllm/model_executor/models/qwen2_5_omni_thinker.py
Owners: none

[Kernel][ROCM] Upstream prefix prefill speed up for vLLM V1 (#13305)
  tests/core/block/e2e/test_correctness.py
  vllm/attention/ops/prefix_prefill.py
Owners: none

[Model] Qwen2.5-Omni Cleanup (#16872)
  docs/source/models/supported_models.md
  vllm/model_executor/models/qwen2_5_omni_thinker.py
Owners: none

[CI/CD][V1] Add spec decode tests to CI (#16900)
  .buildkite/test-pipeline.yaml
Owners: none

[Misc] Remove the chunked prefill warning for LoRA (#16925)
  vllm/config.py
Owners: none

[Bugfix]: fix issue with n>1 sampling on v1 requests overriding each other (#16863)
  tests/v1/engine/test_output_processor.py
  vllm/outputs.py
  vllm/v1/engine/output_processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[BugFix] Fix incremental detokenization perf issue (#16963)
  vllm/v1/engine/detokenizer.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Structured Output] Clear xgrammar compiler object when engine core shut down to avoid nanobind leaked warning (#16954)
  vllm/v1/engine/core.py
  vllm/v1/structured_output/__init__.py
  vllm/v1/structured_output/backend_guidance.py
  vllm/v1/structured_output/backend_types.py
  vllm/v1/structured_output/backend_xgrammar.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @mgoin, @russellb

[Misc] fix collect_env version parse (#15267)
  vllm/collect_env.py
Owners: none

[Bugfix] Fix AssertionError: skip_special_tokens=False is not supported for Mistral tokenizers (#16964)
  vllm/entrypoints/openai/tool_parsers/mistral_tool_parser.py
Owners: none

[V1][Spec Decode] Handle draft tokens beyond max_model_len (#16087)
  tests/v1/core/test_scheduler.py
  tests/v1/spec_decode/test_max_len.py
  tests/v1/spec_decode/test_ngram.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/spec_decode/eagle.py
  vllm/v1/spec_decode/ngram_proposer.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[INTEL-HPU][v0] Port delayed sampling to upstream (#16949)
  vllm/envs.py
  vllm/worker/hpu_model_runner.py
Owners: none

`CacheConfig.block_size` should always be `int` when used (#17052)
  vllm/config.py
Owners: none

Revert "[Misc] Add S3 environment variables for better support of MinIO." (#17021)
  vllm/transformers_utils/s3_utils.py
Owners: none

[doc] update to hyperlink (#17096)
  docs/source/features/quantization/auto_awq.md
Owners: none

[BugFix] Remove default multiproc executor `collective_rpc` timeout (#17000)
  vllm/v1/executor/multiproc_executor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

add Dockerfile build vllm against torch nightly (#16936)
  .buildkite/test-pipeline.yaml
  docker/Dockerfile.nightly_torch
  requirements/nightly_torch_test.txt
Owners: none

[Frontend] Support guidance:no-additional-properties for compatibility with xgrammar (#15949)
  tests/entrypoints/llm/test_guided_generate.py
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/model_executor/guided_decoding/guidance_decoding.py
  vllm/v1/engine/processor.py
  vllm/v1/structured_output/backend_guidance.py
  vllm/v1/structured_output/backend_xgrammar.py
Owners: @mgoin, @russellb, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat
