Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

Addendum Fix to support FIPS enabled machines with MD5 hashing (#17043)
  vllm/distributed/kv_transfer/kv_connector/v1/shared_storage_connector.py
  vllm/envs.py
Owners: none

[Bugfix] Enable V1 usage stats (#16986)
  vllm/usage/usage_lib.py
  vllm/utils.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Core][V1][TPU] Enable structured decoding on TPU V1 (#16499)
  .buildkite/scripts/hardware_ci/run-tpu-v1-test.sh
  benchmarks/benchmark_serving_structured_output.py
  tests/v1/tpu/test_sampler.py
  vllm/platforms/tpu.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] Remove additional_config check (#16710)
  vllm/engine/arg_utils.py
Owners: none

[Bugfix] Fix v1/spec_decode/test_ngram.py (#16895)
  tests/v1/spec_decode/test_ngram.py
  vllm/config.py
Owners: none

Serialize tensors using int8 views (#16866)
  tests/v1/test_serial_utils.py
  vllm/v1/serial_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[BugFix] Pass in correct VLLM config in FlashInfer backend (#13207) (#16973)
  vllm/attention/backends/flashinfer.py
Owners: none

[BugFix][Spec Decode] No in-place update to draft probs (#16952)
  vllm/v1/spec_decode/eagle.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix distributed bug again in Qwen2.5-VL & Qwen2.5-Omni (#16974)
  vllm/model_executor/models/qwen2_5_vl.py
Owners: none

[BugFix] Revert ROCm Custom Paged Attention Env Flag Check (#17022)
  vllm/platforms/rocm.py
Owners: none

[Misc] Add S3 environment variables for better support of MinIO. (#16977)
  vllm/transformers_utils/s3_utils.py
Owners: none

[Bugfix] Fix distributed bug in Qwen2.5-VL & Qwen2.5-Omni (#16907)
  vllm/model_executor/models/qwen2_5_vl.py
Owners: none

[V1][Spec Decoding] Add num_drafts and num_accepted_tokens_per_position metrics (#16665)
  tests/v1/core/test_scheduler.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/metrics/loggers.py
  vllm/v1/spec_decode/metrics.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Kernel] Support Microsoft Runtime Kernel Lib for our Low Precision Computation - BitBLAS (#6036)
  benchmarks/kernels/benchmark_bitblas.py
  docs/source/features/quantization/bitblas.md
  docs/source/features/quantization/index.md
  docs/source/features/quantization/supported_hardware.md
  tests/models/test_bitblas.py
  tests/models/test_gptq_bitblas.py
  vllm/config.py
  vllm/model_executor/layers/linear.py
  vllm/model_executor/layers/quantization/__init__.py
  vllm/model_executor/layers/quantization/bitblas.py
  vllm/model_executor/layers/quantization/gptq_bitblas.py
  vllm/model_executor/layers/quantization/kernels/mixed_precision/__init__.py
  vllm/model_executor/layers/quantization/kernels/mixed_precision/bitblas.py
  vllm/model_executor/layers/quantization/utils/bitblas_utils.py
  vllm/model_executor/parameter.py
Owners: @DarkLight1337, @ywang96, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[V1][Spec Decode] Always use argmax for sampling draft tokens (#16899)
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/spec_decode/eagle.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[doc] update hyperlink (#16877)
  docs/source/models/extensions/fastsafetensor.md
Owners: none

[CI] Update structured-output label automation (#17055)
  .github/mergify.yml
Owners: none

[Bugfix] Triton FA function takes no keyword arguments (#16902)
  vllm/attention/backends/mla/common.py
Owners: none

Restore buffers when wake up from level 2 sleep (#16564) (#16889)
  vllm/v1/worker/gpu_worker.py
  vllm/worker/worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @zhuohan123, @youkaichao

[Doc] Remove unnecessary V1 flag (#16924)
  docs/source/design/v1/torch_compile.md
Owners: none

Mistral-format support for compressed-tensors (#16803)
  vllm/transformers_utils/config.py
Owners: none

Log how much time loading a compiled artifact takes (#16848)
  vllm/compilation/backends.py
Owners: none

[V1] V1 FlashInfer Attention (#16684)
  tests/v1/e2e/test_cascade_attention.py
  vllm/engine/arg_utils.py
  vllm/platforms/cuda.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/attention/backends/flashinfer.py
  vllm/v1/attention/backends/mla/common.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[doc] install required python3-dev apt package (#16888)
  docs/source/getting_started/installation/cpu/build.inc.md
Owners: none

[TPU][V1] Implicitly adjust page size when there's SMEM OOM (#16871)
  tests/v1/tpu/test_basic.py
  vllm/platforms/tpu.py
  vllm/v1/attention/backends/pallas.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] Use autoweightloader for mamba (#16950)
  vllm/model_executor/models/mamba.py
Owners: none

[TPU][V1] Enable Top-P (#16843)
  tests/v1/tpu/test_sampler.py
  vllm/v1/sample/tpu/metadata.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][PP] Optimization: continue scheduling prefill chunks (#17080)
  tests/v1/core/test_scheduler.py
  tests/v1/engine/test_engine_core.py
  vllm/v1/core/sched/interface.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/engine/core.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[FEAT][ROCm] Integrate Paged Attention Kernel from AITER (#15001)
  docker/Dockerfile.rocm_base
  vllm/attention/backends/rocm_flash_attn.py
  vllm/attention/ops/rocm_aiter_paged_attn.py
  vllm/envs.py
  vllm/platforms/rocm.py
Owners: none

[Quantization]add prefix for commandA quantized model (#17017)
  vllm/model_executor/models/commandr.py
Owners: none

[Doc] Improve documentation for multimodal CLI args (#16960)
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: none

[BugFix] llama4 fa3 fix - RuntimeError: scheduler_metadata must have shape (metadata_size) (#16998)
  vllm/v1/attention/backends/flash_attn.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Simplify `TokenizerGroup` (#16790)
  tests/conftest.py
  tests/lora/test_tokenizer_group.py
  tests/tokenization/test_detokenize.py
  tests/tokenization/test_tokenizer_group.py
  tests/v1/engine/conftest.py
  tests/v1/engine/utils.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/engine/multiprocessing/client.py
  vllm/entrypoints/llm.py
  vllm/inputs/preprocess.py
  vllm/transformers_utils/detokenizer.py
  vllm/transformers_utils/tokenizer_group.py
  vllm/transformers_utils/tokenizer_group/__init__.py
  vllm/transformers_utils/tokenizer_group/base_tokenizer_group.py
  vllm/transformers_utils/tokenizer_group/ray_tokenizer_group.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/engine/output_processor.py
  vllm/v1/engine/processor.py
  vllm/v1/structured_output/backend_guidance.py
  vllm/v1/structured_output/backend_xgrammar.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96, @mgoin, @russellb

Improve configs - `SpeculativeConfig` (#16971)
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: none

Fix OOT registration test (#17099)
  tests/models/test_oot_registration.py
Owners: @DarkLight1337, @ywang96

Support S3 Sharded loading with RunAI Model Streamer (#16317)
  vllm/config.py
  vllm/model_executor/model_loader/loader.py
Owners: none

[TPU][V1] Capture multimodal encoder during model compilation (#15051)
  .buildkite/scripts/hardware_ci/run-tpu-v1-test.sh
  tests/v1/tpu/test_multimodal.py
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Fencing Kernels Tests for enabling on AMD (#16929)
  .buildkite/scripts/hardware_ci/run-amd-test.sh
  .buildkite/test-pipeline.yaml
Owners: none

[Minor] Use larger batch sizes for A100/B100/B200/MI300x (#17073)
  vllm/engine/arg_utils.py
Owners: none

[ROCm] Add aiter tkw1 kernel for Llama4 fp8 (#16727)
  docker/Dockerfile.rocm_base
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/rocm_aiter_fused_moe.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/fp8.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao
