Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[misc] ignore marlin_moe_wna16 local gen codes (#16760)
  .gitignore
Owners: none

[Model][VLM] Add Kimi-VL model support (#16387)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  requirements/test.in
  requirements/test.txt
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/kimi_vl.py
  vllm/model_executor/models/moonvit.py
  vllm/model_executor/models/registry.py
  vllm/transformers_utils/config.py
  vllm/transformers_utils/configs/__init__.py
  vllm/transformers_utils/configs/kimi_vl.py
  vllm/transformers_utils/configs/moonvit.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[Misc] refactor examples (#16563)
  examples/offline_inference/disaggregated_prefill.py
  examples/offline_inference/disaggregated_prefill_lmcache.py
  examples/online_serving/cohere_rerank_client.py
  examples/online_serving/jinaai_rerank_client.py
  examples/online_serving/openai_chat_completion_client.py
Owners: none

[BugFix]: Update minimum `pyzmq` version (#16549)
  requirements/common.txt
Owners: none

[Kernel] Add fp8_w8a8 fused MoE kernel tuning configs for DeepSeek V3/R1 on NVIDIA H20 (#16753)
  vllm/model_executor/layers/fused_moe/configs/E=256,N=128,device_name=NVIDIA_H20,dtype=fp8_w8a8,block_shape=[128,128].json
Owners: none

[V1][TPU] Enable Top K (#15489)
  tests/v1/tpu/test_sampler.py
  tests/v1/tpu/test_topk_topp_sampler.py
  vllm/envs.py
  vllm/v1/sample/ops/topk_topp_sampler.py
  vllm/v1/sample/tpu/metadata.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[TPU][V1] Fix padding recompilation when `max-num-batched-tokens` is not even (#16726)
  tests/v1/tpu/worker/test_tpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCM] Bind triton version to 3.2 in requirements-built.txt (#16664)
  requirements/rocm-build.txt
Owners: none

[release] Publish neuron docker image (#16733)
  .buildkite/release-pipeline.yaml
Owners: none

[V1][Structured Output] Minor modification to `_validate_structured_output()` (#16748)
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Performance] Implement custom serializaton for MultiModalKwargs [Rebased] (#16432)
  tests/v1/test_serial_utils.py
  vllm/envs.py
  vllm/v1/serial_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix tests/kernels/test_mamba_ssm_ssd.py (#16623)
  tests/kernels/test_mamba_ssm_ssd.py
Owners: @tlrmchlsmth, @WoosukKwon

[Model] use AutoWeightsLoader for BigCode, GPT-J (#16823)
  vllm/model_executor/models/gpt_bigcode.py
  vllm/model_executor/models/gpt_j.py
Owners: none

[Misc] remove warning if triton>=3.2.0 (#16553)
  vllm/attention/ops/triton_decode_attention.py
Owners: none

[Hardware][TPU] Add torchvision to tpu dependency file (#16616)
  requirements/tpu.txt
Owners: none

Fix `nullable_kvs` fallback (#16837)
  tests/engine/test_arg_utils.py
  tests/entrypoints/openai/test_audio.py
  tests/entrypoints/openai/test_video.py
  tests/entrypoints/openai/test_vision.py
  tests/entrypoints/openai/test_vision_embedding.py
  tests/models/decoder_only/audio_language/test_ultravox.py
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

[Bugfix] Fix broken GritLM model and tests (missing pooling_metadata) (#16631)
  tests/models/embedding/language/test_gritlm.py
  vllm/model_executor/models/gritlm.py
Owners: @DarkLight1337, @ywang96

[Kernel] moe wna16 marlin kernel (#14447)
  CMakeLists.txt
  csrc/moe/marlin_moe_wna16/generate_kernels.py
  csrc/moe/marlin_moe_wna16/kernel.h
  csrc/moe/marlin_moe_wna16/marlin_template.h
  csrc/moe/marlin_moe_wna16/ops.cu
  csrc/moe/torch_bindings.cpp
  csrc/quantization/gptq_marlin/marlin.cuh
  csrc/quantization/gptq_marlin/marlin_dtypes.cuh
  tests/kernels/test_moe.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/fused_moe/fused_marlin_moe.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/layers/quantization/utils/marlin_utils.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[Model] use AutoWeightsLoader for olmoe,opt,orion,persimmon,phi3_small (#16548)
  vllm/model_executor/models/olmoe.py
  vllm/model_executor/models/opt.py
  vllm/model_executor/models/orion.py
  vllm/model_executor/models/persimmon.py
  vllm/model_executor/models/phi3_small.py
Owners: none

[Kernel] Remove redundant Exp calculations (#16123)
  vllm/attention/ops/triton_merge_attn_states.py
Owners: none

Help user create custom model for Transformers backend remote code models (#16719)
  docs/source/models/supported_models.md
Owners: none

[Doc] Make sure to update vLLM when installing latest code (#16781)
  docs/source/getting_started/installation/gpu/cuda.inc.md
Owners: none

[Misc] refactor argument parsing in examples (#16635)
  examples/offline_inference/audio_language.py
  examples/offline_inference/basic/basic.py
  examples/offline_inference/basic/chat.py
  examples/offline_inference/basic/classify.py
  examples/offline_inference/basic/embed.py
  examples/offline_inference/basic/generate.py
  examples/offline_inference/basic/score.py
  examples/offline_inference/data_parallel.py
  examples/offline_inference/eagle.py
  examples/offline_inference/embed_jina_embeddings_v3.py
  examples/offline_inference/embed_matryoshka_fy.py
  examples/offline_inference/encoder_decoder.py
  examples/offline_inference/encoder_decoder_multimodal.py
  examples/offline_inference/mistral-small.py
  examples/offline_inference/mlpspeculator.py
  examples/offline_inference/prithvi_geospatial_mae.py
  examples/offline_inference/profiling.py
  examples/offline_inference/save_sharded_state.py
  examples/offline_inference/simple_profiling.py
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_embedding.py
  examples/offline_inference/vision_language_multi_image.py
  examples/online_serving/api_client.py
  examples/online_serving/gradio_openai_chatbot_webserver.py
  examples/online_serving/gradio_webserver.py
Owners: none

Improve error for structured output backend selection (#16717)
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Multi-modal caches not acting like LRU caches (#16593)
  tests/lora/test_utils.py
  tests/test_utils.py
  vllm/utils.py
  vllm/v1/engine/mm_input_cache.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Fix vLLM x torch.compile config caching (#16491)
  vllm/config.py
Owners: none

[Misc] add collect_env to cli and docker image (#16759)
  .github/ISSUE_TEMPLATE/200-installation.yml
  .github/ISSUE_TEMPLATE/300-usage.yml
  .github/ISSUE_TEMPLATE/400-bug-report.yml
  .github/ISSUE_TEMPLATE/700-performance-discussion.yml
  docker/Dockerfile
  docker/Dockerfile.cpu
  vllm/collect_env.py
  vllm/entrypoints/cli/collect_env.py
  vllm/entrypoints/cli/main.py
Owners: none

[V1][Perf] Faster incremental detokenization (#15137)
  requirements/common.txt
  requirements/test.in
  requirements/test.txt
  tests/lora/test_llama_tp.py
  tests/tokenization/test_detokenize.py
  vllm/entrypoints/openai/tool_parsers/mistral_tool_parser.py
  vllm/v1/engine/detokenizer.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] Fix a 404 link in installation/cpu.md (#16773)
  docs/source/getting_started/installation/cpu.md
Owners: none

[New Model]: Snowflake Arctic Embed (Family) (#16649)
  tests/entrypoints/openai/test_embedding_dimensions.py
  tests/models/embedding/language/test_snowflake_arctic_embed.py
  tests/models/embedding/utils.py
  tests/models/registry.py
  vllm/model_executor/layers/activation.py
  vllm/model_executor/models/bert.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

Add "/server_info" endpoint in api_server to retrieve the vllm_config.  (#16572)
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/engine/multiprocessing/client.py
  vllm/engine/protocol.py
  vllm/entrypoints/openai/api_server.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

fix: hyperlink (#16778)
  docs/source/deployment/frameworks/open-webui.md
Owners: none

[MLA] Simplification to batch P/D reordering (#16673)
  vllm/v1/attention/backends/mla/common.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Attention] Update to lastest FA3 code (#13111)
  cmake/external_projects/vllm_flash_attn.cmake
  vllm/attention/backends/mla/common.py
  vllm/attention/backends/utils.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/attention/backends/mla/common.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[CI/Build] Fix LoRA OOM (#16624)
  tests/lora/test_minicpmv_tp.py
Owners: none

[TPU][V1] Fix exponential padding when `max-num-batched-tokens` is not a power of 2 (#16596)
  tests/v1/tpu/worker/test_tpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Adding vllm buildkite job for IBM Power (#16679)
  .buildkite/scripts/hardware_ci/run-cpu-test-ppc64le.sh
Owners: none

[Misc] Benchmarks for audio models (#16505)
  benchmarks/backend_request_func.py
  benchmarks/benchmark_dataset.py
  benchmarks/benchmark_serving.py
  tests/entrypoints/openai/correctness/test_transcription_api_correctness.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[BugFix] Accuracy fix for llama4 int4 - improperly casted scales (#16801)
  csrc/moe/moe_wna16.cu
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/models/llama4.py
Owners: none

[Docs] Fix a link and grammar issue in production-stack.md (#16809)
  docs/source/deployment/integrations/production-stack.md
Owners: none
