Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill, @tlrmchlsmth, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/core @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/engine/llm_engine.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/executor/executor_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/model_executor/layers/sampler.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
CMakeLists.txt @tlrmchlsmth @WoosukKwon

# Test ownership
/tests/async_engine @njhill @robertgshaw2-neuralmagic @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-neuralmagic
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[Model][Pixtral] Optimizations for input_processor_for_pixtral_hf (#9514)
  vllm/model_executor/models/pixtral.py
Owners: none

[XPU] avoid triton import for xpu (#9440)
  vllm/triton_utils/importing.py
Owners: none

[Bugfix] Fix missing task for speculative decoding (#9524)
  vllm/config.py
Owners: none

[Hardware][Intel CPU][DOC] Update docs for CPU backend (#6212)
  docs/source/getting_started/cpu-installation.rst
  docs/source/index.rst
  docs/source/serving/deploying_with_nginx.rst
Owners: none

[Hardware][XPU] using current_platform.is_xpu (#9605)
  vllm/attention/selector.py
  vllm/config.py
  vllm/executor/ray_utils.py
  vllm/model_executor/custom_op.py
  vllm/utils.py
  vllm/worker/xpu_worker.py
Owners: none

[Frontend] Don't log duplicate error stacktrace for every request in the batch (#9023)
  tests/mq_llm_engine/test_error_handling.py
  vllm/engine/multiprocessing/client.py
Owners: none

[Bugfix] Fix offline_inference_with_prefix.py (#9505)
  examples/offline_inference_with_prefix.py
Owners: none

[Bugfix][OpenVINO] fix_dockerfile_openvino (#9552)
  Dockerfile.openvino
Owners: none

[Misc] Add an env var VLLM_LOGGING_PREFIX, if set, it will be prepend to all logging messages (#9590)
  vllm/envs.py
  vllm/logger.py
Owners: none

[MISC] Consolidate cleanup() and refactor offline_inference_with_prefix.py (#9510)
  examples/offline_inference_with_prefix.py
  tests/async_engine/test_async_llm_engine.py
  tests/conftest.py
  tests/core/block/e2e/conftest.py
  tests/entrypoints/llm/test_encode.py
  tests/entrypoints/llm/test_generate.py
  tests/entrypoints/llm/test_generate_multiple_loras.py
  tests/entrypoints/llm/test_guided_generate.py
  tests/entrypoints/llm/test_lazy_outlines.py
  tests/entrypoints/offline_mode/test_offline_mode.py
  tests/lora/conftest.py
  tests/lora/test_baichuan.py
  tests/lora/test_llama.py
  tests/lora/test_quant_model.py
  tests/metrics/test_metrics.py
  tests/models/decoder_only/vision_language/test_intern_vit.py
  tests/prefix_caching/test_disable_sliding_window.py
  tests/spec_decode/e2e/conftest.py
  tests/tensorizer_loader/conftest.py
  vllm/distributed/parallel_state.py
Owners: @njhill, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @comaniac, @KuntaiDu, @LiuXiaoxuanPKU

[Model] Support E5-V (#9576)
  docs/source/models/supported_models.rst
  examples/offline_inference_vision_language.py
  examples/offline_inference_vision_language_embedding.py
  examples/offline_inference_vision_language_multi_image.py
  tests/conftest.py
  tests/models/embedding/utils.py
  tests/models/embedding/vision_language/test_llava_next.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/utils.py
Owners: @DarkLight1337, @ywang96

[CI/Build] Remove unnecessary `fork_new_process` (#9484)
  tests/utils.py
Owners: none

[Bugfix][Core] Use torch.cuda.memory_stats() to profile peak memory usage (#9352)
  tests/entrypoints/llm/test_lazy_outlines.py
  tests/entrypoints/offline_mode/test_offline_mode.py
  tests/worker/test_profile.py
  vllm/worker/worker.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[CI/Build] Split up decoder-only LM tests (#9488)
  .buildkite/test-pipeline.yaml
  tests/models/decoder_only/language/test_big_models.py
  tests/models/decoder_only/language/test_danube3_4b.py
Owners: @DarkLight1337, @ywang96

[BugFix] Fix and simplify completion API usage streaming (#9475)
  vllm/entrypoints/openai/serving_completion.py
Owners: none

[Kernel] Add env variable to force flashinfer backend to enable tensor cores (#9497)
  vllm/attention/backends/flashinfer.py
  vllm/envs.py
Owners: none

[Model][VLM] Initialize support for Mono-InternVL model (#9528)
  docs/source/models/supported_models.rst
  tests/models/decoder_only/vision_language/test_internvl.py
  vllm/model_executor/models/intern_vit.py
  vllm/model_executor/models/internlm2_ve.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[Model] Support Pixtral models in the HF Transformers format (#9036)
  docs/source/models/supported_models.rst
  examples/offline_inference_vision_language.py
  vllm/model_executor/layers/activation.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/transformers_utils/processor.py
Owners: none

[Frontend] Reduce frequency of client cancellation checking (#7959)
  vllm/utils.py
Owners: none

[Frontend][Feature] Add jamba tool parser (#9154)
  docs/source/serving/openai_compatible_server.md
  tests/tool_use/test_jamba_tool_parser.py
  vllm/entrypoints/openai/tool_parsers/__init__.py
  vllm/entrypoints/openai/tool_parsers/hermes_tool_parser.py
  vllm/entrypoints/openai/tool_parsers/jamba_tool_parser.py
Owners: none

[Model][Bugfix] Fix batching with multi-image in PixtralHF (#9518)
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/pixtral.py
Owners: none

[Doc] Consistent naming of attention backends (#9498)
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/flashinfer.py
  vllm/attention/backends/ipex_attn.py
  vllm/attention/backends/openvino.py
  vllm/attention/backends/pallas.py
  vllm/attention/backends/placeholder_attn.py
  vllm/attention/backends/rocm_flash_attn.py
  vllm/attention/backends/torch_sdpa.py
  vllm/attention/backends/utils.py
  vllm/attention/backends/xformers.py
  vllm/spec_decode/draft_model_runner.py
  vllm/spec_decode/spec_decode_worker.py
  vllm/worker/model_runner.py
  vllm/worker/multi_step_model_runner.py
Owners: none

[misc] comment to avoid future confusion about baichuan (#9620)
  vllm/model_executor/models/baichuan.py
  vllm/model_executor/models/registry.py
Owners: none

[Bugfix] Generate exactly input_len tokens in benchmark_throughput (#9592)
  benchmarks/benchmark_throughput.py
Owners: none

[Hardwware][Neuron] Simplify model load for transformers-neuronx library (#9380)
  vllm/model_executor/model_loader/neuron.py
Owners: none

[Bugfix]: serialize config by value for --trust-remote-code (#6751)
  tests/distributed/test_pipeline_parallel.py
  vllm/engine/arg_utils.py
  vllm/transformers_utils/config.py
  vllm/utils.py
Owners: @youkaichao

[torch.compile] Adding torch compile annotations to some models (#9614)
  vllm/model_executor/models/baichuan.py
  vllm/model_executor/models/bloom.py
  vllm/model_executor/models/commandr.py
  vllm/model_executor/models/exaone.py
  vllm/model_executor/models/gemma.py
  vllm/model_executor/models/gpt2.py
Owners: none

[torch.compile] auto infer dynamic_arg_dims from type annotation (#9589)
  vllm/compilation/decorators.py
  vllm/model_executor/models/gemma2.py
  vllm/model_executor/models/llama.py
Owners: none

[VLM] Enable overriding whether post layernorm is used in vision encoder + fix quant args (#9217)
  vllm/model_executor/layers/quantization/awq.py
  vllm/model_executor/models/blip.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/clip.py
  vllm/model_executor/models/idefics2_vision_model.py
  vllm/model_executor/models/intern_vit.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/nvlm_d.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/siglip.py
Owners: none

[BugFix] Prevent exporting duplicate OpenTelemetry spans (#9017)
  tests/tracing/test_tracing.py
  vllm/engine/llm_engine.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Bugfix] fix detokenizer shallow copy (#5919)
  vllm/transformers_utils/detokenizer.py
Owners: none

[CI/Build] Add error matching config for mypy (#9512)
  .github/workflows/matchers/mypy.json
  .github/workflows/mypy.yaml
  tools/mypy.sh
Owners: none

[Misc] benchmark: Add option to set max concurrency (#9390)
  benchmarks/benchmark_serving.py
Owners: none

[CI/Build] Add bot to close stale issues and PRs (#9436)
  .github/workflows/stale.yml
Owners: none

[core] move parallel sampling out from vllm core (#9302)
  tests/entrypoints/openai/test_completion.py
  vllm/engine/llm_engine.py
  vllm/outputs.py
  vllm/sequence.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Neuron] [Bugfix] Fix neuron startup (#9374)
  vllm/_custom_ops.py
  vllm/config.py
  vllm/platforms/__init__.py
  vllm/platforms/interface.py
  vllm/platforms/neuron.py
  vllm/triton_utils/importing.py
  vllm/utils.py
Owners: none

[CI/Build] Configure matcher for actionlint workflow (#9511)
  .github/workflows/actionlint.yml
Owners: none

[Build] Fix `FetchContent` multiple build issue (#9596)
  CMakeLists.txt
  setup.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix] Fix divide by zero when serving Mamba models (#9617)
  vllm/engine/llm_engine.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Bugfix][Model] Fix Mllama SDPA illegal memory access for batched multi-image (#9626)
  vllm/model_executor/models/mllama.py
Owners: none
