Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Doc] Update rocm.inc.md (#15917)
  docs/source/getting_started/installation/gpu/rocm.inc.md
Owners: none

Fix `huggingface-cli[hf-xet]` -> `huggingface-cli[hf_xet]` (#15969)
  requirements/common.txt
  requirements/test.in
Owners: none

[Model] Aya Vision (#15441)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/config.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/aya_vision.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[Misc] Allow using OpenCV as video IO fallback (#15055)
  requirements/common.txt
  requirements/test.in
  requirements/test.txt
  setup.py
  vllm/assets/video.py
  vllm/multimodal/video.py
Owners: @DarkLight1337, @ywang96

[Benchmark] Add AIMO Dataset to Benchmark (#15955)
  benchmarks/benchmark_dataset.py
  benchmarks/benchmark_serving.py
Owners: none

[Bugfix][Model] fix mllama multi-image (#14883)
  tests/models/encoder_decoder/vision_language/test_mllama.py
  vllm/model_executor/models/mllama.py
Owners: @DarkLight1337, @ywang96

[CPU] Change default block_size for CPU backend (#16002)
  vllm/platforms/cpu.py
Owners: none

fix: better error message for get_config close #13889 (#15943)
  vllm/transformers_utils/config.py
Owners: none

[Distributed] [ROCM] Fix custom allreduce enable checks (#16010)
  vllm/config.py
  vllm/platforms/cuda.py
  vllm/platforms/interface.py
  vllm/platforms/rocm.py
Owners: none

[Docs] update usage stats language (#15898)
  docs/source/serving/usage_stats.md
Owners: none

[Spec Decode] Fix input triton kernel for eagle (#15909)
  vllm/v1/spec_decode/eagle.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCm] Use device name in the warning (#15838)
  vllm/engine/arg_utils.py
Owners: none

[torch.compile][TPU] Make @support_torch_compile work for XLA backend (#15782)
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] LoRA : Fix the order in which the kernels process LoRAs (#16040)
  vllm/lora/ops/triton_ops/lora_kernel_metadata.py
Owners: none

[Misc] Human-readable `max-model-len` cli arg (#16181)
  tests/engine/test_arg_utils.py
  vllm/engine/arg_utils.py
Owners: none

[Core] Upgrade to xgrammar 0.1.18, add cache size limit (#16283)
  requirements/common.txt
  vllm/envs.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
  vllm/v1/structured_output/backend_xgrammar.py
Owners: @mgoin, @russellb

[Misc] Move Llama 4 projector call into encoder execution (#16201)
  vllm/model_executor/models/mllama4.py
Owners: none

[Bugfix] fix gettid method is not define (#16084)
  csrc/cpu/utils.cpp
Owners: none

[CI] Set max transformers version for Ultravox model test (#16149)
  tests/models/registry.py
Owners: @DarkLight1337, @ywang96

[doc] fix 404 (#16082)
  docs/source/models/supported_models.md
Owners: none

[VLM] Florence-2 supports online serving (#16164)
  examples/template_florence2.jinja
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/florence2.py
Owners: none

[CI] Fix benchmark script level (#16089)
  .buildkite/scripts/run-benchmarks.sh
Owners: none

[Misc] add description attribute in CLI (#15921)
  vllm/entrypoints/cli/benchmark/base.py
  vllm/entrypoints/cli/benchmark/main.py
  vllm/entrypoints/cli/openai.py
  vllm/entrypoints/cli/serve.py
Owners: none

[Misc] Improve model redirect to accept json dictionary (#16119)
  vllm/envs.py
  vllm/transformers_utils/utils.py
Owners: none

[Misc] Auto detect bitsandbytes pre-quantized models (#16027)
  docs/source/features/quantization/bnb.md
  tests/quantization/test_bitsandbytes.py
  vllm/engine/arg_utils.py
Owners: @mgoin, @robertgshaw2-redhat

Fix some capitalisations in generated examples doc titles (#16094)
  docs/source/generate_examples.py
Owners: none

[V1][BugFix] Exit properly if engine core fails during startup (#16137)
  requirements/test.in
  requirements/test.txt
  tests/v1/engine/test_engine_core_client.py
  vllm/v1/engine/core_client.py
  vllm/v1/utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Merge the logs of pp layers partitions (#16225)
  vllm/distributed/utils.py
Owners: none

Update to transformers==4.51.1 (#16257)
  requirements/common.txt
  requirements/test.in
  requirements/test.txt
Owners: none

[Bugfix] Proper input validation for multi-modal encoder-decoder models (#16156)
  examples/offline_inference/encoder_decoder_multimodal.py
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  tests/engine/test_short_mm_context.py
  tests/entrypoints/llm/test_prompt_validation.py
  tests/entrypoints/openai/test_prompt_validation.py
  tests/models/encoder_decoder/vision_language/test_mllama.py
  vllm/engine/llm_engine.py
  vllm/multimodal/profiling.py
  vllm/v1/engine/processor.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon

[Bugfix] Handle `process_weights_after_loading` for `QKVCrossParallelLinear` (#15328)
  vllm/model_executor/layers/linear.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/model_loader/loader.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[Misc] Update compressed-tensors to version 0.9.3 (#16196)
  requirements/common.txt
Owners: none

[BugFix] Fix fusion test and add them to CI (#16287)
  .buildkite/test-pipeline.yaml
  tests/compile/test_full_graph.py
  tests/compile/test_fusion.py
Owners: none

[core] do not send error across process (#16174)
  vllm/v1/executor/multiproc_executor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Add warning that content below line in template will be removed (#16276)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

[Doc][Bugfix] Add missing EOF in k8s deploy doc (#16025)
  docs/source/deployment/k8s.md
Owners: none

[Bugfix] fix use-ep bug to enable ep by dp/tp size > 1 (#16161)
  vllm/model_executor/layers/fused_moe/layer.py
Owners: none

[CI][Bugfix] Fix bad tolerance for test_batch_base64_embedding (#16221)
  tests/entrypoints/openai/test_embedding.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Feature] Estimate max-model-len use available KV cache memory (#16168)
  tests/v1/core/test_kv_cache_utils.py
  vllm/v1/core/kv_cache_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] Revert the default `max_num_seqs` to V0 values for most hardware (#16158)
  docs/source/getting_started/v1_user_guide.md
  tests/v1/engine/test_engine_args.py
  vllm/engine/arg_utils.py
Owners: none
