Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[TPU][CI] Update torchxla version in requirement-tpu.txt (#12422)
  Dockerfile.tpu
  requirements-tpu.txt
Owners: none

[Build] Only build 9.0a for scaled_mm and sparse kernels (#12339)
  CMakeLists.txt
  cmake/utils.cmake
Owners: @tlrmchlsmth

[Model][Bugfix]: correct Aria model output (#12309)
  examples/offline_inference/vision_language.py
  vllm/model_executor/models/aria.py
Owners: none

Do not run `suggestion` `pre-commit` hook multiple times (#12521)
  .pre-commit-config.yaml
Owners: none

[ci/build] sync default value for wheel size (#12398)
  .buildkite/check-wheel-size.py
  Dockerfile
Owners: none

[Bugfix] Disable w16a16 2of4 sparse CompressedTensors24 (#12417)
  tests/kernels/test_cutlass.py
  tests/kernels/test_cutlass_2of4_sparse.py
  tests/kernels/test_semi_structured.py
  tests/kernels/utils.py
  tests/quantization/test_compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[Frontend] Support scores endpoint in run_batch (#12430)
  examples/offline_inference/openai/openai_batch.md
  tests/entrypoints/openai/test_run_batch.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/run_batch.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1][Metrics] Add initial Prometheus logger (#12416)
  tests/entrypoints/openai/test_metrics.py
  vllm/v1/engine/async_llm.py
  vllm/v1/metrics/loggers.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[CI/Build] Fixed the xla nightly issue report in #12451 (#12453)
  requirements-tpu.txt
Owners: none

[V1] Increase default batch size for H100/H200 (#12369)
  vllm/engine/arg_utils.py
Owners: none

[core] separate builder init and builder prepare for each batch (#12253)
  vllm/attention/backends/abstract.py
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/flashinfer.py
  vllm/attention/backends/placeholder_attn.py
  vllm/attention/backends/torch_sdpa.py
  vllm/attention/backends/utils.py
  vllm/worker/cpu_model_runner.py
  vllm/worker/model_runner.py
  vllm/worker/model_runner_base.py
  vllm/worker/xpu_model_runner.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

Set weights_only=True when using torch.load() (#12366)
  vllm/assets/image.py
  vllm/lora/models.py
  vllm/model_executor/model_loader/weight_utils.py
  vllm/prompt_adapter/utils.py
Owners: none

[Kernel] Pipe attn_logits_soft_cap through paged attention TPU kernels (#12482)
  .buildkite/run-tpu-test.sh
  vllm/attention/backends/pallas.py
Owners: none

[Misc] Add FA2 support to ViT MHA layer (#12355)
  tests/kernels/test_mha_attn.py
  vllm/attention/layer.py
Owners: @tlrmchlsmth, @WoosukKwon

[Doc] Deprecate Discord (#12668)
  CODE_OF_CONDUCT.md
  README.md
Owners: none

doc: fixing minor typo in readme.md (#12643)
  README.md
Owners: none

[Doc] Improve installation signposting (#12575)
  docs/source/getting_started/installation/ai_accelerator/hpu-gaudi.inc.md
  docs/source/getting_started/installation/ai_accelerator/index.md
  docs/source/getting_started/installation/ai_accelerator/neuron.inc.md
  docs/source/getting_started/installation/ai_accelerator/openvino.inc.md
  docs/source/getting_started/installation/ai_accelerator/tpu.inc.md
  docs/source/getting_started/installation/cpu/apple.inc.md
  docs/source/getting_started/installation/cpu/arm.inc.md
  docs/source/getting_started/installation/cpu/index.md
  docs/source/getting_started/installation/cpu/x86.inc.md
  docs/source/getting_started/installation/gpu/index.md
  docs/source/getting_started/installation/gpu/rocm.inc.md
  docs/source/getting_started/installation/gpu/xpu.inc.md
  docs/source/getting_started/installation/index.md
Owners: none

Fix the pydantic logging validator (#12420)
  vllm/entrypoints/openai/protocol.py
Owners: none

[Bugfix] handle alignment of arguments in convert_sparse_cross_attention_mask_to_dense (#12347)
  tests/models/encoder_decoder/vision_language/test_mllama.py
  vllm/model_executor/models/mllama.py
Owners: @DarkLight1337, @ywang96

[BugFix] fix wrong output when using lora and num_scheduler_steps=8 (#11161)
  vllm/worker/model_runner.py
  vllm/worker/worker.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[release] Add input step to ask for Release version (#12631)
  .buildkite/release-pipeline.yaml
Owners: none

Fix target matching for fused layers with compressed-tensors (#12617)
  vllm/model_executor/layers/quantization/compressed_tensors/utils.py
Owners: none

[CI/Build] Add label automation for structured-output, speculative-decoding, v1 (#12280)
  .github/mergify.yml
Owners: none

[Bugfix] Revert MoE Triton Config Default (#12629)
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none

[Hardware][NV] Fix Modelopt model loading for k-v-scales for Llama models. (#11787)
  vllm/model_executor/model_loader/weight_utils.py
  vllm/model_executor/models/llama.py
  vllm/model_executor/models/mixtral.py
Owners: none

[ROCm][AMD][Model] llama 3.2 support upstreaming (#12421)
  vllm/attention/backends/rocm_flash_attn.py
  vllm/model_executor/models/mllama.py
Owners: none

[Git] Automatically sign-off commits (#12595)
  .pre-commit-config.yaml
  docs/source/contributing/overview.md
  format.sh
Owners: none

Disable chunked prefill and/or prefix caching when MLA is enabled (#12642)
  vllm/config.py
Owners: none

[Doc] int4 w4a16 example (#12585)
  docs/source/features/quantization/index.md
  docs/source/features/quantization/int4.md
  docs/source/features/quantization/int8.md
Owners: none

[V1] Improve Error Message for Unsupported Config (#12535)
  vllm/platforms/cuda.py
Owners: none

[Docs][V1] Prefix caching design (#12598)
  docs/source/assets/design/v1/prefix_caching/example-time-1.png
  docs/source/assets/design/v1/prefix_caching/example-time-3.png
  docs/source/assets/design/v1/prefix_caching/example-time-4.png
  docs/source/assets/design/v1/prefix_caching/example-time-5.png
  docs/source/assets/design/v1/prefix_caching/example-time-6.png
  docs/source/assets/design/v1/prefix_caching/example-time-7.png
  docs/source/assets/design/v1/prefix_caching/free.png
  docs/source/assets/design/v1/prefix_caching/overview.png
  docs/source/design/v1/prefix_caching.md
  docs/source/index.md
Owners: none

[BugFix] Fix Torch.Compile For DeepSeek (#12594)
  vllm/model_executor/layers/quantization/fp8.py
Owners: none

[Bugfix] fix moe_wna16 get_quant_method (#12648)
  vllm/model_executor/layers/quantization/moe_wna16.py
Owners: none

Revert "[Build/CI] Fix libcuda.so linkage" (#12552)
  CMakeLists.txt
Owners: @tlrmchlsmth

[Kernel][Quantization] Integrate block-quantized CUTLASS kernels for DeepSeekV3 (#12587)
  csrc/ops.h
  csrc/quantization/cutlass_w8a8/scaled_mm_c3x.cu
  csrc/quantization/cutlass_w8a8/scaled_mm_entry.cu
  csrc/torch_bindings.cpp
  vllm/_custom_ops.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
Owners: none

Bugfix for whisper quantization due to fake k_proj bias (#12524)
  vllm/model_executor/models/whisper.py
Owners: none

[Core] Silence unnecessary deprecation warnings (#12620)
  vllm/lora/request.py
Owners: none

[Core][v1] Unify allocating slots in prefill and decode in KV cache manager (#12608)
  tests/v1/core/test_prefix_caching.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Frontend] Support override generation config in args (#12409)
  tests/test_config.py
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: none

[V1][Minor] Avoid frequently creating ConstantList (#12653)
  vllm/v1/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
