Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[V1] LM Eval With Streaming Integration Tests (#11590)
  .buildkite/test-pipeline.yaml
Owners: none

[VLM] merged multimodal processor and V1 support for idefics3 (#12660)
  docs/source/models/supported_models.md
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/multimodal/processing/test_common.py
  tests/models/multimodal/processing/test_idefics3.py
  vllm/inputs/registry.py
  vllm/model_executor/models/idefics3.py
Owners: @DarkLight1337, @ywang96

Prevent unecessary requests to huggingface hub (#12837)
  tests/entrypoints/offline_mode/test_offline_mode.py
  vllm/transformers_utils/config.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Misc] Add qwen2.5-vl BNB support (#12944)
  vllm/model_executor/models/qwen2_5_vl.py
Owners: none

[Bugfix] Fix unsupported FA version check for Turing GPU (#12828)
  vllm/attention/backends/utils.py
Owners: none

[Misc] Update w2 scale loading for GPTQMarlinMoE (#12757)
  tests/weight_loading/models-large.txt
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
Owners: @mgoin, @youkaichao

[Doc] Remove performance warning for auto_awq.md (#12743)
  docs/source/features/quantization/auto_awq.md
Owners: none

[Misc] Fix typo in the example file (#12896)
  examples/online_serving/openai_chat_embedding_client_for_multimodal.py
Owners: none

Squelch MLA warning for Compressed-Tensors Models (#12704)
  vllm/config.py
Owners: none

[V1] LoRA Support (#10957)
  tests/lora/conftest.py
  tests/lora/test_baichuan.py
  tests/lora/test_chatglm3_tp.py
  tests/lora/test_gemma.py
  tests/lora/test_llama_tp.py
  tests/lora/test_lora_bias_e2e.py
  tests/lora/test_phi.py
  tests/lora/test_quant_model.py
  tests/v1/core/test_kv_cache_utils.py
  vllm/lora/layers.py
  vllm/model_executor/layers/logits_processor.py
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/core/scheduler.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/lora_model_runner_mixin.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCm] [Feature] [Doc] [Dockerfile] [BugFix] Support Per-Token-Activation Per-Channel-Weight FP8 Quantization Inferencing (#12501)
  Dockerfile.rocm_base
  docs/source/getting_started/installation/gpu/rocm.inc.md
  tests/quantization/test_fp8.py
  tests/quantization/test_ptpc_fp8.py
  vllm/model_executor/layers/quantization/__init__.py
  vllm/model_executor/layers/quantization/ptpc_fp8.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
  vllm/platforms/rocm.py
Owners: @mgoin, @robertgshaw2-redhat

[misc] Add LoRA to benchmark_serving (#12898)
  benchmarks/benchmark_serving.py
Owners: none

Avoid unnecessary multi-modal input data copy when len(batch) == 1 (#12722)
  vllm/multimodal/inputs.py
Owners: @DarkLight1337, @ywang96

Fix for attention layers to remain unquantized during moe_wn16 quant (#12570)
  vllm/model_executor/layers/quantization/moe_wna16.py
Owners: none

Merging PR #12536
  vllm/attention/layer.py
Owners: none

[AMD][ROCm] Enable DeepSeek model on ROCm (#12662)
  tests/kernels/test_rocm_attention_selector.py
  tests/worker/test_model_runner.py
  vllm/attention/backends/mla/utils.py
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
  vllm/platforms/rocm.py
Owners: @tlrmchlsmth, @WoosukKwon

[MISC] Remove model input dumping when exception (#12582)
  .github/ISSUE_TEMPLATE/400-bug-report.yml
  tests/basic_correctness/test_basic_correctness.py
  vllm/worker/model_runner.py
  vllm/worker/model_runner_base.py
Owners: none

[Bugfix] Better FP8 supported defaults
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
Owners: none

[Docs] Add Google Cloud Slides (#12814)
  README.md
Owners: none

[V1] Logprobs and prompt logprobs support (#9880)
  tests/v1/core/test_scheduler.py
  tests/v1/engine/conftest.py
  tests/v1/engine/test_async_llm.py
  tests/v1/engine/test_llm_engine.py
  tests/v1/engine/test_output_processor.py
  tests/v1/engine/utils.py
  tests/v1/entrypoints/__init__.py
  tests/v1/entrypoints/conftest.py
  tests/v1/entrypoints/openai/test_completion.py
  tests/v1/sample/test_logprobs.py
  tests/v1/sample/test_logprobs_e2e.py
  tests/v1/sample/utils.py
  vllm/outputs.py
  vllm/transformers_utils/detokenizer_utils.py
  vllm/v1/core/scheduler.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/detokenizer.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/engine/logprobs.py
  vllm/v1/engine/output_processor.py
  vllm/v1/engine/processor.py
  vllm/v1/metrics/stats.py
  vllm/v1/outputs.py
  vllm/v1/sample/metadata.py
  vllm/v1/sample/sampler.py
  vllm/v1/serial_utils.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

make sure mistral_common not imported for non-mistral models (#12669)
  .buildkite/test-pipeline.yaml
  tests/standalone_tests/lazy_imports.py
  vllm/multimodal/video.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: @DarkLight1337, @ywang96

[Build] Make pypi install work on CPU platform (#12874)
  setup.py
Owners: none

[misc] Reduce number of config file requests to HuggingFace (#12797)
  vllm/transformers_utils/config.py
Owners: none

[Model][Quant] Fix GLM, Fix fused module mappings for quantization (#12634)
  vllm/model_executor/layers/quantization/base_config.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/utils.py
  vllm/model_executor/layers/quantization/quark/quark.py
  vllm/model_executor/layers/quantization/quark/utils.py
  vllm/model_executor/layers/quantization/utils/quant_utils.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/model_loader/utils.py
  vllm/model_executor/models/chatglm.py
  vllm/model_executor/models/glm4_vision_encoder.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/qwen.py
Owners: none

[cuda] manually import the correct pynvml module (#12679)
  vllm/platforms/__init__.py
  vllm/platforms/cuda.py
  vllm/utils.py
Owners: none

[Bugfix][Kernel] Fix per-token/per-channel quantization for Hopper scaled mm (#12696)
  csrc/quantization/cutlass_w8a8/scaled_mm_c3x.cu
Owners: none

[VLM] Use shared field to pass token ids to model
  vllm/model_executor/models/internvl.py
  vllm/multimodal/inputs.py
Owners: @DarkLight1337, @ywang96

[Perf] Mem align KV caches for CUDA devices (MLA perf improvement) (#12676)
  csrc/cache.h
  csrc/cache_kernels.cu
  csrc/torch_bindings.cpp
  tests/kernels/test_cache.py
  vllm/_custom_ops.py
  vllm/attention/backends/triton_mla.py
  vllm/attention/ops/triton_decode_attention.py
  vllm/envs.py
  vllm/utils.py
  vllm/worker/cache_engine.py
Owners: @tlrmchlsmth, @WoosukKwon

[V1] Revert `uncache_blocks` and support recaching full blocks (#12415)
  tests/v1/core/test_prefix_caching.py
  vllm/v1/core/kv_cache_manager.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix multi-round chat error when mistral tokenizer is used (#12859)
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[VLM] Merged multi-modal processor for InternVL-based models (#12553)
  docs/source/contributing/model/multimodal.md
  docs/source/models/supported_models.md
  tests/models/decoder_only/vision_language/test_h2ovl.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/multimodal/processing/test_common.py
  tests/models/multimodal/processing/test_h2ovl.py
  tests/models/multimodal/processing/test_internvl.py
  tests/models/multimodal/processing/test_llava_next.py
  tests/models/multimodal/processing/test_llava_onevision.py
  tests/models/multimodal/processing/test_phi3v.py
  tests/models/multimodal/processing/test_qwen2_vl.py
  vllm/model_executor/models/aria.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/h2ovl.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/nvlm_d.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/qwen.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/ultravox.py
  vllm/multimodal/inputs.py
  vllm/multimodal/processing.py
  vllm/multimodal/profiling.py
  vllm/multimodal/registry.py
Owners: @DarkLight1337, @ywang96

[CI/Build] Auto-fix Markdown files (#12941)
  .buildkite/nightly-benchmarks/README.md
  .buildkite/nightly-benchmarks/nightly-annotation.md
  .buildkite/nightly-benchmarks/nightly-descriptions.md
  .buildkite/nightly-benchmarks/performance-benchmarks-descriptions.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  README.md
  benchmarks/README.md
  csrc/quantization/cutlass_w8a8/Epilogues.md
  csrc/quantization/machete/Readme.md
  docs/source/getting_started/installation/gpu/rocm.inc.md
  docs/source/serving/engine_args.md
  examples/offline_inference/openai/openai_batch.md
  examples/offline_inference/profiling_tpu/README.md
  examples/online_serving/chart-helm/README.md
  examples/online_serving/opentelemetry/Otel.md
  examples/online_serving/prometheus_grafana/README.md
  examples/other/logging_configuration.md
  vllm/distributed/kv_transfer/README.md
Owners: none

[bugfix] respect distributed_executor_backend in world_size=1 (#12934)
  tests/engine/test_executor.py
  vllm/config.py
  vllm/engine/llm_engine.py
  vllm/v1/executor/abstract.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

[Bugfix] Fix Qwen2_5_VLForConditionalGeneration packed_modules_mapping (#12905)
  vllm/model_executor/models/qwen2_5_vl.py
Owners: none

[Docs] Drop duplicate [source] links
  docs/source/conf.py
Owners: none

[Bugfix] Fix disagg hang caused by the prefill and decode communication issues (#12723)
  vllm/distributed/kv_transfer/kv_lookup_buffer/simple_buffer.py
Owners: none

[Misc] Improve error message for incorrect pynvml (#12809)
  vllm/platforms/__init__.py
Owners: none

[VLM] Add MLA with pure RoPE support for deepseek-vl2 models (#12729)
  vllm/attention/backends/mla/utils.py
  vllm/model_executor/models/deepseek_v2.py
  vllm/model_executor/models/deepseek_v3.py
Owners: none

[Hardware][Intel-Gaudi] Enable FusedSDPA support for Intel Gaudi (HPU)
  vllm/attention/backends/hpu_attn.py
Owners: none

[Misc] Remove unnecessary detokenization in multimodal processing (#12868)
  tests/entrypoints/openai/test_audio.py
  tests/entrypoints/openai/test_vision.py
  tests/entrypoints/openai/test_vision_embedding.py
  vllm/inputs/preprocess.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
