Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

[Docs] Make installation URLs nicer (#14556)
  README.md
  docs/source/getting_started/installation.md
  docs/source/getting_started/installation/ai_accelerator.md
  docs/source/getting_started/installation/cpu.md
  docs/source/getting_started/installation/cpu/arm.inc.md
  docs/source/getting_started/installation/cpu/x86.inc.md
  docs/source/getting_started/installation/gpu.md
  docs/source/index.md
Owners: none

[BugFix]Fix performance serving benchmark when enable profiling (#14737)
  benchmarks/backend_request_func.py
Owners: none

Correct capitalisation: `Github` -> `GitHub` (#14561)
  .github/workflows/publish.yml
  .github/workflows/scripts/create_release.js
  README.md
  vllm/engine/async_llm_engine.py
Owners: none

[core][V1] pluggable scheduler (#14466)
  tests/plugins_tests/test_scheduler_plugins.py
  vllm/engine/arg_utils.py
  vllm/v1/engine/core.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Minor] Minor code cleanup for scheduling metrics (#14800)
  vllm/v1/core/scheduler.py
  vllm/v1/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] Move OOM check into sampler run (#14728)
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Bugfix][Spec Decode] Fix incorrect outputs in V1 speculative decoding due to batch indexing (#14645)
  tests/v1/e2e/test_ngram_spec_decode.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCm][Bugfix] Ensure that the moe_wna16_gemm kernel is not built on ROCm platforms. (#14629)
  CMakeLists.txt
  csrc/moe/moe_ops.h
  csrc/moe/torch_bindings.cpp
  vllm/_custom_ops.py
Owners: @tlrmchlsmth

[V1] Detokenizer: Respect Stop Tokens + not include_stop_str_in_output (#14624)
  tests/v1/engine/test_output_processor.py
  tests/v1/engine/utils.py
  vllm/v1/engine/detokenizer.py
  vllm/v1/engine/output_processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCm][FP8] Fix for adjustments needed only for fnuz (#14689)
  vllm/model_executor/layers/quantization/kv_cache.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[Bugfix] Fix small typo in the example of Streaming delimiter (#14793)
  examples/online_serving/api_client.py
  examples/online_serving/gradio_webserver.py
Owners: none

[V1] Allow sliding window + prefix caching (#13069)
  vllm/config.py
Owners: none

[neuron] add reshape_and_cache (#14391)
  tests/neuron/test_cache.py
  vllm/attention/ops/nki_flash_attn.py
Owners: none

[V1][Bugfix] Fix handing of `second_per_grid_ts` for Qwen2-VL & Qwen2.5-VL (#14548)
  vllm/model_executor/layers/rotary_embedding.py
Owners: none

[VLM] Various cleanup and fixes (#14806)
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/interfaces.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/multimodal/inputs.py
  vllm/multimodal/parse.py
  vllm/multimodal/processing.py
Owners: @DarkLight1337, @ywang96

[V1] Fix vocab size calculation for structured output (#14826)
  vllm/v1/structured_output/__init__.py
Owners: @mgoin, @russellb

[Kernel] [V1] Further optimizations to ROCm (Triton) Backend to better handle GQA. (#14431)
  vllm/attention/ops/chunked_prefill_paged_decode.py
Owners: none

[Minor] Update the tqdm bar for parallel sampling (#14571)
  vllm/entrypoints/llm.py
Owners: none

[Misc][Minor] Simplify `SamplingParams.__post_init__()` (#14772)
  vllm/sampling_params.py
Owners: none

[BugFix][TritonMLA] Process weights after model loading for GGUF (#14555)
  vllm/model_executor/model_loader/loader.py
Owners: none

[Bugfix] fix benchmark moe (#14653)
  benchmarks/kernels/benchmark_moe.py
Owners: none

[ROCm] Enable chunked prefill/paged attention in MLA on ROCm (#14316)
  vllm/attention/backends/mla/common.py
  vllm/config.py
Owners: none

[Misc] Correct deepseek-vl2 chat template (#14558)
  examples/template_deepseek_vl2.jinja
Owners: none

[Kernel] moe wna16 cuda kernel (#13321)
  CMakeLists.txt
  csrc/moe/moe_ops.h
  csrc/moe/moe_wna16.cu
  csrc/moe/moe_wna16_utils.h
  csrc/moe/torch_bindings.cpp
  vllm/_custom_ops.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: @tlrmchlsmth

[Neuron] Add Neuron device communicator for vLLM v1 (#14085)
  tests/neuron/test_comm_ops.py
  vllm/distributed/device_communicators/neuron_communicator.py
  vllm/platforms/neuron.py
Owners: none

[V1] TPU - Enable prefix caching by default (#14773)
  vllm/platforms/tpu.py
Owners: none

[Model] Add support for Gemma 3 (#14660)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/config.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/gemma3.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[V1] Delay all xgrammar usage until needed (#14616)
  vllm/v1/structured_output/__init__.py
Owners: @mgoin, @russellb

benchmarks: simplify test jsonschema (#14567)
  benchmarks/structured_schemas/structured_schema_1.json
Owners: none

[CI/Build] Delete ultravox LoRA test (#14730)
  tests/lora/test_ultravox.py
Owners: none

[bugfix] fixup warning message for plugged schedulers for v1 (#14700)
  vllm/v1/engine/core.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Core] Refactor `QKVCrossParallelLinear` implementation to support BNB 4-bit quantization (#14545)
  tests/models/encoder_decoder/vision_language/test_mllama.py
  vllm/model_executor/layers/linear.py
  vllm/model_executor/models/mllama.py
Owners: @DarkLight1337, @ywang96

[Bugfix][W8A8] fixed cutlass block fp8 binding (#14796)
  csrc/torch_bindings.cpp
Owners: none

forward fix PR 14245, restore build on ROCm 6.2 (#14709)
  csrc/quantization/fp8/amd/quant_utils.cuh
Owners: none

[Bugfix][V1][PP] Only warmup sampler at last PP rank (#14643)
  vllm/v1/worker/gpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Core] using cached vocab_size for Structured Outputs (#14630)
  vllm/v1/structured_output/__init__.py
Owners: @mgoin, @russellb

[Kernel] Add ModelOpt FP4 Checkpoint Support (#12520)
  csrc/ops.h
  csrc/quantization/fp4/nvfp4_scaled_mm_entry.cu
  csrc/quantization/fp4/nvfp4_scaled_mm_kernels.cu
  csrc/torch_bindings.cpp
  tests/models/decoder_only/language/test_nvfp4.py
  vllm/_custom_ops.py
  vllm/config.py
  vllm/model_executor/layers/linear.py
  vllm/model_executor/layers/quantization/__init__.py
  vllm/model_executor/layers/quantization/modelopt.py
Owners: @DarkLight1337, @ywang96, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[VLM] Support pan-and-scan for Gemma3 multi-modal processor (#14672)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  vllm/inputs/registry.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/multimodal/base.py
  vllm/utils.py
Owners: @DarkLight1337, @ywang96

[V1][PP] Do not block engine core when no requests to schedule (#14585)
  vllm/v1/engine/core.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][IPEX] Add `VLLM_CPU_MOE_PREPACK` to allow disabling MoE prepack when CPU does not support it (#14681)
  docs/source/getting_started/installation/cpu.md
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/layer.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao
