Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[V0][Metrics] Remove unimplemented `vllm:tokens_total` (#14134)
  vllm/engine/metrics.py
Owners: none

[core] Pass all driver env vars to ray workers unless excluded (#14099)
  vllm/executor/ray_distributed_executor.py
Owners: none

[TPU][Profiler] Support start_profile/stop_profile in TPU worker (#13988)
  requirements-tpu.txt
  vllm/v1/worker/tpu_worker.py
  vllm/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Easy] Add empty allowed_token_ids in the v1 sampler test (#14308)
  tests/v1/sample/test_sampling_params_e2e.py
Owners: none

[V1] Refactor parallel sampling support (#13774)
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/engine/output_processor.py
  vllm/v1/engine/parallel_sampling.py
  vllm/v1/metrics/stats.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Frontend] Do `prompt_logprobs` clamping for chat as well as completions (#14225)
  vllm/entrypoints/openai/serving_chat.py
  vllm/entrypoints/openai/serving_completion.py
  vllm/entrypoints/openai/serving_engine.py
Owners: none

[V1] EP/TP MoE + DP Attention (#13931)
  examples/offline_inference/data_parallel.py
  tests/kernels/test_moe.py
  vllm/attention/layer.py
  vllm/compilation/backends.py
  vllm/forward_context.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/models/aria.py
  vllm/model_executor/models/dbrx.py
  vllm/model_executor/models/jamba.py
  vllm/model_executor/models/mixtral.py
  vllm/model_executor/models/olmoe.py
  vllm/model_executor/models/phimoe.py
  vllm/model_executor/models/qwen2_moe.py
  vllm/platforms/cuda.py
  vllm/utils.py
  vllm/v1/engine/core.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @tlrmchlsmth, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][CI] ALiBi test case in xformers multi_query_kv_attention (#11301)
  tests/kernels/test_attention.py
  tests/kernels/test_prefix_prefill.py
  vllm/attention/backends/xformers.py
Owners: @tlrmchlsmth, @WoosukKwon

Fix benchmark_moe.py tuning for CUDA devices (#14164)
  benchmarks/kernels/benchmark_moe.py
Owners: none

[Misc][Platform] Move use allgather to platform (#14010)
  vllm/model_executor/layers/logits_processor.py
  vllm/platforms/interface.py
  vllm/platforms/neuron.py
  vllm/platforms/tpu.py
Owners: none

prefix_caching.md: Fixed typo (#14293)
  docs/source/design/v1/prefix_caching.md
Owners: none

[V1] Simplify stats logging (#14082)
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/metrics/loggers.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Allow shared_experts skip quantization for DeepSeekV2/V3 (#14100)
  vllm/model_executor/models/deepseek_v2.py
Owners: none

Deprecate `best_of` Sampling Parameter in anticipation for vLLM V1 (#13997)
  benchmarks/backend_request_func.py
  benchmarks/benchmark_serving.py
  examples/offline_inference/llm_engine_example.py
  examples/online_serving/opentelemetry/dummy_client.py
  tests/core/test_scheduler.py
  tests/core/utils.py
  tests/v1/sample/test_sampling_params_e2e.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_completion.py
  vllm/sampling_params.py
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Kernel] Optimize moe intermediate_cache usage (#13625)
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none
