Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

[Bugfix] Support triton==3.3.0+git95326d9f for RTX 5090 (Unsloth + vLLM compatibility) (#15471)
  vllm/lora/ops/triton_ops/kernel_utils.py
Owners: none

Apply torchfix (#15532)
  vllm/attention/backends/rocm_flash_attn.py
  vllm/lora/models.py
  vllm/model_executor/models/nemotron.py
  vllm/model_executor/models/phi4mm_utils.py
  vllm/multimodal/image.py
Owners: @DarkLight1337, @ywang96

[V1][Usage] Refactor speculative decoding configuration and tests (#14434)
  docs/source/features/spec_decode.md
  examples/offline_inference/mlpspeculator.py
  tests/spec_decode/e2e/conftest.py
  tests/spec_decode/e2e/test_compatibility.py
  tests/spec_decode/e2e/test_eagle_correctness.py
  tests/spec_decode/e2e/test_integration.py
  tests/spec_decode/e2e/test_integration_dist_tp2.py
  tests/spec_decode/e2e/test_integration_dist_tp4.py
  tests/spec_decode/e2e/test_logprobs.py
  tests/spec_decode/e2e/test_medusa_correctness.py
  tests/spec_decode/e2e/test_mlp_correctness.py
  tests/spec_decode/e2e/test_mtp_correctness.py
  tests/spec_decode/e2e/test_multistep_correctness.py
  tests/spec_decode/e2e/test_ngram_correctness.py
  tests/spec_decode/e2e/test_seed.py
  tests/v1/e2e/test_ngram_spec_decode.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/spec_decode/spec_decode_worker.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @njhill, @LiuXiaoxuanPKU, @WoosukKwon, @robertgshaw2-redhat, @ywang96, @comaniac, @alexm-redhat

[V1][Minor] Use `SchedulerInterface` type for engine scheduler field (#15499)
  vllm/v1/engine/core.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc][Doc] Add note regarding loading `generation_config` by default (#15281)
  docs/source/getting_started/quickstart.md
  docs/source/models/generative_models.md
  docs/source/serving/openai_compatible_server.md
  vllm/config.py
Owners: none

[bugfix] add supports_v1 platform interface (#15417)
  vllm/engine/arg_utils.py
  vllm/platforms/cuda.py
  vllm/platforms/interface.py
  vllm/platforms/rocm.py
  vllm/platforms/tpu.py
Owners: none

[V1][Sampler] Faster top-k only implementation (#15478)
  tests/v1/sample/test_topk_topp_sampler.py
  vllm/v1/sample/ops/topk_topp_sampler.py
  vllm/v1/sample/sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Hardware][Gaudi][Feature] Enable Dynamic MoE for Mixtral (#12303)
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/model_loader/loader.py
  vllm/worker/hpu_model_runner.py
Owners: none

Support SHA256 as hash function in prefix caching (#15297)
  docs/source/design/v1/prefix_caching.md
  tests/test_utils.py
  tests/v1/core/test_kv_cache_utils.py
  tests/v1/core/test_prefix_caching.py
  tests/v1/engine/test_engine_args.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/utils.py
  vllm/v1/core/block_pool.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/core/sched/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[distributed] fix dp group (#15355)
  vllm/distributed/parallel_state.py
Owners: none

[TPU] [Perf] Improve Memory Usage Estimation (#15671)
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][Frontend] Eliminate regex based check in reasoning full generator (#14821)
  tests/reasoning/test_deepseekr1_reasoning_parser.py
  vllm/reasoning/deepseek_r1_reasoning_parser.py
Owners: none

[Quantization] Fp8 Channelwise Dynamic Per Token GroupedGEMM (#15587)
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[Bugfix] Fix regex compile display format (#15368)
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[Misc] Consolidate LRUCache implementations (#15481)
  vllm/multimodal/processing.py
  vllm/utils.py
Owners: @DarkLight1337, @ywang96

[V1] Remove legacy input registry (#15673)
  tests/models/multimodal/processing/test_h2ovl.py
  tests/models/multimodal/processing/test_idefics3.py
  tests/models/multimodal/processing/test_internvl.py
  tests/models/multimodal/processing/test_llava_next.py
  tests/models/multimodal/processing/test_llava_onevision.py
  tests/models/multimodal/processing/test_phi3v.py
  tests/models/multimodal/processing/test_qwen2_vl.py
  tests/multimodal/test_processing.py
  vllm/inputs/preprocess.py
  vllm/inputs/registry.py
  vllm/multimodal/profiling.py
  vllm/multimodal/registry.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/engine/processor.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[doc] update conda to usage link in installation (#15761)
  docs/source/getting_started/installation/python_env_setup.inc.md
Owners: none

[Bugfix] Fix `mm_hashes` forgetting to be passed (#15668)
  vllm/inputs/preprocess.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/phi4mm.py
  vllm/model_executor/models/prithvi_geospatial_mae.py
  vllm/multimodal/inputs.py
Owners: @DarkLight1337, @ywang96

[Docs] Document v0 engine support in reasoning outputs (#15739)
  docs/source/features/reasoning_outputs.md
Owners: none

[Bugfix] Fix Mllama interleaved images input support (#15564)
  examples/offline_inference/vision_language_multi_image.py
  vllm/model_executor/models/mllama.py
Owners: none

[Doc] Link to onboarding tasks (#15629)
  docs/source/conf.py
  docs/source/contributing/overview.md
Owners: none

fix: change GB to GiB in logging close #14979 (#15807)
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/worker/model_runner.py
  vllm/worker/xpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[CI] xgrammar structured output supports Enum. (#15757)
  tests/v1/structured_output/test_utils.py
Owners: @mgoin, @russellb

[V1][Spec Decode] Remove deprecated spec decode config params (#15466)
  .buildkite/nightly-benchmarks/tests/serving-tests.json
  docs/source/features/spec_decode.md
  examples/offline_inference/eagle.py
  tests/metrics/test_metrics.py
  tests/models/test_initialization.py
  tests/spec_decode/e2e/test_integration_dist_tp2.py
  tests/spec_decode/e2e/test_integration_dist_tp4.py
  tests/v1/test_oracle.py
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: @DarkLight1337, @ywang96, @njhill, @LiuXiaoxuanPKU

[V1] TPU CI - Add basic perf regression test (#15414)
  .buildkite/run-tpu-v1-test.sh
  tests/entrypoints/llm/test_accuracy.py
  tests/v1/tpu/test_basic.py
  tests/v1/tpu/test_perf.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Remove unused utils and clean up imports (#15708)
  tests/multimodal/test_utils.py
  vllm/multimodal/utils.py
  vllm/v1/core/sched/output.py
  vllm/v1/worker/gpu_input_batch.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[V1] Refactor num_computed_tokens logic (#15307)
  tests/v1/core/test_scheduler.py
  tests/v1/engine/test_engine_core.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Correct PowerPC to modern IBM Power (#15635)
  docs/source/index.md
Owners: none

[Bugfix] Check dimensions of multimodal embeddings in V1 (#15816)
  examples/offline_inference/vision_language.py
  tests/distributed/test_pipeline_parallel.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/registry.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/vision.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/utils.py
Owners: @youkaichao, @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[CI][TPU] Temporarily Disable Quant Test on TPU (#15649)
  .buildkite/run-tpu-v1-test.sh
  tests/v1/tpu/test_basic.py
Owners: none

[Misc] Fix test_sleep to use query parameters (#14373)
  tests/entrypoints/openai/test_sleep.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Docs] Add "Generation quality changed" section to troubleshooting (#15701)
  docs/source/getting_started/troubleshooting.md
Owners: none

[Bugfix] Fix Mistral guided generation using xgrammar (#15704)
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/v1/structured_output/backend_xgrammar.py
Owners: @mgoin, @russellb

[moe][quant] add weight name case for offset (#15515)
  vllm/model_executor/layers/fused_moe/layer.py
Owners: none

implement prometheus fast-api-instrumentor for http service metrics (#15657)
  vllm/entrypoints/openai/api_server.py
Owners: none

[V1] Override `mm_counts` for dummy data creation (#15703)
  tests/models/decoder_only/vision_language/test_models.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/multimodal/profiling.py
  vllm/multimodal/registry.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[Misc][V1] Misc code streamlining (#15723)
  vllm/distributed/utils.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/output_processor.py
  vllm/v1/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Avoid direct access of global `mm_registry` in `compute_encoder_budget` (#15621)
  vllm/v1/core/encoder_cache_manager.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] cli auto show default value (#15582)
  vllm/benchmarks/serve.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/openai/cli_args.py
  vllm/utils.py
Owners: none

[TPU] [V1] fix cases when max_num_reqs is set smaller than MIN_NUM_SEQS (#15583)
  examples/offline_inference/tpu.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao
