Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

[Bugfix][ROCm] running new process using spawn method for rocm in tests. (#14810)
  tests/basic_correctness/test_cumem.py
  tests/compile/test_full_graph.py
  tests/distributed/test_expert_parallel.py
  tests/distributed/test_pipeline_parallel.py
  tests/distributed/test_pp_cudagraph.py
  tests/entrypoints/llm/test_collective_rpc.py
  tests/lora/test_chatglm3_tp.py
  tests/lora/test_llama_tp.py
  tests/lora/test_minicpmv_tp.py
  tests/lora/test_transfomers_model.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/case_filtering.py
  tests/models/encoder_decoder/audio_language/test_whisper.py
  tests/models/test_oot_registration.py
  tests/models/test_registry.py
  tests/quantization/test_bitsandbytes.py
  tests/spec_decode/e2e/test_multistep_correctness.py
  tests/test_utils.py
  tests/utils.py
  tests/v1/engine/test_engine_core.py
  tests/v1/engine/test_engine_core_client.py
Owners: @youkaichao, @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96, @mgoin, @njhill, @LiuXiaoxuanPKU

[Bugfix][Model] Mixtral: use unused head_dim config argument (#14961)
  vllm/model_executor/models/mixtral.py
  vllm/model_executor/models/mixtral_quant.py
Owners: none

[Bugfix] Fix torch_xla in V0 which can't handle None seed introduced … (#14844)
  vllm/worker/tpu_worker.py
Owners: none

[Benchmark] Do not save detailed info to json by default (#14879)
  benchmarks/backend_request_func.py
  benchmarks/benchmark_serving.py
Owners: none

[CI/Build] Delete LoRA bias test (#14849)
  tests/lora/conftest.py
  tests/lora/test_lora_bias_e2e.py
Owners: none

[Doc] More neutral K8s deployment guide (#14084)
  docs/source/deployment/k8s.md
Owners: none

[VLM] Limit multimodal input cache by memory (#14805)
  .pre-commit-config.yaml
  requirements/common.txt
  requirements/docs.txt
  tests/models/multimodal/processing/test_common.py
  vllm/envs.py
  vllm/jsontree.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/molmo.py
  vllm/multimodal/inputs.py
  vllm/multimodal/processing.py
  vllm/multimodal/registry.py
  vllm/utils.py
  vllm/v1/engine/mm_input_cache.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[Misc] Remove misleading message in gemma2 and gemma3 (#14850)
  vllm/model_executor/models/gemma.py
  vllm/model_executor/models/gemma2.py
  vllm/model_executor/models/gemma3.py
Owners: none

[release] Remove log cleanup commands from TPU job (#14838)
  .buildkite/release-pipeline.yaml
Owners: none

[BugFix] Fix torch distributed stateless PG backend init (#14870)
  examples/offline_inference/data_parallel.py
  vllm/distributed/utils.py
Owners: none

[Misc] Add `--seed` option to offline multi-modal examples (#14934)
  .buildkite/test-pipeline.yaml
  examples/offline_inference/audio_language.py
  examples/offline_inference/encoder_decoder_multimodal.py
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_embedding.py
  examples/offline_inference/vision_language_multi_image.py
Owners: none

[V1] [Spec Decode] Fix ngram tests (#14878)
  tests/v1/spec_decode/test_ngram.py
Owners: none

[Misc][XPU] Use None as device capacity for XPU (#14932)
  vllm/platforms/xpu.py
Owners: none

Revert "[Model] Mamba2 Prefill Performance Tweaks: Fixing Flurry of U… (#14848)
  vllm/model_executor/layers/mamba/mamba_mixer2.py
Owners: none

[V1] Remove V0 fallback for mistral-tokenizer (#14873)
  vllm/engine/arg_utils.py
Owners: none

[MISC] More AMD unused var clean up (#14926)
  csrc/rocm/attention.cu
Owners: none

Revert "[Bugfix] Limit profiling run sequence length by max_model_len (#14785) (#14892)
  vllm/inputs/registry.py
  vllm/worker/enc_dec_model_runner.py
  vllm/worker/model_runner.py
  vllm/worker/openvino_model_runner.py
  vllm/worker/xpu_model_runner.py
Owners: none

[V1] TPU - CI/CD use smaller model (#15054)
  .buildkite/run-tpu-v1-test.sh
  tests/v1/tpu/test_basic.py
Owners: none

[Bugfix] Fix broken CPU quantization due to triton import (#15038)
  vllm/model_executor/layers/quantization/gguf.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

Add user forum to README (#15220)
  README.md
Owners: none

[ci] feat: make the test_torchrun_example run with tp=2, external_dp=2 (#15172)
  .buildkite/test-pipeline.yaml
  tests/distributed/test_torchrun_example.py
Owners: none

[Bugfix] Fix embedding assignment for InternVL-based models (#15086)
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/h2ovl.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/nvlm_d.py
  vllm/multimodal/processing.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Fix size calculation of processing cache (#15114)
  tests/multimodal/test_processing.py
  vllm/multimodal/processing.py
Owners: @DarkLight1337, @ywang96

[V1] Avoid redundant input processing in n>1 case (#14985)
  tests/lora/test_tokenizer_group.py
  tests/tokenization/test_tokenizer_group.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/engine/protocol.py
  vllm/inputs/preprocess.py
  vllm/transformers_utils/tokenizer_group/base_tokenizer_group.py
  vllm/transformers_utils/tokenizer_group/ray_tokenizer_group.py
  vllm/transformers_utils/tokenizer_group/tokenizer_group.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/engine/parallel_sampling.py
  vllm/v1/engine/processor.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

[V1][Bugfix] Fix oracle for device checking (#15104)
  vllm/engine/arg_utils.py
Owners: none

[Bugfix] Fix incorrect resolving order for transformers fallback (#15279)
  vllm/model_executor/models/registry.py
Owners: none

[Misc] Update the "the first vLLM China Meetup" slides link to point to the first page (#15134)
  README.md
Owners: none

[Bugfix] Adjust mllama to regional compilation (#15112)
  vllm/model_executor/models/mllama.py
Owners: none

[Core] Update dtype detection and defaults (#14858)
  tests/compile/test_basic_correctness.py
  tests/conftest.py
  tests/entrypoints/llm/test_chat.py
  tests/entrypoints/openai/test_audio.py
  tests/entrypoints/openai/test_video.py
  tests/entrypoints/openai/test_vision.py
  tests/entrypoints/openai/test_vision_embedding.py
  tests/entrypoints/test_chat_utils.py
  tests/models/decoder_only/audio_language/test_ultravox.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/core.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/decoder_only/vision_language/vlm_utils/types.py
  tests/models/embedding/vision_language/test_dse_qwen2_vl.py
  tests/models/embedding/vision_language/test_llava_next.py
  tests/models/embedding/vision_language/test_phi3v.py
  tests/models/encoder_decoder/vision_language/test_mllama.py
  tests/models/utils.py
  tests/multimodal/test_processing.py
  tests/tensorizer_loader/test_tensorizer.py
  tests/v1/engine/test_llm_engine.py
  vllm/config.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

[Misc]fixed disable these http request logs (#14754)
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/cli_args.py
Owners: none

[Bugfix] Re-enable Gemma3 for V1 (#14980)
  docs/source/models/supported_models.md
  tests/multimodal/test_processing.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/vision.py
  vllm/multimodal/processing.py
Owners: @DarkLight1337, @ywang96

Add an example for reproducibility (#15262)
  examples/offline_inference/reproduciblity.py
Owners: none

[Docs] Trim the latest news in README (#15261)
  README.md
Owners: none

[FEAT]Support reset prefix cache by specified device (#15003)
  vllm/core/block/cpu_gpu_block_allocator.py
  vllm/core/block/interfaces.py
  vllm/core/block_manager.py
  vllm/core/interfaces.py
  vllm/core/placeholder_block_space_manager.py
  vllm/core/scheduler.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/engine/multiprocessing/__init__.py
  vllm/engine/multiprocessing/client.py
  vllm/engine/protocol.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/api_server.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

Enable CUDA graph support for llama 3.2 vision (#14917)
  tests/models/encoder_decoder/vision_language/test_mllama.py
  vllm/config.py
  vllm/model_executor/models/mllama.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Fix broken kernel test due to missing rename for v1 Triton backend (#15282)
  tests/kernels/test_attention_selector.py
  tests/kernels/test_rocm_attention_selector.py
Owners: @tlrmchlsmth, @WoosukKwon

[Misc][Docs] fix the comments of KV_T and CACHE_T in CALL_RESHAPE_AND_CACHE_XX macros (#14347)
  csrc/cache_kernels.cu
Owners: none

[Doc] Update Mistral Small 3.1/Pixtral example (#15184)
  examples/offline_inference/mistral-small.py
Owners: none

[Doc] Update tip info on using latest transformers when creating a custom Dockerfile (#15070)
  docs/source/deployment/docker.md
Owners: none

[V1][TPU] Speed up top-k on TPU by using torch.topk (#15242)
  tests/v1/tpu/test_sampler.py
  vllm/envs.py
  vllm/v1/sample/ops/topk_topp_sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao
