Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @22quinn, @NickLucche, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @yewentao256, @tdoublep, @DarkLight1337, @ywang96, @houseroad, @LucasWilkinson, @jeejeelee, @aarnphm, @chaunceyjiang, @zou3519, @ProExpertProg, @simon-mo, @hmellor, @russellb, @benchislett, @luccafong, @heheda12345, @KuntaiDu, @bigPYJ1151, @jikunshang, @sighingnow, @patrickvonplaten, @gshtras

[Core] Centralize worker process title/logging and assign earlier
  vllm/v1/executor/multiproc_executor.py
  vllm/v1/worker/cpu_worker.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/tpu_worker.py
  vllm/v1/worker/worker_utils.py
  vllm/v1/worker/xpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @NickLucche

Fix pre-commit issues
  vllm/v1/executor/multiproc_executor.py
  vllm/v1/worker/cpu_worker.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/tpu_worker.py
  vllm/v1/worker/worker_utils.py
  vllm/v1/worker/xpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @NickLucche

[Misc] Correct an outdated comment.
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

refactor
  setup.py
Owners: none

Fix registry for Olmo3 model
  vllm/model_executor/models/registry.py
Owners: none

add label
  .github/workflows/bc-lint.yml
Owners: none

[CI] Speed up model unit tests in CI (#24253)
  .buildkite/test-pipeline.yaml
  pyproject.toml
  tests/models/language/generation/test_common.py
  tests/models/language/pooling/test_classification.py
  tests/models/language/pooling/test_embedding.py
  tests/models/test_initialization.py
Owners: @DarkLight1337, @ywang96

fix hit_rate 1.0
  tests/models/multimodal/processing/test_common.py
Owners: @DarkLight1337, @ywang96

remove debug
  setup.py
Owners: none

review: move stats into own connector file
  tests/v1/kv_connector/unit/test_nixl_connector.py
  vllm/commit_id.py
  vllm/distributed/kv_transfer/kv_connector/v1/metrics.py
  vllm/distributed/kv_transfer/kv_connector/v1/multi_connector.py
  vllm/distributed/kv_transfer/kv_connector/v1/nixl_connector.py
  vllm/v1/metrics/stats.py
Owners: @NickLucche, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

make all dispatch function pure by removing envs check in dispatch logics and update unit tests
  tests/model_executor/test_enabled_custom_ops.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/layernorm.py
Owners: none

cruft
  vllm/commit_id.py
Owners: none

precommit
  vllm/distributed/kv_transfer/kv_connector/v1/metrics.py
  vllm/distributed/kv_transfer/kv_connector/v1/multi_connector.py
  vllm/distributed/kv_transfer/kv_connector/v1/nixl_connector.py
  vllm/v1/metrics/stats.py
Owners: @NickLucche, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

use nvidia hardware-accelerated conversion
  csrc/quantization/fp8/common.cuh
  csrc/quantization/fp8/nvidia/quant_utils.cuh
Owners: none

typo
  tests/models/multimodal/processing/test_common.py
Owners: @DarkLight1337, @ywang96

Done
  benchmarks/kernels/benchmark_moe.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/triton_utils/importing.py
Owners: none

Add back autotune config
  vllm/model_executor/layers/mamba/ops/ssd_chunk_scan.py
  vllm/model_executor/layers/mamba/ops/ssd_chunk_state.py
  vllm/model_executor/layers/mamba/ops/ssd_state_passing.py
Owners: @tdoublep

use vec_conversion
  csrc/quantization/fp8/common.cuh
  csrc/quantization/fp8/nvidia/quant_utils.cuh
Owners: none

[Bug] Fix missing tool usage check
  vllm/entrypoints/openai/serving_chat.py
Owners: @aarnphm, @chaunceyjiang

Fix
  setup.py
Owners: none

clean
  vllm/engine/llm_engine.py
  vllm/entrypoints/context.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/entrypoints/openai/serving_responses.py
  vllm/outputs.py
  vllm/v1/engine/async_llm.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @aarnphm, @chaunceyjiang, @WoosukKwon, @robertgshaw2-redhat, @ywang96

[Bugfix] Fix incompatibility between #20452 and #24548 (#24754)
  vllm/v1/executor/utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

fix flaky ngram test
  tests/v1/e2e/test_spec_decode.py
Owners: none

[Cuda2CPU][P/D] Add cuda2cpu support in NixlConnector
  tests/v1/kv_connector/nixl_integration/run_cuda2cpu_accuracy_test.sh
  tests/v1/kv_connector/nixl_integration/run_cuda2cpu_edge_case_test.sh
  vllm/distributed/kv_transfer/kv_connector/v1/nixl_connector.py
  vllm/platforms/cuda.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @NickLucche, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Fix inductor graph output bug
  vllm/model_executor/models/qwen3_moe.py
Owners: @sighingnow

fix placeholder replacement
  vllm/model_executor/models/qwen3_vl.py
Owners: @sighingnow

add assert
  vllm/model_executor/models/qwen3_moe.py
Owners: @sighingnow

Add FI
  vllm/model_executor/layers/rotary_embedding/base.py
  vllm/model_executor/layers/rotary_embedding/common.py
Owners: none

Fix dummy def for sm100_cutlass_mla_decode
  csrc/attention/mla/sm100_cutlass_mla_kernel.cu
Owners: none

using-current_platform-instead-of-cuda-platform
  vllm/attention/backends/flashmla.py
  vllm/v1/attention/backends/mla/flashmla.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[CI] Trigger BC Linter when labels are added/removed (#24767)
  .github/workflows/bc-lint.yml
Owners: none

[Core][Multimodal] Cache `supports_kw`
  vllm/utils/__init__.py
Owners: none

cleanup
  vllm/model_executor/layers/mamba/mamba_mixer2.py
Owners: @tdoublep

cleanup
  vllm/model_executor/layers/mamba/ops/ssd_bmm.py
Owners: @tdoublep

cleanup
  vllm/model_executor/layers/mamba/ops/ssd_chunk_state.py
Owners: @tdoublep

Don't set dtype in classification head, let the dtype context manager handle outside.
  vllm/model_executor/models/adapters.py
Owners: none

cleanup
  vllm/model_executor/layers/mamba/ops/ssd_chunk_state.py
  vllm/model_executor/layers/mamba/ops/ssd_combined.py
Owners: @tdoublep

Update adapters.py
  vllm/model_executor/models/adapters.py
Owners: none

Fix prompt for text-only case
  examples/offline_inference_tt.py
Owners: none

Fix
  setup.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill @22quinn
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill @22quinn
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill @NickLucche
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth @yewentao256
/vllm/model_executor/layers/mamba @tdoublep
/vllm/model_executor/model_loader @22quinn
/vllm/multimodal @DarkLight1337 @ywang96 @NickLucche
/vllm/v1/sample @22quinn @houseroad
/vllm/vllm_flash_attn @LucasWilkinson
/vllm/lora @jeejeelee
/vllm/reasoning @aarnphm @chaunceyjiang
/vllm/entrypoints @aarnphm @chaunceyjiang
/vllm/compilation @zou3519 @youkaichao @ProExpertProg
/vllm/distributed/kv_transfer @NickLucche
CMakeLists.txt @tlrmchlsmth @LucasWilkinson

# Any change to the VllmConfig changes can have a large user-facing impact,
# so spam a lot of people
/vllm/config @simon-mo @WoosukKwon @youkaichao @robertgshaw2-redhat @mgoin @tlrmchlsmth @houseroad @hmellor @yewentao256 @ProExpertProg

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb @aarnphm @benchislett
/vllm/v1/spec_decode @benchislett @luccafong
/vllm/v1/attention/backends/triton_attn.py @tdoublep
/vllm/v1/core @heheda12345
/vllm/v1/kv_cache_interface.py @heheda12345

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo @aarnphm @NickLucche
/tests/kernels @tlrmchlsmth @WoosukKwon @yewentao256
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96 @NickLucche
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat @yewentao256
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb @aarnphm
/tests/v1/structured_output @mgoin @russellb @aarnphm
/tests/v1/core @heheda12345
/tests/weight_loading @mgoin @youkaichao @yewentao256
/tests/lora @jeejeelee
/tests/models/language/generation/test_hybrid.py @tdoublep
/tests/v1/kv_connector/nixl_integration @NickLucche

# Docs
/docs @hmellor
mkdocs.yaml @hmellor

# CPU
/vllm/v1/worker/^cpu @bigPYJ1151
/csrc/cpu @bigPYJ1151
/vllm/platforms/cpu.py @bigPYJ1151
/cmake/cpu_extension.cmake @bigPYJ1151
/docker/Dockerfile.cpu @bigPYJ1151

# Intel GPU
/vllm/v1/worker/^xpu @jikunshang
/vllm/platforms/xpu.py @jikunshang
/docker/Dockerfile.xpu @jikunshang

# Qwen-specific files
/vllm/attention/backends/dual_chunk_flash_attn.py @sighingnow
/vllm/model_executor/models/qwen* @sighingnow

# MTP-specific files
/vllm/model_executor/models/deepseek_mtp.py @luccafong

# Mistral-specific files
/vllm/model_executor/models/mistral*.py @patrickvonplaten
/vllm/model_executor/models/mixtral*.py @patrickvonplaten
/vllm/model_executor/models/voxtral*.py @patrickvonplaten
/vllm/model_executor/models/pixtral*.py @patrickvonplaten
/vllm/transformers_utils/configs/mistral.py @patrickvonplaten
/vllm/transformers_utils/tokenizers/mistral.py @patrickvonplaten

# Kernels
/vllm/attention/ops/chunked_prefill_paged_decode.py @tdoublep
/vllm/attention/ops/triton_unified_attention.py @tdoublep

# ROCm related: specify owner with write access to notify AMD folks for careful code review
/docker/Dockerfile.rocm* @gshtras
/vllm/v1/attention/backends/rocm*.py @gshtras
/vllm/v1/attention/backends/mla/rocm*.py @gshtras
/vllm/attention/ops/rocm*.py @gshtras
/vllm/model_executor/layers/fused_moe/rocm*.py @gshtras

# TPU
/vllm/v1/worker/tpu* @NickLucche
/vllm/platforms/tpu.py @NickLucche
/vllm/v1/sample/tpu @NickLucche
/vllm/tests/v1/tpu @NickLucche
