Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill, @tlrmchlsmth, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/core @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/engine/llm_engine.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/executor/executor_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/model_executor/layers/sampler.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
CMakeLists.txt @tlrmchlsmth @WoosukKwon

# Test ownership
/tests/async_engine @njhill @robertgshaw2-neuralmagic @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-neuralmagic
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[V1] `AsyncLLM` Implementation (#9826)
  .buildkite/test-pipeline.yaml
  tests/entrypoints/llm/test_accuracy.py
  tests/entrypoints/openai/test_accuracy.py
  tests/v1/__init__.py
  tests/v1/engine/__init__.py
  tests/v1/engine/test_async_llm.py
  tests/v1/engine/test_detokenizer.py
  tests/v1/engine/test_engine_core.py
  tests/v1/engine/test_engine_core_client.py
  vllm/config.py
  vllm/engine/multiprocessing/engine.py
  vllm/engine/output_processor/stop_checker.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/api_server.py
  vllm/envs.py
  vllm/outputs.py
  vllm/v1/__init__.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/scheduler.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/async_stream.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/detokenizer.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/engine/processor.py
  vllm/v1/request.py
  vllm/v1/tokenizer/detokenizer.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[bugfix] fix broken tests of mlp speculator (#10177)
  vllm/model_executor/models/mlp_speculator.py
Owners: none

[Misc][LoRA] Replace hardcoded cuda device with configurable argument (#10223)
  tests/lora/test_layers.py
  tests/lora/test_lora_manager.py
  tests/lora/utils.py
  vllm/lora/models.py
  vllm/lora/punica.py
  vllm/lora/worker_manager.py
Owners: none

[Misc] Improve Web UI (#10090)
  docs/source/_static/custom.js
Owners: none

[Misc] Fix typo in #5895 (#10145)
  benchmarks/backend_request_func.py
Owners: none

[Feature] [Spec decode]: Combine chunked prefill with speculative decoding (#9291)
  tests/spec_decode/e2e/test_compatibility.py
  tests/spec_decode/e2e/test_multistep_correctness.py
  tests/spec_decode/e2e/test_ngram_correctness.py
  tests/spec_decode/test_ngram_worker.py
  tests/spec_decode/test_scorer.py
  tests/spec_decode/test_spec_decode_worker.py
  tests/spec_decode/utils.py
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/rocm_flash_attn.py
  vllm/attention/backends/xformers.py
  vllm/config.py
  vllm/core/scheduler.py
  vllm/engine/output_processor/multi_step.py
  vllm/spec_decode/batch_expansion.py
  vllm/spec_decode/mqa_scorer.py
  vllm/spec_decode/spec_decode_worker.py
  vllm/spec_decode/top1_proposer.py
Owners: @njhill, @LiuXiaoxuanPKU, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac

[Doc] Fix typo error in CONTRIBUTING.md (#10190)
  CONTRIBUTING.md
Owners: none

[CI/Build] Ignore .gitignored files for shellcheck (#10162)
  tools/shellcheck.sh
Owners: none

[Misc] Add Gamma-Distribution Request Generation Support for Serving Benchmark. (#10105)
  benchmarks/benchmark_serving.py
Owners: none

[ci][build] limit cmake version (#10188)
  Dockerfile.neuron
  Dockerfile.ppc64le
  docs/source/getting_started/cpu-installation.rst
  pyproject.toml
  requirements-build.txt
  requirements-tpu.txt
  requirements-xpu.txt
Owners: none

[V1]Enable APC by default only for text models (#10148)
  vllm/v1/engine/llm_engine.py
Owners: none

[Doc] Fix typo error in vllm/entrypoints/openai/cli_args.py (#10196)
  vllm/entrypoints/openai/cli_args.py
Owners: none

[CI/Build] Give PR cleanup job PR write access (#10139)
  .github/workflows/cleanup_pr_body.yml
Owners: none

[CI/Build] Fix VLM broadcast tests `tensor_parallel_size` passing (#10161)
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/types.py
Owners: @DarkLight1337, @ywang96

[Encoder Decoder] Update Mllama to run with both FlashAttention and XFormers (#9982)
  tests/encoder_decoder/test_e2e_correctness.py
  tests/models/encoder_decoder/vision_language/test_mllama.py
  tests/test_config.py
  vllm/model_executor/models/mllama.py
  vllm/worker/enc_dec_model_runner.py
Owners: @DarkLight1337, @ywang96

[CI/Build] Always run mypy (#10122)
  .github/workflows/mypy.yaml
Owners: none

[Frontend] add `add_request_id` middleware (#9594)
  docs/source/serving/openai_compatible_server.md
  vllm/entrypoints/openai/api_server.py
Owners: none

[CI/Build] Update CPU tests to include all "standard" tests (#5481)
  .buildkite/run-cpu-test-ppc64le.sh
  .buildkite/run-cpu-test.sh
  .buildkite/test-pipeline.yaml
  pyproject.toml
  requirements-test.in
  tests/models/decoder_only/audio_language/test_ultravox.py
  tests/models/decoder_only/vision_language/test_h2ovl.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/test_phi3v.py
  tests/models/utils.py
  vllm/assets/image.py
  vllm/model_executor/models/ultravox.py
  vllm/multimodal/utils.py
  vllm/worker/cpu_worker.py
Owners: @DarkLight1337, @ywang96

[doc] Polish the integration with huggingface doc (#10195)
  docs/source/design/huggingface_integration.rst
Owners: none

[V1] Enable Inductor when using piecewise CUDA graphs (#10268)
  vllm/v1/worker/gpu_model_runner.py
Owners: none

[Bugfix][Hardware][CPU] Fix broken encoder-decoder CPU runner (#10218)
  .buildkite/run-cpu-test-ppc64le.sh
  .buildkite/run-cpu-test.sh
  vllm/worker/cpu_embedding_model_runner.py
  vllm/worker/cpu_enc_dec_model_runner.py
Owners: none

Add docs on serving with Llama Stack (#10183)
  docs/source/serving/integrations.rst
  docs/source/serving/serving_with_llamastack.rst
Owners: none

[BugFix] Do not raise a `ValueError` when `tool_choice` is set to the supported `none` option and `tools` are not defined. (#10000)
  docs/source/serving/openai_compatible_server.md
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_engine.py
Owners: none

Rename vllm.logging to vllm.logging_utils (#10134)
  pyproject.toml
  tests/test_logger.py
  vllm/logger.py
  vllm/logging/__init__.py
  vllm/logging_utils/__init__.py
  vllm/logging_utils/formatter.py
Owners: none

Online video support for VLMs (#10020)
  docs/source/conf.py
  requirements-test.in
  requirements-test.txt
  setup.py
  tests/entrypoints/openai/test_video.py
  vllm/assets/video.py
  vllm/entrypoints/chat_utils.py
  vllm/envs.py
  vllm/model_executor/models/llava_onevision.py
  vllm/multimodal/base.py
  vllm/multimodal/utils.py
  vllm/multimodal/video.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[Bugfix] Add error handling when server cannot respond any valid tokens (#5895)
  benchmarks/backend_request_func.py
Owners: none

Splitting attention kernel file (#10091)
  CMakeLists.txt
  csrc/attention/attention_kernels.cuh
  csrc/attention/paged_attention_v1.cu
  csrc/attention/paged_attention_v2.cu
Owners: @tlrmchlsmth, @WoosukKwon

[Hardware][CPU] Add embedding models support for CPU backend (#10193)
  .buildkite/run-cpu-test-ppc64le.sh
  .buildkite/run-cpu-test.sh
  tests/models/embedding/language/test_embedding.py
  vllm/attention/backends/torch_sdpa.py
  vllm/model_executor/models/bert.py
  vllm/worker/cpu_embedding_model_runner.py
  vllm/worker/cpu_enc_dec_model_runner.py
  vllm/worker/cpu_model_runner.py
  vllm/worker/cpu_worker.py
Owners: @DarkLight1337, @ywang96

[core][distributed] add stateless process group (#10216)
  tests/distributed/test_utils.py
  vllm/distributed/device_communicators/pynccl.py
  vllm/distributed/utils.py
Owners: none

[CI][CPU]refactor CPU tests to allow to bind with different cores (#10222)
  .buildkite/run-cpu-test.sh
Owners: none

[Bugfix][XPU] Fix xpu tp by introducing XpuCommunicator (#10144)
  vllm/distributed/device_communicators/xpu_communicator.py
  vllm/distributed/parallel_state.py
Owners: none

[LoRA] Adds support for bias in LoRA (#5733)
  tests/lora/conftest.py
  tests/lora/test_lora_bias_e2e.py
  tests/lora/test_utils.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/lora/fully_sharded_layers.py
  vllm/lora/layers.py
  vllm/lora/lora.py
  vllm/lora/models.py
  vllm/lora/utils.py
Owners: none

[doc] improve debugging code (#10206)
  docs/source/getting_started/debugging.rst
Owners: none

[Misc] report relevant env vars in collect_env.py tool (#9293)
  collect_env.py
Owners: none

[Frontend] Fix multiple values for keyword argument error (#10075) (#10076)
  vllm/entrypoints/openai/serving_engine.py
Owners: none

[Misc] Fix ImportError causing by triton (#9493)
  vllm/executor/multiproc_gpu_executor.py
Owners: none

[doc] explain the class hierarchy in vLLM (#10240)
  docs/source/assets/design/hierarchy.png
  docs/source/design/class_hierarchy.rst
  docs/source/design/huggingface_integration.rst
  docs/source/index.rst
Owners: none

[Doc] Move CONTRIBUTING to docs site (#9924)
  CONTRIBUTING.md
  docs/source/contributing/dockerfile/dockerfile.rst
  docs/source/contributing/overview.rst
  docs/source/contributing/profiling/profiling_index.rst
  docs/source/design/input_processing/input_processing_pipeline.rst
  docs/source/design/input_processing/model_inputs_index.rst
  docs/source/design/kernel/paged_attention.rst
  docs/source/design/multimodal/adding_multimodal_plugin.rst
  docs/source/design/multimodal/multimodal_index.rst
  docs/source/index.rst
Owners: none

[Misc]Fix Idefics3Model argument (#10255)
  vllm/model_executor/models/idefics3.py
Owners: none

Disable spec-decode + chunked-prefill for draft models with tensor parallelism > 1 (#10136)
  tests/spec_decode/e2e/test_compatibility.py
  vllm/config.py
Owners: @njhill, @LiuXiaoxuanPKU
