Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[TPU] Support sliding window and logit soft capping in the paged attention kernel for TPU. (#15732)
  .buildkite/run-tpu-v1-test.sh
  tests/entrypoints/llm/test_accuracy.py
  tests/v1/tpu/test_pallas.py
  vllm/v1/attention/backends/pallas.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

Move dockerfiles into their own directory (#14549)
  .buildkite/release-pipeline.yaml
  .buildkite/run-cpu-test-ppc64le.sh
  .buildkite/run-cpu-test.sh
  .buildkite/run-gh200-test.sh
  .buildkite/run-hpu-test.sh
  .buildkite/run-neuron-test.sh
  .buildkite/run-tpu-v1-test.sh
  .buildkite/run-xpu-test.sh
  .github/mergify.yml
  .github/workflows/lint-and-deploy.yaml
  CMakeLists.txt
  docker/Dockerfile
  docker/Dockerfile.arm
  docker/Dockerfile.cpu
  docker/Dockerfile.hpu
  docker/Dockerfile.neuron
  docker/Dockerfile.ppc64le
  docker/Dockerfile.rocm
  docker/Dockerfile.rocm_base
  docker/Dockerfile.s390x
  docker/Dockerfile.tpu
  docker/Dockerfile.xpu
  docs/source/contributing/dockerfile/dockerfile.md
  docs/source/contributing/overview.md
  docs/source/deployment/docker.md
  docs/source/deployment/nginx.md
  docs/source/getting_started/installation/ai_accelerator/hpu-gaudi.inc.md
  docs/source/getting_started/installation/ai_accelerator/neuron.inc.md
  docs/source/getting_started/installation/ai_accelerator/tpu.inc.md
  docs/source/getting_started/installation/cpu.md
  docs/source/getting_started/installation/gpu/rocm.inc.md
  docs/source/getting_started/installation/gpu/xpu.inc.md
  docs/source/getting_started/quickstart.md
  vllm/config.py
Owners: @tlrmchlsmth

[V1][Metrics] Initial speculative decoding metrics (#15151)
  tests/v1/core/test_scheduler.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
  vllm/v1/spec_decode/metrics.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[SupportsQuant] Chameleon, Chatglm, Commandr (#15952)
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/chatglm.py
  vllm/model_executor/models/commandr.py
Owners: none

[TPU] optimize the all-reduce performance (#15903)
  vllm/distributed/device_communicators/tpu_communicator.py
  vllm/distributed/parallel_state.py
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Benchmark][Doc] Update throughput benchmark and README (#15998)
  benchmarks/README.md
  benchmarks/benchmark_throughput.py
Owners: none

[Docs] Add Ollama meetup slides (#15905)
  README.md
  docs/source/community/meetups.md
Owners: none

Add option to use DeepGemm contiguous grouped gemm kernel for fused MoE operations. (#13932)
  benchmarks/kernels/benchmark_moe.py
  tests/kernels/test_block_fp8.py
  vllm/_custom_ops.py
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/quantization/fp8.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[misc] improve error message for "Failed to infer device type" (#15994)
  vllm/config.py
Owners: none

[CI] Remove duplicate entrypoints-test (#15940)
  .buildkite/test-pipeline.yaml
Owners: none

[Bugfix] Fix the issue where the model name is empty string, causing no response with the model name. (#15938)
  tests/entrypoints/openai/test_chat.py
  vllm/entrypoints/openai/serving_engine.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1][Spec Decode] Avoid logging useless nan metrics (#16023)
  tests/v1/core/test_scheduler.py
  vllm/v1/core/sched/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[TPU] Switch Test to Non-Sliding Window (#15981)
  tests/tpu/test_compilation.py
Owners: none

fix: can not use uv run collect_env close #13888 (#15792)
  collect_env.py
Owners: none

[Docs] Add Intel as Sponsor (#15913)
  README.md
  docs/source/community/sponsors.md
Owners: none

[Misc] Replace print with logger (#15923)
  vllm/entrypoints/openai/tool_parsers/phi4mini_tool_parser.py
Owners: none

[Benchmark]Fix error message (#15866)
  benchmarks/benchmark_dataset.py
  benchmarks/benchmark_serving.py
Owners: none

[SupportsQuant] Bert, Blip, Blip2, Bloom (#15573)
  vllm/model_executor/models/bert.py
  vllm/model_executor/models/blip.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/bloom.py
Owners: none

[V1] Implement sliding window attention in kv_cache_manager (#14097)
  tests/core/block/e2e/test_correctness_sliding_window.py
  tests/v1/core/test_prefix_caching.py
  tests/v1/core/test_scheduler.py
  tests/v1/core/test_specialized_manager.py
  tests/v1/e2e/test_correctness_sliding_window.py
  vllm/config.py
  vllm/v1/core/block_pool.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/core/specialized_manager.py
  vllm/v1/engine/core.py
  vllm/v1/kv_cache_interface.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model][MiniMaxText01] Support MiniMaxText01 model inference (#13454)
  docs/source/models/supported_models.md
  tests/kernels/test_lightning_attn.py
  tests/models/registry.py
  vllm/config.py
  vllm/engine/async_llm_engine.py
  vllm/model_executor/layers/lightning_attn.py
  vllm/model_executor/models/constant_size_cache.py
  vllm/model_executor/models/mamba_cache.py
  vllm/model_executor/models/minimax_cache.py
  vllm/model_executor/models/minimax_text_01.py
  vllm/model_executor/models/registry.py
Owners: @tlrmchlsmth, @WoosukKwon, @DarkLight1337, @ywang96

[Model] Support Mistral3 in the HF Transformers format (#15505)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  tests/models/registry.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/mistral3.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/vision.py
Owners: @DarkLight1337, @ywang96

[ROCm] Tweak the benchmark script to run on ROCm (#14252)
  .buildkite/nightly-benchmarks/scripts/run-performance-benchmarks.sh
Owners: none

[ROCm][Bugfix] Bring back fallback to eager mode removed in #14917, but for ROCm only (#15413)
  vllm/config.py
Owners: none

[Bugfix] Fix extra comma (#15851)
  vllm/model_executor/sampling_metadata.py
Owners: none

Re-enable the AMD Testing for the passing tests. (#15586)
  .buildkite/run-amd-test.sh
  .buildkite/test-pipeline.yaml
Owners: none

[CI/Build] Clean up LoRA tests (#15867)
  tests/lora/test_baichuan.py
  tests/lora/test_gemma.py
  tests/lora/test_layers.py
  tests/lora/test_minicpmv_tp.py
  tests/lora/test_transfomers_model.py
Owners: none

[ROCM][V0] PA kennel selection when no sliding window provided (#15982)
  vllm/platforms/rocm.py
Owners: none

[CI] Disable flaky structure decoding test temporarily. (#15892)
  tests/v1/entrypoints/llm/test_struct_output_generate.py
Owners: @mgoin, @russellb

fix: tiny fix make format.sh excutable (#16015)
  format.sh
Owners: none

[Frontend] Add Phi-4-mini function calling support (#14886)
  examples/tool_chat_template_phi4_mini.jinja
  vllm/entrypoints/openai/tool_parsers/__init__.py
  vllm/entrypoints/openai/tool_parsers/phi4mini_tool_parser.py
Owners: none

[Distributed] Add custom allreduce support for ROCM (#14125)
  CMakeLists.txt
  csrc/custom_all_reduce.cu
  csrc/custom_all_reduce.cuh
  csrc/custom_all_reduce_test.cu
  csrc/ops.h
  csrc/torch_bindings.cpp
  tests/distributed/test_custom_all_reduce.py
  tests/utils.py
  vllm/_custom_ops.py
  vllm/config.py
  vllm/distributed/device_communicators/custom_all_reduce.py
  vllm/platforms/cuda.py
  vllm/platforms/rocm.py
Owners: @tlrmchlsmth

[Misc][Performance] Advance tpu.txt to the most recent nightly torch … (#16024)
  requirements/tpu.txt
Owners: none

doc: add info for macos clang errors (#16049)
  docs/source/getting_started/installation/cpu/apple.inc.md
Owners: none

[Bugfix] Fix no video/image profiling edge case for `MultiModalDataParser` (#15828)
  vllm/multimodal/parse.py
Owners: @DarkLight1337, @ywang96

[V1][TPU] TPU-optimized top-p implementation (avoids scattering). (#15736)
  .buildkite/run-tpu-v1-test.sh
  tests/v1/tpu/test_topk_topp_sampler.py
  vllm/v1/sample/ops/topk_topp_sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Minor] Enhance SpecDecoding Metrics Log in V1 (#15902)
  vllm/v1/spec_decode/metrics.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] Add module name prefixes to gemma3 (#15889)
  vllm/model_executor/models/gemma3.py
Owners: none

[Misc] remove unused script (#15746)
  python_only_dev.py
Owners: none

setup correct nvcc version with CUDA_HOME (#15725)
  setup.py
Owners: none

[Docs] Fix small error in link text (#15868)
  docs/source/models/supported_models.md
Owners: none
