Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Bugfix] Fix chat template loading (#15143)
  tests/entrypoints/openai/test_chat_template.py
  tests/entrypoints/openai/test_video.py
  tests/entrypoints/test_chat_utils.py
  tests/tool_use/utils.py
  vllm/entrypoints/chat_utils.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/serving_engine.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Kernel] CUTLASS grouped gemm fp8 MoE kernel (#13972)
  CMakeLists.txt
  benchmarks/kernels/benchmark_grouped_gemm_cutlass.py
  benchmarks/kernels/benchmark_shapes.py
  csrc/cutlass_extensions/common.hpp
  csrc/cutlass_extensions/epilogue/broadcast_load_epilogue_array_c3x.hpp
  csrc/cutlass_extensions/epilogue/scaled_mm_epilogues_c3x.hpp
  csrc/ops.h
  csrc/quantization/cutlass_w8a8/moe/get_group_starts.cuh
  csrc/quantization/cutlass_w8a8/moe/grouped_mm_c3x.cu
  csrc/quantization/cutlass_w8a8/moe/grouped_mm_c3x.cuh
  csrc/quantization/cutlass_w8a8/moe/moe_data.cu
  csrc/quantization/cutlass_w8a8/scaled_mm_entry.cu
  csrc/torch_bindings.cpp
  tests/kernels/test_cutlass.py
  tests/kernels/test_cutlass_moe.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/fused_moe/__init__.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
  vllm/utils.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[Kernel][CPU] CPU MLA (#14744)
  .buildkite/run-cpu-test.sh
  cmake/cpu_extension.cmake
  csrc/cpu/cache.cpp
  csrc/cpu/cpu_types_x86.hpp
  csrc/cpu/mla_decode.cpp
  csrc/cpu/torch_bindings.cpp
  tests/kernels/test_cache.py
  tests/kernels/test_mla_decode_cpu.py
  vllm/_custom_ops.py
  vllm/_ipex_ops.py
  vllm/attention/backends/cpu_mla.py
  vllm/attention/backends/mla/common.py
  vllm/platforms/cpu.py
  vllm/worker/cpu_model_runner.py
  vllm/worker/cpu_worker.py
Owners: @tlrmchlsmth, @WoosukKwon

Use Cache Hinting for fused_moe kernel (#15511)
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none

[V1][Spec Decode] Enable spec decode for top-p & top-k sampling (#15063)
  tests/v1/sample/test_rejection_sampler.py
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/spec_decode/utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] TPU - Revert to exponential padding by default (#15565)
  vllm/envs.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Perf] Simpler request output queues (#15156)
  tests/v1/engine/test_output_processor.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/output_processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[BugFix] Fix nightly MLA failure (FA2 + MLA chunked prefill, i.e. V1, producing bad results) (#15492)
  vllm/attention/ops/triton_merge_attn_states.py
Owners: none

[Core] LoRA: V1 Scheduler optimization (#15422)
  vllm/v1/core/sched/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Add tuned R1 w8a8 and MoE configs for NVIDIA L20 (#15322)
  benchmarks/kernels/benchmark_w8a8_block_fp8.py
  vllm/model_executor/layers/fused_moe/configs/E=256,N=256,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=1536,K=7168,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=24576,K=7168,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=3072,K=1536,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=3072,K=7168,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=32768,K=512,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=4096,K=512,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=4608,K=7168,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=512,K=7168,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=576,K=7168,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=16384,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=18432,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=2048,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=2304,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=256,device_name=NVIDIA_L20,dtype=fp8_w8a8,block_shape=[128,128].json
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[Bugfix] Fix torch.compile raise FileNotFoundError (#15278)
  vllm/compilation/backends.py
Owners: none

[Doc] Update docs on handling OOM (#15357)
  docs/source/getting_started/installation/cpu.md
  docs/source/getting_started/v1_user_guide.md
  docs/source/serving/engine_args.md
  docs/source/serving/offline_inference.md
  vllm/envs.py
  vllm/platforms/cpu.py
Owners: none

[V1][Spec Decode] Use better defaults for N-gram (#15358)
  vllm/config.py
Owners: none

Revert "[CI/Build] Use uv python for docker rather than ppa:deadsnakess/ppa (#13569)" (#15377)
  Dockerfile
Owners: none

Revert "Fix non-contiguous input passed to Marlin kernel (#15319)" (#15398)
  vllm/model_executor/layers/quantization/kernels/mixed_precision/marlin.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[MISC] Refine no available block debug msg (#15076)
  vllm/distributed/device_communicators/shm_broadcast.py
Owners: none

[Bugfix] Fixed the issue of not being able to input video and image simultaneously (#15387)
  vllm/entrypoints/chat_utils.py
Owners: none

[Doc] add load_format items in docs (#14804)
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: none

[TPU][V1] Fix Sampler recompilation (#15309)
  vllm/v1/sample/tpu/metadata.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

multi-node offline DP+EP example (#15484)
  examples/offline_inference/data_parallel.py
Owners: none

[Misc] Remove ignore_reinit_error for ray.init() (#15373)
  vllm/executor/ray_utils.py
Owners: none

[Misc] Warn about v0 in benchmark_paged_attn.py (#15495)
  benchmarks/kernels/benchmark_paged_attention.py
Owners: none

[V1] Add `disable-any-whitespace` option support for xgrammar (#15316)
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/engine/arg_utils.py
  vllm/v1/engine/processor.py
  vllm/v1/structured_output/backend_xgrammar.py
Owners: @mgoin, @russellb, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] Support multi-image for Molmo (#15438)
  docs/source/models/supported_models.md
  tests/models/decoder_only/vision_language/test_models.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/vision.py
Owners: @DarkLight1337, @ywang96

[Misc] Remove LoRA log (#15388)
  vllm/config.py
  vllm/lora/punica_wrapper/punica_gpu.py
Owners: none

[CI/Build] Add tests for the V1 tpu_model_runner. (#14843)
  .buildkite/run-tpu-v1-test.sh
  tests/v1/tpu/worker/__init__.py
  tests/v1/tpu/worker/test_tpu_model_runner.py
Owners: none

[Core] Integrate `fastsafetensors` loader for loading model weights (#10647)
  docs/source/models/extensions/fastsafetensor.md
  docs/source/models/extensions/index.md
  requirements/test.in
  requirements/test.txt
  setup.py
  tests/fastsafetensors_loader/__init__.py
  tests/fastsafetensors_loader/test_fastsafetensors_loader.py
  tests/fastsafetensors_loader/test_weight_utils.py
  vllm/config.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/model_loader/weight_utils.py
Owners: none

[Kernel] allow non-contiguous input for marlin kernel (#14658)
  csrc/quantization/gptq_marlin/gptq_marlin.cu
  tests/kernels/test_marlin_gemm.py
Owners: @tlrmchlsmth, @WoosukKwon

[Doc] Update V1 user guide for fp8 kv cache support (#15585)
  docs/source/getting_started/v1_user_guide.md
Owners: none

[TPU] support disabling xla compilation cache (#15567)
  vllm/v1/worker/tpu_worker.py
  vllm/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Fix] [torch.compile] Improve UUID system for custom passes (#15249)
  tests/compile/test_pass_manager.py
  vllm/compilation/inductor_pass.py
  vllm/compilation/pass_manager.py
  vllm/compilation/torch25_custom_graph_pass.py
  vllm/config.py
Owners: none

[core] add bucket padding to tpu_model_runner (#14995)
  tests/v1/tpu/worker/test_tpu_model_runner.py
  vllm/envs.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[BugFix][V1] Quick fix for min_tokens with multiple EOS (#15407)
  vllm/sampling_params.py
Owners: none

Fix CUDA kernel index data type in vllm/csrc/quantization/gptq_marlin/awq_marlin_repack.cu +10 (#15160)
  csrc/quantization/gptq_marlin/awq_marlin_repack.cu
  csrc/quantization/gptq_marlin/gptq_marlin.cu
  csrc/quantization/gptq_marlin/gptq_marlin_repack.cu
  csrc/quantization/marlin/dense/marlin_cuda_kernel.cu
  csrc/quantization/marlin/qqq/marlin_qqq_gemm_kernel.cu
  csrc/quantization/marlin/sparse/marlin_24_cuda_kernel.cu
  csrc/rocm/attention.cu
Owners: none

[Misc] improve example script output (#15528)
  examples/offline_inference/basic/basic.py
  examples/offline_inference/basic/chat.py
  examples/offline_inference/basic/classify.py
  examples/offline_inference/basic/embed.py
  examples/offline_inference/basic/score.py
Owners: none

[misc] LoRA: Remove unused long context test data (#15558)
  tests/lora/conftest.py
  tests/lora/data/__init__.py
  tests/lora/data/long_context_test_data.py
Owners: none

[Build] Cython compilation support fix (#14296)
  Dockerfile.rocm
  pyproject.toml
  tests/build_cython.py
  vllm/engine/llm_engine.py
  vllm/model_executor/layers/sampler.py
  vllm/utils.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[BugFix][Typing] Fix Imprecise Type Annotations (#15208)
  vllm/v1/engine/core_client.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[bugfix] fix inductor cache on max_position_embeddings (#15436)
  vllm/config.py
Owners: none

[Bugfix] LoRA V0 - Fix case where `max_num_seqs` is between cudagraph capture sizes (#15308)
  tests/lora/test_llama_tp.py
  vllm/lora/punica_wrapper/punica_gpu.py
Owners: none
