Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[core] fix sleep mode in pytorch 2.6 (#13456)
  vllm/device_allocator/cumem.py
Owners: none

Pin Ray version to 2.40.0 (#13490)
  requirements-cuda.txt
Owners: none

[V1][PP] Fix intermediate tensor values (#13417)
  vllm/sequence.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCm] MI300A compile targets deprecation (#13560)
  CMakeLists.txt
  csrc/quantization/fp8/amd/hip_float8_impl.h
  csrc/rocm/attention.cu
  vllm/attention/backends/rocm_flash_attn.py
Owners: @tlrmchlsmth

[Bugfix] Pin xgrammar to 0.1.11 (#13338)
  requirements-common.txt
Owners: none

[V1][PP] Fix & Pin Ray version in requirements-cuda.txt (#13436)
  requirements-cuda.txt
Owners: none

[Bugfix]Fix search start_index of stop_checker (#13280)
  vllm/engine/output_processor/stop_checker.py
Owners: none

[Bugfix] fix xpu communicator (#13368)
  vllm/distributed/device_communicators/xpu_communicator.py
  vllm/platforms/xpu.py
Owners: none

[Bugfix][Docs] Fix offline Whisper (#13274)
  docs/source/models/supported_models.md
  vllm/entrypoints/llm.py
Owners: none

[Bugfix][AMD] Update torch_bindings so that scaled_fp4_quant isn't build on ROCm (#13235)
  csrc/ops.h
  csrc/torch_bindings.cpp
  vllm/_custom_ops.py
Owners: none

[Quant] Add `SupportsQuant` to phi3 and clip (#13104)
  vllm/model_executor/layers/quantization/aqlm.py
  vllm/model_executor/layers/quantization/awq.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/base_config.py
  vllm/model_executor/layers/quantization/bitsandbytes.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/deepspeedfp.py
  vllm/model_executor/layers/quantization/experts_int8.py
  vllm/model_executor/layers/quantization/fbgemm_fp8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/gguf.py
  vllm/model_executor/layers/quantization/gptq.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/layers/quantization/gptq_marlin_24.py
  vllm/model_executor/layers/quantization/hqq_marlin.py
  vllm/model_executor/layers/quantization/ipex_quant.py
  vllm/model_executor/layers/quantization/modelopt.py
  vllm/model_executor/layers/quantization/moe_wna16.py
  vllm/model_executor/layers/quantization/neuron_quant.py
  vllm/model_executor/layers/quantization/qqq.py
  vllm/model_executor/layers/quantization/quark/quark.py
  vllm/model_executor/layers/quantization/tpu_int8.py
  vllm/model_executor/models/clip.py
  vllm/model_executor/models/interfaces.py
  vllm/model_executor/models/phi3v.py
Owners: none

[Quant] Aria SupportsQuant (#13416)
  vllm/model_executor/models/aria.py
Owners: none

[BugFix] Don't scan entire cache dir when loading model (#13302)
  vllm/model_executor/model_loader/weight_utils.py
Owners: none

[Hardware][Gaudi][Bugfix] Fix error for guided decoding (#12317)
  vllm/model_executor/guided_decoding/outlines_logits_processors.py
Owners: none

[Feature][Spec Decode] Simplify the use of Eagle Spec Decode (#12304)
  docs/source/features/spec_decode.md
  tests/spec_decode/e2e/test_eagle_correctness.py
  tests/spec_decode/test_spec_decode_worker.py
  vllm/config.py
  vllm/model_executor/models/eagle.py
  vllm/spec_decode/multi_step_worker.py
  vllm/spec_decode/smaller_tp_proposer_worker.py
  vllm/spec_decode/spec_decode_worker.py
Owners: @njhill, @LiuXiaoxuanPKU

[ci] Add AWS creds for AMD (#13572)
  .buildkite/run-amd-test.sh
  requirements-rocm.txt
Owners: none

[BugFix] Avoid error traceback in logs when V1 `LLM` terminates (#13565)
  vllm/v1/engine/core_client.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCm] Make amdsmi import optional for other platforms (#13460)
  vllm/platforms/rocm.py
Owners: none

[Hardware][Gaudi][Feature] Support Contiguous Cache Fetch (#12139)
  vllm/attention/backends/hpu_attn.py
  vllm/attention/ops/hpu_paged_attn.py
  vllm/envs.py
  vllm/worker/hpu_model_runner.py
Owners: none

[Bugfix] Massage MLA's usage of flash attn for RoCM (#13310)
  vllm/attention/backends/mla/utils.py
Owners: none

[V1][BugFix] Add __init__.py to v1/spec_decode/ (#13359)
  vllm/v1/spec_decode/__init__.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Core] Reduce TTFT with concurrent partial prefills (#10235)
  tests/basic_correctness/test_chunked_prefill.py
  tests/core/test_chunked_prefill_scheduler.py
  vllm/config.py
  vllm/core/scheduler.py
  vllm/engine/arg_utils.py
  vllm/model_executor/layers/sampler.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[V1][Spec decode] Move drafter to model runner (#13363)
  tests/v1/core/test_scheduler.py
  vllm/v1/core/scheduler.py
  vllm/v1/engine/core.py
  vllm/v1/outputs.py
  vllm/v1/request.py
  vllm/v1/spec_decode/ngram_proposer.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Ensure LoRA path from the request can be included in err msg (#13450)
  vllm/lora/worker_manager.py
Owners: none

[V1][CI] Fix failed v1-test because of min_p (#13316)
  tests/v1/worker/test_gpu_input_batch.py
Owners: none

[Model] Enable quantization support for `transformers` backend (#12960)
  docs/source/models/supported_models.md
  tests/models/test_transformers.py
  vllm/model_executor/models/transformers.py
Owners: @DarkLight1337, @ywang96

[BugFix] Enhance test_pos_encoding to support execution on multi-devices (#13187)
  tests/kernels/test_pos_encoding.py
Owners: @tlrmchlsmth, @WoosukKwon

[v1] fix parallel config rank (#13445)
  vllm/v1/worker/worker_base.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] Update doc and examples for H2O-VL (#13349)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
Owners: none

[AMD] [Model] DeepSeek tunings (#13199)
  vllm/model_executor/layers/quantization/utils/configs/N=1536,K=1536,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=1536,K=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=2048,K=512,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=2304,K=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=24576,K=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=256,K=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=3072,K=1536,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=3072,K=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=32768,K=512,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=36864,K=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=4096,K=512,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=4608,K=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=512,K=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=576,K=7168,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=1024,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=1152,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=128,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=16384,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=18432,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=2048,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=2304,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=256,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=7168,K=8192,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
  vllm/model_executor/layers/quantization/utils/configs/N=8192,K=1536,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
Owners: none

[V1][Sampler] Don't apply temp for greedy-only (#13311)
  vllm/v1/sample/sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[doc] clarify profiling is only for developers (#13554)
  docs/source/contributing/profiling/profiling_index.md
Owners: none

[3/n][CI] Load Quantization test models with S3 (#13570)
  tests/conftest.py
  vllm/model_executor/model_loader/weight_utils.py
Owners: none

Add outlines fallback when JSON schema has enum (#13449)
  tests/entrypoints/conftest.py
  tests/entrypoints/llm/test_guided_generate.py
  vllm/model_executor/guided_decoding/utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1][Tests] Adding additional testing for multimodal models to V1 (#13308)
  tests/v1/engine/test_async_llm.py
Owners: none

[Bugfix][CI][V1] Work around V1 + CUDA Graph + torch._scaled_mm fallback issue (#13425)
  vllm/model_executor/layers/quantization/compressed_tensors/schemes/compressed_tensors_w8a8_fp8.py
  vllm/model_executor/layers/quantization/fbgemm_fp8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
Owners: none

[V1][Core] min_p sampling support (#13191)
  tests/v1/sample/test_sampler.py
  vllm/v1/sample/metadata.py
  vllm/v1/sample/sampler.py
  vllm/v1/worker/gpu_input_batch.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model][Speculative Decoding] DeepSeek MTP spec decode (#12755)
  .buildkite/test-pipeline.yaml
  tests/models/registry.py
  tests/spec_decode/e2e/test_mtp_correctness.py
  vllm/config.py
  vllm/model_executor/models/deepseek_mtp.py
  vllm/model_executor/models/deepseek_v2.py
  vllm/model_executor/models/registry.py
  vllm/sequence.py
  vllm/spec_decode/draft_model_runner.py
  vllm/spec_decode/spec_decode_worker.py
  vllm/worker/model_runner.py
  vllm/worker/model_runner_base.py
  vllm/worker/worker.py
  vllm/worker/worker_base.py
Owners: @DarkLight1337, @ywang96, @njhill, @LiuXiaoxuanPKU, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac

[Bugfix] Add `mm_processor_kwargs` to chat-related protocols (#13644)
  vllm/entrypoints/openai/protocol.py
Owners: none

[model][refactor] remove cuda hard code in models and layers (#13658)
  vllm/model_executor/layers/fused_moe/fused_marlin_moe.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/layers/spec_decode_base_sampler.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/arctic.py
  vllm/model_executor/models/minicpm.py
  vllm/model_executor/models/minicpmv.py
Owners: none
