Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[Misc] Warn if the vLLM version can't be retrieved (#13501)
  vllm/platforms/__init__.py
Owners: none

[Misc] Remove dangling references to `SamplingType.BEAM` (#13402)
  vllm/model_executor/layers/sampler.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[V1][Spec Decode] Ngram Spec Decode (#12193)
  tests/v1/core/test_scheduler.py
  tests/v1/e2e/test_ngram_spec_decode.py
  tests/v1/sample/test_rejection_sampler.py
  tests/v1/sample/test_sampler.py
  tests/v1/spec_decode/test_ngram.py
  tests/v1/worker/test_gpu_input_batch.py
  tests/v1/worker/test_gpu_model_runner.py
  vllm/platforms/cuda.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/scheduler.py
  vllm/v1/core/scheduler_output.py
  vllm/v1/engine/core.py
  vllm/v1/outputs.py
  vllm/v1/request.py
  vllm/v1/sample/metadata.py
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/sample/sampler.py
  vllm/v1/spec_decode/ngram_proposer.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix device ordinal for multi-node spec decode (#13269)
  vllm/spec_decode/spec_decode_worker.py
Owners: none

[Bugfix] Only print out chat template when supplied (#13444)
  vllm/entrypoints/openai/api_server.py
Owners: none

Fix copyright year to auto get current year (#13561)
  docs/source/conf.py
Owners: none

[VLM] Check required fields before initializing field config in `DictEmbeddingItems` (#13380)
  docs/source/serving/multimodal_inputs.md
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/multimodal/parse.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Fix qwen2.5-vl image processor (#13286)
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/qwen2_vl.py
Owners: none

[Bugfix] Fix invalid rotary embedding unit test (#13431)
  tests/kernels/test_rotary_embedding.py
Owners: @tlrmchlsmth, @WoosukKwon

[Doc] Add clarification note regarding paligemma (#13511)
  docs/source/models/supported_models.md
Owners: none

[V1][Core] Generic mechanism for handling engine utility (#13060)
  tests/lora/test_add_lora.py
  tests/v1/engine/test_engine_core_client.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] Optimize handling of sampling metadata and req_ids list (#13244)
  tests/v1/sample/test_rejection_sampler.py
  tests/v1/sample/test_sampler.py
  tests/v1/worker/test_gpu_input_batch.py
  tests/v1/worker/test_gpu_model_runner.py
  vllm/model_executor/layers/utils.py
  vllm/v1/core/scheduler.py
  vllm/v1/sample/metadata.py
  vllm/v1/sample/ops/penalties.py
  vllm/v1/sample/ops/topk_topp_sampler.py
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/sample/sampler.py
  vllm/v1/utils.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[MISC] tiny fixes (#13378)
  vllm/executor/executor_base.py
  vllm/platforms/interface.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[Misc] Remove dangling references to `--use-v2-block-manager` (#13492)
  .buildkite/nightly-benchmarks/tests/serving-tests.json
  docs/source/features/spec_decode.md
Owners: none

[Doc] [2/N] Add Fuyu E2E example for multimodal processor (#13331)
  docs/source/contributing/model/multimodal.md
  vllm/model_executor/models/fuyu.py
Owners: none

[CI/Build] migrate static project metadata from setup.py to pyproject.toml (#8772)
  pyproject.toml
  setup.py
Owners: none

[doc] clarify multi-node serving doc (#13558)
  docs/source/serving/distributed_serving.md
Owners: none

[ROCm] fix get_device_name for rocm (#13438)
  vllm/platforms/rocm.py
Owners: none

[Bugfix] Handle content type with optional parameters (#13383)
  vllm/entrypoints/openai/api_server.py
Owners: none

[V1] Get input tokens from scheduler (#13339)
  tests/v1/worker/test_gpu_model_runner.py
  vllm/v1/core/scheduler.py
  vllm/v1/core/scheduler_output.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ci] skip failed tests for flashinfer (#13352)
  tests/kernels/test_flashinfer.py
Owners: @tlrmchlsmth, @WoosukKwon

[perf-benchmark] Fix ECR path for premerge benchmark (#13512)
  .buildkite/nightly-benchmarks/benchmark-pipeline.yaml
Owners: none

[V1][PP] Run engine busy loop with batch queue (#13064)
  tests/v1/core/test_scheduler.py
  tests/v1/engine/test_engine_core.py
  vllm/v1/core/scheduler.py
  vllm/v1/engine/core.py
  vllm/v1/executor/abstract.py
  vllm/v1/executor/ray_distributed_executor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Misc] Avoid unnecessary log output (#13289)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] Support Mamba2 (Codestral Mamba) (#9292)
  tests/models/decoder_only/language/test_mamba.py
  tests/models/registry.py
  vllm/model_executor/layers/mamba/ops/ssd_chunk_scan.py
  vllm/model_executor/models/bamba.py
  vllm/model_executor/models/jamba.py
  vllm/model_executor/models/mamba2.py
  vllm/model_executor/models/mamba_cache.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[Misc] Avoid calling unnecessary `hf_list_repo_files` for local model path (#13348)
  vllm/transformers_utils/config.py
Owners: none

[CI/Build] force writing version file (#13544)
  pyproject.toml
  setup.py
Owners: none

[V1][PP] Fix memory profiling in PP (#13315)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix failing transformers dynamic module resolving with spawn multiproc method (#13403)
  vllm/model_executor/model_loader/utils.py
Owners: none

use device param in load_model method (#13037)
  vllm/worker/model_runner.py
Owners: none

[ci/build] update flashinfer (#13323)
  Dockerfile
Owners: none

[Bugfix] Remove noisy error logging during local model loading (#13458)
  vllm/transformers_utils/config.py
Owners: none

Fix spelling error in index.md (#13369)
  docs/source/index.md
Owners: none

[V1][Metrics] Add iteration_tokens_total histogram from V0 (#13288)
  tests/entrypoints/openai/test_metrics.py
  vllm/v1/engine/async_llm.py
  vllm/v1/metrics/loggers.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix Positive Feature Layers in Llava Models (#13514)
  tests/models/test_vision.py
  vllm/model_executor/models/clip.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/siglip.py
  vllm/model_executor/models/vision.py
Owners: @DarkLight1337, @ywang96

[Quant] Molmo SupportsQuant (#13336)
  vllm/model_executor/models/molmo.py
Owners: none

[Misc] add mm_processor_kwargs to extra_body for Qwen2.5-VL (#13533)
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/transformers_utils/processor.py
Owners: none

[Bugfix] Fix VLLM_USE_MODELSCOPE issue (#13384)
  vllm/transformers_utils/config.py
  vllm/transformers_utils/utils.py
Owners: none

[Quant] Arctic SupportsQuant (#13366)
  vllm/model_executor/models/arctic.py
Owners: none

[Quant][Perf] Use moe_wna16 kernel by default for MoEs with many experts (#13236)
  tests/weight_loading/test_weight_loading.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/layers/quantization/moe_wna16.py
Owners: @mgoin, @youkaichao

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
