Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Kernel] Add tuned FusedMoE kernel config for Llama4 Scout, TP=8 on H100 (#16488)
  vllm/model_executor/layers/fused_moe/configs/E=16,N=1024,device_name=NVIDIA_H100.json
Owners: none

[Model] Reduce redundant computations in mamba2 blocks for Bamba-9B (#15423)
  vllm/model_executor/layers/mamba/mamba2_metadata.py
  vllm/model_executor/layers/mamba/mamba_mixer2.py
  vllm/model_executor/layers/mamba/ops/ssd_chunk_scan.py
  vllm/model_executor/layers/mamba/ops/ssd_combined.py
  vllm/model_executor/layers/mamba/ops/ssd_state_passing.py
  vllm/model_executor/models/bamba.py
  vllm/model_executor/models/mamba2.py
  vllm/model_executor/models/zamba2.py
Owners: none

[TPU][V1] Make `--disable_chunked_mm_input` mandatory for serving MM models (#16483)
  vllm/platforms/tpu.py
Owners: none

[Kernel] Support W8A8 channel-wise weights and per-token activations in triton fused_moe_kernel (#16366)
  tests/kernels/test_block_fp8.py
  tests/kernels/test_block_int8.py
  tests/kernels/test_int8_kernel.py
  tests/kernels/test_triton_moe_ptpc_fp8.py
  tests/kernels/utils_block.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/quantization/utils/int8_utils.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

[Misc] Raise error for V1 not supporting Long LoRA. (#16415)
  vllm/config.py
  vllm/lora/models.py
Owners: none

update neuron config (#16289)
  vllm/model_executor/model_loader/neuron.py
Owners: none

[Doc] Fix link to vLLM blog (#16519)
  README.md
Owners: none

[Core][V0] Enable regex support with xgrammar (#13228)
  tests/entrypoints/llm/test_guided_generate.py
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
Owners: @mgoin, @russellb

update benchmark_serving_structured_output to include auto backend (#16438)
  benchmarks/benchmark_serving_structured_output.py
Owners: none

[CI][Bugfix] Add mistral_tool_use to Ci (#16517)
  .buildkite/test-pipeline.yaml
Owners: none

[Bugfix] Validate logit biases to prevent out of vocab ids crashing engine (#16529)
  tests/entrypoints/openai/test_chat_logit_bias_validation.py
  vllm/v1/engine/processor.py
  vllm/v1/sample/sampler.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][VLM] Fix failing Phi-4-MM multi-images tests and add vision-speech test (#16424)
  examples/offline_inference/audio_language.py
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/test_phi4mm.py
Owners: @DarkLight1337, @ywang96

[Frontend] support matryoshka representation / support embedding API dimensions (#16331)
  examples/offline_inference/embed_matryoshka_fy.py
  tests/conftest.py
  tests/entrypoints/openai/test_embedding_dimensions.py
  tests/models/embedding/language/test_jina.py
  tests/models/embedding/utils.py
  vllm/config.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_embedding.py
  vllm/model_executor/layers/pooler.py
  vllm/pooling_params.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

[TPU][V1] Use `language_model` interface for getting text backbone in MM (#16410)
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Revert "Update label-tpu mergify and remove removal bot" (#16350)
  .github/mergify.yml
Owners: none

[Kernel] support merge_attn_states CUDA kernel, 3x speedup (#16173)
  CMakeLists.txt
  csrc/attention/merge_attn_states.cu
  csrc/ops.h
  csrc/torch_bindings.cpp
  tests/kernels/test_merge_attn_states.py
  vllm/_custom_ops.py
  vllm/attention/backends/mla/common.py
  vllm/attention/ops/merge_attn_states.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/attention/backends/mla/common.py
Owners: @tlrmchlsmth, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Build/CI] Add tracing deps to vllm container image (#15224)
  .buildkite/test-pipeline.yaml
  requirements/common.txt
Owners: none

[CI][Bugfix] Pin triton version for CPU (#16384)
  requirements/cpu.txt
Owners: none

[Bugfix] Don't set an upper bound on repetition penalty (#16403)
  vllm/sampling_params.py
Owners: none

[BugFix] logger is not callable (#16312)
  vllm/attention/backends/hpu_attn.py
Owners: none

fix: spelling (#16466)
  csrc/custom_all_reduce.cuh
Owners: none

[Kernel] Use moe_wna16 kernel for compressed tensors wna16 moe models (#16038)
  .buildkite/lm-eval-harness/configs/Qwen1.5-MoE-W4A16-compressed-tensors.yaml
  .buildkite/lm-eval-harness/configs/models-small.txt
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: @mgoin, @simon-mo, @robertgshaw2-redhat, @tlrmchlsmth

[V1] Zero-copy tensor/ndarray serialization/transmission (#13790)
  tests/v1/test_serial_utils.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/serial_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] use AutoWeightsLoader for deepseek_v2, internlm2 (#16383)
  vllm/model_executor/models/deepseek_v2.py
  vllm/model_executor/models/internlm2.py
Owners: none

Fix syntaxWarning: invalid escape sequence '\s' (#16532)
  vllm/utils.py
Owners: none

[Hardware][Intel-Gaudi] Multi-step scheduling implementation for HPU (#12779)
  vllm/platforms/hpu.py
  vllm/worker/hpu_model_runner.py
  vllm/worker/multi_step_hpu_worker.py
Owners: none

[Bugfix] handle alignment of encoder_seq_lens in mllama.py (#14784)
  tests/models/encoder_decoder/vision_language/test_mllama.py
  vllm/model_executor/models/mllama.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Fix bug when dataset is json (#15899)
  benchmarks/benchmark_serving_structured_output.py
Owners: none

[Doc] Update Llama4 Model Names in Supported Models (#16509)
  docs/source/models/supported_models.md
Owners: none

Update Numba to 0.61.2 (#16376)
  requirements/cuda.txt
  requirements/rocm.txt
  requirements/test.in
  requirements/test.txt
Owners: none

[Misc] Openai transcription client example use same Whisper model (#16487)
  examples/online_serving/openai_transcription_client.py
Owners: none

[Bugfix][TPU] Fix TPU validate_request (#16369)
  vllm/platforms/tpu.py
Owners: none

[doc] add download model tips (#16389)
  docs/source/models/supported_models.md
Owners: none

[TPU][V1] Disable per-request seed/Generator (#16172)
  tests/v1/tpu/test_sampler.py
  vllm/platforms/tpu.py
  vllm/v1/sample/tpu/metadata.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] update api_client example (#16459)
  examples/online_serving/api_client.py
Owners: none

[Misc] refactor Structured Outputs example (#16322)
  examples/offline_inference/structured_outputs.py
Owners: none

[MISC] Make GroupCoordinator compatible with out-of-tree devices (#16464)
  vllm/distributed/parallel_state.py
Owners: none

Update label-tpu mergify and remove removal bot (#16298)
  .github/mergify.yml
Owners: none

[V1][Spec Decode] Eagle Model loading (#16035)
  examples/offline_inference/eagle.py
  tests/models/registry.py
  tests/v1/e2e/test_spec_decode.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/llama_eagle.py
  vllm/model_executor/models/registry.py
  vllm/transformers_utils/configs/eagle.py
  vllm/v1/spec_decode/eagle.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[Misc] Delete redundant code (#16530)
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
Owners: none
