Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill, @tlrmchlsmth, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[Frontend] Add per-request number of cached token stats (#10174)
  tests/prefix_caching/test_prefix_caching.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/cli_args.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/run_batch.py
  vllm/entrypoints/openai/serving_chat.py
  vllm/outputs.py
  vllm/sequence.py
  vllm/worker/model_runner.py
Owners: @comaniac, @KuntaiDu

[Model] Expose size to Idefics3 as mm_processor_kwargs (#10146)
  examples/offline_inference_vision_language.py
  examples/offline_inference_vision_language_multi_image.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_idefics3.py
  vllm/model_executor/models/idefics3.py
Owners: @DarkLight1337, @ywang96

Make shutil rename in python_only_dev (#10233)
  python_only_dev.py
Owners: none

[Metrics] add more metrics (#4464)
  examples/production_monitoring/grafana.json
  vllm/engine/llm_engine.py
  vllm/engine/metrics.py
  vllm/engine/metrics_types.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[doc] explaining the integration with huggingface (#10173)
  docs/source/design/huggingface_integration.rst
  docs/source/index.rst
Owners: none

[Bugfix] Make image processor respect `mm_processor_kwargs` for Qwen2-VL (#10112)
  vllm/model_executor/models/qwen2_vl.py
Owners: none

Fix edge case Mistral tokenizer (#10152)
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[Frontend] Tool calling parser for Granite 3.0 models (#9027)
  docs/source/serving/openai_compatible_server.md
  examples/tool_chat_template_granite.jinja
  tests/tool_use/conftest.py
  tests/tool_use/utils.py
  vllm/entrypoints/openai/tool_parsers/__init__.py
  vllm/entrypoints/openai/tool_parsers/granite_tool_parser.py
Owners: none

[misc][distributed] auto port selection and disable tests (#10226)
  tests/distributed/test_utils.py
Owners: none

[Doc] fix doc string typo in block_manager `swap_out` function (#10212)
  vllm/core/block_manager.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[v1][torch.compile] support managing cudagraph buffer (#10203)
  tests/compile/piecewise/piecewise_compilation_config.json
  tests/compile/piecewise/test_simple.py
  vllm/compilation/backends.py
  vllm/compilation/config.py
Owners: none

[V1] Fix detokenizer ports (#10224)
  vllm/v1/tokenizer/detokenizer.py
Owners: none

[V1] Use pickle for serializing EngineCoreRequest & Add multimodal inputs to EngineCoreRequest (#10245)
  vllm/v1/engine/__init__.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/processor.py
  vllm/v1/serial_utils.py
Owners: none

[CI/Build] Adding timeout in CPU CI to avoid CPU test queue blocking (#6892)
  .buildkite/run-cpu-test-ppc64le.sh
  .buildkite/run-cpu-test.sh
Owners: none

[Doc] Adjust RunLLM location (#10176)
  docs/source/_static/custom.js
Owners: none

[Bugfix] Fix QwenModel argument (#10262)
  vllm/model_executor/models/qwen.py
Owners: none

[V1] Allow `tokenizer_mode` and `trust_remote_code` for Detokenizer (#10211)
  vllm/v1/engine/llm_engine.py
  vllm/v1/tokenizer/detokenizer.py
Owners: none

[doc] update debugging guide (#10236)
  docs/source/getting_started/debugging.rst
Owners: none

[1/N] torch.compile user interface design (#10237)
  tests/compile/piecewise/test_simple.py
  tests/compile/piecewise/test_toy_llama.py
  vllm/compilation/decorators.py
  vllm/config.py
Owners: none

[LoRA][Kernel] Remove the unused libentry module (#10214)
  tests/lora/test_punica_sizes.py
  tests/lora/test_punica_variation.py
  vllm/lora/ops/sgmv_expand.py
  vllm/lora/ops/sgmv_expand_slice.py
  vllm/lora/ops/sgmv_shrink.py
  vllm/triton_utils/__init__.py
  vllm/triton_utils/libentry.py
Owners: none

[V1] Prefix caching (take 2) (#9972)
  benchmarks/benchmark_prefix_caching.py
  tests/v1/core/test_prefix_caching.py
  vllm/v1/core/kv_cache_manager.py
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/core/scheduler.py
  vllm/v1/engine/llm_engine.py
Owners: none

[Doc] Update help text for `--distributed-executor-backend` (#10231)
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: none

[Doc] Update FAQ links in spec_decode.rst (#9662)
  docs/source/models/spec_decode.rst
Owners: none

[Misc] small fixes to function tracing file path (#9543)
  docs/source/index.rst
  vllm/logger.py
  vllm/utils.py
Owners: none

[V1] Enable custom ops with piecewise CUDA graphs (#10228)
  vllm/v1/worker/gpu_model_runner.py
Owners: none

[Bugfix] Enable some fp8 and quantized fullgraph tests (#10171)
  tests/compile/utils.py
Owners: none

bugfix: fix the bug that stream generate not work (#2756)
  vllm/entrypoints/api_server.py
Owners: none

[V1] Add all_token_ids attribute to Request (#10135)
  vllm/v1/core/scheduler.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/request.py
  vllm/v1/utils.py
Owners: none

[V1] Fix non-cudagraph op name (#10166)
  vllm/v1/worker/gpu_model_runner.py
Owners: none

[Frontend][Core] Override HF `config.json` via CLI (#5836)
  tests/test_config.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/engine/llm_engine.py
  vllm/entrypoints/llm.py
  vllm/transformers_utils/config.py
  vllm/v1/engine/llm_engine.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[V1] Do not use inductor for piecewise CUDA graphs (#10225)
  vllm/v1/worker/gpu_model_runner.py
Owners: none

[torch.compile] Fuse RMSNorm with quant (#9138)
  CMakeLists.txt
  csrc/layernorm_quant_kernels.cu
  csrc/ops.h
  csrc/quantization/fp8/common.cu
  csrc/quantization/fp8/common.cuh
  csrc/torch_bindings.cpp
  csrc/type_convert.cuh
  tests/compile/backend.py
  tests/compile/test_fusion.py
  tests/kernels/test_layernorm.py
  vllm/compilation/backends.py
  vllm/compilation/config.py
  vllm/compilation/fusion.py
  vllm/compilation/inductor_pass.py
  vllm/compilation/reshapes.py
  vllm/envs.py
Owners: @tlrmchlsmth, @WoosukKwon

[CI/Build] Split up models tests (#10069)
  .buildkite/test-pipeline.yaml
  pyproject.toml
  tests/models/decoder_only/language/test_aqlm.py
  tests/models/decoder_only/language/test_fp8.py
  tests/models/decoder_only/language/test_gguf.py
  tests/models/decoder_only/language/test_gptq_marlin.py
  tests/models/decoder_only/language/test_gptq_marlin_24.py
  tests/models/decoder_only/language/test_granite.py
  tests/models/decoder_only/language/test_granitemoe.py
  tests/models/decoder_only/language/test_modelopt.py
  tests/models/decoder_only/language/test_models.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_llava_next.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_phi3v.py
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_qwen2_vl.py
  tests/models/decoder_only/vision_language/test_awq.py
  tests/models/decoder_only/vision_language/test_intern_vit.py
  tests/models/decoder_only/vision_language/test_models.py
  vllm/config.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/internlm2_ve.py
  vllm/model_executor/models/utils.py
Owners: @DarkLight1337, @ywang96

[Kernel][Triton] Add Triton implementation for scaled_mm_triton to support fp8 and int8 SmoothQuant, symmetric case (#9857)
  tests/kernels/test_triton_scaled_mm.py
  vllm/_custom_ops.py
  vllm/model_executor/layers/quantization/compressed_tensors/triton_scaled_mm.py
Owners: @tlrmchlsmth, @WoosukKwon

[V1] Use custom ops for piecewise CUDA graphs (#10227)
  vllm/v1/worker/gpu_model_runner.py
Owners: none

[CI/Build] Add shell script linting using shellcheck (#7925)
  .buildkite/lm-eval-harness/run-lm-eval-gsm-hf-baseline.sh
  .buildkite/lm-eval-harness/run-lm-eval-gsm-vllm-baseline.sh
  .buildkite/lm-eval-harness/run-tests.sh
  .buildkite/nightly-benchmarks/scripts/launch-server.sh
  .buildkite/nightly-benchmarks/scripts/nightly-annotate.sh
  .buildkite/nightly-benchmarks/scripts/run-nightly-benchmarks.sh
  .buildkite/nightly-benchmarks/scripts/run-performance-benchmarks.sh
  .buildkite/nightly-benchmarks/scripts/wait-for-image.sh
  .buildkite/run-amd-test.sh
  .buildkite/run-benchmarks.sh
  .buildkite/run-cpu-test-ppc64le.sh
  .buildkite/run-cpu-test.sh
  .buildkite/run-multi-node-test.sh
  .buildkite/run-neuron-test.sh
  .buildkite/run-openvino-test.sh
  .buildkite/run-tpu-test.sh
  .buildkite/run-xpu-test.sh
  .github/workflows/scripts/cuda-install.sh
  .github/workflows/scripts/pytorch-install.sh
  .github/workflows/shellcheck.yml
  .gitignore
  .shellcheckrc
  benchmarks/launch_tgi_server.sh
  examples/run_cluster.sh
  format.sh
  tests/weight_loading/run_model_weight_loading_test.sh
  tools/mypy.sh
  tools/shellcheck.sh
Owners: @mgoin, @simon-mo, @youkaichao

Add hf_transfer to testing image (#10096)
  Dockerfile
Owners: none

[misc] improve cloudpickle registration and tests (#10202)
  tests/distributed/test_pipeline_parallel.py
  vllm/engine/arg_utils.py
  vllm/transformers_utils/config.py
Owners: @youkaichao

[Hardware][CPU][bugfix] Fix half dtype support on AVX2-only target (#10108)
  cmake/cpu_extension.cmake
  csrc/cpu/cpu_types_x86.hpp
Owners: none

[CI/Build] Automate PR body text cleanup (#10082)
  .github/scripts/cleanup_pr_body.sh
  .github/workflows/cleanup_pr_body.yml
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/core @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/engine/llm_engine.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/executor/executor_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/model_executor/layers/sampler.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
CMakeLists.txt @tlrmchlsmth @WoosukKwon

# Test ownership
/tests/async_engine @njhill @robertgshaw2-neuralmagic @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-neuralmagic
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
