Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Misc] Clean up the BitsAndBytes arguments (#15140)
  docs/source/features/quantization/bnb.md
  examples/offline_inference/lora_with_quantization_inference.py
  vllm/engine/arg_utils.py
Owners: none

[Bugfix][Frontend] Fix validation of `logprobs` in `ChatCompletionRequest` (#14352)
  vllm/entrypoints/openai/protocol.py
Owners: none

[V1] Minor V1 async engine test refactor (#15075)
  tests/v1/engine/test_async_llm.py
Owners: none

[Frontend][Bugfix] support prefill decode disaggregation on deepseek (#14824)
  examples/online_serving/disaggregated_prefill.sh
  vllm/distributed/kv_transfer/kv_connector/simple_connector.py
  vllm/model_executor/models/deepseek_v2.py
Owners: none

[Bugfix] Multi-video inference on LLaVA-Onevision (#15082)
  vllm/model_executor/models/llava_onevision.py
Owners: none

[TPU][V1][Bugfix] Fix chunked prefill with padding (#15037)
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCM] Upgrade torch to 2.6 (#15244)
  requirements/rocm-build.txt
Owners: none

[Feature] specify model in config.yaml (#14855)
  docs/source/serving/openai_compatible_server.md
  tests/config/test_config.yaml
  tests/config/test_config_with_model.yaml
  tests/conftest.py
  tests/test_utils.py
  vllm/entrypoints/cli/serve.py
  vllm/utils.py
Owners: none

[BugFix] Lazily import XgrammarBackend to avoid early cuda init (#15171)
  vllm/v1/structured_output/__init__.py
Owners: @mgoin, @russellb

[MODEL] Add support for Zamba2 models (#13185)
  docs/source/models/supported_models.md
  tests/models/decoder_only/language/test_hybrid.py
  tests/models/registry.py
  vllm/config.py
  vllm/model_executor/layers/mamba/mamba_mixer2.py
  vllm/model_executor/models/bamba.py
  vllm/model_executor/models/jamba.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/zamba2.py
Owners: @DarkLight1337, @ywang96

Mention `extra_body` as a way top pass vLLM only parameters using the OpenAI client (#15240)
  docs/source/serving/openai_compatible_server.md
Owners: none

[Misc] Better RayExecutor and multiprocessing compatibility (#14705)
  vllm/engine/arg_utils.py
  vllm/executor/multiproc_worker_utils.py
  vllm/executor/ray_utils.py
  vllm/utils.py
Owners: none

[Bugfix][V0] Multi-sequence logprobs streaming edge case (#15259)
  vllm/outputs.py
Owners: none

typo: Update config.py (#15189)
  vllm/config.py
Owners: none

[Misc] Add cProfile helpers (#15074)
  docs/source/contributing/profiling/profiling_index.md
  vllm/utils.py
Owners: none

[macOS] Ugrade pytorch to 2.6.0 (#15129)
  requirements/cpu.txt
Owners: none

[Misc][Benchmark] Add support for different `tokenizer_mode` (#15040)
  benchmarks/benchmark_serving_structured_output.py
  benchmarks/run_structured_output_benchmark.sh
Owners: none

[Bugfix][VLM] fix llava processor (#15285)
  vllm/model_executor/models/llava.py
Owners: none

[Misc] Avoid unnecessary HF `do_rescale` warning when passing dummy data (#15107)
  vllm/multimodal/profiling.py
Owners: @DarkLight1337, @ywang96

[CI][Intel GPU] update XPU dockerfile and CI script (#15109)
  .buildkite/run-xpu-test.sh
  Dockerfile.xpu
Owners: none

[Misc] Increase RayDistributedExecutor RAY_CGRAPH_get_timeout (#15301)
  vllm/executor/ray_distributed_executor.py
Owners: none

Replace `misc` issues with link to forum (#15226)
  .github/ISSUE_TEMPLATE/800-misc-discussion.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: none

[V1] Scheduler Refactoring [1/N] - Add Scheduler Interface (#15250)
  tests/plugins_tests/test_scheduler_plugins.py
  tests/v1/core/test_scheduler.py
  tests/v1/worker/test_gpu_model_runner.py
  vllm/engine/arg_utils.py
  vllm/executor/ray_utils.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/attention/backends/mla/common.py
  vllm/v1/core/sched/__init__.py
  vllm/v1/core/sched/interface.py
  vllm/v1/core/sched/output.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/core/sched/utils.py
  vllm/v1/engine/core.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Benchmark] Allow oversample request in benchmark dataset (#15170)
  benchmarks/README.md
  benchmarks/benchmark_dataset.py
Owners: none

Fix broken tests (#14713)
  .buildkite/test-pipeline.yaml
  requirements/test.in
  tests/compile/test_pass_manager.py
Owners: none

[Doc] Update README.md (#15187)
  README.md
Owners: none

[Hardware][TPU] Add check for no additional graph compilation during runtime (#14710)
  .buildkite/run-tpu-v1-test.sh
  vllm/envs.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[release] Tag vllm-cpu with latest upon new version released (#15193)
  .buildkite/release-pipeline.yaml
Owners: none

[Bugfix] Fix LoRA extra vocab size (#15047)
  examples/offline_inference/audio_language.py
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  tests/models/decoder_only/vision_language/test_phi4mm.py
  vllm/config.py
Owners: @DarkLight1337, @ywang96

Transformers backend already supports V1 (#15463)
  tests/models/test_transformers.py
  vllm/engine/arg_utils.py
  vllm/model_executor/models/transformers.py
Owners: @DarkLight1337, @ywang96

Add pipeline parallel support to `TransformersModel` (#12832)
  docs/source/models/supported_models.md
  tests/distributed/test_pipeline_parallel.py
  vllm/model_executor/models/transformers.py
  vllm/model_executor/models/utils.py
Owners: @youkaichao

Improve validation of TP in Transformers backend (#15540)
  vllm/model_executor/models/transformers.py
Owners: none

[Model] Add Reasoning Parser for Granite Models (#14202)
  docs/source/features/reasoning_outputs.md
  examples/online_serving/openai_chat_completion_with_reasoning.py
  examples/online_serving/openai_chat_completion_with_reasoning_streaming.py
  tests/entrypoints/openai/reasoning_parsers/test_granite_reasoning_parser.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/openai/reasoning_parsers/__init__.py
  vllm/entrypoints/openai/reasoning_parsers/granite_reasoning_parser.py
  vllm/model_executor/guided_decoding/reasoner/__init__.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @mgoin, @russellb

[Hardware][TPU][Bugfix] Fix v1 mp profiler (#15409)
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[CI/Build] LoRA: Delete long context tests (#15503)
  .buildkite/test-pipeline.yaml
  tests/lora/test_long_context.py
Owners: none

[Misc] Enhance warning information to user-defined chat template (#15408)
  tests/entrypoints/test_chat_utils.py
  vllm/entrypoints/chat_utils.py
  vllm/entrypoints/openai/api_server.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[ROCm][Kernel] MoE weights padding (#14454)
  tests/kernels/test_moe.py
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/fp8.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat

Add workaround for shared field_names in pydantic model class (#13925)
  vllm/entrypoints/openai/protocol.py
Owners: none

[Hardware][TPU] Skip failed compilation test (#15421)
  .buildkite/run-tpu-v1-test.sh
  tests/tpu/test_compilation.py
Owners: none

[Bugfix][V1] Avoid importing PreTrainedModel (#15366)
  vllm/model_executor/model_loader/utils.py
Owners: none
