Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Misc] Remove stale func in KVTransferConfig (#14746)
  vllm/config.py
Owners: none

[TPU][V1][Bugfix] Fix w8a8 recompiilation with GSM8K (#15714)
  .buildkite/run-tpu-v1-test.sh
  vllm/model_executor/layers/quantization/kernels/scaled_mm/xla.py
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

Refactor error handling for multiple exceptions in preprocessing (#15650)
  vllm/entrypoints/openai/serving_chat.py
  vllm/entrypoints/openai/serving_embedding.py
  vllm/entrypoints/openai/serving_pooling.py
  vllm/entrypoints/openai/serving_tokenization.py
Owners: none

[ROCm][AMD][Build] Update AMD supported arch list (#15632)
  CMakeLists.txt
  docs/source/getting_started/installation/gpu/rocm.inc.md
Owners: @tlrmchlsmth

[V1] Support interleaved modality items (#15605)
  .buildkite/test-pipeline.yaml
  tests/conftest.py
  tests/models/decoder_only/vision_language/test_interleaved.py
  tests/multimodal/test_utils.py
  vllm/multimodal/utils.py
  vllm/v1/engine/processor.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat

[Bugfix] Fix 'InductorAdaptor object has no attribute 'cache_dir' (#15674)
  vllm/compilation/compiler_interface.py
Owners: none

[Model] Update support for NemotronNAS models (#15008)
  docs/source/models/supported_models.md
  tests/models/registry.py
  vllm/config.py
  vllm/model_executor/models/decilm.py
  vllm/model_executor/models/interfaces.py
  vllm/model_executor/models/nemotron_nas.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/utils.py
Owners: @DarkLight1337, @ywang96

[Misc] Use model_redirect to redirect the model name to a local folder. (#14116)
  vllm/config.py
  vllm/envs.py
  vllm/transformers_utils/utils.py
Owners: none

Fix cpu offload testing for gptq/awq/ct (#15648)
  tests/quantization/test_cpu_offload.py
  tests/utils.py
Owners: @mgoin, @robertgshaw2-redhat

[V1] Support disable_any_whtespace for guidance backend (#15584)
  tests/entrypoints/llm/test_guided_generate.py
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/engine/arg_utils.py
  vllm/model_executor/guided_decoding/guidance_decoding.py
  vllm/v1/engine/processor.py
  vllm/v1/structured_output/backend_guidance.py
Owners: @mgoin, @russellb, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[doc] add missing imports (#15699)
  docs/source/models/generative_models.md
  docs/source/models/pooling_models.md
  docs/source/performance/optimization.md
  docs/source/serving/multimodal_inputs.md
  docs/source/serving/offline_inference.md
Owners: none

[Doc] update --system for transformers installation in docker doc (#15616)
  docs/source/deployment/docker.md
Owners: none

Fix Transformers backend compatibility check (#15290)
  vllm/model_executor/model_loader/utils.py
Owners: none

[Misc] Clean up `scatter_patch_features` (#15559)
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/vision.py
Owners: none

[Docs][V1] Optimize diagrams in prefix caching design (#15716)
  docs/source/assets/design/v1/prefix_caching/example-time-1.png
  docs/source/assets/design/v1/prefix_caching/example-time-3.png
  docs/source/assets/design/v1/prefix_caching/example-time-4.png
  docs/source/assets/design/v1/prefix_caching/example-time-5.png
  docs/source/assets/design/v1/prefix_caching/example-time-6.png
  docs/source/assets/design/v1/prefix_caching/example-time-7.png
Owners: none

[CPU][CI] Improve CPU Dockerfile (#15690)
  .buildkite/release-pipeline.yaml
  .buildkite/run-cpu-test.sh
  Dockerfile.cpu
  docs/source/getting_started/installation/cpu.md
  docs/source/getting_started/installation/cpu/x86.inc.md
Owners: none

[Quantization][FP8] Adding support for fp8 gemm layer input in fp8 (#14578)
  vllm/model_executor/layers/quantization/compressed_tensors/schemes/compressed_tensors_w8a8_fp8.py
  vllm/model_executor/layers/quantization/fbgemm_fp8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/quark/schemes/quark_w8a8_fp8.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[CI] Speed up V1 structured output tests (#15718)
  tests/v1/entrypoints/llm/test_struct_output_generate.py
Owners: @mgoin, @russellb

[Benchmark] Update Vision Arena Dataset and HuggingFaceDataset Setup (#15748)
  benchmarks/README.md
  benchmarks/benchmark_dataset.py
  benchmarks/benchmark_serving.py
  benchmarks/benchmark_throughput.py
Owners: none

[Feature][ROCm]Enable fusion pass for torch.compile on ROCm (#15050)
  csrc/quantization/fp8/common.cu
  csrc/quantization/fp8/common.cuh
  csrc/quantization/fused_kernels/fused_layernorm_dynamic_per_token_quant.cu
  csrc/quantization/fused_kernels/layernorm_utils.cuh
  csrc/quantization/fused_kernels/quant_conversions.cuh
  csrc/quantization/utils.cuh
  tests/compile/test_fusion.py
  vllm/compilation/fusion.py
Owners: none

[Model] MiniCPM-V/O supports V1 (#15487)
  docs/source/models/supported_models.md
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/molmo.py
Owners: none

[Bugfix] Fix use_cascade_attention handling for Alibi-based models on vllm/v1 (#15211)
  vllm/utils.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Quantization][V1] BitsAndBytes support V1 (#15611)
  tests/models/encoder_decoder/vision_language/test_mllama.py
  tests/models/test_transformers.py
  tests/quantization/test_bitsandbytes.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/model_executor/layers/quantization/bitsandbytes.py
  vllm/model_executor/model_loader/loader.py
Owners: @DarkLight1337, @ywang96, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[Bugfix] [torch.compile] Add Dynamo metrics context during compilation (#15639)
  tests/compile/test_full_graph.py
  vllm/compilation/compiler_interface.py
Owners: none

[Doc] Fix dead links in Job Board (#15637)
  docs/source/conf.py
Owners: none

[FEAT] [ROCm] Add AITER int8 scaled gemm kernel (#15433)
  tests/quantization/test_compressed_tensors.py
  vllm/envs.py
  vllm/model_executor/layers/quantization/kernels/scaled_mm/__init__.py
  vllm/model_executor/layers/quantization/kernels/scaled_mm/aiter.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[TPU] Avoid Triton Import (#15589)
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/fp8.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[Refactor][Frontend] Keep all logic about reasoning into one class (#14428)
  tests/reasoning/__init__.py
  tests/reasoning/test_deepseekr1_reasoning_parser.py
  tests/reasoning/test_granite_reasoning_parser.py
  tests/reasoning/utils.py
  vllm/engine/arg_utils.py
  vllm/engine/llm_engine.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/serving_chat.py
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/outlines_decoding.py
  vllm/model_executor/guided_decoding/outlines_logits_processors.py
  vllm/model_executor/guided_decoding/reasoner/deepseek_reasoner.py
  vllm/model_executor/guided_decoding/reasoner/reasoner.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
  vllm/reasoning/__init__.py
  vllm/reasoning/abs_reasoning_parsers.py
  vllm/reasoning/deepseek_r1_reasoning_parser.py
  vllm/reasoning/granite_reasoning_parser.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @russellb

[doc] update doc (#15740)
  docs/README.md
Owners: none

[Bugfix] Fix missing return value in load_weights method of adapters.py (#15542)
  vllm/model_executor/models/adapters.py
Owners: none

Allow torchao quantization in SiglipMLP (#15575)
  vllm/model_executor/models/siglip.py
Owners: none

fix: better install requirement for install in setup.py (#15796)
  setup.py
Owners: none

[Bugfix] `embed_is_patch` for Idefics3 (#15696)
  vllm/model_executor/models/commandr.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/ultravox.py
Owners: none

[V1][Scheduler] Avoid calling `_try_schedule_encoder_inputs` for every request (#15778)
  vllm/v1/core/sched/scheduler.py
  vllm/v1/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][v1] xgrammar structured output supports Enum. (#15594)
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  vllm/v1/structured_output/utils.py
Owners: @mgoin, @russellb

[Bugfix] set VLLM_WORKER_MULTIPROC_METHOD=spawn for vllm.entrypoionts.openai.api_server (#15700)
  vllm/entrypoints/cli/main.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/utils.py
Owners: none

[TPU][CI] Fix TPUModelRunner Test (#15667)
  .buildkite/run-tpu-v1-test.sh
  tests/v1/tpu/worker/test_tpu_model_runner.py
Owners: none

[Bugfix] Fix failure to launch in Tensor Parallel TP mode on macOS. (#14948)
  docs/source/design/multiprocessing.md
  vllm/distributed/device_communicators/shm_broadcast.py
  vllm/platforms/cpu.py
Owners: none

[V1] Fully Transparent Implementation of CPU Offloading (#15354)
  CMakeLists.txt
  csrc/cuda_view.cu
  csrc/ops.h
  csrc/torch_bindings.cpp
  tests/basic_correctness/test_cpu_offload.py
  tests/kernels/test_uva.py
  tests/quantization/test_cpu_offload.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/model_executor/models/utils.py
  vllm/utils.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @tlrmchlsmth, @WoosukKwon, @mgoin, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[TPU] Lazy Import (#15656)
  vllm/distributed/utils.py
Owners: none
