Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

[Misc] update requires-python in pyproject.toml (#16116)
  pyproject.toml
Owners: none

Fix requires-python (#16132)
  pyproject.toml
Owners: none

[CI] Reorganize .buildkite directory (#16001)
  .buildkite/release-pipeline.yaml
  .buildkite/scripts/hardware_ci/run-amd-test.sh
  .buildkite/scripts/hardware_ci/run-cpu-test-ppc64le.sh
  .buildkite/scripts/hardware_ci/run-cpu-test.sh
  .buildkite/scripts/hardware_ci/run-gh200-test.sh
  .buildkite/scripts/hardware_ci/run-hpu-test.sh
  .buildkite/scripts/hardware_ci/run-neuron-test.sh
  .buildkite/scripts/hardware_ci/run-tpu-v1-test.sh
  .buildkite/scripts/hardware_ci/run-xpu-test.sh
  .buildkite/scripts/run-benchmarks.sh
  .buildkite/scripts/run-multi-node-test.sh
  .buildkite/scripts/upload-wheels.sh
  .buildkite/test-pipeline.yaml
  tools/shellcheck.sh
Owners: none

[Model] Add smolvlm support (#16017)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_multi_image.py
  requirements/test.in
  requirements/test.txt
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/multimodal/processing/test_common.py
  tests/models/multimodal/processing/test_smolvlm.py
  tests/models/registry.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/smolvlm.py
Owners: @DarkLight1337, @ywang96

[Model] fix model testing for TeleChat2ForCausalLM and V0 llama4 (#16112)
  vllm/attention/backends/flash_attn.py
  vllm/model_executor/models/telechat2.py
Owners: none

[Misc] Add warning for multimodal data in LLM.beam_search (#16241)
  vllm/entrypoints/llm.py
Owners: none

[Bugfix] Make dummy encoder prompt padding alternative and add missing warnings (#16129)
  tests/models/multimodal/processing/test_mllama.py
  tests/models/utils.py
  vllm/model_executor/models/whisper.py
  vllm/multimodal/processing.py
  vllm/multimodal/profiling.py
Owners: @DarkLight1337, @ywang96

[V1] Add `disable_chunked_mm_input` arg to disable partial mm input prefill (#15837)
  tests/v1/core/test_scheduler.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/v1/core/sched/scheduler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] DP scale-out (1/N): Use zmq ROUTER/DEALER sockets for input queue (#15906)
  vllm/utils.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Add warning for Attention backends that do not support irope yet (#16212)
  vllm/attention/backends/flashinfer.py
  vllm/attention/backends/hpu_attn.py
  vllm/attention/backends/ipex_attn.py
  vllm/attention/backends/pallas.py
  vllm/attention/backends/rocm_flash_attn.py
  vllm/attention/backends/torch_sdpa.py
  vllm/attention/backends/xformers.py
  vllm/v1/attention/backends/pallas.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] fix deepseek fp16 scale bug (#14809)
  vllm/model_executor/models/deepseek_v2.py
Owners: none

[Bugfix][TPU] Fix V1 TPU worker for sliding window (#16059)
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Remove redundant code (#16098)
  vllm/entrypoints/chat_utils.py
Owners: none

[CI][V1] Fix passing `tokenizer` as kwarg to `validate_guidance_grammar` (#16117)
  vllm/v1/structured_output/backend_guidance.py
Owners: @mgoin, @russellb

[Metrics] Add bucket for `request_latency`, `time_to_first_token` and `time_per_output_token` (#15202)
  vllm/engine/metrics.py
  vllm/v1/metrics/loggers.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] use AutoWeightsLoader for phi, gemma, deepseek (#16088)
  vllm/model_executor/models/deepseek.py
  vllm/model_executor/models/gemma.py
  vllm/model_executor/models/phi.py
Owners: none

[Bugfix] Remove triton do_bench fast_flush arg (#16256)
  tests/kernels/test_flashmla.py
Owners: @tlrmchlsmth, @WoosukKwon

[New Model]: jinaai/jina-embeddings-v3 (#16120)
  examples/offline_inference/embed_jina_embeddings_v3.py
  tests/conftest.py
  tests/models/embedding/language/test_jina.py
  vllm/config.py
  vllm/model_executor/models/bert.py
  vllm/model_executor/models/roberta.py
Owners: @DarkLight1337, @ywang96

[ROCm][Bugfix][FP8] Make fp8 quant respect fused modules mapping (#16031)
  vllm/model_executor/layers/quantization/fp8.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[BugFix] Fix Llama4 - Index Error When Single Request Near Max Context (#16209)
  vllm/v1/attention/backends/flash_attn.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[TPU] Update PyTorch/XLA (#16130)
  requirements/tpu.txt
Owners: none

[Bugfix] Re-enable support for `ChatGLMForConditionalGeneration` (#16187)
  docs/source/models/supported_models.md
  tests/models/registry.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[V1] Update structured output offline inference example (#15721)
  examples/offline_inference/structured_outputs.py
Owners: none

[TPU] Update PyTorch/XLA (#16288)
  requirements/tpu.txt
  tests/v1/tpu/test_pallas.py
Owners: none

[Misc] improve example mlpspeculator and llm_engine_example (#16175)
  examples/offline_inference/llm_engine_example.py
  examples/offline_inference/mlpspeculator.py
Owners: none

[Model] use AutoWeightsLoader for stablelm,starcoder2,zamba2 (#16103)
  vllm/model_executor/models/stablelm.py
  vllm/model_executor/models/starcoder2.py
  vllm/model_executor/models/zamba2.py
Owners: none

[Model] use AutoWeightsLoader for phimoe,qwen2_moe,qwen3_moe (#16203)
  vllm/model_executor/models/phimoe.py
  vllm/model_executor/models/qwen2_moe.py
  vllm/model_executor/models/qwen3_moe.py
Owners: none

[Benchmark] Add sampling parameters to benchmark_serving. (#16022)
  benchmarks/README.md
  benchmarks/backend_request_func.py
  benchmarks/benchmark_serving.py
Owners: none

[V1][Structured Output] Add `supports_structured_output()` method to Platform (#16148)
  vllm/platforms/cpu.py
  vllm/platforms/cuda.py
  vllm/platforms/hpu.py
  vllm/platforms/interface.py
  vllm/platforms/neuron.py
  vllm/platforms/rocm.py
  vllm/platforms/tpu.py
  vllm/platforms/xpu.py
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Minor] Optimize get_cached_block (#16135)
  vllm/v1/core/block_pool.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] add hf_token to EngineArgs (#16093)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/llm.py
  vllm/transformers_utils/config.py
Owners: none

[Model] Add Qwen3 and Qwen3MoE (#15289)
  docs/source/models/supported_models.md
  tests/models/registry.py
  vllm/model_executor/models/qwen2.py
  vllm/model_executor/models/qwen3.py
  vllm/model_executor/models/qwen3_moe.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

Update BASE_IMAGE to 2.22 release of Neuron (#16218)
  docker/Dockerfile.neuron
Owners: none

[Kernel][Minor] Re-fuse triton moe weight application (#16071)
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none

[Doc]Update image to latest version (#16186)
  docs/source/deployment/docker.md
Owners: none

fix: support clang17 for macos and fix the real libomp (#16086)
  cmake/cpu_extension.cmake
Owners: none

Print the warning only once (#16193)
  vllm/multimodal/profiling.py
Owners: @DarkLight1337, @ywang96

[Frontend] Fix typo in tool chat templates for llama3.2 and toolace (#14501)
  examples/tool_chat_template_llama3.2_pythonic.jinja
  examples/tool_chat_template_toolace.jinja
Owners: none

[Misc] format output for encoder_decoder.py (#16095)
  examples/offline_inference/encoder_decoder.py
Owners: none

[Bug] [ROCm] Fix Llama 4 Enablement Bug on ROCm: V0 ROCmFlashAttentionImpl and Triton Fused MoE bugs (#16198)
  vllm/attention/backends/rocm_flash_attn.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/utils.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao
