Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

Fix env vars for running Ray distributed backend on GKE (#15166)
  vllm/executor/ray_distributed_executor.py
  vllm/platforms/interface.py
  vllm/platforms/tpu.py
Owners: none

Enforce that TP > 1 is not supported for Mamba2 if Quantization is Enabled. (#14617)
  vllm/model_executor/layers/mamba/mamba_mixer2.py
Owners: none

[Bugfix] Loosen type check to avoid errors in V1 (#15021)
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/glm4v.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/qwen_vl.py
Owners: none

[Bugfix] fix V1 Engine crash while handling requests with duplicate request id (#15043)
  tests/v1/engine/test_engine_core.py
  vllm/v1/engine/core.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Spec Decode] Optimize Rejection Sampler with Triton Kernels (#14930)
  tests/v1/sample/test_rejection_sampler.py
  vllm/envs.py
  vllm/v1/outputs.py
  vllm/v1/sample/ops/utils.py
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/spec_decode/metadata.py
  vllm/v1/spec_decode/utils.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Add attention mask pre-computation optimization back to Qwen2.5-VL (#15273)
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/qwen2_vl.py
Owners: none

fix long dtype in topk sampling (#15049)
  vllm/v1/sample/sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] Update LWS docs (#15163)
  docs/source/deployment/frameworks/lws.md
Owners: none

[Model] Pixtral: Remove layer instantiation duplication (#15053)
  vllm/model_executor/models/pixtral.py
Owners: none

[Build/CI] Fix env var typo (#15305)
  .buildkite/nightly-benchmarks/scripts/run-performance-benchmarks.sh
Owners: none

[V1] Refactor Structured Output for multiple backends (#14694)
  vllm/v1/engine/processor.py
  vllm/v1/structured_output/__init__.py
  vllm/v1/structured_output/backend_types.py
  vllm/v1/structured_output/backend_xgrammar.py
  vllm/v1/structured_output/grammar.py
  vllm/v1/structured_output/request.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @mgoin, @russellb

[Model] Remove duplicated message check in Mistral chat completion request (#15069)
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[V1] Fix wrong import path of get_flash_attn_version (#15280)
  vllm/v1/attention/backends/mla/common.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] Minor v1_user_guide update (#15064)
  docs/source/getting_started/v1_user_guide.md
Owners: none

[Frontend] Remove custom_cache_manager (#13791)
  vllm/executor/multiproc_worker_utils.py
  vllm/triton_utils/__init__.py
  vllm/triton_utils/custom_cache_manager.py
Owners: none

Fixing Imprecise Type Annotations (#15192)
  vllm/transformers_utils/tokenizer_group/__init__.py
Owners: none

[V1][TPU] Support V1 Sampler for ragged attention (#14227)
  tests/v1/tpu/test_sampler.py
  vllm/v1/sample/ops/topk_topp_sampler.py
  vllm/v1/sample/tpu/__init__.py
  vllm/v1/sample/tpu/metadata.py
  vllm/v1/sample/tpu/sampler.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[TPU][V1] MHA Pallas backend (#15288)
  tests/v1/tpu/test_mha_attn.py
  vllm/attention/layer.py
Owners: none

[Doc] Clarify run vllm only on one node in distributed inference (#15148)
  docs/source/serving/distributed_serving.md
Owners: none

[V1] TPU - Tensor parallel MP support (#15059)
  vllm/config.py
  vllm/distributed/device_communicators/tpu_communicator.py
Owners: none

[FrontEnd][Perf] `merge_async_iterators` fast-path for single-prompt requests (#15150)
  vllm/utils.py
Owners: none

[Misc][V1] Skip device checking if not available (#15061)
  vllm/engine/arg_utils.py
Owners: none

[Model] RE: Mamba2 Prefill Performance Tweaks: Fixing Flurry of Unnecessary Memory Copies (#14857)
  vllm/model_executor/layers/mamba/mamba_mixer2.py
Owners: none

simple bugfix: Update stats.py (#15139)
  vllm/v1/metrics/stats.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Register serializers for V0 MQ Engine (#15009)
  vllm/engine/multiprocessing/engine.py
  vllm/entrypoints/openai/api_server.py
Owners: none

[V1] Ensure using int64 for sampled token ids (#15065)
  vllm/v1/sample/sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[CI/Build] LoRA : make add_lora_test safer (#15181)
  tests/lora/test_add_lora.py
Owners: none

[V1][TPU] Change kv cache shape. (#15145)
  requirements/tpu.txt
  vllm/v1/attention/backends/pallas.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[v1] Refactor KVCacheConfig (#14079)
  tests/v1/core/test_kv_cache_utils.py
  vllm/v1/core/kv_cache_utils.py
  vllm/v1/engine/core.py
  vllm/v1/executor/abstract.py
  vllm/v1/kv_cache_interface.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
  vllm/v1/worker/worker_base.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Core][V0] Add guidance backend for structured output (#14589)
  benchmarks/benchmark_serving_structured_output.py
  requirements/common.txt
  tests/entrypoints/llm/test_guided_generate.py
  tests/model_executor/test_guided_processors.py
  vllm/config.py
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/guidance_decoding.py
  vllm/model_executor/guided_decoding/guidance_logits_processors.py
Owners: @mgoin, @russellb

[Bugfix] Add int8 torch dtype for KVCache (#15260)
  vllm/utils.py
Owners: none

Revert "[Feature] specify model in config.yaml (#14855)" (#15293)
  docs/source/serving/openai_compatible_server.md
  tests/config/test_config_with_model.yaml
  tests/conftest.py
  tests/data/test_config.yaml
  tests/test_utils.py
  vllm/entrypoints/cli/serve.py
  vllm/utils.py
Owners: none

[Bugfix] Fix incorrect qwen2.5-vl attention mask pre-computation (#15200)
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/custom_inputs.py
  vllm/model_executor/models/qwen2_5_vl.py
Owners: @DarkLight1337, @ywang96

[V1] Enable Triton(ROCm) Attention backend for Nvidia GPUs (#14071)
  vllm/engine/arg_utils.py
  vllm/platforms/cuda.py
  vllm/platforms/interface.py
  vllm/platforms/rocm.py
  vllm/v1/attention/backends/triton_attn.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

fix "Total generated tokens:" is 0 if using --backend tgi and --endpo… (#14673)
  benchmarks/backend_request_func.py
Owners: none

[Attention] Flash Attention 3 - fp8 (#14570)
  cmake/external_projects/vllm_flash_attn.cmake
  tests/kernels/test_flash_attn.py
  vllm/attention/__init__.py
  vllm/attention/backends/abstract.py
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/mla/common.py
  vllm/attention/backends/utils.py
  vllm/attention/layer.py
  vllm/envs.py
  vllm/fa_utils.py
  vllm/model_executor/layers/quantization/kv_cache.py
  vllm/platforms/cuda.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/executor/multiproc_executor.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @tlrmchlsmth, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @ywang96

Fix CUDA kernel index data type in vllm/csrc/quantization/fused_kernels/layernorm_utils.cuh +10 (#15159)
  csrc/quantization/fused_kernels/layernorm_utils.cuh
  csrc/quantization/gguf/dequantize.cuh
  csrc/quantization/gguf/gguf_kernel.cu
  csrc/quantization/gguf/mmq.cuh
  csrc/quantization/gguf/mmvq.cuh
  csrc/quantization/gguf/moe.cuh
  csrc/quantization/gptq/q_gemm.cu
  csrc/quantization/gptq_allspark/allspark_qgemm_w8a16.cu
  csrc/quantization/gptq_allspark/allspark_repack.cu
  csrc/quantization/gptq_allspark/allspark_utils.cuh
Owners: none

[Docs] Annouce Ollama and Singapore Meetups (#15161)
  README.md
Owners: none

[V1] Add flag to disable cascade attention (#15243)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] detect alibi and revert to FA2 (#15231)
  vllm/attention/backends/flash_attn.py
  vllm/fa_utils.py
Owners: none
