Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[Misc] Clean Up `EngineArgs.create_engine_config` (#13734)
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: none

[v1] torchrun compatibility (#13642)
  .buildkite/test-pipeline.yaml
  tests/distributed/test_torchrun_example.py
  tests/v1/engine/test_engine_core.py
  vllm/config.py
  vllm/executor/ray_distributed_executor.py
  vllm/executor/ray_utils.py
  vllm/executor/uniproc_executor.py
  vllm/v1/engine/core.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/executor/abstract.py
  vllm/v1/executor/multiproc_executor.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/tpu_worker.py
  vllm/worker/worker_base.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @zhuohan123, @youkaichao

[CI/Build] Fix pre-commit errors from #13571 (#13709)
  csrc/quantization/fp4/nvfp4_scaled_mm_entry.cu
  csrc/quantization/fp4/nvfp4_scaled_mm_kernels.cu
Owners: none

Missing comment explaining VDR variable in GGUF kernels (#13290)
  csrc/quantization/gguf/vecdotq.cuh
Owners: none

[Bugfix] fix(logging): add missing opening square bracket (#13011)
  vllm/logger.py
Owners: none

[Neuron][Kernel] Vectorize KV cache load in FlashPagedAttention to maximize DMA bandwidth (#13245)
  tests/neuron/test_block_table.py
  tests/neuron/test_prefix_prefill.py
  vllm/attention/ops/nki_flash_attn.py
Owners: none

[2/n][ci] S3: Use full model path (#13564)
  tests/basic_correctness/test_cumem.py
  tests/conftest.py
  tests/engine/test_computed_prefix_blocks.py
  tests/engine/test_detokenization.py
  tests/engine/test_executor.py
  tests/engine/test_skip_tokenizer_init.py
  tests/test_config.py
  tests/test_regression.py
Owners: none

Fix some issues with benchmark data output (#13641)
  .buildkite/nightly-benchmarks/scripts/convert-results-json-to-markdown.py
  .buildkite/nightly-benchmarks/scripts/run-performance-benchmarks.sh
  .buildkite/nightly-benchmarks/tests/throughput-tests.json
  benchmarks/benchmark_latency.py
  benchmarks/benchmark_serving.py
  benchmarks/benchmark_throughput.py
  benchmarks/benchmark_utils.py
Owners: none

[Core] xgrammar: Expand list of unsupported jsonschema keywords (#13783)
  vllm/model_executor/guided_decoding/utils.py
Owners: none

[Bugfix] Fix qwen2.5-vl overflow issue (#13968)
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/utils.py
  vllm/model_executor/models/whisper.py
Owners: none

[Kernel] FlashMLA integration (#13747)
  CMakeLists.txt
  cmake/external_projects/flashmla.cmake
  cmake/external_projects/vllm_flash_attn.cmake
  setup.py
  tests/kernels/test_flashmla.py
  vllm/_custom_ops.py
  vllm/attention/backends/flashmla.py
  vllm/attention/backends/mla/common.py
  vllm/attention/ops/flashmla.py
  vllm/platforms/cuda.py
  vllm/platforms/interface.py
Owners: @tlrmchlsmth, @WoosukKwon

[BugFix] Make FP8 Linear compatible with torch.compile (#13918)
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
Owners: none

[Doc] Fix ROCm documentation (#14041)
  docs/source/getting_started/installation/gpu/rocm.inc.md
Owners: none

[Model] Support Grok1 (#13795)
  docs/source/models/supported_models.md
  tests/models/registry.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/experts_int8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/models/grok1.py
  vllm/model_executor/models/registry.py
Owners: @DarkLight1337, @ywang96

[Model][Speculative Decoding] Expand DeepSeek MTP code to support k > n_predict (#13626)
  vllm/config.py
  vllm/model_executor/models/deepseek_mtp.py
  vllm/spec_decode/draft_model_runner.py
  vllm/spec_decode/multi_step_worker.py
  vllm/spec_decode/spec_decode_worker.py
  vllm/worker/model_runner.py
Owners: none

[Misc] fixed qwen_vl_utils parameter error (#13906)
  examples/offline_inference/vision_language_multi_image.py
Owners: none

[Doc] fix the incorrect module path of tensorize_vllm_model (#13863)
  examples/other/tensorize_vllm_model.py
Owners: none

Use smaller embedding model when not testing model specifically (#13891)
  tests/entrypoints/llm/test_encode.py
  tests/entrypoints/openai/test_embedding.py
  tests/entrypoints/openai/test_metrics.py
  tests/entrypoints/openai/test_run_batch.py
  tests/model_executor/test_model_load_with_params.py
  tests/models/embedding/language/test_embedding.py
  tests/models/registry.py
  tests/test_config.py
  vllm/test_utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

[Bugfix] Handle None parameters in Mistral function calls. (#13786)
  tests/tokenization/test_mistral_tokenizer.py
  vllm/transformers_utils/tokenizers/mistral.py
Owners: none

[core] Perf improvement for DSv3 on AMD GPUs (#13718)
  vllm/attention/backends/mla/common.py
  vllm/attention/ops/triton_decode_attention.py
  vllm/model_executor/layers/fused_moe/configs/E=256,N=256,device_name=AMD_Instinct_MI300X,dtype=fp8_w8a8,block_shape=[128,128].json
Owners: none

[ROCm][V1] Update reshape_and_cache to properly work with CUDA graph padding (#13922)
  csrc/cache_kernels.cu
Owners: none

[Bugfix] Initialize attention bias on the same device as Query/Key/Value (#13468)
  vllm/attention/backends/xformers.py
Owners: none

[V1][Metrics] Handle preemptions (#13169)
  tests/entrypoints/openai/test_metrics.py
  vllm/v1/core/scheduler.py
  vllm/v1/engine/__init__.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1]`SupportsV0Only` protocol for model definitions (#13959)
  vllm/config.py
  vllm/model_executor/models/__init__.py
  vllm/model_executor/models/bamba.py
  vllm/model_executor/models/bart.py
  vllm/model_executor/models/bert.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/gritlm.py
  vllm/model_executor/models/interfaces.py
  vllm/model_executor/models/jamba.py
  vllm/model_executor/models/mamba.py
  vllm/model_executor/models/mamba2.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/prithvi_geospatial_mae.py
  vllm/model_executor/models/qwen2_rm.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/roberta.py
  vllm/model_executor/models/whisper.py
Owners: none

[Bugfix] Initialize attention bias on the same device as Query/Key/Value for QwenVL Series (#14031)
  vllm/model_executor/models/qwen2_5_vl.py
  vllm/model_executor/models/qwen2_vl.py
Owners: none

[PP] Correct cache size check (#13873)
  vllm/worker/hpu_worker.py
  vllm/worker/worker.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

[v1] Add `__repr__` to KVCacheBlock to avoid recursive print (#14081)
  vllm/v1/core/kv_cache_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[bugfix] Fix profiling for RayDistributedExecutor (#13945)
  vllm/executor/ray_distributed_executor.py
Owners: none

[Attention] MLA support for V1 (#13789)
  vllm/attention/layer.py
  vllm/model_executor/models/deepseek_v2.py
  vllm/platforms/cuda.py
  vllm/platforms/interface.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/attention/backends/mla/__init__.py
  vllm/v1/attention/backends/mla/common.py
  vllm/v1/attention/backends/triton_mla.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[VLM] Generalized prompt updates for multi-modal processor (#13964)
  docs/source/contributing/model/multimodal.md
  docs/source/design/mm_processing.md
  tests/multimodal/test_processing.py
  vllm/model_executor/models/aria.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/glm4v.py
  vllm/model_executor/models/h2ovl.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/nvlm_d.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/prithvi_geospatial_mae.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/qwen_vl.py
  vllm/model_executor/models/ultravox.py
  vllm/model_executor/models/whisper.py
  vllm/multimodal/processing.py
Owners: @DarkLight1337, @ywang96

[Bugfix] Add file lock for ModelScope download (#14060)
  benchmarks/backend_request_func.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/model_loader/weight_utils.py
  vllm/transformers_utils/tokenizer.py
Owners: none

Fix string parsing error (#13825)
  vllm/transformers_utils/config.py
Owners: none

[Misc] Accurately capture the time of loading weights (#14063)
  vllm/model_executor/model_loader/loader.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/worker/model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][Disaggregated] patch the inflight batching on the decode node in SimpleConnector to avoid hangs in SimpleBuffer (nccl based) (#13987)
  vllm/distributed/kv_transfer/kv_connector/simple_connector.py
Owners: none

[v0][structured output] Support reasoning output (#12955)
  docs/source/features/reasoning_outputs.md
  examples/online_serving/openai_chat_completion_structured_outputs_with_reasoning.py
  tests/model_executor/test_guided_processors.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/engine/multiprocessing/client.py
  vllm/entrypoints/openai/cli_args.py
  vllm/model_executor/guided_decoding/__init__.py
  vllm/model_executor/guided_decoding/outlines_decoding.py
  vllm/model_executor/guided_decoding/outlines_logits_processors.py
  vllm/model_executor/guided_decoding/reasoner/__init__.py
  vllm/model_executor/guided_decoding/reasoner/deepseek_reasoner.py
  vllm/model_executor/guided_decoding/reasoner/reasoner.py
  vllm/model_executor/guided_decoding/xgrammar_decoding.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

Add RELEASE.md (#13926)
  RELEASE.md
Owners: none

Fix test_block_fp8.py test for MoE (#13915)
  tests/kernels/test_block_fp8.py
Owners: @tlrmchlsmth, @WoosukKwon

[Misc]Code Cleanup (#13859)
  vllm/executor/ray_distributed_executor.py
Owners: none

[Misc] fixed 'required' is an invalid argument for positionals (#13948)
  examples/online_serving/openai_chat_embedding_client_for_multimodal.py
Owners: none

[Misc] Improve LoRA spelling (#13831)
  benchmarks/kernels/benchmark_lora.py
  docs/source/features/lora.md
  tests/core/test_scheduler.py
  tests/entrypoints/openai/test_cli_args.py
  tests/entrypoints/openai/test_serving_models.py
  tests/lora/test_layers.py
  tests/lora/test_long_context.py
  vllm/engine/llm_engine.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_models.py
  vllm/lora/fully_sharded_layers.py
  vllm/lora/layers.py
  vllm/lora/models.py
  vllm/lora/peft_helper.py
  vllm/lora/punica_wrapper/punica_base.py
  vllm/lora/utils.py
  vllm/spec_decode/proposer_worker_base.py
  vllm/spec_decode/spec_decode_worker.py
  vllm/transformers_utils/configs/arctic.py
  vllm/worker/neuron_worker.py
  vllm/worker/openvino_worker.py
  vllm/worker/tpu_worker.py
  vllm/worker/worker_base.py
  vllm/worker/xpu_worker.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
