Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[Doc] Dockerfile instructions for optional dependencies and dev transformers (#13699)
  docs/source/deployment/docker.md
Owners: none

[Attention] MLA with chunked prefill (#12639)
  csrc/cache.h
  csrc/cache_kernels.cu
  csrc/core/math.hpp
  csrc/cuda_utils.h
  csrc/quantization/cutlass_w8a8/scaled_mm_c3x.cu
  csrc/torch_bindings.cpp
  tests/kernels/test_cache.py
  vllm/_custom_ops.py
  vllm/attention/__init__.py
  vllm/attention/backends/mla/common.py
  vllm/attention/backends/mla/utils.py
  vllm/attention/backends/triton_mla.py
  vllm/attention/ops/triton_merge_attn_states.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
  vllm/utils.py
  vllm/v1/attention/backends/flash_attn.py
Owners: @tlrmchlsmth, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ci] Add logic to change model to S3 path only when S3 CI env var is on (#13727)
  tests/metrics/test_metrics.py
Owners: none

Correction to TP logic for Mamba Mixer 2 when Num Groups not divisible by TP Size (#13660)
  vllm/model_executor/layers/mamba/mamba_mixer2.py
Owners: none

Fix CompressedTensorsWNA16MoE with grouped scales (#13769)
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: none

[Misc][Chore] Clean Up `AsyncOutputProcessing` Logs (#13780)
  vllm/config.py
Owners: none

[Quant] BaiChuan SupportsQuant (#13710)
  vllm/model_executor/models/baichuan.py
Owners: none

docs: Add a note on full CI run in contributing guide (#13646)
  docs/source/contributing/overview.md
Owners: none

[v1] Support allowed_token_ids in v1 Sampler (#13210)
  tests/v1/sample/test_rejection_sampler.py
  tests/v1/sample/test_sampler.py
  tests/v1/worker/test_gpu_input_batch.py
  vllm/v1/engine/processor.py
  vllm/v1/sample/metadata.py
  vllm/v1/sample/sampler.py
  vllm/v1/worker/gpu_input_batch.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][CPU] Fix cpu all-reduce using native pytorch implementation (#13586)
  vllm/distributed/device_communicators/cpu_communicator.py
Owners: none

Fix precommit fail in fused_moe intermediate_cache2 chunking (#13772)
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none

Update `pre-commit`'s `isort` version to remove warnings (#13614)
  .pre-commit-config.yaml
Owners: none

Expert Parallelism (EP) Support for DeepSeek V2 (#12583)
  benchmarks/kernels/benchmark_moe.py
  tests/distributed/test_expert_parallel.py
  tests/kernels/test_awq_marlin.py
  tests/kernels/test_moe.py
  tests/kernels/utils.py
  tests/utils.py
  vllm/config.py
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/fused_moe/moe_torch_iterative.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/experts_int8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/layers/quantization/moe_wna16.py
  vllm/model_executor/layers/quantization/quark/quark_moe.py
  vllm/model_executor/models/deepseek_v2.py
Owners: @tlrmchlsmth, @WoosukKwon

[CI/Build] Use uv in the Dockerfile (#13566)
  Dockerfile
Owners: none

[ci] fix linter (#13701)
  examples/offline_inference/data_parallel.py
  vllm/config.py
  vllm/utils.py
  vllm/v1/engine/core_client.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Adding script to setup ray for multi-node vllm deployments (#12913)
  examples/online_serving/multi-node-serving.sh
Owners: none

[V1][BugFix] Fix engine core client shutdown hangs (#13298)
  tests/v1/engine/test_engine_core_client.py
  vllm/v1/engine/core_client.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Check that the model can be inspected upon registration (#13743)
  vllm/model_executor/models/registry.py
Owners: none

[ROCm] Apply FP8 weights padding to values not divisible by 512 bytes on ROCm (#13231)
  vllm/envs.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/utils/fp8_utils.py
Owners: none

Revert "[V1][Core] Fix memory issue with logits & sampling" (#13775)
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[misc] Clean up ray compiled graph type hints (#13731)
  vllm/executor/ray_distributed_executor.py
  vllm/executor/ray_utils.py
Owners: none

[core] set up data parallel communication (#13591)
  .buildkite/test-pipeline.yaml
  examples/offline_inference/data_parallel.py
  vllm/config.py
  vllm/distributed/device_communicators/cuda_communicator.py
  vllm/distributed/device_communicators/custom_all_reduce.py
  vllm/distributed/parallel_state.py
  vllm/distributed/utils.py
  vllm/envs.py
  vllm/forward_context.py
  vllm/utils.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/executor/multiproc_executor.py
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
  vllm/worker/worker_base.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat, @zhuohan123, @youkaichao

[XPU]fix setuptools version for xpu (#13548)
  requirements-xpu.txt
Owners: none

[V1][Minor] Print KV cache size in token counts (#13596)
  vllm/v1/core/kv_cache_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

fix typo of grafana dashboard, with correct datasource (#13668)
  examples/online_serving/prometheus_grafana/grafana.json
Owners: none

[Misc] Fix yapf linting tools etc not running on pre-commit (#13695)
  .pre-commit-config.yaml
Owners: none

fix neuron performance issue (#13589)
  vllm/worker/neuron_worker.py
Owners: none

[Bugfix] V1 Memory Profiling: V0 Sampler Integration without Rejection Sampler (#13594)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix] Fix deepseek-v2 error: "missing 1 required positional argument: 'residual'" (#13802)
  vllm/model_executor/models/deepseek_v2.py
Owners: none

[Misc] Deprecate `--dataset` from `benchmark_serving.py` (#13708)
  benchmarks/benchmark_serving.py
Owners: none

Support SSL Key Rotation in HTTP Server (#13495)
  requirements-common.txt
  tests/entrypoints/test_ssl_cert_refresher.py
  vllm/entrypoints/api_server.py
  vllm/entrypoints/launcher.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/cli_args.py
  vllm/entrypoints/ssl.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1][Metrics] Implement vllm:lora_requests_info metric (#13504)
  vllm/v1/engine/output_processor.py
  vllm/v1/metrics/loggers.py
  vllm/v1/metrics/stats.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Core] LoRA V1 - Add add/pin/list/remove_lora functions (#13705)
  tests/lora/test_add_lora.py
  tests/lora/test_lora_functions.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/worker/gpu_worker.py
  vllm/v1/worker/lora_model_runner_mixin.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Kernel] LoRA - Refactor sgmv kernels (#13110)
  vllm/lora/ops/triton_ops/kernel_utils.py
  vllm/lora/ops/triton_ops/sgmv_expand.py
  vllm/lora/ops/triton_ops/sgmv_shrink.py
Owners: none

[FEATURE] Enables /score endpoint for embedding models (#12846)
  docs/source/models/pooling_models.md
  docs/source/serving/openai_compatible_server.md
  tests/entrypoints/openai/test_rerank.py
  tests/entrypoints/openai/test_score.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/run_batch.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/entrypoints/openai/serving_rerank.py
  vllm/entrypoints/openai/serving_score.py
  vllm/entrypoints/score_utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[API Server] Add port number range validation (#13506)
  vllm/entrypoints/api_server.py
Owners: none

[ci] Fix spec decode test (#13600)
  tests/conftest.py
Owners: none

Use pre-commit to update `requirements-test.txt` (#13617)
  .pre-commit-config.yaml
  requirements-test.txt
Owners: none

[Bugfix] Modify modelscope api usage in transformer_utils (#13807)
  vllm/transformers_utils/utils.py
Owners: none

[Bugfix] Fix benchmark script bug: inaccurate stats for vllm backend when max_model_len < input_len + output_len (#13691)
  benchmarks/benchmark_guided.py
  benchmarks/benchmark_latency.py
  benchmarks/benchmark_prioritization.py
  benchmarks/benchmark_throughput.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
