Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @DarkLight1337, @ywang96, @tlrmchlsmth, @robertgshaw2-redhat, @simon-mo, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat

# Test ownership
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-redhat
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-redhat @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac

[ci] Fix metrics test model path (#13635)
  tests/metrics/test_metrics.py
Owners: none

[Core][Distributed] Use IPC (domain socket) ZMQ socket for local comms (#13688)
  vllm/distributed/device_communicators/shm_broadcast.py
Owners: none

[CI/Build] add python-json-logger to requirements-common (#12842)
  examples/other/logging_configuration.md
  requirements-common.txt
Owners: none

[Bugfix] Fix boolean conversion for OpenVINO env variable (#13615)
  vllm/envs.py
  vllm/model_executor/model_loader/openvino.py
Owners: none

[NVIDIA] Fix an issue to use current stream for the nvfp4 quant (#13632)
  csrc/quantization/fp4/nvfp4_quant_kernels.cu
Owners: none

[Misc] Capture and log the time of loading weights (#13666)
  vllm/v1/worker/gpu_model_runner.py
  vllm/worker/model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCm][Quantization][Kernel] Using HIP FP8 header (#12593)
  CMakeLists.txt
  csrc/quantization/fp8/amd/hip_float8.h
  csrc/quantization/fp8/amd/hip_float8_impl.h
  csrc/quantization/fp8/amd/quant_utils.cuh
  csrc/quantization/fp8/common.cuh
  tests/kernels/test_cache.py
Owners: @tlrmchlsmth, @WoosukKwon

[V1][Core] Fix memory issue with logits & sampling (#13721)
  vllm/v1/worker/gpu_model_runner.py
  vllm/v1/worker/gpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Metrics] Add `--show-hidden-metrics-for-version` CLI arg (#13295)
  docs/source/serving/metrics.md
  tests/test_version.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/engine/metrics.py
  vllm/v1/metrics/loggers.py
  vllm/version.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][Model] OLMo 2: split qkv correctly for GQA and MQA (#13687)
  vllm/model_executor/models/olmo2.py
Owners: none

[CI/Build] Fix V1 LoRA failure (#13767)
  tests/lora/test_gemma.py
Owners: none

[Bugfix] Support MLA for CompressedTensorsWNA16 (#13725)
  vllm/attention/backends/mla/common.py
Owners: none

[Misc] set single whitespace between log sentences (#13771)
  vllm/attention/backends/flashinfer.py
  vllm/attention/backends/mla/common.py
  vllm/attention/backends/rocm_flash_attn.py
  vllm/config.py
  vllm/distributed/device_communicators/pynccl_wrapper.py
  vllm/distributed/kv_transfer/kv_pipe/mooncake_pipe.py
  vllm/entrypoints/chat_utils.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/api_server.py
  vllm/executor/ray_distributed_executor.py
  vllm/executor/ray_utils.py
  vllm/lora/models.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/gptq.py
  vllm/model_executor/layers/quantization/modelopt.py
  vllm/model_executor/layers/quantization/neuron_quant.py
  vllm/model_executor/layers/quantization/quark/quark_moe.py
  vllm/model_executor/layers/quantization/utils/marlin_utils.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/gritlm.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/prithvi_geospatial_mae.py
  vllm/multimodal/profiling.py
  vllm/platforms/cuda.py
  vllm/platforms/openvino.py
  vllm/platforms/xpu.py
  vllm/prompt_adapter/models.py
  vllm/spec_decode/draft_model_runner.py
  vllm/transformers_utils/configs/jais.py
  vllm/utils.py
  vllm/v1/worker/gpu_worker.py
  vllm/worker/openvino_worker.py
  vllm/worker/worker.py
Owners: @DarkLight1337, @ywang96, @WoosukKwon, @robertgshaw2-redhat, @njhill, @comaniac, @alexm-redhat, @zhuohan123, @youkaichao

[Bugfix][API Server] Fix invalid usage of 'ge' and 'le' in port valid… (#13672)
  vllm/entrypoints/api_server.py
  vllm/utils.py
Owners: none

[V1] V1 engine implements parallel sampling (AsyncLLM and LLMEngine) (#10980)
  tests/v1/engine/test_llm_engine.py
  tests/v1/entrypoints/openai/test_completion.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/engine/parallel_sampling.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc][Docs] Raise error when flashinfer is not installed and `VLLM_ATTENTION_BACKEND` is set (#12513)
  docs/source/getting_started/quickstart.md
  vllm/config.py
Owners: none

[BugFix] Illegal memory access for MoE On H20 (#13693)
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none

[V1][Metrics] Support `vllm:cache_config_info` (#13299)
  tests/entrypoints/openai/test_metrics.py
  vllm/config.py
  vllm/engine/metrics.py
  vllm/engine/metrics_types.py
  vllm/v1/metrics/loggers.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @WoosukKwon, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1][Kernel] Refactor the prefix_prefill kernel so that the caller no longer has to pass in the context lengths (#13095)
  tests/kernels/test_prefix_prefill.py
  vllm/attention/backends/rocm_flash_attn.py
  vllm/attention/backends/xformers.py
  vllm/attention/ops/paged_attn.py
  vllm/attention/ops/prefix_prefill.py
  vllm/v1/attention/backends/rocm_attn.py
Owners: @tlrmchlsmth, @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Feature] Support KV cache offloading and disagg prefill with LMCache connector. (#12953)
  examples/offline_inference/cpu_offload_lmcache.py
  examples/offline_inference/disaggregated_prefill_lmcache.py
  vllm/distributed/kv_transfer/kv_connector/factory.py
  vllm/distributed/kv_transfer/kv_connector/lmcache_connector.py
  vllm/distributed/parallel_state.py
Owners: none

[ci] Use env var to control whether to use S3 bucket in CI (#13634)
  .buildkite/test-pipeline.yaml
  tests/basic_correctness/test_basic_correctness.py
  tests/basic_correctness/test_cumem.py
  tests/conftest.py
  tests/engine/test_computed_prefix_blocks.py
  tests/engine/test_detokenization.py
  tests/engine/test_executor.py
  tests/engine/test_skip_tokenizer_init.py
  tests/entrypoints/llm/test_chat.py
  tests/entrypoints/llm/test_collective_rpc.py
  tests/entrypoints/llm/test_encode.py
  tests/entrypoints/llm/test_generate.py
  tests/entrypoints/llm/test_generate_multiple_loras.py
  tests/entrypoints/llm/test_guided_generate.py
  tests/entrypoints/llm/test_lazy_outlines.py
  tests/entrypoints/llm/test_prompt_validation.py
  tests/metrics/test_metrics.py
  tests/models/test_initialization.py
  tests/mq_llm_engine/test_abort.py
  tests/mq_llm_engine/test_error_handling.py
  tests/mq_llm_engine/test_load.py
  tests/multimodal/test_processing.py
  tests/prefix_caching/test_prefix_caching.py
  tests/test_config.py
  tests/test_regression.py
  tests/worker/test_swap.py
  vllm/engine/arg_utils.py
  vllm/envs.py
  vllm/model_executor/model_loader/loader.py
  vllm/test_utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96, @comaniac, @KuntaiDu

[Bugfix] Fix deepseekv3 grouped topk error (#13474)
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none

[Misc] Bump compressed-tensors (#13619)
  requirements-common.txt
Owners: none

[CI/Build] fix uv caching in Dockerfile (#13611)
  Dockerfile
Owners: none

[LMM] Implement merged multimodal processor for whisper (#13278)
  tests/models/multimodal/processing/test_common.py
  vllm/model_executor/models/whisper.py
  vllm/multimodal/processing.py
  vllm/multimodal/profiling.py
Owners: @DarkLight1337, @ywang96

[NVIDIA] Support nvfp4 cutlass gemm (#13571)
  CMakeLists.txt
  csrc/ops.h
  csrc/quantization/fp4/nvfp4_scaled_mm_entry.cu
  csrc/quantization/fp4/nvfp4_scaled_mm_kernels.cu
  csrc/torch_bindings.cpp
  tests/kernels/test_nvfp4_scaled_mm.py
  vllm/_custom_ops.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix] Fix max_num_batched_tokens for MLA (#13620)
  vllm/config.py
Owners: none

[Kernel]Add streamK for block-quantized CUTLASS kernels (#12978)
  csrc/quantization/cutlass_w8a8/c3x/cutlass_gemm_caller.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_blockwise_sm90_fp8_dispatch.cuh
Owners: none

[Misc][Attention][Quantization] init property earlier (#13733)
  vllm/attention/layer.py
Owners: none

[HTTP Server] Make model param optional in request (#13568)
  tests/entrypoints/openai/test_chat.py
  vllm/entrypoints/openai/protocol.py
  vllm/entrypoints/openai/serving_chat.py
  vllm/entrypoints/openai/serving_completion.py
  vllm/entrypoints/openai/serving_embedding.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/entrypoints/openai/serving_models.py
  vllm/entrypoints/openai/serving_pooling.py
  vllm/entrypoints/openai/serving_score.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[BugFix] Minor: logger import in attention backend (#13706)
  vllm/attention/backends/utils.py
Owners: none

[Frontend] Add backend-specific options for guided decoding (#13505)
  docs/source/features/structured_outputs.md
  examples/online_serving/openai_chat_completion_structured_outputs.py
  tests/entrypoints/llm/test_guided_generate.py
  tests/model_executor/test_guided_processors.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/model_executor/guided_decoding/__init__.py
  vllm/sampling_params.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

Merge similar examples in `offline_inference` into single `basic` example (#12737)
  .buildkite/run-cpu-test.sh
  .buildkite/run-gh200-test.sh
  .buildkite/run-hpu-test.sh
  .buildkite/run-openvino-test.sh
  .buildkite/run-xpu-test.sh
  .buildkite/test-pipeline.yaml
  docs/source/generate_examples.py
  docs/source/getting_started/installation/cpu/index.md
  docs/source/getting_started/quickstart.md
  docs/source/models/generative_models.md
  docs/source/models/pooling_models.md
  examples/offline_inference/aqlm_example.py
  examples/offline_inference/arctic.py
  examples/offline_inference/basic/README.md
  examples/offline_inference/basic/basic.py
  examples/offline_inference/basic/chat.py
  examples/offline_inference/basic/classify.py
  examples/offline_inference/basic/embed.py
  examples/offline_inference/basic/generate.py
  examples/offline_inference/basic/score.py
  examples/offline_inference/basic_with_model_default_sampling.py
  examples/offline_inference/chat.py
  examples/offline_inference/classification.py
  examples/offline_inference/cli.py
  examples/offline_inference/cpu_offload.py
  examples/offline_inference/embedding.py
  examples/offline_inference/gguf_inference.py
  examples/offline_inference/scoring.py
  tests/plugins_tests/test_platform_plugins.py
Owners: none

Add llmaz as another integration (#13643)
  docs/source/deployment/integrations/index.md
  docs/source/deployment/integrations/llmaz.md
Owners: none

[Misc]Clarify Error Handling for Non-existent Model Paths and HF Repo IDs (#13724)
  vllm/transformers_utils/config.py
Owners: none

[V1][Sampler] Avoid an operation during temperature application (#13587)
  vllm/v1/sample/metadata.py
  vllm/v1/sample/sampler.py
  vllm/v1/utils.py
  vllm/v1/worker/gpu_input_batch.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Bugfix][Quantization] Fix FP8 + EP (#13784)
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/awq_marlin.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/gptq_marlin.py
  vllm/model_executor/layers/quantization/quark/quark_moe.py
Owners: none

[CI/Build] Fix pre-commit errors (#13696)
  benchmarks/benchmark_latency.py
  vllm/entrypoints/openai/serving_engine.py
  vllm/entrypoints/openai/serving_score.py
  vllm/model_executor/layers/mamba/mamba_mixer2.py
  vllm/utils.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[ROCM] fix native attention function call (#13650)
  vllm/attention/backends/rocm_flash_attn.py
Owners: none

[Doc] arg_utils.py: fixed a typo (#13785)
  vllm/engine/arg_utils.py
Owners: none
