Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill, @tlrmchlsmth, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[Model] Add user-configurable task for models that support both generation and embedding (#9424)
  docs/source/models/supported_models.rst
  docs/source/models/vlm.rst
  examples/offline_inference_vision_language_embedding.py
  examples/openai_api_client_for_multimodal.py
  tests/conftest.py
  tests/core/test_chunked_prefill_scheduler.py
  tests/core/test_scheduler.py
  tests/core/test_scheduler_encoder_decoder.py
  tests/distributed/test_pipeline_parallel.py
  tests/entrypoints/llm/test_chat.py
  tests/entrypoints/llm/test_generate.py
  tests/entrypoints/llm/test_init.py
  tests/entrypoints/openai/test_serving_chat.py
  tests/entrypoints/openai/test_vision.py
  tests/entrypoints/test_chat_utils.py
  tests/lora/test_worker.py
  tests/models/decoder_only/vision_language/test_phi3v.py
  tests/models/embedding/vision_language/test_phi3v.py
  tests/models/utils.py
  tests/multimodal/test_mapper.py
  tests/multimodal/test_processor_kwargs.py
  tests/quantization/test_configs.py
  tests/test_config.py
  tests/test_utils.py
  tests/utils.py
  vllm/config.py
  vllm/core/scheduler.py
  vllm/engine/arg_utils.py
  vllm/engine/llm_engine.py
  vllm/entrypoints/llm.py
  vllm/entrypoints/openai/serving_embedding.py
  vllm/utils.py
  vllm/worker/worker.py
Owners: @youkaichao, @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo, @ywang96, @mgoin, @WoosukKwon, @zhuohan123, @alexm-neuralmagic, @comaniac, @njhill

[doc] fix format (#9562)
  docs/source/getting_started/installation.rst
Owners: none

:bug: fix torch memory profiling (#9516)
  tests/quantization/test_bitsandbytes.py
  tests/worker/test_profile.py
  vllm/worker/worker.py
Owners: @mgoin, @robertgshaw2-neuralmagic, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Model] Add Qwen2-Audio model support (#9248)
  docs/source/models/supported_models.rst
  examples/offline_inference_audio_language.py
  tests/distributed/test_pipeline_parallel.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/ultravox.py
Owners: @youkaichao

[Doc] Use shell code-blocks and fix section headers (#9508)
  docs/source/getting_started/debugging.rst
  docs/source/getting_started/installation.rst
  docs/source/models/vlm.rst
Owners: none

[CI/Build] remove .github from .dockerignore, add dirty repo check (#9375)
  .buildkite/release-pipeline.yaml
  .dockerignore
  .github/workflows/scripts/build.sh
  Dockerfile
  Dockerfile.cpu
  Dockerfile.neuron
  Dockerfile.openvino
  Dockerfile.ppc64le
  Dockerfile.rocm
  Dockerfile.tpu
  Dockerfile.xpu
  tools/check_repo.sh
Owners: none

[Model] Add min_pixels / max_pixels to Qwen2VL as mm_processor_kwargs (#9612)
  examples/offline_inference_vision_language.py
  tests/models/decoder_only/vision_language/test_qwen2_vl.py
  vllm/model_executor/models/qwen2_vl.py
Owners: @DarkLight1337, @ywang96

[CI/Build][LoRA] Temporarily fix long context failure issue (#9579)
  tests/lora/test_long_context.py
Owners: none

[BugFix] Update draft model TP size check to allow matching target TP size (#9394)
  vllm/config.py
Owners: none

[Misc] Separate total and output tokens in benchmark_throughput.py (#8914)
  benchmarks/benchmark_throughput.py
Owners: none

[Bugfix]: Make chat content text allow type content (#9358)
  docs/source/serving/openai_compatible_server.md
  tests/entrypoints/openai/test_serving_chat.py
  tests/entrypoints/test_chat_utils.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/engine/llm_engine.py
  vllm/entrypoints/chat_utils.py
  vllm/entrypoints/openai/serving_chat.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[core] simplify seq group code (#9569)
  tests/core/test_chunked_prefill_scheduler.py
  tests/core/test_scheduler.py
  vllm/core/scheduler.py
  vllm/engine/llm_engine.py
  vllm/engine/output_processor/single_step.py
  vllm/sequence.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Misc] Remove commit id file (#9470)
  vllm/commit_id.py
Owners: none

:bug: Fixup more test failures from memory profiling (#9563)
  .buildkite/lm-eval-harness/configs/Meta-Llama-3.2-1B-Instruct-INT8-compressed-tensors.yaml
  .buildkite/lm-eval-harness/configs/models-small.txt
  tests/lora/test_minicpmv.py
Owners: @mgoin, @simon-mo

[Hardware][CPU] using current_platform.is_cpu (#9536)
  tests/conftest.py
  tests/encoder_decoder/test_e2e_correctness.py
  tests/kernels/test_attention_selector.py
  tests/models/decoder_only/language/test_phimoe.py
  tests/models/decoder_only/vision_language/test_fuyu.py
  tests/models/decoder_only/vision_language/test_internvl.py
  tests/models/decoder_only/vision_language/test_phi3v.py
  tests/models/utils.py
  tests/worker/test_encoder_decoder_model_runner.py
  vllm/attention/backends/torch_sdpa.py
  vllm/attention/ops/blocksparse_attention/interface.py
  vllm/attention/selector.py
  vllm/distributed/parallel_state.py
  vllm/model_executor/custom_op.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/utils.py
  vllm/utils.py
Owners: @tlrmchlsmth, @WoosukKwon, @DarkLight1337, @ywang96

[Frontend] Avoid creating guided decoding LogitsProcessor unnecessarily (#9521)
  vllm/sampling_params.py
Owners: none

[Doc] Improve quickstart documentation (#9256)
  docs/source/getting_started/quickstart.rst
Owners: none

[Doc] fix third-party model example (#9771)
  docs/source/models/adding_model.rst
Owners: none

[Misc]: Typo fix: Renaming classes (casualLM -> causalLM) (#9801)
  vllm/model_executor/model_loader/neuron.py
  vllm/model_executor/model_loader/openvino.py
Owners: none

[Bugfix] Fix load config when using bools (#9533)
  tests/data/test_config.yaml
  tests/test_utils.py
  vllm/engine/arg_utils.py
  vllm/utils.py
Owners: none

[torch.compile] add deepseek v2 compile (#9775)
  vllm/model_executor/models/deepseek_v2.py
Owners: none

[CI/Build] Add Model Tests for PixtralHF (#9813)
  tests/models/decoder_only/vision_language/test_models.py
Owners: @DarkLight1337, @ywang96

Fix: MI100 Support By Bypassing Custom Paged Attention (#9560)
  vllm/attention/backends/rocm_flash_attn.py
Owners: none

[Bugfix][VLM] Make apply_fp8_linear work with >2D input (#9812)
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
Owners: none

[Bugfix] Use host argument to bind to interface (#9798)
  vllm/entrypoints/openai/api_server.py
  vllm/entrypoints/openai/cli_args.py
Owners: none

[Bugfix/Core] Flashinfer k_scale and v_scale (#9861)
  tests/kernels/test_cache.py
  vllm/attention/backends/flashinfer.py
  vllm/model_executor/layers/quantization/modelopt.py
Owners: @tlrmchlsmth, @WoosukKwon

[Bugfix] Fix compressed_tensors_moe bad config.strategy (#9677)
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: none

[Bugfix][Frontend] Reject guided decoding in multistep mode (#9892)
  docs/source/serving/compatibility_matrix.rst
  tests/entrypoints/openai/test_prompt_validation.py
  vllm/engine/llm_engine.py
  vllm/sampling_params.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Frontend] Use a proper chat template for VLM2Vec (#9912)
  docs/source/models/vlm.rst
  examples/openai_chat_completion_client_for_multimodal.py
  examples/openai_chat_embedding_client_for_multimodal.py
  examples/template_vlm2vec.jinja
  tests/entrypoints/openai/test_vision_embedding.py
  vllm/entrypoints/chat_utils.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo

[ci/build] Pin CI dependencies version with pip-compile (#9810)
  Dockerfile.rocm
  requirements-build.txt
  requirements-test.in
  requirements-test.txt
Owners: none

[torch.compile] expanding support and fix allgather compilation (#9637)
  vllm/distributed/parallel_state.py
  vllm/model_executor/models/gpt_bigcode.py
  vllm/model_executor/models/gpt_j.py
  vllm/model_executor/models/gpt_neox.py
  vllm/model_executor/models/granite.py
  vllm/model_executor/models/internlm2.py
Owners: none

[Log][Bugfix] Fix default value check for `image_url.detail` (#9663)
  vllm/entrypoints/chat_utils.py
Owners: none

[Model][VLM] Add multi-video support for LLaVA-Onevision (#8905)
  tests/models/decoder_only/vision_language/test_llava_onevision.py
  vllm/model_executor/models/clip.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/siglip.py
  vllm/multimodal/video.py
Owners: @DarkLight1337, @ywang96

[Doc] Add the DCO to CONTRIBUTING.md (#9803)
  CONTRIBUTING.md
  DCO
Owners: none

Fix cache management in "Close inactive issues and PRs" actions workflow (#9734)
  .github/workflows/stale.yml
Owners: none

[Model] Support bitsandbytes for MiniCPMV (#9891)
  vllm/model_executor/models/minicpmv.py
Owners: none

[Bugfix] Fix crash with llama 3.2 vision models and guided decoding (#9631)
  vllm/model_executor/guided_decoding/outlines_logits_processors.py
Owners: none

[torch.compile] rework compile control with piecewise cudagraph (#9715)
  .buildkite/test-pipeline.yaml
  tests/compile/piecewise/__init__.py
  tests/compile/piecewise/piecewise_compilation_config.json
  tests/compile/piecewise/test_simple.py
  tests/compile/piecewise/test_toy_llama.py
  tests/compile/test_full_graph.py
  tests/compile/utils.py
  vllm/compilation/backends.py
  vllm/compilation/config.py
  vllm/compilation/counter.py
  vllm/compilation/decorators.py
  vllm/compilation/levels.py
  vllm/envs.py
  vllm/model_executor/custom_op.py
  vllm/platforms/tpu.py
  vllm/plugins/__init__.py
  vllm/utils.py
Owners: none

[Model] Add LlamaEmbeddingModel as an embedding Implementation of LlamaModel (#9806)
  vllm/model_executor/models/registry.py
Owners: none

[Doc] Update Qwen documentation (#9869)
  docs/source/models/supported_models.rst
  vllm/model_executor/models/qwen.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/core @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/engine/llm_engine.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/executor/executor_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/model_executor/layers/sampler.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
CMakeLists.txt @tlrmchlsmth @WoosukKwon

# Test ownership
/tests/async_engine @njhill @robertgshaw2-neuralmagic @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-neuralmagic
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
