Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[Misc] Update Mistral-3.1 example (#16147)
  examples/offline_inference/mistral-small.py
Owners: none

[Bugfix] fix use_atomic_add support of marlin kernel when using v1 engine (#15946)
  csrc/quantization/gptq_marlin/gptq_marlin.cu
  vllm/model_executor/layers/quantization/utils/marlin_utils.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[Bugfix] Fix guidance backend for Qwen models (#16210)
  vllm/v1/structured_output/backend_guidance.py
Owners: @mgoin, @russellb

Torchao (#14231)
  docs/source/features/quantization/index.md
  docs/source/features/quantization/torchao.md
  tests/quantization/test_torchao.py
  vllm/model_executor/layers/quantization/__init__.py
  vllm/model_executor/layers/quantization/torchao.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

doc: fix some typos in doc (#16154)
  docs/source/design/mm_processing.md
  docs/source/design/v1/torch_compile.md
  docs/source/features/quantization/gguf.md
Owners: none

[Misc] refactor example eagle (#16100)
  examples/offline_inference/eagle.py
Owners: none

[Bugfix] Do not skip "empty" parts of chats that are parsable (#16219)
  tests/entrypoints/test_chat_utils.py
  vllm/entrypoints/chat_utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Docs] Add Slides from Singapore Meetup (#16213)
  README.md
  docs/source/community/meetups.md
Owners: none

[V1][Minor] Minor simplification for get_computed_blocks (#16139)
  vllm/v1/core/kv_cache_manager.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Avoid stripping meaningful whitespace from `nvidia-smi topo -m` output in collect_env.py (#16272)
  collect_env.py
Owners: none

Revert "doc: add info for macos clang errors (#16049)" (#16091)
  docs/source/getting_started/installation/cpu/apple.inc.md
Owners: none

[V1][Spec Decode] Update N-gram Proposer Interface (#15750)
  vllm/v1/spec_decode/ngram_proposer.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[CI/Build] Fix CI LoRA failure (#16270)
  tests/lora/conftest.py
  tests/lora/test_baichuan.py
  tests/lora/test_chatglm3_tp.py
  tests/lora/test_layers.py
  tests/lora/test_llama_tp.py
  tests/lora/test_punica_ops.py
  tests/lora/test_quant_model.py
  tests/lora/test_transfomers_model.py
Owners: none

[BugFix][ROCm] Fix GGUF MoE Dispatch Block_Dim for ROCm (#16247)
  csrc/quantization/gguf/moe.cuh
Owners: none

[Misc] format and refactor some examples (#16252)
  examples/offline_inference/mistral-small.py
  examples/offline_inference/multilora_inference.py
  examples/offline_inference/neuron.py
  examples/offline_inference/neuron_int8_quantization.py
  examples/offline_inference/prefix_caching.py
  examples/offline_inference/reproduciblity.py
  examples/offline_inference/rlhf.py
  examples/offline_inference/simple_profiling.py
  examples/offline_inference/torchrun_example.py
  examples/offline_inference/tpu.py
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_embedding.py
  examples/offline_inference/vision_language_multi_image.py
Owners: none

Add support to modelopt quantization of Mixtral model (#15961)
  vllm/model_executor/models/mixtral_quant.py
Owners: none

[Bugfix][V0] XGrammar structured output supports Enum (#15878)
  tests/entrypoints/llm/test_guided_generate.py
  vllm/model_executor/guided_decoding/utils.py
Owners: @mgoin, @russellb

[Bugfix] Fix and reorganize broken GGUF tests and bump gguf version (#16194)
  requirements/common.txt
  tests/models/decoder_only/language/test_gguf.py
Owners: @DarkLight1337, @ywang96

check input length of sonnet samples (#16423)
  benchmarks/benchmark_dataset.py
Owners: none

Enforce valid max_num_batched_tokens when disable_chunked_mm_input=True (#16447)
  tests/v1/core/test_scheduler.py
  vllm/engine/arg_utils.py
  vllm/v1/core/encoder_cache_manager.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Hardware] add platform-specific request validation api (#16291)
  vllm/platforms/cpu.py
  vllm/platforms/cuda.py
  vllm/platforms/hpu.py
  vllm/platforms/interface.py
  vllm/platforms/neuron.py
  vllm/platforms/rocm.py
  vllm/platforms/tpu.py
  vllm/platforms/xpu.py
  vllm/v1/engine/processor.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Fix erroneous "model doesn't support compile" warning (#16486)
  vllm/config.py
Owners: none

[Bugfix] Fix bugs of running Quark quantized models (#16236)
  tests/quantization/test_quark.py
  vllm/model_executor/layers/quantization/quark/schemes/quark_w8a8_fp8.py
  vllm/model_executor/layers/quantization/quark/schemes/quark_w8a8_int8.py
Owners: @mgoin, @robertgshaw2-redhat, @tlrmchlsmth

[TPU][V1] Refine tpu_model_runner to mitigate future recompilation issues (#16275)
  tests/tpu/test_compilation.py
  tests/v1/tpu/worker/test_tpu_model_runner.py
  vllm/v1/sample/tpu/metadata.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Doc] Document InternVL3 support (#16495)
  docs/source/models/supported_models.md
Owners: none

[CI] Add auto update workflow for Dockerfile graph (#11879)
  .pre-commit-config.yaml
  tools/update-dockerfile-graph.sh
Owners: none

Revert "[Model] use AutoWeightsLoader for deepseek_v2, internlm2" (#16453)
  vllm/model_executor/models/deepseek_v2.py
  vllm/model_executor/models/internlm2.py
Owners: none

[Bugfix] clean up duplicated code (#16485)
  vllm/model_executor/models/opt.py
Owners: none

Don't install triton on `ppc64le` platform (#16470)
  requirements/cpu.txt
Owners: none

[V1] Enable multi-input by default (#15799)
  docs/source/models/supported_models.md
  docs/source/serving/offline_inference.md
  examples/offline_inference/audio_language.py
  examples/offline_inference/encoder_decoder_multimodal.py
  examples/offline_inference/vision_language.py
  examples/offline_inference/vision_language_embedding.py
  examples/offline_inference/vision_language_multi_image.py
  tests/entrypoints/openai/test_audio.py
  tests/models/decoder_only/vision_language/vlm_utils/core.py
  tests/models/test_oot_registration.py
  tests/multimodal/test_processing.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/multimodal/processing.py
  vllm/multimodal/profiling.py
  vllm/multimodal/registry.py
  vllm/multimodal/utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

[VLM] Remove `BaseProcessingInfo.get_mm_max_tokens_per_item` (#16408)
  docs/source/contributing/model/multimodal.md
  tests/models/multimodal/processing/test_llama4.py
  vllm/model_executor/models/aria.py
  vllm/model_executor/models/aya_vision.py
  vllm/model_executor/models/blip2.py
  vllm/model_executor/models/chameleon.py
  vllm/model_executor/models/clip.py
  vllm/model_executor/models/deepseek_vl2.py
  vllm/model_executor/models/florence2.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/gemma3_mm.py
  vllm/model_executor/models/glm4v.py
  vllm/model_executor/models/h2ovl.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/llava.py
  vllm/model_executor/models/llava_next_video.py
  vllm/model_executor/models/llava_onevision.py
  vllm/model_executor/models/minicpmo.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mistral3.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/mllama4.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/paligemma.py
  vllm/model_executor/models/phi3v.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/prithvi_geospatial_mae.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/qwen_vl.py
  vllm/model_executor/models/siglip.py
  vllm/model_executor/models/skyworkr1v.py
  vllm/model_executor/models/ultravox.py
  vllm/model_executor/models/vision.py
  vllm/model_executor/models/whisper.py
  vllm/multimodal/processing.py
  vllm/multimodal/profiling.py
  vllm/multimodal/registry.py
Owners: @DarkLight1337, @ywang96

Update supported_hardware.md for TPU INT8 (#16437)
  docs/source/features/quantization/supported_hardware.md
Owners: none

[BugFix] Handle non-contiguous tensors properly when serializing (#16492)
  tests/v1/test_serial_utils.py
  vllm/v1/serial_utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[CPU][Bugfix] Fix CPU docker issues (#16454)
  docker/Dockerfile.cpu
Owners: none

[Model] Remove image mm limit for LLaMa4 (#16365)
  examples/offline_inference/vision_language_multi_image.py
  vllm/model_executor/models/mllama4.py
Owners: none

[Benchmark][Bugfix] Fix SonnetDataset default values in benchmark_throughput.py (#16556)
  benchmarks/benchmark_throughput.py
Owners: none

[bugfix] Avoid the time consumption caused by creating dummy videos. (#16371)
  vllm/multimodal/profiling.py
Owners: @DarkLight1337, @ywang96

[Bugfix][Frontend] respect provided default guided decoding backend (#15476)
  tests/test_sampling_params.py
  vllm/entrypoints/openai/protocol.py
Owners: none

[Feature][V1] Add xgrammar to support minLength, maxLength with test (#16516)
  tests/v1/entrypoints/llm/test_struct_output_generate.py
  tests/v1/structured_output/test_utils.py
  vllm/v1/structured_output/utils.py
Owners: @mgoin, @russellb

[Perf] Optimize Preparing Inputs for GPU Model Runner (#16484)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat
