Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill, @tlrmchlsmth, @robertgshaw2-neuralmagic, @simon-mo, @DarkLight1337, @ywang96, @KuntaiDu, @LiuXiaoxuanPKU, @mgoin, @rkooo567

[Bugfix]Using the correct type hints (#9885)
  vllm/sequence.py
Owners: none

[Hardware][CPU] Update torch 2.5 (#9911)
  .buildkite/run-cpu-test.sh
  Dockerfile.cpu
  cmake/cpu_extension.cmake
  csrc/cpu/attention.cpp
  csrc/cpu/cpu_types_x86.hpp
  csrc/cpu/dnnl_helper.hpp
  csrc/cpu/quant.cpp
  docs/source/getting_started/cpu-installation.rst
  requirements-cpu.txt
  tests/models/decoder_only/language/test_models.py
  vllm/executor/cpu_executor.py
  vllm/model_executor/layers/quantization/ipex_quant.py
Owners: @DarkLight1337, @ywang96

[Misc]Reduce BNB static variable (#9987)
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/falcon.py
  vllm/model_executor/models/gemma.py
  vllm/model_executor/models/gemma2.py
  vllm/model_executor/models/llama.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/opt.py
  vllm/model_executor/models/phi.py
  vllm/model_executor/models/qwen2.py
Owners: none

Adds method to read the pooling types from model's files (#9506)
  examples/fp8/quantizer/quantize.py
  tests/engine/test_arg_utils.py
  tests/model_executor/test_model_load_with_params.py
  tests/test_config.py
  tests/utils.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/model_executor/layers/pooler.py
  vllm/transformers_utils/config.py
  vllm/transformers_utils/tokenizer_group/__init__.py
Owners: none

[Bugfix] Upgrade to pytorch 2.5.1 (#10001)
  CMakeLists.txt
  pyproject.toml
  requirements-build.txt
  requirements-cuda.txt
  requirements-openvino.txt
  requirements-test.in
  requirements-test.txt
Owners: @tlrmchlsmth, @WoosukKwon

[Model][OpenVINO] Fix regressions from #8346 (#10045)
  .buildkite/run-openvino-test.sh
  vllm/attention/backends/openvino.py
  vllm/model_executor/models/molmo.py
Owners: none

[Bugfix] Fix `MQLLMEngine` hanging (#9973)
  vllm/engine/multiprocessing/client.py
  vllm/engine/multiprocessing/engine.py
  vllm/entrypoints/openai/api_server.py
Owners: none

[CI/Build] Improve mypy + python version matrix (#10041)
  .github/workflows/mypy.yaml
  pyproject.toml
  tools/mypy.sh
Owners: none

[Misc] Consolidate ModelConfig code related to HF config (#10104)
  docs/source/serving/compatibility_matrix.rst
  tests/test_config.py
  vllm/config.py
  vllm/inputs/preprocess.py
  vllm/transformers_utils/config.py
  vllm/utils.py
  vllm/worker/cpu_model_runner.py
  vllm/worker/cpu_worker.py
  vllm/worker/model_runner.py
  vllm/worker/worker.py
Owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[Misc] Sort the list of embedding models (#10037)
  vllm/model_executor/models/registry.py
Owners: none

[Frontend] Add max_tokens prometheus metric (#9881)
  tests/entrypoints/openai/test_metrics.py
  tests/metrics/test_metrics.py
  vllm/engine/llm_engine.py
  vllm/engine/metrics.py
  vllm/engine/metrics_types.py
Owners: @DarkLight1337, @robertgshaw2-neuralmagic, @simon-mo, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-neuralmagic, @comaniac, @njhill

[torch.compile] Adding torch compile to vision-language models (#9946)
  vllm/model_executor/models/llava_next.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/molmo.py
Owners: none

[BugFix] Lazy import ray (#10021)
  vllm/engine/multiprocessing/engine.py
Owners: none

[Model] factoring out MambaMixer out of Jamba (#8993)
  vllm/model_executor/layers/mamba/mamba_mixer.py
  vllm/model_executor/models/jamba.py
  vllm/model_executor/models/mamba.py
Owners: none

[bugfix] fix weak ref in piecewise cudagraph and tractable test (#10048)
  tests/compile/piecewise/test_toy_llama.py
  vllm/compilation/backends.py
Owners: none

[CI] Prune tests/models/decoder_only/language/* tests (#9940)
  .buildkite/test-pipeline.yaml
  tests/models/decoder_only/language/test_big_models.py
  tests/models/decoder_only/language/test_fp8.py
  tests/models/decoder_only/language/test_gptq_marlin.py
  tests/models/decoder_only/language/test_gptq_marlin_24.py
  tests/models/decoder_only/language/test_marlin.py
  tests/models/decoder_only/language/test_mistral.py
  tests/models/decoder_only/language/test_models.py
  tests/models/decoder_only/language/test_qwen.py
Owners: @DarkLight1337, @ywang96

[Misc] Add logging for CUDA memory (#10027)
  vllm/worker/model_runner.py
Owners: none

[Misc] vllm CLI flags should be ordered for better user readability (#10017)
  vllm/utils.py
Owners: none

[Bugfix] Fix MiniCPMV and Mllama BNB bug (#9917)
  vllm/model_executor/layers/resampler.py
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mllama.py
Owners: none

[Hotfix] Fix ruff errors (#10073)
  setup.py
  vllm/executor/ray_hpu_executor.py
  vllm/worker/hpu_model_runner.py
Owners: none

[Misc] Refactor benchmark_throughput.py (#9779)
  benchmarks/benchmark_throughput.py
Owners: none

[V1] Integrate Piecewise CUDA graphs (#10058)
  vllm/compilation/backends.py
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/worker/gpu_model_runner.py
Owners: none

[Frontend] Multi-Modality Support for Loading Local Image Files (#9915)
  tests/multimodal/test_utils.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/chat_utils.py
  vllm/entrypoints/llm.py
  vllm/multimodal/utils.py
Owners: @DarkLight1337, @ywang96

[V1] Support per-request seed (#9945)
  vllm/v1/sample/metadata.py
  vllm/v1/sample/sampler.py
  vllm/v1/worker/gpu_model_runner.py
Owners: none

[Frontend] Fix tcp port reservation for api server (#10012)
  vllm/entrypoints/openai/api_server.py
Owners: none

[Doc] Updated tpu-installation.rst with more details (#9926)
  docs/source/getting_started/tpu-installation.rst
Owners: none

[CI/Build] Quoting around > (#9956)
  Dockerfile
  Dockerfile.neuron
  Dockerfile.ppc64le
  Dockerfile.rocm
  Dockerfile.tpu
Owners: none

Refactor TPU requirements file and pin build dependencies (#10010)
  Dockerfile.tpu
  docs/source/getting_started/tpu-installation.rst
  requirements-tpu.txt
Owners: none

[CI/Build] Limit github CI jobs based on files changed (#9928)
  .github/workflows/actionlint.yml
  .github/workflows/clang-format.yml
  .github/workflows/mypy.yaml
  .github/workflows/ruff.yml
  .github/workflows/yapf.yml
Owners: none

[Bugfix] Fix E2EL mean and median stats (#9984)
  benchmarks/benchmark_serving.py
Owners: none

[V1][BugFix] Fix Generator construction in greedy + seed case (#10097)
  vllm/v1/worker/gpu_model_runner.py
Owners: none

[Model][LoRA]LoRA support added for LlamaEmbeddingModel (#10071)
  docs/source/models/supported_models.rst
  vllm/model_executor/models/llama.py
Owners: none

[Bugfix][SpecDecode] kv corruption with bonus tokens in spec decode (#9730)
  tests/spec_decode/test_multi_step_worker.py
  tests/spec_decode/utils.py
  vllm/spec_decode/draft_model_runner.py
  vllm/spec_decode/multi_step_worker.py
Owners: @njhill, @LiuXiaoxuanPKU

[v1] reduce graph capture time for piecewise cudagraph (#10059)
  vllm/compilation/backends.py
Owners: none

Doc: Improve benchmark documentation (#9927)
  docs/source/dev/profiling/profiling_index.rst
  docs/source/index.rst
  docs/source/performance/benchmarks.rst
  docs/source/performance_benchmark/benchmarks.rst
Owners: none

[V1] Fix Configs (#9971)
  vllm/v1/executor/gpu_executor.py
Owners: none

[ci/build] Have dependabot ignore pinned dependencies (#9935)
  .github/dependabot.yml
Owners: none

[Bugfix] Ignore GPTQ quantization of Qwen2-VL visual module (#10169)
  vllm/model_executor/models/qwen2_vl.py
Owners: none

[Bugfix] SymIntArrayRef expected to contain concrete integers (#10170)
  vllm/compilation/backends.py
Owners: none

[0/N] Rename `MultiModalInputs` to `MultiModalKwargs` (#10040)
  docs/source/design/multimodal/multimodal_index.rst
  tests/models/decoder_only/vision_language/mm_processor_kwargs/test_qwen.py
  tests/multimodal/test_base.py
  vllm/model_executor/models/chatglm.py
  vllm/model_executor/models/fuyu.py
  vllm/model_executor/models/h2ovl.py
  vllm/model_executor/models/idefics3.py
  vllm/model_executor/models/internvl.py
  vllm/model_executor/models/minicpmv.py
  vllm/model_executor/models/mllama.py
  vllm/model_executor/models/molmo.py
  vllm/model_executor/models/pixtral.py
  vllm/model_executor/models/qwen.py
  vllm/model_executor/models/qwen2_audio.py
  vllm/model_executor/models/qwen2_vl.py
  vllm/model_executor/models/ultravox.py
  vllm/multimodal/__init__.py
  vllm/multimodal/audio.py
  vllm/multimodal/base.py
  vllm/multimodal/image.py
  vllm/multimodal/registry.py
  vllm/multimodal/video.py
  vllm/spec_decode/draft_model_runner.py
  vllm/worker/cpu_enc_dec_model_runner.py
  vllm/worker/cpu_model_runner.py
  vllm/worker/embedding_model_runner.py
  vllm/worker/enc_dec_model_runner.py
  vllm/worker/hpu_model_runner.py
  vllm/worker/model_runner.py
  vllm/worker/neuron_model_runner.py
  vllm/worker/openvino_model_runner.py
  vllm/worker/xpu_model_runner.py
Owners: @DarkLight1337, @ywang96

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/core @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/engine/llm_engine.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/executor/executor_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker_base.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/worker/worker.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
/vllm/model_executor/layers/sampler.py @WoosukKwon @zhuohan123 @youkaichao @alexm-neuralmagic @comaniac @njhill
CMakeLists.txt @tlrmchlsmth @WoosukKwon

# Test ownership
/tests/async_engine @njhill @robertgshaw2-neuralmagic @simon-mo
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic @simon-mo
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/quantization @mgoin @robertgshaw2-neuralmagic
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic @comaniac
/tests/weight_loading @mgoin @youkaichao
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
