Repository vllm-project/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @simon-mo, @rkooo567, @KuntaiDu, @LiuXiaoxuanPKU

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
CMakeLists.txt @tlrmchlsmth

# vLLM V1
/vllm/v1 @WoosukKwon @robertgshaw2-redhat @njhill @ywang96 @comaniac @alexm-redhat
/vllm/v1/structured_output @mgoin @russellb

# Test ownership
/.buildkite/lm-eval-harness @mgoin @simon-mo
/tests/async_engine @njhill @robertgshaw2-redhat @simon-mo
/tests/basic_correctness/test_chunked_prefill @rkooo567 @comaniac
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/entrypoints @DarkLight1337 @robertgshaw2-redhat @simon-mo
/tests/entrypoints/llm/test_guided_generate.py @mgoin @russellb
/tests/kernels @tlrmchlsmth @WoosukKwon
/tests/model_executor/test_guided_processors.py @mgoin @russellb
/tests/models @DarkLight1337 @ywang96
/tests/multi_step @alexm-redhat @comaniac
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac @KuntaiDu
/tests/quantization @mgoin @robertgshaw2-redhat
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/test_inputs.py @DarkLight1337 @ywang96
/tests/v1/entrypoints/llm/test_struct_output_generate.py @mgoin @russellb
/tests/v1/structured_output @mgoin @russellb
/tests/weight_loading @mgoin @youkaichao

[V1][Core] Remove unused speculative config from scheduler (#15818)
  tests/v1/core/test_scheduler.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/engine/core.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

Recommend developing with Python 3.12 in developer guide (#15811)
  docs/source/contributing/overview.md
Owners: none

[Kernel][TPU][ragged-paged-attn] vLLM code change for PR#8896 (#15659)
  requirements/tpu.txt
  vllm/v1/attention/backends/pallas.py
  vllm/v1/worker/tpu_model_runner.py
  vllm/v1/worker/tpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Restrict ray version dependency and update PP feature warning in V1 (#15556)
  requirements/cuda.txt
  requirements/test.in
  vllm/config.py
  vllm/engine/arg_utils.py
Owners: none

[Bugfix] Fix Crashing When Loading Modules With Batchnorm Stats (#15813)
  tests/models/test_utils.py
  vllm/model_executor/models/utils.py
Owners: @DarkLight1337, @ywang96

[V1][Minor] Simplify rejection sampler's parse_output (#15741)
  vllm/v1/sample/rejection_sampler.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

fix: lint fix a ruff checkout syntax error (#15767)
  tests/models/registry.py
Owners: @DarkLight1337, @ywang96

[Model] Support Skywork-R1V (#15397)
  docs/source/models/supported_models.md
  examples/offline_inference/vision_language.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/multimodal/processing/test_common.py
  tests/models/registry.py
  vllm/entrypoints/chat_utils.py
  vllm/model_executor/models/registry.py
  vllm/model_executor/models/skyworkr1v.py
  vllm/transformers_utils/config.py
  vllm/transformers_utils/configs/__init__.py
  vllm/transformers_utils/configs/skyworkr1v.py
Owners: @DarkLight1337, @ywang96

[CI] Update rules for applying `tpu` label. (#15634)
  .github/mergify.yml
Owners: none

Fix incorrect filenames in vllm_compile_cache.py (#15494)
  vllm/compilation/compiler_interface.py
Owners: none

[V1] TPU - Fix the chunked prompt bug (#15713)
  tests/v1/tpu/test_basic.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[V1] AsyncLLM data parallel (#13923)
  .buildkite/test-pipeline.yaml
  examples/offline_inference/data_parallel.py
  tests/v1/engine/test_engine_core_client.py
  tests/v1/test_async_llm_dp.py
  vllm/config.py
  vllm/distributed/utils.py
  vllm/engine/arg_utils.py
  vllm/envs.py
  vllm/utils.py
  vllm/v1/core/sched/scheduler.py
  vllm/v1/engine/__init__.py
  vllm/v1/engine/async_llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/executor/multiproc_executor.py
  vllm/v1/metrics/loggers.py
  vllm/v1/utils.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Model] Adding torch compile annotations to chatglm (#15624)
  vllm/model_executor/models/chatglm.py
Owners: none

[Feature] Add middleware to log API Server responses (#15593)
  vllm/entrypoints/openai/api_server.py
  vllm/envs.py
Owners: none

[Misc] Replace `is_encoder_decoder_inputs` with `split_enc_dec_inputs` (#15620)
  tests/models/multimodal/processing/test_idefics3.py
  tests/models/multimodal/processing/test_phi3v.py
  vllm/engine/arg_utils.py
  vllm/engine/llm_engine.py
  vllm/inputs/parse.py
  vllm/inputs/registry.py
  vllm/model_executor/models/idefics3.py
  vllm/v1/engine/processor.py
Owners: @DarkLight1337, @ywang96, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat

Upgrade `transformers` to `v4.50.3` (#13905)
  docs/source/models/supported_models.md
  requirements/common.txt
  requirements/test.in
  requirements/test.txt
  tests/distributed/test_pipeline_parallel.py
  tests/models/decoder_only/vision_language/test_models.py
  tests/models/decoder_only/vision_language/vlm_utils/model_utils.py
  tests/models/registry.py
Owners: @youkaichao, @DarkLight1337, @ywang96

[ROCm] Env variable to trigger custom PA (#15557)
  vllm/attention/backends/rocm_flash_attn.py
  vllm/envs.py
Owners: none

[Bugfix] Added `embed_is_patch` mask for fuyu model (#15731)
  vllm/model_executor/models/fuyu.py
Owners: none

[Bugfix] LoRA V1: add and fix entrypoints tests (#15715)
  tests/entrypoints/llm/test_generate_multiple_loras.py
  tests/entrypoints/openai/test_lora_adapters.py
  vllm/entrypoints/openai/serving_models.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[V1] [Feature] Collective RPC (#15444)
  .buildkite/test-pipeline.yaml
  vllm/engine/llm_engine.py
  vllm/entrypoints/llm.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/engine/llm_engine.py
  vllm/v1/serial_utils.py
Owners: @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @WoosukKwon, @robertgshaw2-redhat, @ywang96

Use numba 0.61 for python 3.10+ to support numpy>=2 (#15692)
  requirements/common.txt
  requirements/cuda.txt
  requirements/rocm.txt
  requirements/test.in
  requirements/test.txt
Owners: none

[Misc] update the comments (#15780)
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Frontend] update priority for --api-key and VLLM_API_KEY (#15588)
  vllm/entrypoints/openai/api_server.py
Owners: none

[Minor] Remove TGI launching script (#15646)
  benchmarks/benchmark_serving.py
  benchmarks/benchmark_serving_structured_output.py
  benchmarks/launch_tgi_server.sh
Owners: none

fix: Comments to English for better dev experience (#15768)
  vllm/model_executor/models/deepseek_vl2.py
  vllm/transformers_utils/processors/deepseek_vl2.py
Owners: none

Revert "Use Cache Hinting for fused_moe kernel (#15511)" (#15645)
  vllm/model_executor/layers/fused_moe/fused_moe.py
Owners: none

[Feature][Disaggregated] Support XpYd disaggregated prefill with MooncakeStore (#12957)
  examples/online_serving/disagg_examples/disagg_proxy_demo.py
  vllm/distributed/kv_transfer/kv_connector/factory.py
  vllm/distributed/kv_transfer/kv_connector/mooncake_store_connector.py
  vllm/distributed/kv_transfer/kv_lookup_buffer/base.py
  vllm/distributed/kv_transfer/kv_lookup_buffer/mooncake_store.py
Owners: none

[Bugfix][TPU][V1] Fix recompilation (#15553)
  .buildkite/run-tpu-v1-test.sh
  tests/v1/tpu/test_sampler.py
  vllm/v1/sample/tpu/metadata.py
  vllm/v1/worker/tpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

fix test_phi3v (#15321)
  tests/entrypoints/openai/test_vision.py
  tests/entrypoints/openai/test_vision_embedding.py
  tests/models/embedding/vision_language/test_phi3v.py
  vllm/model_executor/models/phi3v.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo, @ywang96

Use absolute placement for Ask AI button (#15628)
  docs/source/_static/custom.js
Owners: none

[Misc]add coding benchmark for speculative decoding (#15303)
  benchmarks/benchmark_dataset.py
  benchmarks/benchmark_serving.py
  benchmarks/benchmark_throughput.py
Owners: none

[V1] Fix: make sure `k_index` is int64 for `apply_top_k_only` (#15907)
  vllm/v1/sample/ops/topk_topp_sampler.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Neuron][kernel] Fuse kv cache into a single tensor (#15911)
  tests/neuron/1_core/test_cache.py
  tests/neuron/1_core/test_prefix_prefill.py
  vllm/attention/ops/nki_flash_attn.py
Owners: none

[Model] use AutoWeightsLoader for baichuan, gpt-neox, mpt (#15939)
  vllm/model_executor/models/baichuan.py
  vllm/model_executor/models/gpt_neox.py
  vllm/model_executor/models/mpt.py
Owners: none

[New Model]: jinaai/jina-reranker-v2-base-multilingual (#15876)
  docs/source/models/supported_models.md
  tests/models/embedding/language/test_jina_reranker_v2.py
  vllm/model_executor/models/roberta.py
Owners: @DarkLight1337, @ywang96

[ROCm][Build][Bugfix] Bring the base dockerfile in sync with the ROCm fork (#15820)
  docker/Dockerfile.rocm_base
  requirements/rocm-build.txt
Owners: none

[V1][Spec Decode] Implement Eagle Proposer [1/N] (#15729)
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/v1/spec_decode/eagle.py
  vllm/v1/spec_decode/ngram_proposer.py
  vllm/v1/worker/gpu_input_batch.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat

[Misc] Enable V1 LoRA by default (#15320)
  tests/entrypoints/openai/test_chat.py
  tests/lora/test_baichuan.py
  tests/lora/test_chatglm3_tp.py
  tests/lora/test_gemma.py
  tests/lora/test_layers.py
  tests/lora/test_llama_tp.py
  tests/lora/test_lora_manager.py
  tests/lora/test_phi.py
  tests/lora/test_quant_model.py
  tests/lora/test_transfomers_model.py
  tests/v1/test_oracle.py
  vllm/engine/arg_utils.py
Owners: @DarkLight1337, @robertgshaw2-redhat, @simon-mo

[Doc] Quark quantization documentation (#15861)
  docs/source/features/quantization/index.md
  docs/source/features/quantization/quark.md
Owners: none

[Bugfix][V1] Fix bug from putting llm_engine.model_executor in a background process (#15367)
  examples/offline_inference/load_sharded_state.py
  examples/offline_inference/save_sharded_state.py
  vllm/v1/engine/core.py
  vllm/v1/engine/core_client.py
  vllm/v1/worker/gpu_worker.py
Owners: @WoosukKwon, @robertgshaw2-redhat, @njhill, @ywang96, @comaniac, @alexm-redhat
