Repository vllm-project/vllm, pull requests merged in 2023-12, with the labels that each got.

#2095 Bump up to v0.2.5
  vllm/__init__.py
Labels: release

#916 Add GPTQ support
  benchmarks/benchmark_latency.py
  benchmarks/benchmark_throughput.py
  csrc/ops.h
  csrc/pybind.cpp
  csrc/quantization/gptq/compat.cuh
  csrc/quantization/gptq/matrix_view.cuh
  csrc/quantization/gptq/q_gemm.cu
  csrc/quantization/gptq/qdq_4.cuh
  csrc/quantization/gptq/qdq_util.cuh
  setup.py
  vllm/config.py
  vllm/engine/arg_utils.py
  vllm/entrypoints/llm.py
  vllm/model_executor/layers/linear.py
  vllm/model_executor/layers/quantization/__init__.py
  vllm/model_executor/layers/quantization/awq.py
  vllm/model_executor/layers/quantization/gptq.py
  vllm/model_executor/layers/quantization/squeezellm.py
  vllm/model_executor/models/aquila.py
  vllm/model_executor/models/baichuan.py
  vllm/model_executor/models/chatglm.py
  vllm/model_executor/models/falcon.py
  vllm/model_executor/models/gpt2.py
  vllm/model_executor/models/gpt_j.py
  vllm/model_executor/models/gpt_neox.py
  vllm/model_executor/models/internlm.py
  vllm/model_executor/models/llama.py
  vllm/model_executor/models/mistral.py
  vllm/model_executor/models/mixtral.py
  vllm/model_executor/models/mpt.py
  vllm/model_executor/models/opt.py
  vllm/model_executor/models/phi_1_5.py
  vllm/model_executor/models/qwen.py
  vllm/model_executor/models/yi.py
  vllm/model_executor/weight_utils.py
Labels: quantization

#2138 [ROCm] Temporarily remove GPTQ ROCm support
  setup.py
  vllm/config.py
Labels: rocm, quantization

#2062 Added DeciLM-7b and DeciLM-7b-instruct
  README.md
  docs/source/models/supported_models.rst
  tests/models/test_models.py
  vllm/model_executor/models/__init__.py
  vllm/model_executor/models/decilm.py
Labels: new model
