Repository vllm-project/vllm, pull requests merged in 2023-11, with the labels that each got.

#1264 YaRN support implementation
  csrc/activation_kernels.cu
  csrc/pos_encoding_kernels.cu
  vllm/config.py
  vllm/model_executor/layers/attention.py
  vllm/model_executor/layers/rotary_embedding.py
Labels: new model

#1235 Add Quantization and AutoAWQ to docs
  docs/source/index.rst
  docs/source/quantization/auto_awq.rst
Labels: quantization

#1261 ChatGLM2 Support
  vllm/config.py
  vllm/model_executor/model_loader.py
  vllm/model_executor/models/__init__.py
  vllm/model_executor/models/chatglm.py
  vllm/transformers_utils/config.py
  vllm/transformers_utils/configs/__init__.py
  vllm/transformers_utils/configs/chatglm.py
Labels: new model

#1162 docs: add instructions for Langchain
  docs/source/index.rst
  docs/source/serving/serving_with_langchain.rst
Labels: documentation
