Repository vllm-project/vllm, pull requests merged in 2024-06, with the labels that each got.

#5249 [Bugfix] Fix a bug caused by pip install setuptools>=49.4.0 for CPU backend
  Dockerfile.cpu
  docs/source/getting_started/cpu-installation.rst
Labels: x86 CPU

#5260 [CI] Add nightly benchmarks
  .buildkite/nightly-benchmarks/kickoff-pipeline.sh
  .buildkite/nightly-benchmarks/sample.yaml
Labels: perf-benchmarks

#5345 [Misc] Remove unused cuda_utils.h in CPU backend
  csrc/cpu/pybind.cpp
Labels: x86 CPU

#4965 [ROCm][AMD] Use pytorch sdpa math backend to do naive attention
  vllm/attention/backends/rocm_flash_attn.py
Labels: rocm

#5389 [Misc] Remove VLLM_BUILD_WITH_NEURON env variable
  Dockerfile.neuron
  setup.py
  vllm/envs.py
Labels: Inferentia/Trainium

#5402 [Bugfix] Add device assertion to TorchSDPA
  vllm/attention/selector.py
Labels: x86 CPU

#5451 [Bugfix] Fix wrong multi_modal_input format for CPU runner
  vllm/worker/cpu_model_runner.py
Labels: x86 CPU

#4971 [Hardware][Intel] Optimize CPU backend and add more performance tips
  Dockerfile.cpu
  README.md
  docs/source/getting_started/cpu-installation.rst
  requirements-cpu.txt
  vllm/attention/backends/torch_sdpa.py
  vllm/attention/ops/ipex_attn.py
Labels: x86 CPU

#5452 [Hardware][Intel] Support CPU inference with AVX2 ISA
  cmake/cpu_extension.cmake
  csrc/cpu/cpu_types.hpp
Labels: x86 CPU

#5073 [CI/Build][Misc] Add CI that benchmarks vllm performance on those PRs with `perf-benchmarks` label
  .buildkite/nightly-benchmarks/README.md
  .buildkite/nightly-benchmarks/benchmark-pipeline.yaml
  .buildkite/nightly-benchmarks/kickoff-pipeline.sh
  .buildkite/nightly-benchmarks/latency-tests.json
  .buildkite/nightly-benchmarks/run-benchmarks-suite.sh
  .buildkite/nightly-benchmarks/sample.yaml
  .buildkite/nightly-benchmarks/scripts/convert-results-json-to-markdown.py
  .buildkite/nightly-benchmarks/scripts/wait-for-image.sh
  .buildkite/nightly-benchmarks/serving-tests.json
  .buildkite/nightly-benchmarks/throughput-tests.json
  benchmarks/benchmark_latency.py
  benchmarks/benchmark_serving.py
  benchmarks/benchmark_throughput.py
Labels: perf-benchmarks

#5529 [CI/Build] Disable LLaVA-NeXT CPU test
  .buildkite/run-cpu-test.sh
Labels: x86 CPU

#3814 [Hardware][Intel GPU]Add Initial Intel GPU(XPU) inference backend
  .buildkite/run-xpu-test.sh
  .buildkite/test-template.j2
  Dockerfile.xpu
  benchmarks/benchmark_latency.py
  benchmarks/benchmark_throughput.py
  docs/source/getting_started/xpu-installation.rst
  docs/source/index.rst
  requirements-xpu.txt
  setup.py
  vllm/_custom_ops.py
  vllm/_ipex_ops.py
  vllm/attention/backends/ipex_attn.py
  vllm/attention/selector.py
  vllm/config.py
  vllm/distributed/parallel_state.py
  vllm/engine/arg_utils.py
  vllm/engine/async_llm_engine.py
  vllm/engine/llm_engine.py
  vllm/executor/ray_utils.py
  vllm/executor/ray_xpu_executor.py
  vllm/executor/xpu_executor.py
  vllm/model_executor/custom_op.py
  vllm/model_executor/layers/activation.py
  vllm/model_executor/layers/layernorm.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/layers/vocab_parallel_embedding.py
  vllm/utils.py
  vllm/worker/cache_engine.py
  vllm/worker/worker.py
  vllm/worker/xpu_model_runner.py
  vllm/worker/xpu_worker.py
Labels: Intel GPU

#5571 [CI] Improve the readability of performance benchmarking results and prepare for upcoming performance dashboard
  .buildkite/nightly-benchmarks/README.md
  .buildkite/nightly-benchmarks/run-benchmarks-suite.sh
  .buildkite/nightly-benchmarks/scripts/convert-results-json-to-markdown.py
  .buildkite/nightly-benchmarks/tests/descriptions.md
  .buildkite/nightly-benchmarks/tests/latency-tests.json
  .buildkite/nightly-benchmarks/tests/serving-tests.json
  .buildkite/nightly-benchmarks/tests/throughput-tests.json
  benchmarks/benchmark_latency.py
Labels: perf-benchmarks

#5584 [Optimization] use a pool to reuse LogicalTokenBlock.token_ids
  vllm/block.py
Labels: perf-benchmarks

#5615 [CI] Avoid naming different metrics with the same name in performance benchmark
  .buildkite/nightly-benchmarks/scripts/convert-results-json-to-markdown.py
Labels: perf-benchmarks

#5717 [Kernel][CPU] Add Quick `gelu` to CPU
  csrc/cpu/activation.cpp
  csrc/cpu/torch_bindings.cpp
  vllm/_ipex_ops.py
  vllm/model_executor/layers/activation.py
Labels: x86 CPU

#5616 [CI][Hardware][Intel GPU] add Intel GPU(XPU) ci pipeline
  .buildkite/test-template-aws.j2
  README.md
Labels: Intel GPU

#5760 [Bugfix] Fix pin_lora error in TPU executor
  vllm/executor/tpu_executor.py
Labels: tpu

#5761 [Docs][TPU] Add installation tip for TPU
  docs/source/getting_started/tpu-installation.rst
Labels: tpu

#5831 [Hardware][TPU] Refactor TPU backend
  vllm/executor/tpu_executor.py
  vllm/worker/tpu_model_runner.py
  vllm/worker/tpu_worker.py
Labels: tpu

#5422 [Hardware][AMD][CI/Build][Doc] Upgrade to ROCm 6.1, Dockerfile improvements, test fixes
  CMakeLists.txt
  Dockerfile.rocm
  cmake/utils.cmake
  docs/source/getting_started/amd-installation.rst
  tests/async_engine/test_openapi_server_ray.py
  tests/distributed/test_utils.py
  tests/entrypoints/test_openai_embedding.py
  tests/entrypoints/test_openai_server.py
  tests/entrypoints/test_openai_vision.py
  tests/utils.py
  vllm/config.py
  vllm/distributed/device_communicators/custom_all_reduce_utils.py
  vllm/executor/multiproc_gpu_executor.py
  vllm/utils.py
  vllm/worker/worker_base.py
Labels: rocm

#5850 [Hardware][TPU] Raise errors for unsupported sampling params
  vllm/worker/tpu_model_runner.py
Labels: tpu

#5841 [Bugfix] Fix assertion in NeuronExecutor
  vllm/executor/neuron_executor.py
Labels: Inferentia/Trainium

#5860 [Bugfix][TPU] Fix KV cache size calculation
  vllm/worker/tpu_worker.py
Labels: tpu

#5855 [Hardware][TPU] Support parallel sampling & Swapping
  vllm/attention/backends/pallas.py
  vllm/worker/tpu_model_runner.py
  vllm/worker/tpu_worker.py
Labels: tpu

#5869 [Bugfix][TPU] Fix CPU cache allocation
  vllm/attention/backends/pallas.py
  vllm/worker/tpu_worker.py
Labels: tpu

#5875 [BugFix] Fix cuda graph for MLPSpeculator
  examples/offline_inference_mlpspeculator.py
  vllm/worker/model_runner.py
Labels: speculative-decoding

#5876 [BugFix] Fix `MLPSpeculator` handling of `num_speculative_tokens`
  vllm/config.py
  vllm/model_executor/models/mlp_speculator.py
  vllm/transformers_utils/configs/mlp_speculator.py
Labels: speculative-decoding

#5908 [Model] Add Gemma 2
  docs/source/models/supported_models.rst
  requirements-common.txt
  vllm/config.py
  vllm/lora/layers.py
  vllm/model_executor/layers/layernorm.py
  vllm/model_executor/layers/logits_processor.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/models/__init__.py
  vllm/model_executor/models/gemma2.py
Labels: new model

#5932 [Kernel][ROCm][AMD] fused_moe Triton configs v2 for mi300X
  vllm/model_executor/layers/fused_moe/configs/E=8,N=14336,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=1792,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=3584,device_name=AMD_Instinct_MI300X.json
  vllm/model_executor/layers/fused_moe/configs/E=8,N=7168,device_name=AMD_Instinct_MI300X.json
Labels: rocm

#5878 [Hardware][TPU] Optimize KV cache swapping
  vllm/attention/backends/pallas.py
  vllm/worker/tpu_worker.py
Labels: tpu

#5956 [Bugfix][Hardware][Intel CPU] Fix unpassed multi_modal_kwargs for CPU runner
  vllm/worker/cpu_model_runner.py
Labels: x86 CPU

#4650 Support Deepseek-V2
  vllm/config.py
  vllm/model_executor/layers/fused_moe/__init__.py
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/models/__init__.py
  vllm/model_executor/models/deepseek_v2.py
Labels: new model

#5978 [Bugfix][TPU] Fix TPU sampler output
  vllm/worker/tpu_worker.py
Labels: tpu

#5977 [Bugfix][TPU] Fix pad slot id
  vllm/worker/tpu_model_runner.py
Labels: tpu

#5949 [Bugfix][CI/Build][Hardware][AMD] Install matching torchvision to fix AMD tests
  Dockerfile.rocm
  tests/entrypoints/test_openai_chat.py
Labels: rocm
